[2019-12-16 08:36] onabiull commented on #1833
Current sln/vcxproj require set of Spectre-hardened libraries, which are not installed by default in Visual Studio. @agalin89 kindly provided steps to fix that on target user machines.
We could fix that by introducing non-hardened build configurations, but I suggest to wait for cmake-based build system.

[2019-12-16 14:38] dmitryermilov commented on #1827
You're welcome. Let's keep the issue open until a fix is not done.
Unfortunately, YV12 is not supported by encoder.

[2019-12-16 14:41] dmitryermilov commented on #1828
No problem!
I looked thru the gitlab description but didn't get: is any bug behind it or just curiosity?

[2019-12-16 15:09] dmitryermilov commented on #1791
@Jackson-256 , could you reply?

[2019-12-16 16:53] navesta commented on #1828
Thank you for the followup. It's indeed a bug, as our regression test is failing on this input stream, i.e., system's memory gets exhausted after 24 hours.

[2019-12-17 13:41] guoyejun commented on #1817
thanks, I found the reason is that multiple frame mode is enabled as default at ffmpeg side.

btw, how to query the max supported roi numbers? thanks.

the document at https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#mfxVideoParam says:
Number of ROI descriptions in array. The Query function mode 2 returns maximum supported value (set it to 256 and Query will update it t

[2019-12-17 14:34] dmitryermilov commented on #1817
Great! We need to check if driver returns valid caps for MFE.

It's here:
[MFXVideoENCODE_Query](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#mfxvideoencode_query)

_This function works in either of four modes:
..._
_**If the in parameter is non-zero, the function checks the validity of the fields in the input structure. Then the function returns the corrected values

[2019-12-17 14:38] guoyejun commented on #1817
yes, ffmpeg only enables it as default when MFE is really supported. We need to disable it if want to support ROI encoding.

thanks, i'll continue the try. btw, what does 'mode 2' mean?

[2019-12-17 14:40] dmitryermilov commented on #1817
Just enumerator, 1, 2, 3..

[2019-12-17 16:42] #1830 closed

[2019-12-17 21:51] dmitryermilov commented on #1828
Hmm. This doesn't seem to be related to MSDK threads, right? If so, I'd propose to track it into another issue. Is it okay for you? Please post details about the stream and ideally a reproducer.

[2019-12-17 23:44] jbeich opened #1843 "Samples and tools fail to build with libc++ due to std::ignore"
Simplified example:
[code]

Clang 9 reports:
[code]

GCC 9 reports:
[code]

[2019-12-18 00:50] jbeich opened #1844 "Fails to build with LLD due to -Wl,--default-symver"
[code]

[2019-12-18 01:49] jbeich commented on #1843
Also affects `-DBUILD_TOOLS=on`.

Clang 9 reports:
[code]

GCC 9 reports:
[code]

[2019-12-18 02:03] dvrogozh commented on #1843
Can you, please, provide your cmake configuration command line? Do you pass any additional cflags or library flags?

[2019-12-18 05:00] jbeich opened #1845 "Fails to build on 32-bit architecture"
[code]

[2019-12-18 05:24] jbeich commented on #1843
Steps to reproduce on Linux:
[code]
See also [error log](https://github.com/Intel-Media-SDK/MediaSDK/files/3976725/intel-media-sdk-19.4.p2.log) (FreeBSD).

[2019-12-18 12:10] #1845 closed

[2019-12-18 14:51] salimerko opened #1853 "[H265]SampleEncode - not working Ubuntu/Windows"
I built MSDK as per instructions,
did apt-get install intel-media-va-driver-non-free
HW is Intel NUC8I3 - i3-8109U / Ubuntu 19.10

When I run ./sample_encode h264 -i sample.yuv -o out -w 1280 -h 720; It works
When I try ./sample_encode h265 -i sample.y4m -o out -w 1280 -h 720 -hw
(with or without -hw) it always report:

libva info: VA-API version 1.6.0
libva info: va_getDriverName() returns 0
libv

[2019-12-18 15:02] onabiull commented on #1853
Looks you have both i965 an diHD driver on your system. Could you please try if setting environment variable `LIBVA_DRIVER_NAME=iHD` would solve this issue?

[2019-12-18 15:14] salimerko commented on #1853
Hi, Thank you for promt reply.
When I set: export LIBVA_DRIVER_NAME=iHD, I get following from vainfo:
libva info: VA-API version 1.6.0
libva info: va_getDriverName() returns 0
libva info: User requested driver 'iHD'
libva info: Trying to open /usr/local/lib/x86_64-linux-gnu/dri/iHD_drv_video.so
libva info: va_openDriver() returns -1
vaInitialize failed with error code -1 (unknown libva error),exit

[2019-12-19 08:48] guoyejun commented on #1817
i found an issue to query the max supported roi number, and created a PR for the fix, see https://github.com/Intel-Media-SDK/MediaSDK/pull/1856.

[2019-12-19 09:38] HermanMolinder opened #1857 "Wrong colors in RGB->NV12 conversion"
I have only tested with VPP composite conversion from RGB to NV12 on an apollo lake processor, with following set up:
InputStream[0] is a black RGB frame with R=0, G=0, B=0 and covers complete frame.
InputStream[1] is an RGB frame and contains below color bars and covers complete frame.
Composite background color is set to black with Y=0x10, U=0x80, V=0x80.

The RGD codes for 75% intensity color b

[2019-12-19 13:25] dmitryermilov commented on #1857
Hi Herman,

It's a know problem. To address it there is the chroma sitting feature. Please refer to [mfxExtColorConversion](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#mfxextcolorconversion) , [ChromaSiting](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#chromasiting)

[2019-12-19 13:44] HermanMolinder commented on #1857
Hi Dmitry,

Thank you! I will experiment with those parameters.

[2019-12-19 14:14] HermanMolinder commented on #1857
I get the same result when trying top and center siting. As I understand siting is used in the downsampling process. In my case all 4.4.4 pixels have the same RGB value, so siting algorithm shouldn't affect the result in my case.

[2019-12-19 14:50] dmitryermilov commented on #1857
Chroma siting describes how chroma values are positioned relative to the luma samples.

- Option A: MFX_CHROMA_SITING_VERTICAL_TOP | MFX_CHROMA_SITING_HORIZONTAL_LEFT
- Option B: MFX_CHROMA_SITING_VERTICAL_BOTTOM | MFX_CHROMA_SITING_HORIZONTAL_LEFT
- Option AC: MFX_CHROMA_SITING_VERTICAL_TOP | MFX_CHROMA_SITING_HORIZONTAL_CENTER
- Option BD: MFX_CHROMA_SITING_VERTICAL_BOTTOM | MFX_CHROMA_SITING_HO

[2019-12-19 19:07] dmitryermilov commented on #1853
Both are needed:
[code]

[2019-12-19 19:32] vassjozsef opened #1862 "MFXVideoENCODE_Reset Results in Key Frame"
We integrated Intel QuickSync GPU video encoding into Discord. WebRTC bandwidth adaptation updates bitrate quite often (sometimes every second). We use  `MFXVideoENCODE_Reset` to update bitrate. The next frame is encoded as an I frame, which is highly undesirable.

I have prepared https://github.com/vassjozsef/MediaSDK that shows the issue. I increment bitrate by 10% after every 100th frame and pr

[2019-12-19 23:04] Futureknows opened #1863 "MediaSDK on AMD motherboard?"
I moved a Fedora installation from an Intel system to a AMD system that doesn't have any Intel components (CPU, GPU). Can I safely remove MediaSDK? It is indicating a ton of programs are dependant on it.

[2019-12-20 07:09] guoyejun opened #1864 "MFXVideoENCODE_Query parameter change will cause GPU hang later"
hi

firstly, the behavior of MFXVideoENCODE_Query does not match the function name. It makes sense that query does not change anything. But looks that MFXVideoENCODE_Query does change something within msdk.

as discussed in https://github.com/Intel-Media-SDK/MediaSDK/issues/1817, multi frame encode and roi encode conflict, and cause GPU hang. But it turns out that GPU will hang later once MFXVideo

[2019-12-20 07:43] HermanMolinder commented on #1857
I see! We use a much older revision than that.
As this is not a big issue for us I can't prioritize this right now, unfortunately. I hope I have time testing this next year though.

Merry Christmas and Happy New Year Dmitry!

[2019-12-20 11:39] learnin9 opened #1866 "buid videoMixer_msdk error message"
I have installed the intel media sdk and try to use the command " scripts/build.js -t all --check" to compile it, but i get the following errors:
make: 进入目录“/root/owt-server-4.2/source/agent/video/videoMixer/videoMixer_msdk/build”
  SOLINK_MODULE(target) Release/obj.target/videoMixer-msdk.node
/usr/bin/ld: 找不到 -lmfx
collect2: error: ld returned 1 exit status
videoMixer-msdk.target.mk:195: recipe f

[2019-12-20 12:59] onabiull commented on #1863
Hard to answer. Technically it would depend on whether application call MFXInit() during startup and how it handles errors. We can't control that. It appears to me that this question is better to be asked on some RedHat forum, given your Fedora distribution.
Correctly written Media SDK application should depend on libva and MediaSDK dispatcher (libmfx.so.1) but I've seen implementations which dire

[2019-12-20 13:25] onabiull commented on #1866
Issue looks like some kind of mis-configuration. Could you please provide additional information? Which gstreamer code you are using, OS distribution, Media SDK installation method?
Just as a blind fix, supposing installation of MediaStack.tar.gz from https://github.com/Intel-Media-SDK/MediaSDK/releases: from please try to set `PKG_CONFIG_PATH=/opt/intel/mediasdk/lib64/pkgconfig:${PKG_CONFIG_PATH}

[2019-12-20 14:15] romka0017 opened #1872 "Drop outdated HSW support from AVC encoder."
See discussion in the #1763 .

[2019-12-21 14:45] salimerko commented on #1853
This helped, thank you a lot. Is this documented somewhere?
Also, One more question, how can I enable V4l2? When I did cmake .. -DENABLE_V4L2_SUPPORT=1 , compiler ignored it, thank you

[2019-12-23 10:17] dmitryermilov commented on #1828
Hi @navesta ,

Could you reply?

[2019-12-23 12:34] salimerko opened #1874 "V4L2 in MSDK"
1.) How to properly build sample_encode via cmake to support V4L2? All I found was about build.pl which is not in MediaSDK repository, but in samples repository which is deprecated.So I did checkout master and manually defined "ENABLE_V4L2_SUPPORT" in whole sample folder and build the code.
Also I had to uncomment pParams in sample_encode/src/pipeline_encode.cpp to build it

2.) FFplay show input

[2019-12-23 13:29] dmitryermilov commented on #1853
Well, it's captured in some Wiki pages:
https://github.com/Intel-Media-SDK/MediaSDK/search?q=LIBVA_DRIVER_NAME&type=Wikis
Probably, we need to include it in install.sh script from quarterly releases. @onabiull , what do you think?

Let's track V4L2 in #1874 .

[2019-12-23 15:23] onabiull commented on #1853
We already do that. In MediaStack.tar.gz there are file /etc/profile.d/intel-mediasdk.sh with contents:
[code]
Normally this file installed by `install_media.sh`.

Build system look for for ENABLE_V4L2 variable. To enable V4L2 pass  `-DENABLE_V4L2=ON`
to cmake.
Looks like commit https://github.com/Intel-Media-SDK/MediaSDK/commit/0ff71e66fc6e6c8500ede212c2dcf3d997a5c784 erroneously comment out `pPa

[2019-12-23 15:51] dmitryermilov commented on #1874
From @onabiull :

[2019-12-23 15:52] #1853 closed

[2019-12-23 16:36] salimerko commented on #1874
Thank you, that eliminated first problem, now it builded with v4l2, however, the second problem still persists. Here is the output

~/msdk-19.3.1/build/__bin/release$ ./sample_encode h264 -i::v4l2 -o output -w 1920 -h 1080 -d /dev/video0 -UYVY
libva info: VA-API version 1.6.0
libva info: va_getDriverName() returns 0
libva info: User requested driver 'iHD'
libva info: Trying to open /opt/intel/medi

[2019-12-23 17:45] dmitryermilov commented on #1874
@AntonGrishin , could you investigate?

[2019-12-23 18:06] dmitryermilov commented on #1874
Anton, the V4L2 driver requests a minimum of 3 buffers - if you look at the value in requestBuffer.count returned from VIDIOC_REQBUFS then it will be 3. In our case it's 0.
[code]
But even if we fix it, encoded file will be corrupted - tiled picture. This should be investigated.

[2019-12-23 23:04] dvrogozh opened #1880 "Clarify encoding mode (VME vs. VDENC) in sample encode and smt"
Starting from 1.31 API implementation we started to change default encoding mode:
https://github.com/Intel-Media-SDK/MediaSDK/blob/073bf0f47ebe8dcf4221a7f1cbfa51d80aa4c161/_studio/mfx_lib/shared/src/mfx_h264_enc_common_hw.cpp#L1430

Here is code snippet:
[code]

Can you, please, clarify:
1. Which is the default encoding mode for sample encode and smt for each platform?
2. If default mode for JSL/E

[2019-12-24 04:35] #1839 closed

[2019-12-24 04:46] #1802 closed

[2019-12-24 04:46] #1789 closed

[2019-12-24 04:47] #1779 closed

[2019-12-24 04:49] #1069 closed

[2019-12-24 05:21] navesta commented on #1828
Hi Dmitry,
Sorry didn't have a chance to reply earlier. The reason for suggesting that these are MSDK threads was based on the discussion on the Gitlab thread, where it was asserted that decoder creates as many threads as there are number of cores. Admittedly, I have not had a chance to confirm this by InitEx and specifying a different number of threads. Once I do, I’ll update this thread.
Cheers,

[2019-12-24 05:58] guoyejun commented on #1817
hi

just want to confirm that  h264 and h265 hw encoders support roi encoding?  And mjpeg, vp9 and mpeg2 encoders do not support roi encoding?  thanks.

[2019-12-24 07:42] dmitryermilov commented on #1828
Hi Nastooh,

Thank you. Take your time.

[2019-12-24 09:35] dmitryermilov commented on #1827
@vassjozsef , can you please say which platforms will be supported (OS and HW) ?

[2019-12-24 10:53] dmitryermilov commented on #1872
What does it mean? Please provide clear request.

[2019-12-24 11:00] jbeich commented on #1844
Gold linker is also affected. [Found](https://sting.dragonflybsd.org/dports/logs/multimedia___intel-media-sdk.log) via DragonFly.
[code]

[2019-12-24 11:00] #1810 closed

[2019-12-24 11:03] #1531 closed

[2019-12-24 11:05] dmitryermilov commented on #1223
@fulinjie , is it still actual? I know this commit https://github.com/FFmpeg/FFmpeg/commit/5345965b3f088ad5acd5151bec421c97470675a4 might have fixed the issue.

[2019-12-24 11:05] #95 closed

[2019-12-24 11:30] dmitryermilov commented on #1862
Hi @vassjozsef ,

I'll split the answer in 3 parts:

- I assume (without knowing init params) IDR is inserted because of this
 https://github.com/Intel-Media-SDK/MediaSDK/blob/master/_studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw.cpp#L1320-L1329
Could you try disabling HRD by mfxExtCodingOption::VuiNalHrdParameters/mfxExtCodingOption::VuiVclHrdParameters and check again?
- Can you please sh

[2019-12-24 14:53] AntonGrishin commented on #1800
It`s regression started from 40dbc2f98cc2f4a0a8b3e09edafb093015854988

We try to alloc video memory here:
https://github.com/Intel-Media-SDK/MediaSDK/blob/006b768609930b938c3d32cc54b4e8d5b726ccb9/_studio/shared/src/libmfx_core_vaapi.cpp#L617

But when we pass to AllocImpl, we have no m_D3DAllocator and go to sys allocator,
and here we get ``MFX_ERR_UNSUPPORTED`` due CheckRequestType failed
https:/

[2019-12-24 15:02] dmitryermilov commented on #1800
I see two solutions:
- simply disable this error message
- never allocate internal surfaces via external allocator.

@onabiull , @dvrogozh , @mgonchar , @eistarov , @stasefremov , could you comment the 2nd one? Do you see any potential issues?

[2019-12-24 19:10] dvrogozh commented on #1800
To me answer is absolutely clear: "never allocate internal surfaces via external allocator". This should have always been so. If user needs to manage internal mediasdk allocations, then mediasdk should expose dedicated uAPI _decoupled_ from uAPI to allocate input/output "external" frames.

[2019-12-24 22:41] smrowe4 commented on #1789
Release builds use the expected amount of memory, roughly 50 MB for 1080p decode.  Release-internal and debug builds use roughly 10x.  Since release builds use the expected amount of memory, this is not an issue.

[2019-12-25 02:09] fulinjie commented on #1223
Hi, @dmitryermilov , I believe not.
IIRC, this patch is to fix the the continuous memory allocation issue:
https://patchwork.ffmpeg.org/patch/13594/

[2019-12-25 09:32] dmitryermilov commented on #1223
Great. Thank you!

[2019-12-25 09:32] #1223 closed

[2019-12-25 09:33] dmitryermilov commented on #1789
Thank you for confirmation!

[2019-12-25 09:46] fulinjie commented on #1223
FYI, it's not merged into ffmpeg mainline yet.

[2019-12-25 13:03] dmitryermilov commented on #1800
Anton, could you follow this approach? Please note that potentially it's a dangerous change so please test manually different scenarios.

[2019-12-25 13:05] dmitryermilov commented on #1880
In which way would you like to have it? Just a comment in current issue or ..?

I recommend to print out some info clarifying the work mode of samples. Plus, I would consider changing command line option to something more sensible, like --lowpower=on|off

@AntonGrishin , could you please follow up?

[2019-12-26 00:34] guoyejun commented on #1817
another question, do you have any plan to fix the gpu hang issue when mfe and roi are both enabled?

[2019-12-26 01:24] guoyejun commented on #1864
@DenWolf  any plan when this issue can be fixed? thanks.

[2019-12-26 14:25] DenWolf commented on #1864
Hi @guoyejun ,

About the first part of your question:

Regarding Media SDK documentation function MFXVideoENCODE_Query can change some parameters if they are incompatible with other parameters, you can find it here:
https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#MFXVideoENCODE_Query

About observed GPU hang - could you please provide command line for reproducing the i

[2019-12-26 14:34] onabiull commented on #1800
I vaguely remember that reusing external allocator for internal frames had some effect on plugins like 1:n lookahead.
I fully support idea to allocate internal frames using only internal allocator, but please make sure that we won't break existing code.

[2019-12-26 15:21] #1801 closed

[2019-12-26 15:22] guoyejun commented on #1864
thanks @DenWolf for your quick reply.

I see.  I meant that the function name 'query' has no meaning to change something. It would be more logical if the function name looks like query_and_fix or something else. I understand it's hard to change public API. Just mention it in case that you plan to do a change.

I'm using skylake + ubuntu 16.04.

I just quickly looked at the msdk samples, but did no

[2019-12-26 21:33] dmitryermilov commented on #1817
Hi @guoyejun

It's right.

@DenWolf , I assume it's a question to you:)

[2019-12-27 13:47] guoyejun commented on #1864
hi, could you reproduce this issue? thanks.

[2019-12-28 20:08] salimerko commented on #1513
Same problem reported in #1874

[2019-12-29 06:10] Benzez opened #1893 "Sample failure"
I run the folllowing sample:

~/work/MediaSDK/build/__bin/release$ ./sample_multi_transcode -i::h264 ~/work/MediaSDK/tests/content/test_stream.264 -o::h264 out.264

I get the following error:

Multi Transcoding Sample Version 8.4.27.

libva info: VA-API version 1.6.0
libva info: va_getDriverName() returns 0
libva info: User requested driver 'iHD'
libva info: Trying to open /usr/lib/x86_64-linux-gn

[2019-12-29 14:34] xhaihao opened #1894 "[regression] hevc encoding"
Recently MSDK broke the pre-check for gst-msdk (https://github.com/intel-media-ci/gst-plugins-bad/pull/52), the result of git bisect shows 9120f46035bca1899ea586856bca7b3a97741bb9 is the first bad commit.

You may check  https://media-ci.ostc.intel.com/build/365163/overview for the error case

[2019-12-30 07:44] dmitryermilov commented on #1894
App may sets property qpp=14 but don’t set qpi or qpb properties.  Thus, app will send QPP=14, QPI=0 and QPB=0 to MSDK.  Before the MSDK change , MSDK will translate/clamp par.mfx.QPP=14, par.mfx.QPI=1 and par.mfx.QPB=1.  After the MSDK change, MSDK will set par.mfx.QPP=0, par.mfx.QPI=0 and par.mfx.QPB=0.

[2019-12-30 07:46] dmitryermilov commented on #1894
@saosipov , @vilichev , @nkurina , I'm reverting this commit. Please provide a another fix for the original issue which this commit was supported to fix

[2019-12-30 09:43] dmitryermilov commented on #1893
Hi @Benzez ,

Which version of the sample and library do you use? I just tried https://github.com/Intel-Media-SDK/MediaSDK/releases/download/intel-mediasdk-19.3.1/MediaStack.tar.gz and https://github.com/Intel-Media-SDK/MediaSDK/releases/download/intel-mediasdk-19.4.0/MediaStack.tar.gz releases, there is no such issue:
[code]

[code]

[2019-12-31 06:13] Benzez commented on #1893
I've used the following instalation guide which also installed the examples:
https://software.intel.com/en-us/articles/build-and-debug-open-source-media-stack

Used to latest commit option.

[2019-12-31 11:42] ConsoleYan commented on #1822
I have tried some step to solve this problem:
Step1. find your mfx.pc (mediaSDK)
[code]
Step2. vim ~/.bashrc
`export PKG_CONFIG_PATH=/opt/intel/mediasdk/lib/pkgconfig/`

Step3.source ~/.bashrc

Then this error could be fix.

[2019-12-31 13:14] AntonGrishin commented on #1874
After build fix, seems that main problem is that camera capture linear, but driver expected tiled memory with yuy2,uyvy formats.
![image](https://user-images.githubusercontent.com/34107292/71622425-ae011380-2be6-11ea-9204-c2a22f7068d2.png)

When I manually disable tiling for yuy2 captured picture looks good:

![image](https://user-images.githubusercontent.com/34107292/71622665-785d2a00-2be8-11ea-8

[2019-12-31 13:31] dmitryermilov commented on #1857
Thank you. Happy New Year, Herman :)

[2019-12-31 14:03] salimerko commented on #1874
Hi Anton, could you share some details here please? Also, do you have any idea how to run v4l2 capture without involving VPP? Thanks

[2019-12-31 17:58] uartie commented on #1894
On KBL, the regression started with commit 8f5f681b2813.  Here are some details to reproduce:

1. Generate reference bitstream:
[code]

2. Do encode, decode and psnr with previous good commit (006b76860993):
[code]

3. Do encode, decode and psnr with FBC commit (8f5f681b2813):
[code]

I have attached the files for your reference:

[files.tar.gz](https://github.com/Intel-Media-SDK/MediaSDK/files/40

[2019-12-31 18:10] uartie commented on #1894
For further context, gst-msdk sends QPP=14, QPI=0 and QPB=0 to MSDK.  The problem is that MSDK processes these values differently before and after commit 8f5f681b2813.

[2019-12-31 18:16] uartie commented on #1894
...I assume @xhaihao is using a newer platform which takes the other code path for handling the QP values.  Hence, did not regress in the same way until 9120f46 (as reported).  But I expect the outcome can be reproduced on the newer platform in the same way as a described previously for my KBL result.

[2020-01-02 01:14] xhaihao commented on #1894
@uartie @dmitryermilov I just compared the md5 value of the encoding output when running git bisect, and found the the md5 value was changed since 9120f46035bca1899ea586856bca7b3a97741bb9, it is possible the md5 value is changed but the quality is still on-par with before. Now I think the quality drop was caused by 8f5f681b2813ed54666336b0385eb6303a6b256c

[2020-01-02 15:08] th0ma7 opened #1896 "Intel® Media Processor SDK for evansport CPU?"
Hi,

Synology uses `intelce-utilities` and librairies in order to enable hardware media acceleration to work on evansport processors.  They provide pre-built toolkit and headers at:
https://sourceforge.net/projects/dsgpl/files/toolkit/DSM6.2/

I was wondering the following:
1. Was Intel® Media Processor SDK superseeded by Intel® Media SDK (e.g. this project) ?
2. Can the source code of Intel® Medi

[2020-01-02 16:15] AntonGrishin commented on #1874
Hi @salimerko, I think, that we will fix this after holidays.
I believe, that we can use it only with VPP (because encoder doesnt support formats like yuy2 on CFL- platforms).
First point from MediaSDK side is enabling VPP with V4L2, for example add condition here:
https://github.com/Intel-Media-SDK/MediaSDK/blob/01f937b0439cb95a350776966a0a1d16b346fffe/samples/sample_encode/src/pipeline_encode.cp

[2020-01-02 19:52] vassjozsef commented on #1827
For Intel QuickSync video encoding, we only support Windows (Windows 7 and higher).

[2020-01-02 20:02] vassjozsef commented on #1862
Hello @vassjozsef,

Your suggestion worked perfectly (I updated my sample code), disabling HDR fixed the issue! I am using parameters from https://github.com/open-webrtc-toolkit/owt-client-native/blob/master/talk/owt/sdk/base/win/msdkvideoencoder.cc#L165-#L196 and just added https://github.com/open-webrtc-toolkit/owt-client-native/blob/master/talk/owt/sdk/base/win/msdkvideoencoder.cc#L198-#L204 as

[2020-01-06 08:08] dmitryermilov commented on #1893
Could you try Q4 release and post results? Just to check if it's a problem of a particular commit or media stack is fully broken on your system.

[2020-01-06 10:55] saosipov commented on #1894
Hi guys and Happy New Year!
I'm familiar with this commit. It fixes potential confusion from these params: QPP=14, QPI=0 and QPB=0
Are they used intentionally? What is the intention? QP = 0 means some default value, it it not real 0. Real 0 is not supported in MSDK historically. So the logic is the following. One can set all QPs != 0 or if he wants some automation he can set QPI only and QPP will

[2020-01-06 19:28] uartie commented on #1894
When app sends QPP=14, QPI=0 and QPB=0, the expectation is that MSDK will use QPP=14, QPI=default and QPB=default.

[2020-01-06 19:33] uartie commented on #1894
Now, MSDK forces QPP=0, QPI=0 and QPB=0 during check function (which get's interpreted as defaults later, AFAIU).  Before, MSDK check function used to force QPI=1 and QPB=1 (and leave QPP=14) in check function.

[2020-01-07 20:10] perydominet opened #1898 "Step-by-Step process described to install Intel Media SDK on Ubuntu leads to error"
OK       - sudo apt-get install git cmake pkg-config
OK       - sudo apt-get install meson libdrm-dev automake libtool
OK       - git clone https://github.com/intel/libva.git
OK       - cd libva
**ERROR - git checkout tag/2.6.0.pre1**

**RESULT - error: pathspec 'tag/2.6.0.pre1' did not match any file(s) known to git.**

[2020-01-07 20:30] dvrogozh commented on #1898
Just to double check, you refer to this instruction: https://github.com/Intel-Media-SDK/MediaSDK/wiki/Build-Media-SDK-on-Ubuntu?

[2020-01-07 21:37] mkwilbux opened #1899 "tutorials link not pointing to tutorials"
**Origin:** https://github.com/Intel-Media-SDK/MediaSDK/releases/tag/intel-mediasdk-19.4.0

Tutorials link:

goes to: master/tutorials
https://github.com/Intel-Media-SDK/MediaSDK/intel-mediasdk-19.4/master/tutorials/

**Correct link:** https://github.com/Intel-Media-SDK/MediaSDK/tree/intel-mediasdk-19.4/doc/tutorials

[2020-01-08 01:30] xinyudox opened #1900 "regression issue"
command line:
ffmpeg -init_hw_device qsv=qsv:hw -hwaccel qsv -filter_hw_device qsv -v verbose -f rawvideo -pix_fmt p010le -s:v 1920x1080 -r:v 30 -i ./yuv/1080P_1920x1080.P010 -vf 'format=p010le,hwupload=extra_hw_frames=120' -an -c:v hevc_qsv -profile:v main10 -g 30 -slices 2 -bf 2 -b:v 1000k -maxrate 1000k -low_power 0 -vframes 150 -y test.h265

msdk patch:
commit 710d7ad7a2f9b4d025b72d5276fcc16be

[2020-01-08 05:22] #1900 closed

[2020-01-08 12:18] dmitryermilov commented on #1899
Thank you @mkwilbux ! It's fixed.

[2020-01-08 12:18] #1899 closed

[2020-01-09 07:48] onabiull commented on #1899
From my point of view Tutorials are code samples in the first hand :) I believe correct link should look like https://github.com/Intel-Media-SDK/MediaSDK/tree/intel-mediasdk-19.4/tutorials. But docs are also ok. And shame on me - original link was broken.

[2020-01-09 09:13] dmitryermilov commented on #1862
Hi @vassjozsef ,

Great!

Could you send me an email (dmitry.ermilov@intel.com ) to start conversation?

[2020-01-09 13:30] onabiull commented on #1896
Looks like Media Processor SDK is a completely different thing from Intel Media SDK. This repo is dedicated to Media SDK - programming interface and runtime libraries for accessing [Intel® Quick Sync Video](https://en.wikipedia.org/wiki/Intel_Quick_Sync_Video) features of Intel Gen GPUs.
Intel Evansport looks translated to [Atom D2700](https://ark.intel.com/content/www/ru/ru/ark/products/59683/int

[2020-01-09 15:05] salimerko commented on #1874
Thank you Anton, it is fine with using VPP. Any chance to share info how to get rid of the tiles?

[2020-01-10 12:32] th0ma7 commented on #1896
Thnx for the reply.
It is what I discovered as well.
I've reached out to IDZ forums, can't wait to see what answer I get.
Thnx!

[2020-01-12 14:52] #1896 closed

[2020-01-12 14:53] dmitryermilov commented on #1893
Hi @Benzez , do you have any news?

[2020-01-12 15:13] Benzez commented on #1893
Thanks Dmitry.
Didn't have time to work on it yet, will let you know once I get to it

[2020-01-13 00:44] mkomarinski opened #1903 "Error when building "‘VA_FOURCC_A2R10G10B10’ was not declared in this scope""
Debian Buster latest updates:

[...]
[  3%] Building CXX object samples/sample_common/CMakeFiles/sample_common.dir/src/vaapi_allocator.cpp.o
/home/markk/MediaSDK/samples/sample_common/src/vaapi_allocator.cpp: In member function ‘virtual mfxStatus vaapiFrameAllocator::LockFrame(mfxMemId, mfxFrameData*)’:
/home/markk/MediaSDK/samples/sample_common/src/vaapi_allocator.cpp:592:18: error: ‘VA_FOURCC_A2

[2020-01-13 08:07] lion117 opened #1904 "ROI feature not work well on QSV"
## computer
1. intel I5-6500

## STATE
| encoder |  bitrate mode |  state |
|-----|-----|---|
| h264 | CQP |  work well
| h264| CBR | not support (-3)
|hevc| CQP | support , but roi not work
|hevc| CBR | support , but roi not work

[2020-01-13 13:09] AntonGrishin commented on #1903
Hi @mkomarinski,

Seems that you have not last LibVA version.
Can you please provide output from `vainfo`?

[2020-01-13 15:07] RarogCmex opened #1908 "Opencl headers should be provided in package (in-tree)"
`/usr/bin/x86_64-pc-linux-gnu-ranlib ../../../__lib/Gentoo/libencode_hw.a
make[2]: Leaving directory '/var/tmp/portage/media-libs/intel-mediasdk-9999/work/intel-mediasdk-9999_build'
[ 90%] Built target encode_hw
[ 90%] Linking CXX executable ../../__bin/Gentoo/sample_hevc_fei_abr
cd /var/tmp/portage/media-libs/intel-mediasdk-9999/work/intel-mediasdk-9999_build/samples/sample_hevc_fei_abr && /usr/b

[2020-01-13 17:52] mkomarinski commented on #1903
Hi @AntonGrishin,

error: can't connect to X server!
libva info: VA-API version 1.6.0
libva info: User environment variable requested driver 'iHD'
libva info: Trying to open /opt/intel/mediasdk/lib64/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_6
libva info: va_openDriver() returns 0
vainfo: VA-API version: 1.6 (libva 2.4.0)
vainfo: Driver version: Intel iHD driver - 19.4.0
va

[2020-01-14 06:17] AntonGrishin commented on #1903
Hi @mkomarinski,

AFAIK `VA_FOURCC_A2R10G10B10` declared since 1.4.0, so maybe you use different libva during the MediaSDK build (you can try to set `PKG_CONFIG_PATH=/path/to/libva1.6.0/pkgconfig`)

[2020-01-14 08:53] dmitryermilov commented on #1908
Are you sure that sample_hevc_fei build failed?
From attached log file I see rotate_opencl failed:
[code]

[2020-01-14 08:54] #1863 closed

[2020-01-14 17:44] RarogCmex commented on #1908
No, It really seems to opencl trouble, thank you for attention.
How to fix its?

[2020-01-14 18:01] RarogCmex commented on #1908
Ok, as I investigated header https://github.com/KhronosGroup/OpenCL-Headers/blob/master/CL/cl_va_api_media_sharing_intel.h should be in-tree when its not. And also it had required even where setuped -DENABLE_OPENCL=OFF in configure stage (seems bug?).

[2020-01-15 06:30] AntonGrishin commented on #1874
Hi @salimerko,
We are working on fix.
Just for workaround you can move you camera fourcc format in media-driver [switch](https://github.com/intel/media-driver/blob/d0cbf53cd4dc23f1ef99b4b2e9bfab74172d9c9d/media_driver/linux/common/ddi/media_libva_util.cpp#L174) higher, for use `I915_TILING_NONE`, but I m not sure, that it`ll not impact something.

[2020-01-15 14:49] AntonGrishin commented on #1880
@dvrogozh any suggestions?

[2020-01-16 15:00] dmitryermilov commented on #1908
@AntonGrishin , could you take a look?

[2020-01-16 19:45] #1880 closed

[2020-01-17 07:35] AntonGrishin commented on #1898
Hi @perydominet,
Sorry for mistakes in the instruction. Thanks for you report.
LibVA build section has been updated and now contains information about using recommend (latest tag) or master libva version.

[2020-01-17 07:38] bbao3 opened #1915 "19.4 sample_decode error"
Hi, I have seen a strange error in sample_decode of new 19.4 MSDK release: it will show a -3 error in use HW acceleration but with system memory (although the decode will proceed successfully).
sample_decode of 19.3.1 have no problem. Can you help fix the issue? Thanks.

Command and log as below:

_root@intel-dbg:/opt/intel/mediasdk/share/mfx/samples# ./sample_decode h264 -i /video.h264 -hw
libva

[2020-01-17 07:51] bbao3 opened #1916 "New 19.4 MSDK env: Running sample_decode will cause "segmentation fault (core dumped)" by adding "-r" option in X mode."
Hi, I installed the latest 19.4 MSDK and media-driver with all the required dependencies. But there is a new "segmentation fault (core dumped)" issue in this new release package. Reuse sample_decode of 19.3.1 can replicate the same issue, so suspect this issue is related with rendering. But since it belongs to MSDK package, can you help to find the root cause?

The command and log output like belo

[2020-01-17 09:02] dmitryermilov commented on #1915
It's the same as https://github.com/Intel-Media-SDK/MediaSDK/issues/1800
It will be a addressed by https://github.com/Intel-Media-SDK/MediaSDK/pull/1912

[2020-01-17 09:03] #1915 closed

[2020-01-17 09:05] dmitryermilov commented on #1916
@AntonGrishin , please prioritize

[2020-01-17 11:11] dmitryermilov commented on #1864
@DenWolf , @pgribov , please reply!

[2020-01-17 15:30] DenWolf commented on #1864
Hi @guoyejun , @dmitryermilov ,
We've return back to this task after holidays, now @pgribov is working on it and trying to reproduce it.
As I know, @pgribov has met the issue with building custom ffmpeg (repro tool) - if he still not able to resolve the repro issues by himself we will contact with @guoyejun  with our questions.

[2020-01-17 23:23] dmitryermilov commented on #1857
Hi Herman,

Did you have a chance to come back to it?

[2020-01-17 23:26] perydominet commented on #1898
Hi Anton,
Thank you very much for your kind update.
Hopefully people now using your description will be able to successfully
install the extension.
Best regards.

On 1/17/2020 8:35, Anton Grishin wrote:

[2020-01-18 17:26] mkomarinski commented on #1903
Ok. I may try with CentOS because otherwise I'm going to go down a rabbit hole of unpackaged upgrades.  Thanks for the help.

[2020-01-18 17:26] #1903 closed

[2020-01-20 07:12] HermanMolinder commented on #1857
Hi Dmitry,
No, unfortunately not. We plan to update our msdk version later this spring, so I will test it then.

[2020-01-20 11:28] AntonGrishin commented on #1916
Hi @bbao3,

Seems it`s regression in LibVA (since https://github.com/intel/libva/pull/351 merged). On latest libva master all works, but on tag/2.6.0 (which provided in release)  sample crashes.

[2020-01-21 12:52] Benzez commented on #1893
Managed to fix issues. Thanks for the help!

[2020-01-21 12:52] #1893 closed

[2020-01-22 02:02] bbao3 commented on #1916
Thank you AntonGrishin, so will we release another MSDK (e.g. 19.4.1) later to make sure end-user will not be confused with this LibVA issue?

[2020-01-24 17:49] uartie opened #1929 "[regression] vpp mirroring fails"
VPP mirroring no longer works since commit 89746f4f36ff21052d40faf5a97e89351702d765.  The regression is seen on all platforms tested.  I did not test on TGL.  The issue can be reproduced with sample_vpp, gstreamer and ffmpeg.

[code]
[code]

[2020-01-24 17:54] dvrogozh commented on #1929
@fzhar : can you, please, take a look?

[2020-01-27 12:07] pgribov commented on #1864
Hi @guoyejun ,
Sorry for late response.
Issue was reproduced, we are exploring ways to solve this problem.

[2020-01-28 19:42] dvrogozh commented on #1894
@xhaihao, @uartie : does #1930 work for you? can you try it out?

[2020-01-29 08:51] xhaihao commented on #1894
It works for me.

[2020-01-29 14:12] daleksan commented on #1146
@fulinjie is it still actual?

[2020-01-29 14:29] AntonGrishin commented on #1243
Hi @MrCool1508,
AFAIK, FFmpeg runs with a bit more complexity cmd - you can check it here: [Build and use FFmpeg with MediaSDK
](https://github.com/Intel-Media-SDK/MediaSDK/wiki/Build-and-use-ffmpeg-with-MediaSDK)

BTW, you also can find more examples on [FFmpeg QSV wiki page](https://trac.ffmpeg.org/wiki/Hardware/QuickSync)

[2020-01-29 14:44] daleksan commented on #1316
@eero-t looks like this option is missed only in help.

[2020-01-29 14:47] #1337 closed

[2020-01-29 14:54] daleksan commented on #1418
@spossos Any updates?

[2020-01-29 20:04] uartie commented on #1894
WFM

[2020-01-30 09:10] AntonGrishin commented on #1916
@onabiull can you comment on this?

[2020-01-30 15:20] #1929 closed

[2020-01-30 15:24] #1167 closed

[2020-01-30 21:19] dmitryermilov commented on #1908
@AntonGrishin , any news?

[2020-01-30 21:19] dmitryermilov commented on #1894
Fixed by #1930

[2020-01-30 21:19] #1894 closed

[2020-01-30 21:20] #1862 closed

[2020-01-30 21:20] #1822 closed

[2020-01-30 21:21] dmitryermilov commented on #1791
@Jackson-256 , feel free to re-open

[2020-01-30 21:21] #1791 closed

[2020-01-30 21:23] #1702 closed

[2020-02-01 07:24] fulinjie commented on #1146
IIRC, this issue still exits.
@sunxinpeng, please help to comment if you have any updates.

[2020-02-03 06:30] AntonGrishin commented on #1908
Hi @RarogCmex @dmitryermilov,

As I see, ENABLE_OPENCL uses only here:
https://github.com/Intel-Media-SDK/MediaSDK/blob/69f22b15d085038c0ccb7ecbf313e0c0e93917ad/builder/FindPackages.cmake#L430
Also I checked both cmake configurations, and looks like all work properly.
build targets with `-DENABLE_OPENCL=ON`:
![image](https://user-images.githubusercontent.com/34107292/73630527-66e3c380-4667-11ea-8f

[2020-02-03 06:35] RarogCmex commented on #1908
Hi @AntonGrishin I found that it's not checked only for x86, not x86_64. So I don't know how it actually...

[2020-02-03 10:54] AntonGrishin commented on #1908
@RarogCmex can you please share more details?
Logs w/ `-DENABLE_OPENCL=ON/OFF` ?
I don`t see any gaps for configure opencl x86/x86_64 in cmake files.

[2020-02-03 11:05] RarogCmex commented on #1908
@AntonGrishin

[build.log](https://github.com/Intel-Media-SDK/MediaSDK/files/4147504/build.log)

[2020-02-03 11:06] RarogCmex commented on #1908
Also see build.log in thread's head

[2020-02-03 11:23] AntonGrishin commented on #1908
@RarogCmex I didn`t see error with OpenCL, but found few another errs, like:

[code]

[2020-02-03 12:01] RarogCmex commented on #1908
Ok, may be.
Issue can be closed I'm sure

[2020-02-03 17:14] #1304 closed

[2020-02-04 07:14] #1908 closed

[2020-02-04 14:31] dmitryermilov opened #1947 "Clarify RGB support in AVC encode on both Linux and Windows"
Please clarify RGB support in AVC encode on both Linux and Windows. Currently MediaSDK manual doesn't say anything about it but this functionality definitely works on Windows out-of-the-box.
If I hardcode libva caps to report VA_RT_FORMAT_YUV422 | VA_RT_FORMAT_YUV444, AVC encode from RGB surfaces on Linux seems to work fine.
If there are no concerns, I propose to describe the possibility in the ma

[2020-02-05 03:56] softworkz opened #1949 "Support for Tone Mapping?"
Hi,

is it planned to add support for tone-mapping through the libva filter VAProcFilterHighDynamicRangeToneMapping?

Thanks,
softworkz

[2020-02-05 08:32] dmitryermilov commented on #1949
Right now HDR is missing VPP feature. It's a known gap. @nkurina , @FurongZhang , do we plan to enable it?

[2020-02-05 14:38] dmitryermilov commented on #1686
@onabiull , @dvrogozh , @vvkalinin24 , any objection to opensource the tracer?

[2020-02-05 18:48] vassjozsef opened #1953 "Video Encode Stall with Driver 23.20.0016.4973"
Hello @dmitryermilov,

We have a user with Lenovo Legion Y520 and driver version 23.20.0016.4973 dated 2018-02-27. We see a possible encoder stall from the log files. There are more than six seconds between IDR frames 13 and 14 (WebRTC times out). When frame 15 is sent to encoder, MFXVideoENCODE_EncodeFrameAsync() return MFX_WRN_DEVICE_BUSY.

[code]

I will add a little bit more logging, do you ha

[2020-02-05 21:29] Nastooh-Inca opened #1954 "Generating Correct Number of Frames in 3:2 Pull Down"
Hi
Referring to issue https://github.com/Intel-Media-SDK/MediaSDK/issues/1801, I can confirm that by setting ExtendedPicStruct to 1, proper picture structure can be retrieved, via MFXVideoDECODE_GetVideoParam call. However, I can't figure out how to force the decoder to generate the correct number of frames at the end of the cadence, e.g., for TBT,BT,BTB input to generate TB,TB,TB,TB.
Any ideas?
C

[2020-02-06 07:35] dmitryermilov commented on #301
@jwang11 , please look at https://software.intel.com/en-us/articles/get-started-with-the-intel-media-accelerator-reference-software

[2020-02-06 13:11] dmitryermilov commented on #1904
@saosipov , @ilapichev , please respond

[2020-02-06 18:47] saosipov commented on #1904
Hi lion117
As I remember SKL supports ROI for BRC only and user can set Priority for these regions.
Could you please share here your command line along with output log?
-Sergey

[2020-02-08 07:49] lion117 commented on #1904
I used official demo  **sample_encode** and modify the code to test the roi featrure .
Here is My Code
[code]

Here Is the Roi working video shootscreen only on H264CPQ ratecontrol
[downlaod](https://cdmd-1257623782.cos.ap-chengdu.myqcloud.com/mdpic/20200208154805.png)
![](https://cdmd-1257623782.cos.ap-chengdu.myqcloud.com/mdpic/20200208154805.png)

[download](https://cdmd-1257623782.cos.ap-cheng

[2020-02-10 03:29] guoyejun commented on #1864
thanks, and do we have an estimate when this will be solved? thanks.

[2020-02-10 09:49] jsunintel opened #1957 "Does MSDK support ARM?"
I'd like try MSDK on ARM, and can I build MSDK by toolchain (aarch64-ese-linux) on Linux for ARM?

[2020-02-10 11:25] #1898 closed

[2020-02-10 14:28] onabiull commented on #1686
It was already made available as part of MSS release https://github.com/Intel-Media-SDK/MediaSDK/releases/tag/MSS-2018-R2.2 see
https://github.com/Intel-Media-SDK/MediaSDK/tree/d07f8526c28e8579606ea086c99e9073f86d77af/tools/tracer
Still it need some refactoring and cleaning to land in master.

[2020-02-10 15:38] onabiull commented on #1957
Short answer is no. Most likely it won't even compile.

Longer answer is it may be possible given a few assumptions.
Media SDK primary target is Intel® Gen graphics hardware platforms. But from code perspective we provide a convenience wrapper for hardware-agnostic VA API. So given that someone would write a conformant VA API implementation (say media driver) for given ARM platform, basic Media SD

[2020-02-10 16:03] egorovdanil commented on #794
We do not test samples on fork-workflow.

[2020-02-10 16:03] #794 closed

[2020-02-11 02:03] jsunintel commented on #1957
Thanks for the quick reply! What I need are just a few tools for testing in MSDK, such as crc calc, metrics & psnr computing. Those have nothing to do with VA API. Is there a method that I can easily build them on Linux by toolchain for ARM?

[2020-02-11 13:47] dmitryermilov commented on #1954
Hi @Nastooh-Inca ,

Sorry for delayed reply.
Is my understanding correct that you're asking about Inverse Telecine:  29,97 telecined to 24p ?
If so, our decoders don't do this. It's out of their scope. This functionality was available in PTIR (Premium Telecine Interlace Reverser). PTIR was distributed as a part of MediaServerStudio Professional. Let me take a pause to clarify our strategy regardin

[2020-02-11 17:14] galinart opened #1959 "MFX_ERR_INVALID_VIDEO_PARAM error code is not enough for DEBUG real issues"
Initialization functions like MFXVideoDECODE_Init(), MFXVideoVPP_Init(), MFXVideoEncode_Init() return MFX_ERR_INVALID_VIDEO_PARAM if some of the parameters are incorrect or could not be accepted.

MFX_ERR_INVALID_VIDEO_PARAM will be returned if one of required calls have been missed before that function call. For example: MFXVideoCORE_SetFrameAllocator() call is required if you use MFX_MEMTYPE_VID

[2020-02-12 08:48] sunxinpeng opened #1960 "JPEG decoder can't ouput 422P/444P/440P format for YUV422/YUV444/YUV440 jpeg file"
Media SDK JPEG decoder can only ouput NV12 for YUV422/YUV444/YUV440 jpeg file decoding. For these three types of jpeg files, the ouput format(NV12) is different from the chroma format.
Here is a relevant issue reported before:
[https://github.com/Intel-Media-SDK/MediaSDK/issues/1575](url)

[2020-02-12 14:18] daleksan commented on #1497
Currently not planned to implement

[2020-02-12 14:18] #1497 closed

[2020-02-12 14:24] daleksan commented on #1535
is it still actual on the latest media stack?
If so, could you provide us the reproducer?

[2020-02-12 14:25] #1546 closed

[2020-02-12 14:28] daleksan commented on #1550
@fulinjie can we close this one?

[2020-02-12 14:29] daleksan commented on #1552
@thx4ever is it still actual?

[2020-02-12 14:38] fulinjie commented on #1550
@daleksan, this could be closed at this stage since query in libva is needed at first. And we can use hwmap=mode=direct explicitly to force deriving data instead of sw copy.

[2020-02-12 14:38] #1550 closed

[2020-02-13 09:22] FurongZhang commented on #1949
We had a plan to do that. Given resource limitation, we planned it to Q2'2020. BTW, @softworkz , Do you have some specific requirement about this? Thanks a lot in advance!

[2020-02-13 12:02] alariono commented on #1954
@dmitryermilov better to ask VPP onwers

[2020-02-13 12:19] dmitryermilov commented on #1954
@FurongZhang , can you please check and reply

[2020-02-13 13:17] FurongZhang commented on #1954
Sure.

[2020-02-13 19:52] redbob365 opened #1966 "Couldn't install MediaSDK on Centos 7"
Hi,

I followed instructions to install [MediaSDK in Centos 7](https://github.com/Intel-Media-SDK/MediaSDK/wiki/Build-Media-SDK-on-CentOS), but when I executed the last `make install`, couldn't do it due to this verbose:

[code]

Any ideas?

[2020-02-13 20:45] dmitryermilov commented on #1966
Hi.

What compiler are you using?

[2020-02-13 21:08] redbob365 commented on #1966
I followed instructions from the page, these are the commands I did:

[code]

[2020-02-13 23:38] softworkz commented on #1949
@FurongZhang  - Thanks a lot for responding.

We are Emby (https://emby.media/) - our mission is to allow users to play back their own media on any device and over any kind network connection in the best possible way.

Precise adaption like that requires real-time transcoding in many cases. While we do support quite a range of video hardware acceleration technologies for decoding, processing and e

[2020-02-14 10:02] lion117 opened #1967 "qsv hevc quaility worse than qsv264 on the same bitrate encode?"
Hi,  I had done some quaility  tests on  qsv hevc  using netflix tool : VMAF
Here is my test Result

![小Q截图-20200214180445](https://user-images.githubusercontent.com/3996029/74521579-8a0a4f00-4f54-11ea-9b06-b2e5a9080d26.png)

[result download](https://cdmd-1257623782.cos.ap-chengdu.myqcloud.com/mdpic/20200214181428.png)

I used the sample_encode.exe which is in the MEDIASDK-2018R2 package.
Here is

[2020-02-14 12:28] dmitryermilov commented on #1949
Thank you @softworkz  for detailed problem statement. And thank you for accolade towards MediaSDK API.
Yes, we do understand importance of HDR.

[2020-02-14 13:09] #1872 closed

[2020-02-14 13:10] dmitryermilov commented on #1843
Oleg, can you please assign?

[2020-02-14 13:10] dmitryermilov commented on #1844
Oleg, can you please assign?

[2020-02-14 13:10] dmitryermilov commented on #1866
@learnin9 , could you reply?

[2020-02-14 13:47] dmitryermilov commented on #1966
It's weird to me. Our CI checks gcc-6: https://github.com/Intel-Media-SDK/MediaSDK/wiki/Media-SDK-CI-build-configurations

Plus, I just tried on my dev machine (CentOS 7). Build from latest master worked fine.

@redbob365 , please share "cmake3 .." output.

[2020-02-14 13:49] dmitryermilov commented on #1835
@dvrogozh @onabiull , @eponomar could you comment?

[2020-02-14 13:51] dmitryermilov commented on #1957
@jsunintel , could you say which particular tools are you interested? Please give links.

[2020-02-14 14:50] egorovdanil commented on #792
At now fopen not used in library.

[2020-02-14 14:50] #792 closed

[2020-02-14 15:11] dvrogozh commented on #1967
What was the underlying Intel GPU you've tried?

[2020-02-15 09:42] lion117 commented on #1967
Cpu:I5-6500&nbsp;
Gpu:Intel(R) HD Graphics 530

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Dmitry Rogozhkin"<notifications@github.com&gt;;
发送时间: 2020年2月14日(星期五) 晚上11:11
收件人: "Intel-Media-SDK/MediaSDK"<MediaSDK@noreply.github.com&gt;;
抄送: "leo_nardo"<ngixpro@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [Intel-Media-SDK/MediaSDK] qsv hevc quaility worse than qsv264 on

[2020-02-17 01:40] lion117 commented on #1967
Any Suggestion about this issue ?

[2020-02-17 03:14] lion117 commented on #1904
Hi, Do you have any progress?

[2020-02-17 03:38] jsunintel commented on #1957
Hi @dmitryermilov, we would like to have cocotor, ldecod, metrics_calc_lite, calc_crc & djpeg under mdp_msdk-val-tools.

[2020-02-17 07:50] #1957 closed

[2020-02-17 19:15] redbob365 commented on #1966
Hi, @dmitryermilov, my Server runs CentOS 7.7.

Here is `cmake3` output:

[code]

[2020-02-17 20:45] dmitryermilov commented on #1966
Thanks. What is compiler version ?
`/bin/c++ --version`

[2020-02-18 11:58] redbob365 commented on #1966
[code]

[2020-02-18 12:59] dmitryermilov commented on #1966
Ahh. It's 4.8.
We support gcc >=6

[2020-02-18 13:03] onabiull commented on #1966
Given `scl enable devtoolset-6 bash` expected cmake output should be:
[code]
Do you have that devtoolset-6 installed?

[2020-02-18 18:15] redbob365 commented on #1966
Now it worked! Wat did I do?
1. `yum install devtoolset-6-gcc*`
2. `yum install libfmx`
3. purge and recreated `build` folder
4. Rerun `cmake3 .. | make install `

[2020-02-18 18:58] #1966 closed

[2020-02-18 20:59] dmitryermilov commented on #1967
Hi @lion117 ,

We need a few day to reply.

Regards,
Dmitry

[2020-02-19 17:05] lakulako commented on #1904
Hi lion117,
Thank you for using msdk.
There is a conflict in your code: you set MFX_ROI_MODE_PRIORITY together with DeltaQP value -51. Values for priority are limited to [-3,3] and so initialization fails with INVALID_PARAM.
Note, that DeltaQP and Priority fields make union.
Please set MFX_ROI_MODE_QP_DELTA instead.
BTW, "Priority is deprecated mode and is used only for backward compatibility".
Al

[2020-02-20 00:13] ukmark62 opened #1977 "[windows] QuickSync ICQ mode HEVC 8-bit/10-bit encoding using "fixed function" and changing quality level - API v1.30."
Hi
Using API v1.30 and I find that changing the QuickSync ICQ quality level for HEVC 8-bit/10-bit when encoding using "fixed function" has no effect. Output files remain same size.

It works correctly for AVC/H264 but not for HEVC. Could somebody please check if this works in the latest version? Thanks.

PS. I am using Ice Lake laptop with i7-1065G7 CPU and Intel Iris Plus graphics (driver version

[2020-02-20 00:47] gupta-pallavi opened #1978 "1:4 HEVC<-> HEVC VME Xcode doesn't work on Gen12 using msdk closed source- only 1:1,1:2,1:3 works"
**ERROR:**
ffmpeg: /opt/src/msdk/_studio/mfx_lib/encode_hw/h265/src/mfx_h265_encode_vaapi.cpp:1947: virtual mfxStatus MfxHwH265Encode::VAAPIEncoder::Execute(const MfxHwH265Encode::Task&, mfxHDLPair): Assertion `0x00000000 == vaSts' failed.
Aborted (core dumped)

**COMMAND LINE:**
ffmpeg -hwaccel qsv -qsv_device ${QSV_DEVICE:-/dev/dri/renderD128} -c:v hevc_qsv -i CrowdRun_3840x2160_40Mbps_50fps_500

[2020-02-20 02:02] lion117 commented on #1904
Hi, I had tried two different cases which both return  invalid para  when I used cbr bitrate control mode .

### case 1
[code]

### case 2
[code]

[2020-02-20 05:33] #1978 closed

[2020-02-20 10:07] dmitryermilov commented on #1977
Hi @ukmark62 ,

Are you talking about TargetUsage? Which values did you try? TU1, TU4, TU7 ?

[2020-02-20 10:51] ukmark62 commented on #1977
Hi,

I'm specifically referring to the quality level (0-51). Changing that value has no impact, so ICQ 5 produces same output size as ICQ 40, when ICQ 5 should produce much larger output. Thanks.

[2020-02-20 10:53] dmitryermilov commented on #1977
Ahh. I see.

[2020-02-20 10:53] dmitryermilov commented on #1977
@vilichev , can you please reply?

[2020-02-20 12:42] ayakove commented on #1967
Hi @lion117,

as a first step let me reproduce your result.
Could you share "bigdd.yuv" stream with us?

[2020-02-20 12:44] lion117 commented on #1967
provide your email. I will send it to u

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "ayakove"<notifications@github.com&gt;;
发送时间: 2020年2月20日(星期四) 晚上8:42
收件人: "Intel-Media-SDK/MediaSDK"<MediaSDK@noreply.github.com&gt;;
抄送: "leo_nardo"<ngixpro@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [Intel-Media-SDK/MediaSDK] qsv hevc quaility worse than qsv264 on the same bitrat

[2020-02-20 12:52] dmitryermilov commented on #1977
@ukmark62 ,
could you share sample_encode command like which you can run and reproduce the issue?

[2020-02-20 13:01] ayakove commented on #1967
ayakove@gmail.com - you can see in my profile

[2020-02-20 14:08] ukmark62 commented on #1977
Of course,

I am using the program QSVEnc (by rigaya) (https://github.com/rigaya/QSVEnc/). I have already asked him and as far as he is aware, the program is passing the correct info to the Media SDK API. This is the command run from the QSVEnc directory:-

**QSVEncC64.exe --avhw --codec hevc --quality best --profile main10 --open-gop --async-depth 4 --fixed-func --icq 23 --crop 2,140,2,140 --outp

[2020-02-20 14:20] dmitryermilov commented on #1977
@lakulako , can you give and check sample_encode command line?

[2020-02-20 14:55] dmitryermilov commented on #1954
Hi Nastooh,

Sorry for delayed reply. Please try it via MSDK VPP. To check the idea, you can use sample_vpp this way:
sample_vpp -i in.nv12 -o out.nv12 -lib hw -sh 144 -sw 176 -dh 144 -dw 176 -sf 30 -df 24 -spic 0 -dpic 1 -iopattern d3d_to_d3d -pts_check -di_mode 1

It enables framerate conversion with deinterlacing. FRC is 30i -> 24p.
If it works for you, you can integrate VPP with corresponding

[2020-02-20 14:58] #1835 closed

[2020-02-20 14:58] #1828 closed

[2020-02-20 20:45] lakulako commented on #1904
Hi, hard to understand what is going on in your case without information.
Could you please provide command line, logs and binaries' version?

[2020-02-21 02:46] lion117 commented on #1904
- intel I5-6500
- intel media sdk 2018-R2 and 2019-R1
- use hw hevc and hw h264

I used the Encode_sample code to test ROI feature.  Test video Roi  by elecard streameye demo .

[2020-02-21 02:52] lion117 commented on #1967
I am sorry that  google gmail is unable to access in china . Could u provide other emails, like microsoft email

[2020-02-21 07:42] lakulako commented on #1904
And what is the command line? Logs?
(for sample_encode you can use **-dump <dump_file_name>** to dump configuration after init.

[2020-02-21 07:51] lion117 commented on #1904
I modify Sample_encode code to make roi feature work . not by cmdline . so roi region is fixed.
there were  no Logs or dumps
[code]

[2020-02-21 08:56] lakulako commented on #1904
I can try with sample_encode. It is more informative. Lets continue with it.

Does sample_encode prints anything to screen? It is log that I asked.
Please try adding "-dump fname" and share fname.

[2020-02-21 12:17] ayakove commented on #1967
please, try andrey.yakovenko@intel.com

[2020-02-21 14:35] ukmark62 commented on #1977
I just upgraded my device driver to version 26.20.100.7870. This upgraded the Intel Media SDK API from v1.30 to v1.31, but the issue still remains.

[2020-02-21 16:57] ukmark62 opened #1980 "[windows] File size difference CQP mode between 8-bit and 10-bit QuickSync H.265"
Hi again!

I'm noticing a **huge** discrepancy in file size between 8-bit and 10-bit QuickSync H.265 encoding using default CQP (Constant QP) mode. (I tried this with both the "QSVEnc" (https://github.com/rigaya/QSVEnc/) and "Handbrake" programs and the same issue was present in both). Both these programs make use of the Intel Media SDK API for QuickSync encoding.

I did approximately a 5-minute v

[2020-02-21 18:26] ukmark62 commented on #1980
Tried with a different input file and the findings are the same - 10-bit is anywhere from 5 to 6 times larger than 8-bit.

[2020-02-21 18:46] ukmark62 opened #1981 "The file sizes are twice as big when using LA-ICQ vs ICQ for AVC/H.264"
The file sizes are still twice as big when using LA-ICQ vs ICQ for AVC/H.264 QuickSync.  Just tested this using "QSVEnc" and "Handbrake" programs. File sizes should be similar.

Do you know why issue #989 is closed??

[2020-02-21 19:33] lakulako commented on #1977
Checked with sample_encode on windows.
sample_encode.exe h265 -i foreman_352x288_300.yuv -w 352 -h 288 -hw -d3d -dump par.txt -o tmp_lp_icq10.h265  -icq 10 -qsv-ff
Confirm, that icq parameter and icq mode are set after init (see in dump), but in encoded stream cqp is used instead with default qp=26.
Used icelake with latest sw.
It is unsupported for FF.

[2020-02-21 20:31] dmitryermilov commented on #1977
Thanks @lakulako . Are you saying that low power encoder doesn't support ICQ and we internally change BRC mode to CQP?

[2020-02-21 20:47] dmitryermilov commented on #1981
Hi @ukmark62 , please specify versions of media stack components(msdk/media-driver/gmm/libva), HW type, command lines (ideally via sample or ffmpeg) so that we can reproduce it quickly.

[2020-02-21 20:56] ukmark62 commented on #1977
So it is supported for AVC/H.264 FF, but not for HEVC. Are there plans to support for HEVC?

[2020-02-21 21:01] ukmark62 commented on #1981
If you refer back to the original issue #989, steps were detailed how to reproduce the problem. If somebody could verify by simply re-running that example, it would determine if the problem is still present in the 'master' branch.

[2020-02-21 21:07] dmitryermilov commented on #1981
I think it's better to ask a reporter why he closed the issue.

[2020-02-21 22:00] ukmark62 commented on #1981
Using the QSVEnc CLI from rigaya on Windows 10 (https://github.com/rigaya/QSVEnc/), this is a template command how to reproduce the issue. ICQ with LA has double file size of ICQ for the same quality.

ICQ
**D:\StaxRip\Apps\Encoders\QSVEnc\QSVEncC64.exe --quality best --icq 24 -i "input.mkv" -o "output.h264"

ICQ with lookahead
D:\StaxRip\Apps\Encoders\QSVEnc\QSVEncC64.exe --quality best --la-dept

[2020-02-21 22:17] ukmark62 commented on #1981
For ffmpeg use:-
ICQ
**ffmpeg -i input.mp4 -c:v h264_qsv -global_quality 24 output.mp4**

ICQ & Lookahead
**ffmpeg -i input.mp4 -c:v h264_qsv -global_quality 24 -look_ahead 1 -look_ahead_depth 30 output.mp4**

[2020-02-24 08:23] guoyejun commented on #1864
any estimate when this will be solved? thanks

[2020-02-24 14:09] ukmark62 commented on #1977
Just updated the title to denote that 8-bit HEVC has same issue as 10-bit.

[2020-02-25 15:54] lakulako commented on #1980
Hi @ukmark62,
To get similar size for 10 bit QPs should be increased by 12 relative to 8 bit case.
Msdk extends QP range to the higher QP values [1; 51+6*(bits-8)].

[2020-02-25 16:17] marcinbiegun opened #1984 "Memory leaks in simple_3_encode_vmem tutorial"
Hi,

During stress tests (100+ runs in a single process) I've found that `simple_3_encode_vmem` code is leaking memory. This is confirmed by using `valgrind` to trace memory leaks.

If I read the results correctly, looks like this function is for responsible for the leaked memory allocation:

[code]
https://github.com/Intel-Media-SDK/MediaSDK/blob/master/tutorials/common/common_vaapi.cpp#L244

Thi

[2020-02-25 17:08] Nastooh-Inca commented on #1954
Hi Dmitry,
Thank you for your reply.Our use case is somewhat opposite, i.e., we need to go from 4 frames to 5. I suppose then the flow would be:
1-  Use MFXVideoDECODE_Query to detect MFX_PICSTRUCT_FIELD_REPEATED
2- Signal VPP to create  the new frame
Regarding Step 2, does MSDK have any capacities to weave top field of a frame with bottom field of the next one?
Cheers,

[2020-02-25 18:43] ukmark62 commented on #1980
Thanks for getting back.

@lakulako - can you detail in simple terms what the extended QP range is for 10-bit,  or is this documented somewhere?

I assume 8-bit range is 1-51. Thanks.

[2020-02-25 18:56] #1980 closed

[2020-02-25 20:37] dmitryermilov commented on #1954
Hi Nastooh,

Ahh. Sorry for misleading then.

Yes. But in a "manual" mode:  please see https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#vppfieldprocessingmode

It means you can trigger two copy operations (per each field) but it would require two RunVPPFrameAsync calls.

Also, feel free to refer to implementations of this field copy:
https://github.com/Intel-Media-SDK/Me

[2020-02-26 14:33] #1866 closed

[2020-02-26 15:13] dmitryermilov opened #1985 "Describe extended QP ranges in the manual"
See #1980
It looks currently MSDK manual doesn't mention it.

[2020-02-27 11:54] dmitryermilov opened #1988 "sample_decode doesn't pass vaDisplayId to MSDK session before DecodeHeader"
Please see https://github.com/Intel-Media-SDK/MediaSDK/pull/1982#issuecomment-591931538 . It's a bug and has to be addressed ASAP. SetHandle has to be called before any DecodeHeader, Query calls.
See manual: https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#working-with-va-api-applications :

Please check other samples, tutorials.
Once it's done, please remove this code:

[2020-02-27 12:24] lakulako commented on #1904
@lion117 ,  have you resolved the issue?

[2020-02-27 12:34] lion117 commented on #1904
No&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Leonid Kulakov"<notifications@github.com&gt;;
发送时间: 2020年2月27日(星期四) 晚上8:24
收件人: "Intel-Media-SDK/MediaSDK"<MediaSDK@noreply.github.com&gt;;
抄送: "leo_nardo"<ngixpro@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [Intel-Media-SDK/MediaSDK] ROI feature not work well on QSV (#1904)

@lion117 ,  have you resolved the is

[2020-02-27 16:52] dmitryermilov commented on #1874
@salimerko , could you try #1987?

[2020-02-27 21:13] ayakove commented on #1967
Hi @lion117 , I posted my non google email 6 days ago but still haven't got any video.
By the way, you can see in Release Notes that HEVC on SKL system has limited features support.
-----------------------------------------------------------------------------------
Intel® Media Software Development Kit 2016 Release Notes (Version 7.0.0.311)
HEVC Encode:
o Current support of features limited compar

[2020-02-28 03:21] lion117 commented on #1967
I am sorry to hear that . I had sent the video data to your two email . I Guess the something&nbsp; had block the email.&nbsp;I will post the video file into my cloud , you can download from there .&nbsp;
Is that Ok ?&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "ayakove"<notifications@github.com&gt;;
发送时间: 2020年2月28日(星期五) 凌晨5:13
收件人: "Intel-Media-SDK/MediaSDK"<MediaSDK@noreply

[2020-02-28 03:25] lion117 commented on #1967
Hi , U can download the file from [Here](https://md-1257623782.cos.ap-guangzhou.myqcloud.com/video/bigdd.yuv).
to protect provice , the link would abondan after 3 days. please don`t share it on the internet

[2020-02-28 05:24] ayakove commented on #1967
got it. thanks

[2020-02-28 15:02] aobolensk commented on #1806
Not reproducible on latest media-driver (https://github.com/intel/media-driver/commit/7857d6bea214b755d610c1a478d4e1e23da31cdb) and latest MediaSDK (https://github.com/Intel-Media-SDK/MediaSDK/commit/9890dff6064a7f8fe738899fc0c39b33a2d181b5)

[2020-02-28 15:07] #1806 closed

[2020-03-02 07:03] DenWolf commented on #1864
Hi @guoyejun ,

Sorry for the late response - our team was extremely busy last month, @pgribov and me had several tasks in parallel, which slowed down investigation of the current issue.

But we have an interesting update about the issue and found that **it is not on Media SDK side - it's on driver side** (https://github.com/intel/media-driver).

By preparing simple reproducer we've have found tha

[2020-03-02 07:57] lion117 commented on #1904
Couldn't U Reproduce the ROI Issue?  was everything working very well when U tested ?

[2020-03-02 08:05] dmitryermilov commented on #1864
@DenWolf , is it a bug or "per-design" limitation? If it's a "per-design" limitation, can we disable RIO (in case of MFE)  via corresponding libva caps?

[2020-03-02 08:16] DenWolf commented on #1864
@dmitryermilov - we need more time for the further investigation and understanding the root cause of this issue - is it a bug or it's expected.
For now it's trending as a bug for me, but I'm totally agree with you that if we will find that this is expected limitation, this case should be definitely disabled in CAPS

[2020-03-02 09:01] eero-t commented on #1663
While there's some GLK issue with media-driver, there's some issue also on MediaSDK side.  Currently all the FFmpeg VA-API command lines supported by the HW run successfully to the end, while all the FFmpeg QSV command lines fail, on GLK J4005 (0x3185).

[2020-03-02 09:38] guoyejun commented on #1864
thanks.

From MSDK user's perspective, it is weird that query parameter could cause gpu hang.

Is it possible that MSDK first do a tiny change to solve this issue?  For example, just ignore ROI internally when both ROI and MFE are enabled in MFXVideoENCODE_Query.

[2020-03-02 10:35] ayakove commented on #1967
Hi @lion117,

could you share which graphic driver (version)  installed on your windows system?

[2020-03-02 10:46] lakulako commented on #1904
ROI works well on my side, but with different application. Sample encode doesn't support ROI. I will not try sample_encode application with **your** modifications. I could look into logs that you don't share.

[2020-03-02 15:40] dvrogozh commented on #1809
Done via 18601bea619c2119ae0c0a0cd230d302f377e857. Platform can be queried as https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#mfxvideocore_queryplatform. We still miss mfxinfo (similar to vainfo).

[2020-03-02 15:41] #1809 closed

[2020-03-03 10:30] ViGill opened #1992 "MediaSDK 2018R1 vs latest git (9890dff) output file size"
Hi,

we are considering moving for MediaSDK 2018R1 to the latest git code.
The current package I am using is MediaServerStudioEssentials2018R1.
So far so good, but I noticed something very strange. The resulting file size is much lower with the latest MSDK release. Quality is a bit lower as well...
I use the same FFmpeg binary in both cases, with same patched kernel (4.14).

The transcoding comman

[2020-03-03 10:31] ViGill commented on #1992
[msdk_2018R1.log](https://github.com/Intel-Media-SDK/MediaSDK/files/4280750/msdk_2018R1.log)
[msdk_9890dff.log](https://github.com/Intel-Media-SDK/MediaSDK/files/4280751/msdk_9890dff.log)

[2020-03-03 22:16] dmitryermilov commented on #1992
Hi @ViGill ,

It's 2 years difference between MSS and latest gitHub. And difference is not only on MediaSDK side but on driver level as well. I mean it's impossible to say what caused behavior change without deep investigation. I don't think we can jump into it without confirmation it's a obvious regression seen on a range of different video streams. E.g. could you check BD rate to confirm?

[2020-03-04 09:28] VUNNYSODHI opened #1995 "sample_vpp cannot convert to Y210 and Y410 formats"
When using sample_vpp for conversion from yuv2 to Y210 or Y410 format there is unsupported error coming.
**E.g**
$ sample_vpp -vaapi -scc yuy2 -sw 352 -sh 288 -dcc y210 -i test_YUY2_352x288.yuv -o Y210-output.yuv
libva info: VA-API version 1.7.0
libva info: User environment variable requested driver 'iHD'
libva info: Trying to open /usr/lib/x86_64-linux-gnu/dri/iHD_drv_video.so
libva info: Found i

[2020-03-04 09:31] VUNNYSODHI commented on #1995
Also found there is no support in "mfxU32 Str2FourCC" function for Y210 and Y410 inside "samples/sample_vpp/src/sample_vpp_parser.cpp" file

[2020-03-04 09:37] dmitryermilov commented on #1995
@egorovdanil , please at first from at this issue from sample perspective, e,g, it seems sample_Vpp simply doesn't have y210  support: https://github.com/Intel-Media-SDK/MediaSDK/blob/master/samples/sample_vpp/src/sample_vpp_parser.cpp#L337

[2020-03-04 22:14] #1750 closed

[2020-03-05 09:27] ViGill commented on #1992
Hi @dmitryermilov , for the answer!
Yes it can be the driver as well.. lots of changes since then. What do you mean by BD?

Also, i just tested on kernel 4.15.0-58 and it works! Though, the transcoding speed goes from around 500FPS to 300FPS when transcoding from 1920x1080 to 512x288p, h264 compared to kernel 4.14.20 with 2018R2 patches ... any idea why ?

thanks

[2020-03-10 09:13] dmitryermilov opened #2001 "Enable LA with HEVC encoder in sample_encode"
Please enable a case of LA (as a plug-in) + HEVC encoder in sample_encode.
It will help to demonstrate how to enable such (generally pretty basic) pipeline and unblock https://github.com/Intel-Media-SDK/MediaSDK/issues/1511, https://github.com/Intel-Media-SDK/MediaSDK/issues/1810

[2020-03-10 09:35] dmitryermilov commented on #1992
Please look at https://streaminglearningcenter.com/encoding/compute-bd-rate-functions.html . It has an overview.

As for performance drop, please take a look at https://github.com/Intel-Media-SDK/MediaSDK/issues/95 . Could you try with 5.3 ?

[2020-03-10 10:00] dmitryermilov commented on #1995
Fixed by https://github.com/Intel-Media-SDK/MediaSDK/pull/1999

[2020-03-10 10:00] #1995 closed

[2020-03-10 10:01] dmitryermilov commented on #1984
@egorovdanil , do you have any news?

[2020-03-10 12:01] agalin89 commented on #2001
@dmitryermilov @AntonGrishin Thanks!

[2020-03-10 20:42] dmitryermilov opened #2003 "Enable B pyramid by default in sample_encode, smt"

[2020-03-11 12:17] dmitryermilov commented on #2003
Submitted by mistake. By default samples rely on encoders internal settings which enable B pyramid.

[2020-03-11 12:17] #2003 closed

[2020-03-11 21:12] #1984 closed

[2020-03-12 09:10] ViGill commented on #1992
Hi,

sure I will try 5.3!
I will look at BD rate, thanks for the link.

[2020-03-12 09:22] ViGill commented on #1992
uname -a
Linux worker-068.adm.dc3.dailymotion.com 5.3.0-40-generic #32~18.04.1-Ubuntu SMP Mon Feb 3 14:05:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

rame= 3600 fps=488 q=10.0 Lsize=    7874kB time=00:02:30.07 bitrate= 429.8kbits/s speed=20.3x

well done! 5.3 does indeed fix it!
Thanks

[2020-03-12 09:27] dmitryermilov commented on #1992
Good! You're welcome

[2020-03-13 08:39] #1864 closed

[2020-03-13 08:39] #1817 closed

[2020-03-13 12:31] dmitryermilov commented on #1981
@DenWolf , any news?

[2020-03-13 12:32] dmitryermilov commented on #1954
Seems it was addressed. Feel free to reopen if not.

[2020-03-13 12:32] #1954 closed

[2020-03-13 13:54] DenWolf commented on #1981
@pgribov  - could you please take a look at this issue ?

[2020-03-13 15:39] ayakove commented on #1967
Hi @lion117

Pls modify your current command line for encoding (btw, for HEVC hw encoding plugin needs to be specified)
Sample_encode.exe h264  -i input.yuv -o out.h264 -w <width> -h <height> -cbr -b <bitrate> -f 15 -g 30
Sample_encode.exe h265  -i input.yuv -o out.h265 -w <width> -h <height> -cbr -b <bitrate> -f 15 -g 30 -p hevce_hw

to, updated command line such as:
Sample_encode.exe h264 -extbr

[2020-03-14 09:41] guoyejun opened #2013 "allow ROI rectangle top/left/bottom/right to be 0 for query"
i submitted a PR https://github.com/Intel-Media-SDK/MediaSDK/pull/1856 for this issue, and after discussion, i hoped to pass the ball back to msdk team.

I just checked the latest code and found that we still need to set a non-empty rectangle for the query, so file this issue to check it. Hope it can be resolved before next release, thanks.

[2020-03-16 02:12] lxx02 opened #2014 "[H264 Encode] slice RollingIntraRefresh doesn't work"
In mediasdk-man.md document introduces that MFX_REFRESH_SLICE means horizontal refresh by slices without overlapping. However, it doesn't refresh by horizontal type when in sample_encode pipeline set -ir_type 3(slice_type) -num_slices 5.

[2020-03-16 11:18] pgribov commented on #2014
Hi @lxx02 , please specify versions of media stack components(msdk/media-driver/gmm/libva), HW type, command lines (ideally via sample or ffmpeg) so that we can reproduce it quickly.

[2020-03-17 11:36] pgribov commented on #1981
Hi, @ukmark62 . I have looked to this issue. At the moment, LA_ICQ gives higher quality with an increase in bitrate, so a file oversize compared to ICQ is expected.

How important is it for LA_ICQ to give a smaller file size? And in what use cases will you use it?

[2020-03-17 11:59] ukmark62 commented on #1981
Thanks for looking.  I don't use AVC much - nearly always use HEVC. However, a doubling of file size seems extreme. I appreciate quality (and therfore bitrate) should be higher with lookahead enabled and it is difficult to estimate how much larger the files would be, but I would have thought that in the majority of cases the file sizes would be between 5-20% higher.

If the current code is working

[2020-03-17 12:24] pgribov commented on #1981
Normal LA is based on VBR (it controls bitrate), in this case it reduces bitrate with maintaining quality. ICQ is based on CQP (it does not control bitrate), LA_ICQ algorithm is completely different from the normal LA. So, the file size increasing in this mode is acceptable.

[2020-03-18 10:41] dmitryermilov commented on #1992
Hi @ViGill ,

Any news about VQ?

[2020-03-18 12:53] pgribov commented on #1981
@dmitryermilov , do you think we need to add this information?

[2020-03-18 13:47] hizel opened #2020 "Recovery SEI points are set incorrectly for open GOP"
Hi,

need encode h264 avc with open gop and without idr frames, same as encode libx264:

[code]

after encode and dump nal headers

[code]

found one idr frame, first frame;

when use sample_encode

[code]

all gop with idr frame

Can MediaSDK AVC encoder support idr less open gop encoding method?

Linux 5.4.25
mediasdk v19.4.0
media-driver v19.4.0
libva 2.6.1
gmmlib 49.4.1

[2020-03-19 09:30] hizel commented on #2020
hack mode

[code]

[2020-03-19 09:30] ViGill commented on #1992
Hi  @dmitryermilov,
not yet but I am still not convinced by the new drivers :)
Let me explain. I am not running the following packages:
FFmpeg 4.2.2
intel-gmmlib-19.4.1
intel-media-19.4.0
intel-mediasdk-19.4.0
libdrm-2.4.100
libva-2.6.1
Linux Kernel vanilla 5.3

I use the following command to transcode:

ffmpeg -hwaccel qsv -init_hw_device qsv=myqsv -filter_hw_device myqsv -qsv_device /dev/dri/ren

[2020-03-19 09:44] dmitryermilov commented on #2020
Please see [manual](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#mfxinfomfx ), **IdrInterval** field

[2020-03-19 09:58] hizel commented on #2020
`IdrInterval=-1` doesn't help me. Video player can't start play with any gop.

[2020-03-19 10:33] dmitryermilov commented on #2020
Sorry, I didn't get your point. You were asking about how to configure encoder without IDR on each I frame. Now you say it's not what you need.

[2020-03-19 19:45] dmitryermilov commented on #1992
Actual bitrate is 25% higher than requested. I agree that it's poor accuracy.  Could you prepare a reproducer with sample_encode and share an input YUV file?

[2020-03-20 05:51] lion117 commented on #1967
thanks.  I Will take a try

[2020-03-20 05:52] hizel commented on #2020
Hm, i check it. Looks like MSDK set invalid recovery_frame_cnt. `IdrInterval=-1` `GopOptFlag=0` and `RecoveryPointSEI = MFX_CODINGOPTION_ON` work for me, only with patch:

[code]

Encoded stream same as encoded libx264 opengop.

[2020-03-20 06:09] lion117 commented on #1904
I would like to provide  my  roi verion  sample_encode source code for you .

[2020-03-20 07:05] lakulako commented on #1904
Yes, this is what I asked. Better provide this as patch to msdk sample_encode.

[2020-03-20 09:50] lion117 commented on #1904
hi, I uploaded the source code into my cloud bucket.

### [src code](https://cdmd-1257623782.cos.ap-chengdu.myqcloud.com/upload/qsvdemo.zip)

### [yuv data](https://cdmd-1257623782.cos.ap-chengdu.myqcloud.com/upload/2645142_960x720.yuv)

roi core code . which u you search in src code
[code]

Any question about the source code , please let know

[2020-03-20 10:17] ViGill commented on #1992
Hi, you mean 25% lower. You mean reproducing with the exact same encoding paramerters ? This is challenging but I can try :)

[2020-03-20 10:40] dmitryermilov commented on #1992
Ahh, right, lower.
I asked about reproducer to simplify it for developers. Thanks!

[2020-03-20 10:45] ViGill commented on #1992
Yes of course I understand, no problem I'm on it! Thanks

[2020-03-20 13:37] ViGill commented on #1992
Hi,

after more investigations, it looks like it comes from lookahead...
I achieve the same result with the sample_encode app.

The fifo.yuv fifo is fed by the 2m30s file this way:

[code]
./sample_encode h264 -i /tmp/fifo.yuv -o encode.h264 -w 1920 -h 1038 -f 24 -b 392 -MaxKbps 440 -u balanced -g 72 -la -hw -dstw 512 -dsth 288  -num_slice 1 -x 3 -CodecLevel 22 -lad 10 -ws 72 -wb 440

encode.h264:

[2020-03-20 13:42] ViGill commented on #1992
File is here: http://dl.free.fr/svE0c5InL

[2020-03-20 14:06] dmitryermilov commented on #1992
@ogolikov , can you please comment?

[2020-03-20 14:18] dmitryermilov commented on #1992
@ViGill , please try set minQP = 1

[2020-03-20 14:39] ViGill commented on #1992
Hi @dmitryermilov , I think I found what I was doing wrong ...
-wb (winmaxavg) value should be higher to cope with video with big bitrate variation
- look_ahead_downsampling set to off also helps having better results

Using wb as 2*video_bitrate works very well, I now get output bitrates that are very close to what I request

Where could I upload the file ?

Thanks for you great support!

[2020-03-20 14:48] dmitryermilov commented on #1992
You're welcome!

Good. But please note it may affect performance because motion estimation on "full sized" surfaces will be slower than on downscaled surfaces.

@ogolikov , can you please comment?

Perhaps, google drive? Or you can send your email to dmitry.ermilov@intel.com, and I'll send an invitation to a shared syncplicity folder .

[2020-03-20 16:44] dvrogozh opened #2030 "clang-11 gives a number of warnings"
Tried self-build clang-11 (very tip of clang master branch):
[code]

[2020-03-22 07:16] nyanmisaka opened #2031 "[overlay_qsv] Unsupported pixel format: bgra"
This issue **only occurs on Windows** when burning in graphical subtitles into a video using ffmpeg `overlay_qsv` filter. The same command **works fine on Linux**.

Seems that there are some issues when handling bgra formart by using `hwupload=extra_hw_frames` with `overlay_qsv`. Unless I convert subtitles to nv12 format, it will report an error, but this will lose the alpha channel and will corru

[2020-03-22 20:06] dmitryermilov commented on #2031
@FurongZhang , please investigate

[2020-03-22 20:07] dmitryermilov commented on #2030
@dvrogozh , would you like to assign it?

[2020-03-23 07:04] dryjq opened #2032 "GPU hang found when did avc and hevc 8bit encode by using sample_encode on EHL platform"
GPU hang occurs when sample encode processes AVC and hevc 8bit streams, and there are many cases of failure. After analysis, it may be the cause of parameter “-u veryslow” and "-u slow",while  parameters "-u medium", "-u fast", "-u faster", "-u veryfaster" and so on will not cause this problem.
CMD:
sample_encode h264  -i /home/media_asset_nfs/yuv/stockholm_1280x720 _604_1280x720_I420.yuv -o /home

[2020-03-23 10:05] lion117 commented on #1967
Hi,  I had do some test. Here is my result .

![image](https://user-images.githubusercontent.com/3996029/77305295-b9b92d80-6d30-11ea-88bc-1033bb3b429f.png)

[2020-03-24 07:04] saosipov commented on #2032
Looks like timeout is exceeded. Could you increase it from cmd line?
Could you also share your cmd line for hevc encoding?

[2020-03-24 14:48] dvrogozh commented on #1843
@mgonchar : can you, please, comment?

[2020-03-24 15:19] mgonchar commented on #1843
@dvrogozh as I see we have some issues while assigning bit fields to std::ignore... I think I can rewrite macro which causes such errors

[2020-03-25 02:21] lion117 commented on #1904
hi , are there any I can help ?

[2020-03-25 02:28] lion117 opened #2039 "does qsv support h264 svc protocol ?"
Hi,  I wanna change the video encoder resolution dynamically  without reset qsv encoder , like the bitrate changes .
Does qsv support h264 svc or  hevc  shvc protocol ?
Or are  anythings I can do with qsv api?

[2020-03-25 17:11] dvrogozh commented on #1843
@jbeich : can you, please, check that #2038 solves the issue?

[2020-03-25 17:59] jbeich commented on #1843
I confirm, #2038 does fix build with clang/libc++ 8 (FreeBSD 11.3/12.1) and 10 (FreeBSD 13.0).

[2020-03-25 20:54] dmitryermilov commented on #1988
@egorovdanil , please now please remove this code:
https://github.com/Intel-Media-SDK/MediaSDK/blob/757ea72a2065c03942571a16c0cbe9cff51ef245/samples/sample_decode/src/pipeline_decode.cpp#L856 **and check MFX_FOURCC_P010 case with video memory**. It **shall** work because MSDK has to set "Shift" field in mfxVideoParams filled by DecodeHeader .

[2020-03-25 20:56] dmitryermilov commented on #1988
Also, I'm wondering if we need this:
https://github.com/Intel-Media-SDK/MediaSDK/blob/757ea72a2065c03942571a16c0cbe9cff51ef245/samples/sample_decode/src/pipeline_decode.cpp#L1143
It's 2nd priority after the request above but still, please check it by removing the code and decoding some VP9 10bit stream.

[2020-03-25 21:11] dvrogozh commented on #1843
cool. thank you.

[2020-03-25 21:13] #1843 closed

[2020-03-26 13:52] dmitryermilov commented on #1992
Hi @ViGill ,
We double checked. Basically Look Ahead behaves the right way in comparison to regular hardware BRC. LookAhead BRC tries to follow sliding window BRC condition (defined by winmaxavg). That's why it doesn't keep target bitrate.
HW BRC looks like ignore sliding window condition.

So if "wb as 2*video_bitrate" works for you, let's consider the issue addressed. Okay?

[2020-03-26 14:04] dmitryermilov commented on #2039
Hi @lion117 ,

Unfortunately, SVC is not supported.

[2020-03-26 14:47] sndirsch opened #2047 "Sigill on CPUs without sse4 extension like AMD"
Applications are crashing with SIGILL on CPUs without sse4 extension like AMD, which offer only up to "sse2". Library can't be build with "-msse2" either. See some more details on

https://bugzilla.suse.com/show_bug.cgi?id=1167346

[2020-03-26 15:36] dmitryermilov commented on #1967
Can it be closed?

[2020-03-26 17:02] dmitryermilov commented on #2047
@sndirsch , what MSDK API level function call causes the crash ? mfxInit() or something else ?

[2020-03-26 18:57] sndirsch commented on #2047
@dmitryermilov Honestly I don't know. I don't know more than you can find in the referenced bug above. Did you have a look?

[2020-03-26 20:37] dmitryermilov commented on #2047
Yes, I looked but didn't find that info there. It's okay.

[2020-03-26 21:32] dvrogozh commented on #2047
As correctly pointed in the suse bug we force sse4.2 here:
https://github.com/Intel-Media-SDK/MediaSDK/blob/19d11bf1cfd4c7699d1d146d7c3e43c39ffd6038/builder/ConfTargets.cmake#L23

And we have at least the following places to take care of we will try to remove this restriction:
1. Fast copy which is a mix of SSE2 and SSE4.1: https://github.com/Intel-Media-SDK/MediaSDK/blob/master/_studio/shared/inc

[2020-03-26 23:15] dvrogozh opened #2048 "asc: avx2 code path is not actually enabled"
AVX2 optimized path in ASC implementation:
https://github.com/Intel-Media-SDK/MediaSDK/blob/19d11bf1cfd4c7699d1d146d7c3e43c39ffd6038/_studio/shared/asc/src/asc_avx2_impl.cpp#L22

isn't actually enabled because we build mediasdk for sse4.2:
https://github.com/Intel-Media-SDK/MediaSDK/blob/19d11bf1cfd4c7699d1d146d7c3e43c39ffd6038/builder/ConfTargets.cmake#L23

[2020-03-27 06:35] dryjq commented on #2032
The cmd of hevc encoding is :
sample_encode -hw h265  -i /home/media_asset_nfs/yuv/stockholm_1280x720_604_1280x720.P010 -o 1.h265 -w 1280 -h 720 -b 1000 -f 50 -u veryslow -num_slice 1 -idr_interval 1  -r 3 -g 30 -x 3 -vbr -lowpower:on

Error:
[MOS]:  CRITICAL - SubmitCommandBuffer:1129: Command buffer submission failed!
[CODEC]:CRITICAL - SubmitCommandBuffer:5481: MOS returned error, eStatus = 0x2

[2020-03-27 06:37] dryjq commented on #2032
The cmd of hevc encoding is :
sample_encode -hw h265  -i /home/media_asset_nfs/yuv/stockholm_1280x720_604_1280x720.P010 -o 1.h265 -w 1280 -h 720 -b 1000 -f 50 -u veryslow -num_slice 1 -idr_interval 1  -r 3 -g 30 -x 3 -vbr -lowpower:on

Error:
[MOS]:  CRITICAL - SubmitCommandBuffer:1129: Command buffer submission failed!
[CODEC]:CRITICAL - SubmitCommandBuffer:5481: MOS returned error, eStatus = 0x2

[2020-03-27 17:26] aobolensk opened #2053 "Is MFX_EXTBUFF_VPP_SCENE_ANALYSIS option supported?"
It was discovered in #2035 that bSceneDetectionEnable field in mfxExecuteParams is not changed anywhere (except setting to 0). So what about MFX_EXTBUFF_VPP_SCENE_ANALYSIS option?

[2020-03-27 20:48] dmitryermilov commented on #2053
https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md:

MFX_EXTBUFF_VPP_SCENE_CHANGE | Deprecated.
-- | --

[2020-03-27 21:14] #2039 closed

[2020-03-27 21:18] dvrogozh commented on #2053
Do we need to delete corresponding path in mediasdk library? Specifically:
https://github.com/Intel-Media-SDK/MediaSDK/blob/1f9e67b2db7b680af142376f264a61df8d5c50f1/_studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp#L6179
once #2035 will be merged this if condition will become empty.

[2020-03-27 21:24] dmitryermilov commented on #2053
I think so

[2020-03-30 02:45] YaboWei opened #2054 "MSS 2018_16.9_00183 DecodePicture coredump"
Blew is the coredump stack for MSS 2018_16.9_00183. And I could't reproduce this coredump

#0  0x00007f52eaafc78a in ?? () from /opt/intel/mediasdk/lib64/iHD_drv_video.so
#1  0x00007f52ea96613b in ?? () from /opt/intel/mediasdk/lib64/iHD_drv_video.so
#2  0x00007f52eaa2e193 in ?? () from /opt/intel/mediasdk/lib64/iHD_drv_video.so
#3  0x00007f52ea8d046c in ?? () from /opt/intel/mediasdk/lib64/iHD_dr

[2020-03-30 04:59] xhaihao opened #2055 "sample_vpp doesn't support 12bit formats"
I can't set 12 bit formats for src and dst videos in sample_vpp.

[code]

[2020-03-30 07:50] dmitryermilov commented on #2054
@hongbolv , please assign to the right owner.

[2020-03-30 07:56] hongbolv commented on #2054
@YaboWei can you share the reproduce step and test stream?

[2020-03-30 09:20] #2030 closed

[2020-03-30 15:25] mpushki commented on #1904
Hi @lion117 , I couldn't build your solution, so I will add your changes to our sample_encode and investigate your issue.

[2020-03-30 16:54] egorovdanil commented on #1988
@dmitryermilov, I checked VP9 and MFX_FOURCC_P010 with video memory, it works. And also I checked other samples and tutorials pipelines that CreateHWDevice() called right after QueryIMPL() and before Query() call, they looks right.

[2020-03-30 18:49] dmitryermilov commented on #1988
Cool! Thank you very such.

[2020-03-30 18:50] #1988 closed

[2020-03-31 01:51] lion117 commented on #1904
HI, I rebuilded  RunIntelDemo.sln which  builded successfully.

[2020-03-31 01:55] #1967 closed

[2020-03-31 06:18] YaboWei commented on #2054
hi, @dmitryermilov , i will try laste media stack, do you means Media SDK 19.4.0?

[2020-03-31 07:33] dmitryermilov commented on #2054
Yes, this is latest release.

[2020-03-31 18:54] mpushki commented on #1904
I use VS 2017.  i5-6300(SKL)
I added your code:
[code]

in `CEncodingPipeline::InitMfxEncParams` sample_decode from MediaSDK.

AVC
it works fine for -cqp and -cbr:
[code]
HEVC
Windows SKL doesn't support ROI for HEVC.

I run this cmd on ICL - and it works.
[code]
For additional information:
Linux SKL supports ROI for both of codecs.

I hope it helps you.

[2020-04-01 02:19] lion117 commented on #1904
Thanks  , I will take a try for the AVC operation.
By the way , I have a question about how do you run the cmd on ICL.

[2020-04-01 09:29] mpushki commented on #1904
@lion117, ICL is next generation of CPU , for example I tested on i7-1060G7.
cmd was the same.

[2020-04-01 15:41] dmitryermilov commented on #2020
Hi @hizel ,

BTW, Could you share an example of stream from x264?

Generally, yes, I think this place is buggy. But your change doesn't seem to be an ideal solution. But let's leave it aside for some time.
Major question: could you explain why you need recovery SEI points?

[2020-04-04 06:31] YaboWei opened #2063 "For Media SDK 19.4.0, actual bitrate is a little higher than target bitrate when la"
I tested Media SDK 19.4.0 recently and find that the actual bitrate is a little higher than target bitrate. Media SDK 16.9(2018 R2) is OK.
command:
`ffmpeg -init_hw_device "qsv=hw" -filter_hw_device hw -f rawvideo -s 1920x1080 -pix_fmt yuv420p -r 30 -i chiji_Ad24DdIRwHI_60s.264.yuv -vf hwupload -c:v h264_qsv -preset:v veryslow -b:v 5000k -maxrate:v 6000.0k -bufsize:v 5000k -look_ahead 1 -look_ahea

[2020-04-06 15:21] zcwang commented on #798
Hi All,
Does MSDK 19.4.0 (or the latest upstream of MSDKr) support GLK in Linux?
https://github.com/Intel-Media-SDK/MediaSDK/releases/tag/intel-mediasdk-19.4.0

Thanks!
Gary

[2020-04-07 08:46] ViGill commented on #1992
Hi @dmitryermilov, thanks for your comment and sorry for the lack of answer the past 12 days, to be honest I did not see the mail notification of your answer :)

Anyway,  I moved forward and deployed this whole new software release on half our encoding farm (our farm is composed of around 180 m710x cartridges).
So it means:
- 90 cartridges running latest MSDK/ffmpeg 4.2.2/Kernel 5.3.0
- 90 cartrid

[2020-04-07 14:42] dmitryermilov commented on #2063
Hi @YaboWei ,

Can you please prepare a reproducer with sample_encode?

[2020-04-07 14:44] OpenSourceAnarchist opened #2065 "What platforms support MFX_FRCALGM_FRAME_INTERPOLATION?"
I know Haswell (gen 4) supports this algorithm, but are modern CPUs still supported? Additionally, there were reports (see this unresolved thread: https://software.intel.com/en-us/forums/media/topic/538086) that the algorithm simply duplicates frames without interpolating them. What is the best way to ensure frame interpolation occurs?

I was hoping Intel's frame interpolation approach would work

[2020-04-07 14:49] dmitryermilov commented on #2065
As far as I know MediaSDK VPP never supported interpolation in FRC, it always was a dummy frame duplication/dropping.
@FurongZhang , can you please clarify from HW side?

[2020-04-07 15:07] OpenSourceAnarchist commented on #2065
Thanks for the clarification. Since Intel Media Server Studio is closed-source, I suppose it would be difficult to copy that functionality to MediaSDK, if it was ever supported. Apparently this was a hardware-only feature and was never implemented as a sw algorithm.

[2020-04-07 15:09] #1641 closed

[2020-04-07 15:13] #2053 closed

[2020-04-07 15:36] OpenSourceAnarchist commented on #2065
I hate to keep commenting, but according to the article here: https://software.intel.com/en-us/articles/frame-rate-conversion-frc-in-intel-media-sdk, the interpolation algorithm was a part of MediaSDK, at least at one point. I'm not sure if this helps, but it was exposed as of version 1.6 of the API, and according to the 2014 Developer's Guide (see https://jp.xlsoft.com/documents/intel/media/2014/

[2020-04-07 16:32] dmitryermilov commented on #2065
Thanks @OpenSourceAnarchist . I checked old internal documentation and MSS code. Indeed, it supported FRC with interpolation (at least on HSW). Let's wait for Furong's reply.

[2020-04-07 20:29] dmitryermilov commented on #1992
Hi @ViGill ,

You're welcome.
No problem!

Regarding performance drop, I'd propose to separate this issue. Let me close the current and create another one on our behalf.

[2020-04-07 20:33] dmitryermilov opened #2066 "Transcode with 5.3 kernel is slower than MSS 4.14 patched kernel using the same user mode media stack"
This issue is a continuation of #1992 :

...
Anyway,  I moved forward and deployed this whole new software release on half our encoding farm (our farm is composed of around 180 m710x cartridges).
So it means:
- 90 cartridges running latest MSDK/ffmpeg 4.2.2/Kernel 5.3.0
- 90 cartridges running MSDK 2018R2/ffmpeg 3.4.1/Kernel 1.14 patched

=> After a week of run, and hundred of thousands of encodin

[2020-04-07 20:37] #1992 closed

[2020-04-07 20:37] dmitryermilov commented on #2066
@ViGill,

Does it mean that you updated MediaSDK + media driver ? Or only MSDK?

[2020-04-07 21:09] catid commented on #1470
Thanks!  This fixed it for me too.  My environment is Ubuntu 18.04 kernel 4.18.0-25, building intel-media-sdk, libva, libdrm via Nix package manager, and then executing my test like this to reference the Ubuntu libs:

`
# Create /run/opengl-driver/lib/dri symlink:
sudo mkdir /run/opengl-driver/
sudo mkdir /run/opengl-driver/lib
sudo ln -s /usr/lib/x86_64-linux-gnu/dri/ /run/opengl-driver/lib/dri

[2020-04-08 06:52] xhaihao commented on #2055
@FurongZhang  Any update for this issue? I'd like to give a try with 12bit csc on TGL by using sample_vpp.

[2020-04-08 07:21] ViGill commented on #2066
Hi @dmitryermilov, thanks for creating a new issue, it's indeed more appropriate.
Yes I use the new media driver  as well.
To sum up I compared the kernel using the following config:

FFmpeg 4.2.2
intel-gmmlib-19.4.1
intel-media-19.4.0
intel-mediasdk-19.4.0
libdrm-2.4.100
libva-2.6.1

Thanks

[2020-04-08 19:17] onabiull commented on #2066
Unfortunately this config are not consistent with 19.4.0 release. There was newer tag in media-driver since 19.4.0. Could you  please give https://github.com/intel/media-driver/releases/tag/intel-media-19.4.1 a try?
Or just switch to latest available release? Please note that Media SDK 20.1.0 should be matched with https://github.com/intel/media-driver/releases/tag/intel-media-20.1.1 . I'm going t

[2020-04-09 06:32] #2048 closed

[2020-04-10 07:39] lion117 commented on #1904
HI, I had tried the method which you mentioned. But It still didnot work.
I Add the Roi  code in the sample_encode demo on the CEncodingPipeline::InitMfxEncParams function.

Could you provide the sample code And the sample_encode.exe for me  ?

[2020-04-11 08:30] ViGill commented on #2066
Hi, thanks! when I tried I am pretty sure 19.4.0 was the latest available tag.
I ll upgrade  to 2020 release on Tuesday ! Thanks

[2020-04-12 18:56] dmitryermilov commented on #2066
Hi @ViGill ,

Yes, info from Oleg above aimed to highlight 19.4.0 is not the best anymore. Just for your information.
Let me post more details with focus on your problem later.

[2020-04-13 14:54] YaboWei commented on #2063
@dmitryermilov Sorry for my late reply.
`sudo ./MediaStack/opt/intel/mediasdk/share/mfx/samples/_bin/sample_encode h264 -i ~/chiji_Ad24DdIRwHI_60s.yuv -o a.264 -w 1920 -h 1080 -r 30 -g 90 -la -lad 30 -b 5000 -u veryslow`

outputs:
`libva info: VA-API version 1.6.0
libva info: Trying to open /opt/intel/mediasdk/lib64/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_6
libva info: va

[2020-04-14 07:29] eblanca opened #2075 "hevc_qsv encoder into ffmpeg, controlling options"
Hi, I managed to build ffmpeg with MediaSDK support on my LMDE4 distro (it is Debian based) and when I ask for encoder options (in this case hevc_qsv) I get:
[code]
Where can I get more details about them?
What I would like is more knowledge of what they do and how I can tune in order to get my personal balance for encoding time, visual quality and final file size but I need to understand them bet

[2020-04-14 11:18] #2001 closed

[2020-04-14 11:24] dmitryermilov commented on #1810
Please see https://github.com/Intel-Media-SDK/MediaSDK/pull/2034/commits . From MSDK API perspective there is no need to additional session.

[2020-04-14 11:53] guoyejun opened #2076 "roi query of mpeg2 returns unsupported"
MFXVideoENCODE_Query is a general interface to query for mpeg2, hevc, h264 etc. It makes sense that it returns unsupported when query for mpeg2, but it is not very friendly.

- there might be many things for the query, so user does not know straightforwardly which is not supported.

- user usually uses the same code to query for mpeg2, hevc and others. It would be better that it returns ok with su

[2020-04-15 05:07] guoyejun opened #2077 "ROI query with MFXVideoENCODE_Query changes the HEVC encoding result"
I'm adding ROI support for ffmpeg/qsv which invokes MediaSDK, and found that roi query changes the HEVC encoding result (with no ROI).  I found this issue because the PSNR changes much in my internal test.  My understanding is that the encoded result should be the same if I just do roi query.

I narrowed down to one frame, and to reproduce it:
$ git clone https://github.com/guoyejun/ffmpeg.git
$ c

[2020-04-15 18:30] dvrogozh opened #2078 "20.1.0: in-source version is hard to be seen"
https://github.com/Intel-Media-SDK/MediaSDK/blob/3d6abcfb19ba2e31b6a8d32cddd1893c3e419ffc/CMakeLists.txt#L27

~~Please, bump in-source version to match release tag and provide release update fixing the issue. I.e., please, update in-source version to 20.1.1 and make corresponding release.~~

Part of in-source version is hidden here (mind 0):
https://github.com/Intel-Media-SDK/MediaSDK/blob/3d6abcf

[2020-04-16 05:03] onabiull commented on #2078
Media SDK version in 20.1@**intel_mediasdk-20.1.0** branch exactly **mediasdk_version: 20.1.0**

What is wrong here? If we would issue an release update it would be bumped to 20.1.1.

[2020-04-16 05:32] dvrogozh commented on #2078
Ah, I see. I overlooked 0 hiding on the next line:
https://github.com/Intel-Media-SDK/MediaSDK/blob/3d6abcfb19ba2e31b6a8d32cddd1893c3e419ffc/CMakeLists.txt#L28

Why you just didn't use this:
`set(MEDIA_VERSION 20.1.0)`
which would be simpler? or it does not work for some reason?

[2020-04-16 05:53] onabiull commented on #2078
Take a look at master version of the file:
[code]

CMake project() function won't accept anything besides just numbers.

[2020-04-16 06:21] dvrogozh commented on #2078
I don't argue about "pre". But 20.1.0 should be just fine, isn't it?

[2020-04-16 06:54] onabiull commented on #2078
I kind of agree :) Two-line change looks harmless enough given better version visibility in release branches. Still  I propose to change this going forward. 20.1.0 are good enough.

[2020-04-16 07:00] HermanMolinder commented on #1658
Hi @dmitryermilov,

We've updated to Media SDK 20.1.0 and I just want to inform you that the changes in #1700 works as expected.

BR
Herman

[2020-04-16 07:37] dmitryermilov commented on #1658
Hi Herman,

Thanks for confirmation!

Regards,
Dmitry

[2020-04-16 08:34] ViGill commented on #2066
Hi,

so I made more tests with kernel 5.3.0.
I took 90 encoders that I cut in 3 test-farms, all running the latest userland versions (msdk 19.4.1,...)
Farm 1: kernel 5.3.0 without security patches (https://linuxreviews.org/HOWTO_make_Linux_run_blazing_fast_(again)_on_Intel_CPUs)
Farm 2: Kernel 5.3.0 vanilla, no change
Farm 3: Kernel 4.14 + qsv patches

Here are the result during 24h of transcoding

[2020-04-16 09:52] ViGill commented on #2066
Hi,

I am about to migrate to:
intel-gmmlib-20.1.1.tgz
intel-media-20.1.1.tgz
intel-mediasdk-20.1.0.tgz

Should I wait for intel-mediasdk-20.1.1 ?

Thanks

[2020-04-16 12:48] YaboWei opened #2079 "Is there any tools to monitor qsv's memory usage like nvidia-smi for NVIDIA?"

[2020-04-16 13:31] dvrogozh commented on #2078
Definitely. No need to change this right now and go with the release update. This is not that serious issue.

[2020-04-16 19:54] mmulhaupt opened #2081 "Transcode file size - 32 vs 64 bit windows..."
I'm running code based on simple_5_transcode_vmem tutorial, using the media sample file test_stream.264 as an input - with the arguments "-hw -b 100 -f 1/30 C:\Intel\data\test_stream.264 C:\Intel\data\out.264".

Running on i7-6700K processor, Windows 10, using VS2017, and upgrading the example to use my corresponding 2017 toolchain.

When I run this example in 32 bit mode, I get a resultant file o

[2020-04-18 11:12] 3xLOGICKevinHan opened #2083 "Missing x86 plug-in binaries in Windows MediaSDK 2019 R1"
Hi,
"MediaSDK\tutorials\simple_2_decode" is originally used to demonstrate decoding AVC(H.264) ES file. I changed it a bit.
1) MFX_IMPL_AUTO_ANY -> MFX_IMPL_SOFTWARE // force to use software decode
2) MFX_CODEC_AVC -> MFX_CODEC_HEVC // cope with HEVC instead of AVC file

But I got MFX_ERR_UNSUPPORTED  from  "sts = mfxDEC.DecodeHeader(&mfxBS, &mfxVideoParams);". If I used "MFX_IMPL_HARDWARE" instea

[2020-04-20 02:45] lion117 commented on #1904
Hi, Are you still on call ?

[2020-04-20 06:34] AntonGrishin commented on #2079
We have a [metrics monitor tool](https://github.com/Intel-Media-SDK/MediaSDK/tree/master/samples/metrics_monitor) which is part of our samples ([documentation](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/samples/readme-metrics_monitor_linux.md))

[2020-04-20 07:57] YaboWei commented on #2079
But metrics_monitor has no memory usage message:
`[root@bjm7-tc96 _bin]# LD_LIBRARY_PATH=./ ./metrics_monitor
RENDER usage: 48.17,	VIDEO usage: 43.18,	VIDEO_E usage: 0.00	VIDEO2 usage: 9.97	GT Freq: 1099.87
RENDER usage: 56.62,	VIDEO usage: 42.62,	VIDEO_E usage: 0.00	VIDEO2 usage: 12.78	GT Freq: 1099.88
RENDER usage: 49.56,	VIDEO usage: 42.88,	VIDEO_E usage: 0.00	VIDEO2 usage: 10.69	GT Freq: 1099.

[2020-04-20 09:01] dmitryermilov commented on #2083
Hi @3xLOGICKevinHan ,

Software codecs have been de-prioritized. They were a part of MediaServerStudio. Now they are not supported by Linux GitHub MediaSDK. Why would you like to use them?

[2020-04-20 09:22] 3xLOGICKevinHan commented on #2083
Hi @dmitryermilov ,
Thanks a lot for your reply. I have spent some time on my issue. Finally I found I have to add following code which is from "simple_decode_hevc10.cpp".

`   // 4. Load the HEVC plugin
    mfxPluginUID codecUID;
    bool success = true;
    codecUID = msdkGetPluginUID(impl, MSDK_VDECODE, mfxVideoParams.mfx.CodecId);

    if (AreGuidsEqual(codecUID, MSDK_PLUGINGUID_NULL)) {

[2020-04-20 14:44] HermanMolinder opened #2087 "Joint VPP sessions seems to fail synchronize pipeline"
My setup:
(Decode1->VPP1)->(VPP2)->SyncOperation

Session 1: Decode1 + VPP1
Session 2: VPP2

 Session 1 and 2 are joined. VPP1 does some resizing and frc. VPP2 does composition.

With this setup VPP2 sometimes unexpectedly processes the previously stored frame on the input surface, making the video "stutter". As if VPP1 hasn't finished writing its new output to that surface.
If I add a SyncOperati

[2020-04-21 08:42] mpushki commented on #1904
Hi @lion117 Sorry for delay, I will prepare sample code which should works today

[2020-04-21 08:44] lion117 commented on #1904
please send the sample code to my email   ngixpro@qq.com

[2020-04-21 11:17] dmitryermilov commented on #2083
Hi @3xLOGICKevinHan ,

I've double checked. It's not by mistake. Even is release notes it's said:
_Common/general limitations:
...
This release supports only 64-bit Microsoft* Windows* applications_

[2020-04-21 11:23] 3xLOGICKevinHan commented on #2083
Hi @dmitryermilov ,
Thanks for your clarification. So if I want to use HEVC software decoding in 32bit windows app anyway, where should I get a version that supports 32bit window app?

Thanks

[2020-04-21 11:34] dmitryermilov commented on #2083
Unfortunately, there is no way to do it.

[2020-04-21 11:43] 3xLOGICKevinHan commented on #2083
Hi @dmitryermilov ,
Thanks. I have another question. According my understanding from the sample_code.cpp, no matter hw/sw decoding you are using, only NV12 image format can be used with the output surface (system/video memory surface). Is this true? How should I do to make it to be YV12/YUP420P?

Thanks

[2020-04-21 12:24] dmitryermilov commented on #2083
You're welcome. Sorry about it.
Regarding NV12, you're right. You can do color conversion by regular MediaSDK VPP interface.

BTW, I'm still wondering, why would you like to use SW HEVC? What HW do you have?

[2020-04-21 12:30] 3xLOGICKevinHan commented on #2083
Hi @dmitryermilov ,
I'm working on a lagency code. We don't want to touch its render part of code. Also we have a limitted development timeline.
Our original code is using ffmpeg library to decode HEVC frames. We found there are performance issue with it. So what I'm doing is, I want to compare HEVC decoding performance between intel msdk and ffmpeg library.

Sure I should try HW decoding, but it'

[2020-04-21 12:32] 3xLOGICKevinHan commented on #2083
Hi @dmitryermilov ,
Do you have any idea on the performance comparision between ffmpeg library and intel msdk when decoding HEVC frames?

[2020-04-21 12:57] dmitryermilov commented on #2083
I see.
I don't think we made such comparison. But in general SW HEVC should demonstrate good performance. You can do quick tests by running via sample_decode.

Regards,
Dmitry

[2020-04-21 13:18] 3xLOGICKevinHan commented on #2083
Hi @dmitryermilov ,

I have a file "moredata.h265". If decoding it using ffplay.exe, then it succeeds. But if I use sample_decode.exe to test it, there's errors.
`sts = mfxDEC.DecodeFrameAsync(&mfxBS, &pmfxSurfaces[nIndex], &pmfxOutSurface, &syncp);`
this line is returning "MFX_ERR_MORE_DATA".
Can you please help me with this issue?

[2020-04-21 13:19] 3xLOGICKevinHan commented on #2083
[moredata.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/4510193/moredata.zip)

[2020-04-21 13:22] mpushki commented on #1904
@lion117 I noticed that source code was changed and my previous code needs to correct. I need more time to understand what was changed and test ROI again.

[2020-04-21 13:31] 3xLOGICKevinHan commented on #2083
Hi @dmitryermilov ,
I presume this is a intel msdk bug. If I run "ffplay.exe moredata.h265", it can decode & show the image successfully. But if I use sample_decode.exe (sw + 64bit) to test this same file, it failed with above error (MFX_ERR_MORE_DATA). This is NOT reasonable. Since ffplay.exe works, there's no reason that intel msdk fails.
Could you help me on this? Many thanks!

[2020-04-21 13:40] 3xLOGICKevinHan commented on #2083
Hi @dmitryermilov ,
Sorry, it seems my understanding of the code is incorrect. The sample_decode.exe does work. I will confirm it & come back.
Thanks

[2020-04-21 15:36] mpushki commented on #1904
@lion117 Could please download last version of MediaSDK.
And add next ROI code to pipeline_encode.cpp:
[code]

Also add changes to sample_utils.h to `struct  mfx_ext_buffer_id`:
[code]
It works for AVC -cbr

[2020-04-21 16:24] vassjozsef commented on #1953
We did not see this issue, it could be a one-off. I am closing the issue for now.

[2020-04-21 16:24] #1953 closed

[2020-04-21 16:28] dmitryermilov commented on #2066
Hi @ViGill ,

Sorry for late reply.
Let me highlight something just to be on the same page:
4.14 kernel from MSS package was a special kernel. It had a number of custom i915 (Intel graphics kmd) patches. Some kernels were upstream, other other were not accepted by i915 maintainers. Plus, latest kernels have changes which were absent in MSS 4.14 kernel (e.g. i915 internal task scheduler, Spectre/Me

[2020-04-22 03:27] lion117 commented on #1904
I had tried IntelMediaSdk 2018 R2 and IntelMediaSdk 2019R1 . This solution was still not work .
Could u provide the sample code or exe which could work?
I think that would be more efficient

[2020-04-22 11:14] 3xLOGICKevinHan commented on #2083
Hi @dmitryermilov ,
I have made my code work. Also, I downloaded a 32bit "mfxplugin32_hevcd_sw.dll" from internet. It makes my x86 app works too.
I still have a question. Does intel msdk works if a PC is using AMD CPU? If it works, how is the performance?
FYI: I just compared the performance between ffmpeg and intel msdk. Intel msdk does have better performance even using sw decoding. It should be

[2020-04-22 11:17] dmitryermilov commented on #2079
Hi @YaboWei ,

I'm not aware of such tool right now. But it doesn't seem to be strongly needed right now because in integrated graphics, video memory is the same RAM memory.
For system memory, you can use _top_ tool to check the VIRT (total memory allocation) and RES (memory working set) size. Please note that the memory working set also includes some mapped buffers from video memory.
Regarding vi

[2020-04-22 11:25] dmitryermilov commented on #2083
Hi @3xLOGICKevinHan ,

Interesting :)

We don't support/validate such configurations.

Great! Good to know it helped you.

[2020-04-22 11:30] dmitryermilov commented on #2081
@mpushki , please take a look when you have bandwidth

[2020-04-22 11:32] dmitryermilov commented on #2054
Any news?

[2020-04-22 11:36] 3xLOGICKevinHan commented on #2083
Hi @dmitryermilov ,
Many thanks for your help on this. You helped me clarify many things. I will just close this ticket.
:)

[2020-04-22 11:36] #2083 closed

[2020-04-22 11:37] dmitryermilov commented on #2083
You're welcome Kevin!

[2020-04-23 08:12] mpushki commented on #1904
Please try this exe file
[sample_encode.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/4521112/sample_encode.zip)

[2020-04-23 09:33] lion117 commented on #1904
![image](https://user-images.githubusercontent.com/3996029/80083050-bf9c6b80-8587-11ea-8c06-d4b7e0d33d9d.png)

I  had tested  the sample_encode.exe on windows 7  that you provided  which still not worked.
Are there any solution that could make the qsv roi work on  windows without relaying on any specified environment ?

[2020-04-23 09:47] mpushki commented on #1904
Do you have the latest video driver installed on your machine?

[2020-04-23 09:52] lion117 commented on #1904
what kind of video driver ?

[2020-04-23 10:00] mpushki commented on #1904
![image](https://user-images.githubusercontent.com/4003435/80086464-6f5ee280-8562-11ea-8f23-406929d85c9c.png)

[2020-04-23 10:03] lion117 commented on #1904
![image](https://user-images.githubusercontent.com/3996029/80086649-98946880-858c-11ea-8d2a-12a9b1bdf411.png)

yes , I had installed the latest graphic driver

[2020-04-23 10:24] mpushki commented on #1904
I've checked intel.com and found more recent version -> https://downloadcenter.intel.com/download/29475/Intel-Graphics-Driver-for-Windows-15-45-?wapkw=intel%20hd%20graphics

Please try to install and report results with new driver.

[2020-04-23 11:28] alexelizarov commented on #2077
Hi @guoyejun ,
Could you please provide both qsv.h265 coded with ROI query and qsv.h265 coded without ROI query?

[2020-04-23 11:32] lion117 commented on #1904
I think graphic card driver is not  an issue. Even I updgraded it to the latest version . It was still not working .
![image](https://user-images.githubusercontent.com/3996029/80094545-047cce00-8599-11ea-83ef-c9e5837f0b7e.png)
Maybe you should test your code on a new computer.

[2020-04-23 13:59] mpushki commented on #1904
I've tested code on new computer and it works too.
![image](https://user-images.githubusercontent.com/4003435/80107404-b14c5080-8583-11ea-89f7-cc4ff98c085e.png)

[2020-04-23 16:15] mpushki commented on #1904
@lion117 Could you please install Window 10, 64 bits? And try to run sample_encode on new OS.
Also Microsoft's support for Windows 7 ended on January 14, 2020, I suggest to move to Win 10 anyway.

[2020-04-24 12:56] dmitryermilov commented on #2075
Hi @eblanca ,

Detailed reply to your question requires a separate wiki page. Actually we've already considered such page but didn't start writing it.
Right here, I can give you only some hints. I hope it will be enough. If not, please tell what exact option(s) you're interested in.
First of all, all parameters above are from MediaSDK API. You can find their description in the [manual](https://git

[2020-04-24 12:56] #2014 closed

[2020-04-24 13:48] softworkz commented on #1949
Hi Dmitry,

you closed the issue, does it mean that it's implemented already?

Best regards,
softworkz

[2020-04-24 14:51] dmitryermilov commented on #1949
Hi @softworkz

I agree with you. Let tag "feature request" and keep it open.

[2020-04-24 14:58] softworkz commented on #1949
Great, thanks!

[2020-04-24 14:59] lakulako commented on #2077
@guoyejun, Query verufies and corrects encoding parameters. If you want it to have no effect from Query use different structures in Query(src, dst). Return value tells if parameters were corrected when possible or rejected.
You can compare src and dst to find out what is incorrect.
In your encoded stream one can see that after query ROI affected the encoding. Without query it doesn't, most likely

[2020-04-24 16:03] mpushki commented on #2081
Hi @mmulhaupt, could please provide your project and stream which you use?

[2020-04-24 16:33] mmulhaupt commented on #2081
Here is a stripped down project, including the stream.  This folder should go into the same folder as the other mediasdk-tutorials-0.0.3 examples (makes use of a few common utilities).

[simple_5_transcode_vmem_tmp.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/4530171/simple_5_transcode_vmem_tmp.zip)

[2020-04-25 00:26] guoyejun commented on #2077
let's simplify the issue.

case 1:
query(many things + roi)
encode

case 2:
query(many things)
encode

All other things are exactly the same except the 'roi' query. And I double checked that the roi query parameter are right, and so no correction needed here.

For the 'many things' in the query, case 1 and case 2 should behavior exactly the same, no matter 'many things' have invalid parameters or

[2020-04-25 08:20] eblanca commented on #2075
Hello Dmitry, thanks for your hints.
While as a user I appreciate the idea of the wiki page, as a programmer I love that manual!
I am currently digging into ffmpeg source code and that manual has a lot of answers, great!
Gosh, I should have found it weeks ago!

I already had a brief view of the entire manual and some questions arose:

1. what's the difference in use case for the function classes `

[2020-04-25 13:28] dmitryermilov commented on #2075
Hello @eblanca ,

Most likely you don't need MFXVideoENC . MFXVideoENC is a special interface for encoder users who needs low level access to tune encoders quality. I'd advise to look at https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdkfei-man.md. It's a FEI manual. FEI implements ENC/PAK interfaces.  This document explains idea of ENC and PAK (especially https://github.com/Inte

[2020-04-25 15:18] YaboWei commented on #2063
@dmitryermilov please check my sample_encode result, thanks!

[2020-04-26 02:23] lion117 commented on #1904
I will

I had tried the sample_encode.exe on win10 which cpu was  intel I7-9700. The result was still  -3 (not supported).

[2020-04-26 02:46] lion117 commented on #1904
Had the roi feature effected on the video ?
Are there any solution to make the sample_ecode.exe work on more computers?

[2020-04-27 07:15] ViGill commented on #2066
Hi,

my turn to be sorry for the delay :) I need to fix these notifications!
Thanks for the document link, I'll read it.

I also did a test with kernel 5.3 and special kernel cmdline flags to remove motigations (basically a lot of them but only mitigations=off is need afaik on this kernel version).
Unfortunately, even if it improves a bit the perf, we are still far from this mighty kernel 4.14 wit

[2020-04-27 07:31] mpushki commented on #1904
Hi @lion117 Could please rebuild libmfx_vs2015.lib with lasted changes from MediaSDK repo and send me your caps

[2020-04-27 07:43] mpushki commented on #1904
Have you updated driver on new machine?

[2020-04-27 07:52] mpushki commented on #1904
Also could you please put breakpoint to Query, and find line (from lib) which return error. Maybe problem is not in ROI.

[2020-04-27 07:59] lion117 commented on #1904
### Could you please rebuild libmfx_vs2015.lib with lasted changes from MediaSDK repo and send me your caps
I don't think the unsupported error has relationship with libmfx_vs2015.lib , because I used the sample_encode.exe which had link the latest libmfx.lib .

[2020-04-27 08:24] lion117 commented on #1904
I  had tried to prohibit the roi code . then it worked.
if roi  was enabled , when call  query api, it return  -3 error

[2020-04-27 09:31] lakulako commented on #2077
Query may have different "opinion". Please check how Query parameters.

[2020-04-27 09:40] mpushki commented on #1904
Please check Query parameters and compare src, dst

[2020-04-27 10:26] alexelizarov commented on #2077
Hi, @guoyejun
I checked your encoded files.
File encoded without ROI query have QP=15 in all CUs.
File encoded with ROI query have different QP values from LCU to LCU.
Different QP values caused different file sizes, it is expected.
Seems that ROI really applied not just queried.
Could you check what ROI rectangles (coordinates and QP deltas) are you passed to Query?

[2020-04-27 12:01] guoyejun commented on #2077
they are exactly the 'same' in my case, not 'different', thanks.

[2020-04-27 12:03] guoyejun commented on #2077
i mentioned the code, and just copy again. thanks, and also see detail at https://github.com/guoyejun/ffmpeg/blob/qsvroi/libavcodec/qsvenc.c#L805
[code]

[2020-04-27 16:29] mpushki commented on #2081
@mmulhaupt What is the purpose of your changes in addition to upgrading the example to use your toolchain?
Have you tried original code?

[2020-04-27 17:47] mmulhaupt commented on #2081
I originally started using the example to figure out how to use the MSDK with hardware buffers, instead of the software buffers I am currently using.  I then started modifying the example to bring it more in line with my existing code base.  As mentioned, examining the first several packets, seems like the 64 and 32 bit code both generate the same I/B/P frame sequences, and the I-frames are the sa

[2020-04-27 20:14] dvrogozh commented on #2047
We finished code refactoring and now we are ready to remove enforced `-m<instruction-set>` from msdk build system. #2099 should take care of that, it's under testing and review now.

[2020-04-27 21:20] dmitryermilov commented on #2066
Hi @ViGill ,

If you bandwidth, I'd propose dig a bit into it. Could you check performance with disabled 1) VDBOX balancing, 2) dynamic slice shutdown and 3) both ?

If it works for you, yes, it's a good option.

Theoretically  - yes, it's opensource :) But practically - I don't think so..

Regards,
Dmitry

[2020-04-28 02:07] th0ma7 opened #2100 "build issue using gcc 4.9.3"
Hit the following build issue while trying to update from 19.4 to 20.1 on https://github.com/SynoCommunity/spksrc project:
[code]

[2020-04-28 08:59] dmitryermilov commented on #2100
Hi,

Which compiler version are you using?

[2020-04-28 10:57] th0ma7 commented on #2100
It's Synology's DSM 6.x default and old version 4.9.3.  Currently cannot be updated until DSM next (7.0).

I was ablle to compile previous version 19.4 successfully.  I could probably find the commit which introduced the regression (and if you have ideas where this might come from I could start from there).

[2020-04-28 15:11] dvrogozh commented on #2100
4.9 has experimental support of C++11. Official support appeared only in gcc-6. I do not see the point to invest in supporting old versions of gcc which officially don't support required C++11 standard heavily used in the library. You need to update compiler or target enabling mediasdk in the next version of your product which will use higher version of the compiler.

Being said that I am not agai

[2020-04-29 02:37] lion117 commented on #1904
Would I  provide the query Api stack info be helpful to analyse the issue?

[2020-04-29 06:10] xuguangxin opened #2101 "vp9 decode regression: can't support resolution > 4k"
this issue fixed by https://github.com/Intel-Media-SDK/MediaSDK/pull/1570/files

but it's introduced again by https://github.com/Intel-Media-SDK/MediaSDK/commit/444ecb480a3918cc6faeb7662ca7492fd564f301

[2020-04-29 07:00] dryjq commented on #2032
It has been a long time since my bug was proposed. Has the bug been fixed now, or is it being fixed? Please reply, thank you

[2020-04-29 10:18] th0ma7 commented on #2100
@dvrogozh I'll try to do a manual git-bisect over the week-end and see if I can find any pointers towards a commit in particular.  Feel free to share hints on specific commits to look for.

[2020-04-29 11:43] th0ma7 commented on #2100
Build failure was introduced with this commit https://github.com/Intel-Media-SDK/MediaSDK/commit/919ea65ecb05fec07363abee91e355ec7ed4a01f from @eistarov

The error messages tends to change over time before being what I submitted in this issue.  To be confirmed but my guess is that https://github.com/Intel-Media-SDK/MediaSDK/commit/fd05ae669cb1360fe460a1a57949959cee449517 "_Fix build w/ GCC5_" from

[2020-04-29 14:15] #2047 closed

[2020-04-30 11:27] mpushki commented on #1904
@lion117 maybe, please provide and we'll look at this.

[2020-04-30 14:07] sndirsch commented on #2047
Build doesn't work for me with that patch.

[   57s] /usr/lib64/gcc/x86_64-suse-linux/9/include/tmmintrin.h:136:1: error: inlining failed in call to always_inline '_mm_shuffle_epi8': target specific option mismatch
[   57s]   136 | _mm_shuffle_epi8 (__m128i __X, __m128i __Y)

[2020-04-30 14:50] dvrogozh commented on #2047
@sndirsch : can you, please, give us more details since our CI build works fine on gcc-9 and clang-10? Some questions I have in mind:
* What is compiler version you are using?
* What is cmake configuration command line? Did you specify any custom build flags?
* Are you trying to cherry-pick this change (from #2099) to the latest release branch? If so, there are a number of prerequisite patches you

[2020-04-30 14:59] sndirsch commented on #2047
You're right. I just tried to use this one and only patch. I'll try the patches below later. Thanks!

[2020-04-30 15:01] dvrogozh opened #2104 "asc: remove/hide instruction-set specific code"
https://github.com/Intel-Media-SDK/MediaSDK/blob/99712bd1c86ea8201dcf533bfb79c694dd6a4e3c/_studio/shared/asc/include/asc_common_impl.h#L56

We need to check whether this code is actually used and if it is used need to hide it inside instuction-set specific library.

[2020-04-30 15:19] dvrogozh commented on #2047
@sndirsch : I just create PR #2105 which holds all the patches we currently have to fix this issue. If you work on top of the latest release branch, I hope it will help you.

I also just spotted this issue: #2104. It eventually did not impact our CI which makes me think we have some intrinsics code in the headers which we actually don't use. Anyhow, I would like to investigate more on 2104 before

[2020-04-30 17:05] spossos commented on #2104
This particular function is used on both AVX2 and SSE4.1 optimized code, I will work on it

[2020-04-30 18:16] dvrogozh commented on #2104
I wish we had all intrinsic functions grouped in .cpp files rather than .h files. Since this completely eliminates a risk that the header file will be included in the generic code path (which is not built with required instruction set) and function accidentally used. If that's not possible, I wish we will refactor the source code placement in the folders making sure that headers with intrinsics ar

[2020-04-30 18:55] sndirsch commented on #2047
Thanks a lot! That's very kind! :-)

[2020-05-03 16:55] nagos opened #2108 "sample_encode h264 broken with i965 driver"
sample_encode h264 crashing with segfault on Ubuntu 18.04 and libva 2.7.1 on i5-3470
[code]

Bug first appeared in 897ea5aabd1fca5c5ef3a31ff0aec21488da1192
by changes in files (if i git reset them, encoder work again):
[code]

Segfault happening at this line
https://github.com/Intel-Media-SDK/MediaSDK/blob/897ea5aabd1fca5c5ef3a31ff0aec21488da1192/samples/sample_encode/src/pipeline_encode.cpp#L142

[2020-05-06 08:38] dmitryermilov commented on #2108
Hi @nagos , in your example the stack is using old i965 driver (not iHD). Generally this is not expected, we don't guarantee support of i965 driver. Could you check why iHD_drv_video.so is not loaded?

[2020-05-06 08:39] #2079 closed

[2020-05-06 16:42] dvrogozh commented on #2078
We fixed that., see #2085.

[2020-05-06 16:42] #2078 closed

[2020-05-06 16:44] dvrogozh commented on #2108
Crash should not be expected either. We might have fail with the error, but we should not crash. @mpushki : can you, please, check the error handling?

[2020-05-06 20:00] nagos commented on #2108
Now i built docker image to isolate tests from my system.
Also now with intel media-driver instead of intel-vaapi-driver

Next i tested same docker image on i5-8265U.
Maybe some Ivy Bridge specific bug?

I narrowed down it to -bref -nobref

Wtith -bref i got segfault, with -nobref everything works fine.
Current version of SDK change value of this variable from 0 to 2:
https://github.com/Intel-Medi

[2020-05-07 03:29] lion117 commented on #1904
Sorry for I was late
each time When I initialized encoder, this code would return -3 error
![小Q截图-20200507112042](https://user-images.githubusercontent.com/3996029/81251256-689d9880-9055-11ea-805f-64d1e1714698.png)

I debuged GetFirstEncoder()->Query(&m_mfxEncParams, &m_mfxEncParams) Api
before run the api , the m_mfxEncParams stack was
![小Q截图-20200507112042](https://user-images.githubusercontent.

[2020-05-07 09:22] mpushki commented on #2108
Yes, I will check

[2020-05-08 09:38] eistarov commented on #2100
I have no free time now to investigate this.
In order to workaround this issue:

you can try to move TEBMap and TEBIt declarations from protected to public part of ParamBase:
https://github.com/Intel-Media-SDK/MediaSDK/blob/019acb3aa6e4faeb2af180271a6917cf5c3762a6/_studio/mfx_lib/shared/include/mfx_utils_extbuf.h#L82-L84

@dvrogozh @dmitryermilov @onabiull In general, I believe we should add gcc v

[2020-05-08 12:45] #2075 closed

[2020-05-08 13:13] th0ma7 commented on #2100
@eistarov based on your comment the following patch solved the issue for me and I was able to successfully build version 20.1.1 of the media sdk:
[code]

[2020-05-08 13:34] dmitryermilov commented on #2100
Hi @th0ma7 , since you have a solution, can you please create a pool request to fix this build issue?

[2020-05-12 15:00] dmitryermilov commented on #2101
@onabiull , do you have any update?

[2020-05-13 11:45] dmitryermilov commented on #1985
@saosipov , any update?

[2020-05-13 13:57] #2101 closed

[2020-05-14 02:12] xuguangxin commented on #2101
thanks Dima

[2020-05-14 20:50] #2100 closed

[2020-05-19 22:21] malikwas opened #2127 "Error creating a QSV device (after following ffmpeg with MediaSDK wiki instructions)"
I wanted to enable hardware encoding for my ffmpeg build for a project I'm working on. I followed the wiki for [building and using ffmpeg with the MediaSDK](https://github.com/Intel-Media-SDK/MediaSDK/wiki/Build-and-use-ffmpeg-with-MediaSDK). I followed the second method described using apt-get:

[code]

I followed the instructions and configured then built ffmpeg. However, when I run the first de

[2020-05-19 22:32] dvrogozh commented on #2127
Please, provide output of:
`cat /proc/cpuinfo | grep "model name" | uniq`
and
`lspci -nn | grep VGA`
On the system where you try to run ffmpeg.

[2020-05-19 22:33] malikwas commented on #2127
[code]

[2020-05-19 22:33] malikwas commented on #2127
[code]

[2020-05-19 22:39] dvrogozh commented on #2127
It seems you have Xeon without integrated GPU: https://ark.intel.com/content/www/us/en/ark/products/91767/intel-xeon-processor-e5-2650-v4-30m-cache-2-20-ghz.html. Effectively, GPU initialization fails.

[2020-05-19 23:35] malikwas commented on #2127
I was in a rush and did a bad copy-paste. Here's the actual output:

[code]

[2020-05-19 23:39] dvrogozh commented on #2127
mediasdk supports Intel GPUs only and works with iHD driver: https://github.com/intel/media-driver. You can see list of supported platforms in the driver readme. Your system does not have Intel GPU, the VGA controller you have is not supported.

[2020-05-20 01:35] malikwas commented on #2127
Gotcha, I guess my only option is to use software encoding.

[2020-05-20 08:47] DenWolf commented on #2032
Hi @dryjq ,

Regarding the information from you I suspect that current issue is not on Media SDK side, it's on Media Driver side (https://github.com/intel/media-driver).
I suppose that it's related to incorrect HME enabling on Target Usage 1 (== “-u veryslow” and "-u slow") both for AVC and HEVC VDEnc.

You can check it by "debug" disabling HME for Gen11 in driver:
I think you can just modify the

[2020-05-22 01:46] guoyejun commented on #2013
any update? thanks.

[2020-05-22 01:47] guoyejun commented on #2077
any update? thanks.

[2020-05-22 01:47] guoyejun commented on #2076
any update? thanks

[2020-05-26 10:00] #2127 closed

[2020-05-28 05:30] onabiull opened #2138 "[MCTF] causes segmentation fault when using hwupload in ffmpeg-qsv"
MCTF needs reference frame and will return MFX_ERR_MORE_DATA when the first frame comes. This leads to the vpp failures in sample_vpp when only processing 1 frame.

In msdk:
/sample_vpp -i /home/linjiefu/Videos/sourceVideo/1920x1080.nv12 -o msdk.yuv -lib hw -sw 1920 -sh 1080 -dw 1920 -dh 1080 -scc nv12 -dcc nv12 -mctf 5 -iopattern d3d_to_sys -async 1 -n 1

will report:
[ERROR], sts=MFX_ERR_UNDEFIN

[2020-05-28 17:59] dvrogozh commented on #2104
I believe we fixed that in #2107.

[2020-05-28 17:59] #2104 closed

[2020-05-29 10:32] VUNNYSODHI opened #2140 "[APL] H264: SPS header values set to zero, once iHD driver is loaded"
There is issue in MediaSDK library for H264 stream.
If H264 stream has SPS header information with "bitstream_restriction_flag = 1" and  "max_dec_frame_buffering = 4", as H264 Spec it should use max_dec_frame_buffering, rather than using default dpzSize for frames calculation. Which is not happening currently.

**Command Used:**
 ./sample_decode h264 -hw -async 1 -vaapi -i ~/test_2880x960.h264 -n

[2020-05-29 10:35] VUNNYSODHI commented on #2140
Debugging on MediaSDK side, found function call flow as below.
main (sample_decode.cpp) -->  CDecodingPipeline::Init (pipeline_decode.cpp) --> CDecodingPipeline::InitMfxParams (pipeline_decode.cpp) --> VideoDECODEH264::DecodeHeader (umc_h264_mfx_supplier.cpp) -->  CalculateDPBSize(umc_h264_task_supplier.h)
We get dpbSize = 16 at this point based on CodecProfile: 100, CodecLevel: 51

Later when  fo

[2020-05-29 10:45] VUNNYSODHI commented on #2140
FYI, @alariono

[2020-06-03 22:03] dmitryermilov commented on #2140
@guowillyy , could you find the right owner?

[2020-06-04 06:11] lialin86 opened #2147 "mediasdk sample_decode return CreateHWDevice failed in ubuntu16.04 docker"
I build and installed gmmlib libva libva-utils  media-driver  msdk(git master branch) without error in an ubuntu16.04 docker, then I try:
cd /opt/intel/mediasdk/share/mfx/samples
./sample_decode h264 -i myvideo.h264 -vaapi -rgb4 -o ./output.yuv

I got error:
[ERROR], sts=MFX_ERR_MEMORY_ALLOC(-4), Init, CreateHWDevice failed at /home/work/msdk/samples/sample_decode/src/pipeline_decode.cpp:439

[ERR

[2020-06-04 06:28] AntonGrishin commented on #2147
Hi @lialin86,
Are you sure, that you have enough rights for use gfx adapter under docker?

Btw, we have a wiki page about [access GPU under docker](https://github.com/Intel-Media-SDK/MediaSDK/wiki/Running-on-GPU-under-docker)

[2020-06-04 06:33] guowillyy commented on #2140
@dmitryermilov , Yan will help take a look this issue, thx Yan!

[2020-06-04 07:13] uartie commented on #2147
Try specifying `--device /dev/dri/renderD128` to the `docker run` options.  Additionally, depending on the user you run as in docker container, you may need to also specify `` --group-add `stat --format=%g /dev/dri/renderD128` ``.  NOTE: this is assuming `/dev/dri/renderD128` represents your Intel GPU device node... it could be different depending on your setup (e.g. `/dev/dri/renderD129`).

[2020-06-04 07:20] eero-t opened #2148 "Example programs installed to incorrect directory"
Media driver installs example programs like "sample_multi_transcode" under $PREFIX/share/mfx/samples/ directory.

However, according to the Filesystem Hierarchy Standard (used on Linux and followed by Linux distributions), share/ is reserved for non-architecture specific files:
https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s11.html

Binaries should be under bin/ or lib/ directory hierarchie

[2020-06-04 07:21] uartie commented on #2147
FWIW, the wiki page says to use `--privileged`.  But that option enables much more than just the host GPU access.  Thus, in my last comment, the `--device` (and `--group-add`) should be all that's necessary to expose access to the GPU in the docker container.

[2020-06-04 07:28] lialin86 commented on #2147
I add "--device /dev/dri/renderD128" to the docker run options, then I can run ./sample_decode without error, thank you.

[2020-06-04 07:33] lialin86 commented on #2147
ls /dev/dri
card0  card1  renderD128  renderD129
is seems I have two device on my machine, how to enable all of them in docker run options?

[2020-06-04 07:39] uartie commented on #2147
Just specify `--device /dev/dri/`

[2020-06-04 07:42] lialin86 commented on #2147
@uartie thank you very much

[2020-06-04 08:53] #2147 closed

[2020-06-04 09:43] wangyan-intel commented on #2140
@VUNNYSODHI Could you please share your clip for debugging? Thanks.

[2020-06-04 09:49] brmarkus commented on #2140
We got recorded clips from our customer, which are covered under NDA and can't be shared publicly. Let us try to sync internally.
In essence, the stream header had the flag "bitstream_restriction_flag" set with "max_dec_frame_buffering==4", with a resolution of 2880x960 in h.264/AVC, as CodecProfile: 100, CodecLevel: 51.

[2020-06-04 09:51] AntonGrishin commented on #2138
Error returns here:
https://github.com/Intel-Media-SDK/MediaSDK/blob/089296a90c83ed54e95b20597437a6839406e10b/_studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp#L3085

As far as I understand, the following scenario leads to this :

1.	Sample_vpp runs with -n 1
2.	Since mctf need one more frame, it`s returns err_more_data, we read one more frame, but don`t submit it to vpp. Because exit condition after read, b

[2020-06-04 09:52] VUNNYSODHI commented on #2140
Hi @wangyan-intel, you can use any H264 stream provided SPS header has "bitstream_restriction_flag" set and "max_dec_frame_buffering" with some value. I have tried some other 2880 clips issue is reproducible.
Thanks

[2020-06-04 09:53] eero-t commented on #492
Note that on newer HW, rate controls require also HuC firmware to be loaded ("i915.enable_guc=2" kernel option to enable HuC firmware upload for GuC, while still keeping GuC submission disabled).

[2020-06-08 09:53] AntonGrishin commented on #2138
@spossos I submited a possible fix for sample_vpp, but it`s not cover a situation, when input file contains only one frame - we still get undefined behavior error.

[2020-06-09 03:33] acergamebook opened #2155 "Tiger Lake with UMA support"
May I know what's version of Linux kernel will stable support Tiger Lake with UMA graphic?

Thanks.

[2020-06-09 11:20] #2140 closed

[2020-06-10 05:51] HermanMolinder commented on #2087
Hi,
Any updates on this issue?
BR
Herman

[2020-06-10 13:58] boxerab opened #2159 "When is the next windows release planned ?"
I hate to be that guy, but its been a while since the last windows release.

[2020-06-10 17:56] dvrogozh opened #2160 "bump required libva version to 2.8.0 or protect code with version check"
https://github.com/Intel-Media-SDK/MediaSDK/blob/81470616597c06deee3e6e1b85d6bbf5e20e0e75/_studio/mfx_lib/shared/src/mfx_h264_encode_vaapi.cpp#L101

As pointed out here:
https://github.com/Intel-Media-SDK/MediaSDK/commit/fb631a16cf3ecb1f2b900f841934eb5601b2cd79#commitcomment-39813152
VA_ENC_SLICE_STRUCTURE_EQUAL_MULTI_ROWS first appeared in libva-2.8.0. We either need to protect the code with VAAP

[2020-06-10 23:01] boxerab commented on #2159
Thanks for the update - looking forward to the release!

[2020-06-10 23:01] #2159 closed

[2020-06-11 10:41] #1686 closed

[2020-06-11 12:07] eero-t commented on #2079
*Single* video pipeline can take gigabytes of system memory for GPU usage, with larger resolutions, depending on selected rate control.

Typically only way you see that memory usage is by running out of swap (because that memory is non-swappable), like in this X server bug:
https://bugs.freedesktop.org/show_bug.cgi?id=106106

Also, there's no way to control / limit that. That's not Intel specific

[2020-06-12 14:46] dp4 opened #2163 "sample_decode.exe - Linker unresolved external Symbols "MFXQueryAdaptersDecode" in Function ""protected: enum mfxStatus __cdecl CDecodingPipeline::GetImpl()"
when trying to build sample_decoder.exe in VS2017

LNK2019	unresolved external Symbol "MFXQueryAdaptersDecode" in Function ""protected: enum mfxStatus __cdecl CDecodingPipeline::GetImpl()

LNK2019	unresolved external Symbol "MFXQueryAdaptersNumber" in Function ""protected: enum mfxStatus __cdecl CDecodingPipeline::GetImpl()

[2020-06-16 01:11] joojler opened #2164 "RGB32->RGB32 composition with tile has incorrect result"
with 2019 R4 release on Ubuntu 18.04 sample_multi_transcode, if we use RGB32->RGB32 for composition with tiles, there will be some garbge between the input videos.  if we use NV12->RGB32 for composition even also with tiles, no issues.

![image](https://user-images.githubusercontent.com/3134283/84720631-24d17380-afb1-11ea-8cad-e59e29a8074f.png)

will attach the par file later.

[2020-06-16 06:31] AntonGrishin commented on #2163
Hi @dp4,
I think, that you build sample_decode from solution with same name, and sample tried to link with dispatcher, which built with old API (already installed on your system).
Can you please try to build sample_decode from AllBuild.sln? Such you will also build dispatcher with required API.

[2020-06-16 08:49] guoyejun commented on #2077
any update? thanks.

[2020-06-16 08:56] guoyejun commented on #2076
any update? thanks

[2020-06-16 08:56] guoyejun commented on #2013
any update? thanks

[2020-06-16 10:19] lialin86 opened #2166 "mediasdk sample_decode init failed in centos docker"
hello,

I build and installed gmmlib libva libva-utils media-driver msdk(git master branch) without error in an centos7 docker, then I try:
cd /opt/intel/mediasdk/share/mfx/samples
./sample_decode h264 -i myvideo.h264 -vaapi -rgb4 -o ./output.yuv

I got error:
[ERROR], sts=MFX_ERR_UNSUPPORTED(-3), Init, m_mfxSession.Init failed at /home/IntelMediaSDK19.2.0_Install/MediaSDK-intel-mediasdk-19.2.0/sa

[2020-06-16 13:33] onabiull commented on #1959
Not fully addressed yet, but just wanted to let you know, that https://github.com/Intel-Media-SDK/MediaSDK/pull/1975 merged, and brings Media SDK API Tracer.

[2020-06-16 19:26] agalin89 commented on #1959
Great! Thanks for the update!

[2020-06-18 02:18] FurongZhang commented on #2164
Could it be Surface pitch alignment?

[2020-06-18 02:52] fulinjie commented on #1654
@AntonGrishin @dmitryermilov , is it possible to add identical logic like copy pass thru for  P010?
https://github.com/Intel-Media-SDK/MediaSDK/issues/1027
https://github.com/Intel-Media-SDK/MediaSDK/pull/1268

or allow A2RGB10 as an input for vpp if we only needs it for copy pass through?
or any other suggestions?

(Since X2RGB10 format is accepted in FFmpeg, we'd like to add full support for CSC

[2020-06-18 22:07] dmitryermilov commented on #1654
Hi @fulinjie ,

I can't restore full context. Could you remind me/explain more? For which exactly combination of input and output FOURCCs/memory types you'd like to have a passthru mode in VPP? AFAIR https://github.com/Intel-Media-SDK/MediaSDK/pull/1268/files introduced  passthru mode (simple copy) if input==output. But it seems you're requesting something different?

[2020-06-19 08:01] fulinjie commented on #1654
Fourcc:
In == Out (MFX_FOURCC_A2RGB10)

IOPattern:
MFX_IOPATTERN_IN_VIDEO_MEMORY | MFX_IOPATTERN_OUT_SYSTEM_MEMORY

FFmpeg currently calls hwdownload to dump the data to system memory, which is a VPP procedure inside MSDK actually.

The story is A2RGB10 is not allowed as an input fourcc for VPP: https://github.com/Intel-Media-SDK/MediaSDK/blob/master/_studio/mfx_lib/vpp/src/mfx_vpp_utils.cpp#L1378

[2020-06-19 08:09] fulinjie commented on #1654
For verifying, you may simply try this:
https://github.com/intel-media-ci/ffmpeg/pull/219

[2020-06-19 08:48] tongshi203 opened #2177 "roi in h264 encode, I frame roi position is right, but P frame roi position is wrong!"
Hi,
      I run the sample like this:
       ./sample_multi_transcode -i::h264 cctv13.h264 -o::h264 out.h264 -roi_file roi.txt -roi_qpmap  -cqp -qpi 20 -qpp 30 -dist 1
   The I frame roi positon is right, but P frame is wrong in out.h264
   The input  roi  is a small rectangle,  the ouput of I frame roi is a rectangle, but p frame roi is a zigzag rectangle.  I use the StreamEye to analysis the roi

[2020-06-19 08:54] dmitryermilov commented on #2166
Most likely it can't load with dispatcher (libmfx.so.1) or MediaSDK run-time library (libmfxhw64.so.1). Please try to run sample_decode under strace command to see which search paths are used. It's worth doing it in non-Docker environment (to see behavior in a workable case), then in Docker environment.

[2020-06-19 09:08] dmitryermilov commented on #1654
I got your point. Thanks for explanation. It's definitely technically feasible.  @FurongZhang , please enable it.

[2020-06-22 08:02] AntonGrishin commented on #2166
Hi @lialin86,
If you install all with default paths, can you please export

```export LD_LIBRARY_PATH=/opt/intel/mediasdk/lib64/:/usr/local/lib```

and try to run decode again?

[2020-06-24 11:57] AntonGrishin commented on #1654
Hi @fulinjie,
I verified #2182 with sample_vpp.
Can you please try with ffmpeg?

[2020-06-24 13:05] fulinjie commented on #1654
Hi @AntonGrishin, thanks for the quick response!
Had a quick check, however meet a synchronize error:

VPP PIPELINE:
MFX_EXTBUFF_VPP_RSHIFT_IN
RESIZE
CSC_A2RGB10
MFX_EXTBUFF_VPP_SCALING
VPP PIPELINE:
MFX_EXTBUFF_VPP_RSHIFT_IN
RESIZE
CSC_A2RGB10
MFX_EXTBUFF_VPP_SCALING
VPP PIPELINE:
MFX_EXTBUFF_VPP_RSHIFT_IN
RESIZE
CSC_A2RGB10
MFX_EXTBUFF_VPP_SCALING
VPP PIPELINE:
MFX_EXTBUFF_VPP_RSHIFT_IN
RESIZE
C

[2020-06-29 05:51] fulinjie commented on #1654
Hi @AntonGrishin,

Confirmed that it seems to be something inside MSDK.
MFX_ERR_LOCK_MEMORY returned while calling mfxDefaultAllocatorVAAPI::SetFrameData() in Sync operation.

We'd better add support for A2RGB10 in SetFrameData() as well, otherwise it'll return MFX_ERR_LOCK_MEMORY by default.
https://github.com/Intel-Media-SDK/MediaSDK/blob/master/_studio/shared/src/libmfx_allocator_vaapi.cpp#L448

[2020-06-29 22:52] androniychuk opened #2190 "msdk compile failed due to incorrect reference to cl.hpp"
•	https://github.com/KhronosGroup/OpenCL-CLHPP/tree/v2.0.11/include/CL - CL/ch.hpp is there
•	https://github.com/KhronosGroup/OpenCL-CLHPP/tree/v2.0.12/include/CL - it is missed

And this was done within https://github.com/KhronosGroup/OpenCL-CLHPP/pull/100.

opencl-cpp-headers now comes with cl2.hpp https://github.khronos.org/OpenCL-CLHPP/

rpm -qf /usr/include/CL/cl2.hpp
opencl-cpp-headers-2.0.1

[2020-07-01 13:51] HermanMolinder opened #2196 "Decode HEVC streams adds garbage lines"
When decoding an HEVC stream with resolution 1920x1080 MediaSDK says frames are 1920x1088 and the last few lines seem to contain zeros (green).

The NAL-unit of the stream says it's 1920x1080 and various media players also reports 1920x1080.

I don't know if this is a problem for other codecs as well. I'm using Media SDK 20.1.0 on an Apollo Lake. Video memory is used through vaapi.

Found a report

[2020-07-02 08:33] dmitryermilov commented on #2196
Hi Herman,

It's due to memory alignment requirements from HW. HW wants surfaces to be 16 aligned for progressive and 32 for interlace.
Does it cause some issue in your pipelines?

Regards,
Dmitry

[2020-07-02 09:39] aobolensk opened #2198 "VPP does not reject unsupported interpolation methods"
Introduced in: 2989b1c

[2020-07-02 12:26] #2190 closed

[2020-07-03 09:54] lakulako commented on #2077
Hi, @guoyejun
Please follow recommendations from April 24.
1. Check return status from Query. It is possible that ROI is unsupported for given system/configuration/codec.
2. If return status is not OK, check the difference between dst and src in attached external ROI buffer after Query. Note that your code uses inplace parameters.
Once you have results, we can help understanding the problems.

[2020-07-03 11:16] AntonGrishin commented on #1654
Hi @fulinjie,
As I understood, we have this support:
https://github.com/Intel-Media-SDK/MediaSDK/blob/2ea69234a8ade11063d05dd2032c859ffee7b6be/_studio/shared/src/libmfx_allocator_vaapi.cpp#L518

[2020-07-04 13:14] guoyejun commented on #2077
hi,

thanks for the response,  for your question, it returns ok.

actually, this issue is simple, clear and easy to be reproduced. My system is skylake + ubunt 16.04, and i guess it is a generic issue for hevc encoding.

I just want to query the maximum supported value of the number of ROI. So I wrote code as described in my comment in April 27 according to msdk's document at https://github.com/In

[2020-07-06 08:44] HermanMolinder commented on #2196
Hi @dmitryermilov

Yes, It's an issue for me. When letterboxing the video a green line is visible at the bottom of the active video. I also need to present the correct input resolution for the user.

I think there should be a difference between the actual input resolution and the allocated frame resolution. If this info is available (maybe it is?) it would be easy to just crop the padding lines.

[2020-07-06 09:03] paniksystem opened #2201 "Segfault on Windows when using with OutputDuplication API"
I have an issue when using the encoder together with the OutputDuplication API on Windows 10

I create a D3D11 Device, and use it to capture my desktop with AcquireNextFrame and ReleaseFrame. Multithread protection is active.
I've been using this code for a long time with the Media Foundation API, but i want to migrate to the MediaSDK because dynamic bitrate does not work with the current Intel Me

[2020-07-06 13:29] dmitryermilov commented on #2201
Hi @paniksystem ,

Since the crash occurs after initalization I assume there is something wrong surfaces being passed to EncodeFrameAsync. Can you please share more details here? E.g. :

1.  Do you create an instance of [D3D11 allocator](https://github.com/Intel-Media-SDK/MediaSDK/tree/master/samples/sample_common/src) or ... ?
2. How do you initialize IOPattern of mfxVideoParams ? IN_VIDEO or som

[2020-07-06 14:49] paniksystem commented on #2201
Hi,

1. I did not use D3D11 allocator, i started from the tutorials so used the simple allocator from common_directx11.cpp
I did not know there was another allocator example :D so i'll try to compare. From the simple allocator i just changed the BindFlags to 0 or D3D11_BIND_RENDER_TARGET because the default D3D11_BIND_DECODER option gives me an invalid arg error when using with CreateTexture2D of

[2020-07-06 17:26] snw1 opened #2202 "MFXVideoDECODE_DecodeHeader() returns wrong frame rate"
Hello
I'm developing a video processing software using Intel MediaSDK and ffmpeg libraries
Few days ago out client faced a problem with video stream transcoding
After investigation it was transpired that MediaSDK returns wrong frame rate after header decoding:
[code]
Meanwhile, ffmpeg returns correct frame rate (30 fps):
[code]
MPEG-TS stream dump and C++ reproduction example are included
VLC is p

[2020-07-06 19:08] paniksystem commented on #2201
Alright, i tried using the D3D11 Allocator from the sample, same result, crash on AcquireNextFrame after the first encoded frame...
:(

[2020-07-06 19:11] paniksystem commented on #2201
I should add that the segfault appears sometimes after 10 or so encoded frames but 90% of the times after the first one. I really don't know where to look next.

[2020-07-06 20:49] dmitryermilov commented on #2201
Is it possible to create a simple reproducer which can be shared with us?

[2020-07-07 05:49] wangyan-intel commented on #2202
@snw1 I cannot get your clips from dropbox. Could you please share it by the other way? Like google driver. Thanks.

[2020-07-07 06:04] paniksystem commented on #2201
sure, i'll get back to you (pretty big code to clear up to get a simple reproducer)

[2020-07-07 07:35] dmitryermilov commented on #2201
Thanks!

[2020-07-07 08:15] wangyan42164 commented on #2196
@HermanMolinder
I tried by the following command line on my Linux/KBL platform but I cannot see the green line:
./sample_decode h265 -i msdk_2196/Lifting_HEVC_1080p.hevc -vaapi -r

The input clips comes from your referred https://community.intel.com/t5/Media-Intel-oneAPI-Video/1080p-hevc-video-decoded-to-render-with-a-green-edge-at-the/td-p/1131080.

And I also checked the XWindow size:
https://gi

[2020-07-07 09:26] fulinjie commented on #948
@fulinjie useful tool :D.

[2020-07-07 09:26] HermanMolinder commented on #2196
Hi @wangyan42164,

I tried with 20.2 release, but I have the same problem.

Here's a photo of how it looks when letterboxing:
![IMG_20200707_111443](https://user-images.githubusercontent.com/7060217/86757862-bcbbfd80-c043-11ea-8b70-1ceff2cbd13e.jpg)

Here's a transport stream recording of the test stream (containing 2 programs with same problem):
https://a2b-my.sharepoint.com/:v:/g/personal/herman

[2020-07-07 09:44] wangyan42164 commented on #2196
@HermanMolinder So could you pleease try sample_decode on your side? I am not sure how to process output surface in your application. sample_decode may make us at the same page. Thanks.

[2020-07-07 09:49] HermanMolinder commented on #2196
I think I found the issue now.

MFXVideoDECODE_QueryIOSurf returns following frame info:

`{reserved = {0, 0, 0, 0}, reserved4 = 0, BitDepthLuma = 8, BitDepthChroma = 8, Shift = 0, FrameId = {TemporalId = 0, PriorityId = 0, {{DependencyId = 0, QualityId = 0}, {ViewId = 0}}}, FourCC = 842094158, {{Width = 1920,
      Height = 1088, CropX = 0, CropY = 0, CropW = 0, CropH = 0}, {BufferSize = 71305088

[2020-07-07 10:01] wangyan-intel commented on #2196
IMHO, it is dependent on your application. For HW, CropW/H is unnecessary.
For sample_decode, it will use the CropW/H of decoded surface to render.

[2020-07-07 10:03] wangyan42164 commented on #2196
IMHO, it should be dependent on your application.  CropW/H is unecessay for decoding HW.
For sample_decode, it will use CropW/H of decoded surface to render and resize X window on Linux.

[2020-07-07 10:13] HermanMolinder commented on #2196
We do need this info for our application.
Is there a reason for CropW and CropH being 0 when querying or is this a bug?

[2020-07-07 10:29] wangyan42164 commented on #2196
IMHO, it is not bug. MFXVideoDECODE_QueryIOSurf  should be only for surface creation.

[2020-07-07 11:30] dmitryermilov commented on #2196
Hi Herman,

Generally it's by design.
DecodeHeader returns mfxVideoParams which can be passed to [QueryIOSurf ](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#mfxvideodecode_queryiosurf) so that the function fills "the right" mfxFrameAllocRequest. Under 'the right' I mean a request with Width/Height which satisfy HW requirements.
Later, during decode, DecodeFrameAsync

[2020-07-07 11:38] HermanMolinder commented on #2196
Hi @wangyan42164 and @dmitryermilov

You're right. It's not up MFXVideoDECODE_QueryIOSurf to determine this. I mixed things up and have investigated further.

MFXVideoDECODE_DecodeHeader returns correct cropping parameters (1920x1080). Subsequently I call MFXVideoDECODE_Query which sets cropping parameters to 0. This was my problem.

When checking the code it looks like h265 memsets the `mfxVideoP

[2020-07-07 11:41] HermanMolinder commented on #2196
My point being I think h265 also should have a `CheckCrops` function within `MFXVideoDECODE_Query`.

[2020-07-07 12:06] HermanMolinder commented on #2196
@dmitryermilov

To answer your question. Yes, I use VPP for letterboxing.

Now when I know the problem I've made a workaround to manually set cropping params if query zeros them. It seems to work fine now :)

Thanks for the help!

[2020-07-07 13:50] paniksystem commented on #2201
while writing the simple reproducer, the segfault is no longer happening, still investigating why...

[2020-07-07 14:17] dmitryermilov commented on #2202
Hi @snw1 ,

I looked. Generally there is no bug in MSDK. By AVC spec, frame rate is calculated as : "framerate = vui.time_scale / vui.num_units_in_tick / 2".  "/2" is to get **frame** rate.
In the given stream time_scale is 6000, num_units_in_tick is 1. Framerate 3000 fps doesn't make sense and contradicts to spec (I can find a confirmation is needed). So generally the stream is invalid.
On the ot

[2020-07-07 14:24] paniksystem commented on #2201
My bad, while copying the sample, i moved the SDK initialization to a class method and did not check this part:

[code]

What a dumb dumb :D sorry for the inconvenience

[2020-07-07 14:24] #2201 closed

[2020-07-07 14:55] dmitryermilov commented on #2201
Ahh. Great! I really love cases when a request to make a simple reproducer helps to reveal the issue in a production application :)

[2020-07-07 15:18] snw1 commented on #2202
Hi, Dmitry

Thanks for the assistance

We've already made the similar fix in our code

[2020-07-07 17:42] lakulako commented on #2077
Hi @guoyejun,
What do you mean by "i don't enable the roi encoding"? You have added ROI extBuffer to the attached array of buffers, but where you delete it? It goes to Init.
When you call query it changes at least NumROI. It can't return OK (==0) with huge NumROI. If Query was called, parameters are fixed and Init accepts ROI mode. Without Query the ROI parameters for Init are incorrect and ROI is

[2020-07-08 07:01] guoyejun commented on #2077
hi, thanks.

i mean i do not set mfxEncodeCtrl.ExtParam relative for the roi settings.  I do add into mfxVideoParam.ExtParam for query purpose.

The weird thing surprised me is that: the behavior of 'query supported roi value' impacts the latter encoding for hevc!

If such thing is by design, i'll assume both h264 and hevc have the same behavior. But the fact is that only hevc has this issue. As f

[2020-07-08 07:15] AntonGrishin commented on #2166
Hi @lialin86,

Does the answer above resolve your problem?

[2020-07-08 16:21] paniksystem opened #2204 "Trouble getting IDR NALUs"
Hi!

When encoding with the SDK, i receive a sequence of NALUs: SPS - PPS - NDR - NDR ... - SPS - PPS - NDR ...

Is there any configuration to get only one SPS - PPS and then IDR - NDR - NDR ... - IDR - NDR - NDR ...?

My encoding parameters:

[code]

[2020-07-08 16:53] dmitryermilov commented on #2204
Hi @paniksystem ,

It's extremely weird. Please see https://github.com/Intel-Media-SDK/MediaSDK/blob/master/_studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw_utils_new.cpp#L1741 . Could you attach encoded bitstream?

[2020-07-08 18:16] paniksystem commented on #2204
The stream seems mostly empty but i get no errors or hints when encoding
See the attached file
[intel.txt](https://github.com/Intel-Media-SDK/MediaSDK/files/4892502/intel.txt)

[2020-07-08 18:27] dmitryermilov commented on #2204
Thanks.
In the attached bitstream, the first picture is IDR:
[code]
Nal unit type is defined by 5 lowers bits  in the byte after the start code.

Checking "00  00 01 25 88". Please see below:
25h = 00100101b;
00100101b & 11111b = 101b=5

And NALU type == 5 means IDR

[2020-07-08 18:29] paniksystem commented on #2204
I see, the SDK mixes 4 bytes and 3 bytes NALUs headers, thank you!

[2020-07-08 18:29] #2204 closed

[2020-07-08 18:39] dmitryermilov commented on #2204
Yes, but it's not mistake. As far as I remember by AVC spec 4 bytes start codes for slices are used when AU starts from a slice. I means there are no AUD,SPS,PPS before the slice.

[2020-07-08 22:14] paniksystem opened #2205 "Encode existing ID3D11Texture2D"
Hi again,

I am trying to encode an existing ID3D11Texture2D acquired from the OutputDuplication API. But no matter what i do i get a grey encoded video.

I think my understanding of what needs to be done to work is flawed so I've made a simple reproducer at https://github.com/paniksystem/media-sdk-simple

Thanks

[2020-07-08 22:42] dmitryermilov commented on #2205
@KseniyaTikhomirova , @SergeySol , can you please take a look at https://github.com/paniksystem/media-sdk-simple/blob/master/entry.cpp ? I'm not a big expert in windows screen capturing.

[2020-07-09 06:01] KseniyaTikhomirova commented on #2205
@paniksystem, @dmitryermilov,
Hi guys, what is the resolution you try it with? The first gap I see is that you use CopyResource. For some cases - as example, full HD case - aligned surface allocated for Media SDK encoder (1920x1088) is bigger than the one obtained with desktop duplication API  (1920x1080). CopyResource requires strict match of fourCC group, width and height, otherwise operation wi

[2020-07-09 06:42] paniksystem commented on #2205
Good catch ! That was it.

Thank you

[2020-07-09 06:42] #2205 closed

[2020-07-09 11:00] george-norton commented on #2166
It is also worth remembering you need to mount `/dev/dri` inside docker (`-device /dev/dri:/dev/dri`) or run in privileged mode and that the video group id is different between Ubuntu and CentOS - so if you are running in the container as a non root user on an Ubuntu host you might find you don't have permission to access `/dev/dri/*` inside the container. You might also need to ensure that the `L

[2020-07-09 11:11] george-norton opened #2206 "Cannot build v20.1.1 with -DBUILD_KERNELS=on"
It is currently not possible to build v20.1.1 with `-DBUILD_KERNELS=on` as the latest published cm-compiler release (Release_20190717) is missing gen 12 VME support ([gen12_vme.h ](https://github.com/intel/cm-compiler/blob/master/support/include/cm/gen12_vme.h)is empty). The `genx_simple_me` and `genx_me` kernels fail to build.

[2020-07-10 02:54] fulinjie commented on #1654
Let me be more clear:
FFmpeg uses VA_FOURCC_X2R10G10B10 instead of VA_FOURCC_A2R10G10B10, hence we'd meet this issue.

[2020-07-10 03:23] fulinjie commented on #1654
@AntonGrishin  Another thing is,

Why msdk needs to check each address of pDst->Data.R, pDst->Data.G, pDst->Data.B?
Note that A2RGB10 doesn't have a "byte adddress" for R or G plane, since they are packed 10 bits.

https://github.com/Intel-Media-SDK/MediaSDK/blob/master/_studio/shared/src/libmfx_core.cpp#L1497
case MFX_FOURCC_A2RGB10:
        {
            mfxU8* ptrSrc = std::min({pSrc->Data.R, p

[2020-07-10 03:25] fulinjie commented on #1654
Verified that after these two concerns fixed(work around for now), the CSC to X2RGB10 works.

[2020-07-10 08:42] fulinjie commented on #1654
Hi @dmitryermilov , this issue is partially fixed by https://github.com/Intel-Media-SDK/MediaSDK/commit/a786fde3875b1470ab34c4cd6ce50c3d2448e993.

We still need @AntonGrishin's help for:
1.  Add  VA_FOURCC_X2R10G10B10 support in mfxStatus mfxDefaultAllocatorVAAPI::SetFrameData;
2.  Check whether it's possible to modify "ptrDst = std::min({pDst->Data.R, pDst->Data.G, pDst->Data.B});" inside MSDK.

[2020-07-10 08:45] dmitryermilov commented on #1654
Ohhh. Okay. You was confused my you last comment so merged the change. it was too early.

[2020-07-10 13:23] jbeich opened #2209 "tools/tracer: fails to build with libc++"
## Steps to reproduce
[code]

## Clang 10
[code]
## GCC 10
[code]

[2020-07-10 15:51] dvrogozh commented on #2206
Ok, it seems we forgot about this step. Eventually we need corresponding cm compiler support. Filed https://github.com/intel/cm-compiler/issues/19.

[2020-07-12 21:12] cheersalam opened #2211 "Why it is so hard?"
I am trying to understand H264 sample decoder and trying to use it in my project. But one thing leads to another and then another. sample decoder itself is a SDK. All the utilities and defs has become another SDK. I will be excited to read a sample application which *only* uses sdk headers and standard libraries. One single file, 100 lines of a code will be a great example of sample application. S

[2020-07-12 21:57] mgonchar commented on #2211
Hi @cheersalam, sad to hear about you difficulties. Did you try to look in tutorials? [This](https://github.com/Intel-Media-SDK/MediaSDK/tree/master/tutorials/simple_2_decode) one dedicated to AVC decoding, one single source file, no extra logic.

[2020-07-13 17:54] OpenSourceAnarchist commented on #2065
It's been a few months... I was just wondering if there's been any updates from frame interpolation in MediaSDK. The Media SDK Developer Reference still mentions various options related to frame rate interpolation and I haven't tested anything recently. Any news from @FurongZhang?

[2020-07-14 06:43] FurongZhang commented on #2065
@OpenSourceAnarchist , I read your comments in this thread. Your understanding is correct and you did a great work for digging out the history. Yes, we once supported Frame Rate Conversion on some platforms from graphics driver side. But from our KBL, graphics driver will not support FRC anymore. We don't know any typical usage, hence we stop the investment on this feature. Now, from MSDK side, ju

[2020-07-14 06:44] FurongZhang commented on #2198
I am working on that. Will file a PR within this week for this issue.

[2020-07-14 06:47] FurongZhang commented on #2164
@joojler , where is the par file? If you have rooted cause this issue as we discussed offline, could I close this issue? Thanks a lot in advance!

[2020-07-14 07:09] tongshi203 opened #2213 "MFX_RATECONTROL_LA_EXT in sample_multi_transcode, m_pmfxENC->GetEncodeStat( &mfxStat ) return MFX_ERR_UNSUPPORTED"
Hi:
    I run sample_multi_transcode like this:
            ./sample_multi_transcode -par laext.par -p 1.perf

     laext.par is :
            -i::h264 test.h264 -o::sink -gop_size 33 -dist 4 -num_ref 2 -u 4 -la_ext -lad 33
            -i::source -o::h265 test.h265 -gop_size 33 -dist 4 -num_ref 2 -u 4 -la_ext -lad 33 -w 1280 -h 720

    It works well and can get the encoded file test.h265,  I want

[2020-07-14 11:59] OpenSourceAnarchist commented on #2065
@FurongZhang There are a number of existing frame interpolation options, however most remain inaccessible or mostly impractical.

Almost all modern TVs have a dedicated chip to perform frame interpolation in real-time, but this cannot be used to encode videos and is hardly configurable.

Software like [SVP](https://www.svp-team.com/) is useful for this purpose, as well as real-time frame interpola

[2020-07-14 14:45] FurongZhang commented on #2065
@OpenSourceAnarchist I got it. I am very interested in this topic. I am curious who you are and what you are working on? If it is not good to put that here, could you please write me an email? Thanks a lot in advance!

[2020-07-14 15:07] OpenSourceAnarchist commented on #2065
I'm an undergrad at the University of Pennsylvania, but really I'm just just a high frame rate enthusiast. A few years ago I discovered how accurate and preferable (to some people, at least) frame interpolation can be when watching many types of media, but unfortunately there are only a few software options, and even though SVP is free for Linux users, it is difficult to get working on many distro

[2020-07-14 15:40] #2209 closed

[2020-07-14 16:26] dvrogozh commented on #2206
CM compiler added gen12 support, but it occurs there might be yet another problem - it seems we still have gen10 and CM compiler dropped the support. We need to consider to drop as well or request CM to add support back. Same for media driver.

[2020-07-15 06:57] Odianosen25 opened #2217 "Any plan for an Alpine Build"
Hello,

Please I will like to use this within an Alpine based docker container, but when I try to build, it gives an error for environment constraint. I guess it has to do with the fact its not designed to run within an Alpine environment (please if I am wrong let me know).

Any way there is plan for it to be supported? Of if I am just being dumb, what is the command line for the `make install` I

[2020-07-15 21:28] dvrogozh commented on #2217
Just briefly trying, it builds fine for me. Docker file is below. Could you, please, be more specific what you've attempted to run and what has actually failed?

[code]

Building and running as:
[code]

[2020-07-15 22:24] Odianosen25 commented on #2217
Hello @dvrogozh,

Thanks for the response, and I didn't know not this docker file existed, but will try it now and get back to you. I had tried building it myself several times just following the simple instructions, but guess I was wrong.

Kind regards

[2020-07-15 22:57] Odianosen25 commented on #2217
@dvrogozh,

Many thanks for the help and it did build successfully. I knew I was most likely doing something dumb, but thanks again.

If I may ask, can I assume opencl is also installed, since its about hardware acceleration? As my plan is to now build Opencv, using this image as my base image for image processing.

Kind regards

[2020-07-15 22:59] Odianosen25 commented on #2217
Dumb question again, forgot it was written opencl is enabled by default :D

[2020-07-15 23:00] #2217 closed

[2020-07-15 23:02] dvrogozh commented on #2217
No, opencl is not build. That's separate driver stack and needs separate build. The top level repo is: https://github.com/intel/compute-runtime. I would suggest to post question to them, maybe they will have some docker file for you at hand.

[2020-07-15 23:10] Odianosen25 commented on #2217
Ah @dvrogozh I had thought it was. But no worries I had already put in a question there and awaiting when a docker file based on alpine will be made available. In the mean time, the built image is like 2.8GB, which to me is quite massive for an alpine image. Anyway I can shrink that down a but? I tried deleting the git downloaded file, but didn't make any difference in size.

Kind regards

[2020-07-15 23:52] uartie commented on #2217
You could optimize image size with multi-stage builds feature: https://docs.docker.com/develop/develop-images/multistage-build/

[2020-07-16 00:33] dvrogozh commented on #2217
Yes, the docker file I provided was just an attempt to build the stack. I did not care about the size. If you care about size you need staged build and bring out development packages setup (which you don't need at runtime), git clone and packages build.

Mind also that as it occurs this is not a good idea to install packages on alpine in non-default folders. Better to install in system.

Something

[2020-07-16 00:58] Odianosen25 commented on #2217
Oh thanks @dvrogozh I will give it a shot. Wish I was that proficient in docker build, but unfortunately I am not. I don't even fully understand what was all said :(, but I know I will get there.

Thanks again

[2020-07-16 02:52] fulinjie commented on #1654
Hi @AntonGrishin, any further updates?

[2020-07-16 09:02] Odianosen25 opened #2221 "Using OpenCV IntelMSDK accelerated to open RTSP Stream"
@dvrogozh,

Thanks for all the help so far, and I was able to build and compile opencv to use the MSDK (MFX) to attempt to open a stream. I tried the following

[code]

And I get the following error

[code]

I know not why it says its an unsupported extension, or it is only for video files and not stream?

Apologises I had to open another issue,  since this is different and so making it easier for

[2020-07-16 09:52] brmarkus commented on #2221
If you choose to use the MediaSDK "backend" of OpenCV then, yes, it expects a file with an extension like ".h264" or ".h265", as the content is read-in "as-is" and provided to MediaSDK and libva.

MediaSDK doesn't implement demultiplexer or different high-level protocols.

So you might decide to use e.g. gstreamer as the backend of OpenCV, but make sure the used pipeline then contains "msdk" or "m

[2020-07-16 10:38] Odianosen25 commented on #2221
Hello @brmarkus,

Thanks for the response. I can confirm that I have built the gstreamer with some plugins into opencv, but honestly not sure which ones you  referring to; can you help with some list or something?

Also will you be kind enough to give me an example of how I can combine gstreamer and MediaSDK as backend for videocapture? I just need hardware acceleration for decoding.

Kind regards

[2020-07-16 11:48] AntonGrishin commented on #1654
Hi @fulinjie,
1. Basically, I`m not sure, that we can map VA_FOURCC_X2R10G10B10 to MFX_FOURCC_A2RGB10 because they are not fully the same (AFAIK, the first one is without alpha channel). Why FFmpeg use such mapping?
2. I think that we can modify this condition because R-G-B pointers are definitely the same

[2020-07-16 14:58] dmitryermilov commented on #2206
Arseniy worked on Gen10 clean up and found out another problem. Please see https://github.com/intel/cm-compiler/issues/24

[2020-07-16 16:18] dvrogozh commented on #2217
You are welcome. @uartie gave you a link about multi-stage build. Also, consider to review docker file syntax: https://docs.docker.com/engine/reference/builder/. Everything is pretty straight forward.

With multi-stage build pay attention to FROM lines in docker file. Basically the example I gave above has the following structure:
* Base layer (called "base") is the first one and has common setup

[2020-07-16 16:33] Odianosen25 commented on #2217
@dvrogozh, thanks for the explanation. I was able to later strip out ~100MB by not building samples; but I will also try the other options later.

But after everything, I later figured out I couldn't use the sdk for rtsp stream hardware accelerated video capture. So I am again trying to figure out the next step :(

Kind regards

[2020-07-16 17:29] dvrogozh commented on #2217
From the high level, which final use case you pursue?

Neither mediasdk library nor mediasdk samples support rtsp or other streaming per-se. However, mediasdk has integration into ffmpeg (and gstreamer) which does support streaming.

Being said that you might wish to look into here: https://github.com/intel/media-delivery. I don't know your final use case, but the link above is a guide to enable c

[2020-07-16 17:59] Odianosen25 commented on #2217
@dvrogozh,

I am using OpenCV to capture and process images from cameras. I noticed that when I access a stream with abt 60 fps, my PC even though its an i7 doesn't cope so well. So I began to research into how to make the code more efficient and that's what led me to hardware acceleration. I already use hardware acceleration for recording the post processed images into a video file using `ffmpeg`

[2020-07-17 02:02] xinyudox opened #2223 "ffmpeg-qsv encode avc some cases psnr drop on TGL"
os: ubuntu 18.04.3
kernel: 5.6.0-rc6+
platform: TGL

libva-afca400d5629
gmmlib-40c7d14fd16a
ffmpeg-cartwheel-e57905ae6125
intel-media-driver-388ea758af1f
vaapi-fits-smoke-a24b5f1caf09
vaapi-fits-6add33007b84

This issue is caused by this patch.

commit 37f26bb6850a242f6d2b549795ba31911386227b
Author: Pavel Gribov <pavel.gribov@intel.com>
Date:   Mon Mar 16 15:14:00 2020 +0300

    [h264e] Enable Q

[2020-07-17 07:06] brmarkus commented on #2221
In some of my older projects I use these "mfx" MediaSDK-gstreamer plugins: https://github.com/intel/gstreamer-media-SDK , plugins like "mfxh264dec", "mfxhevcdec".

In some of my newer projects I use the newer "msdk" MediaSDK-gstreamer plugins, which are integrated into the "bad" plugins in the meantime: https://gitlab.freedesktop.org/gstreamer/gst-plugins-bad/tree/master/sys/msdk , plugins like "m

[2020-07-17 07:13] Odianosen25 commented on #2221
@brmarkus,

Thanks for the response. But please as I am actually new to  gstreamer (never used it before really), can you kindly help with an example on using the plugin with `VideoCapture`?

Regards

[2020-07-17 07:21] brmarkus commented on #2221
cv::VideoCapture() allows to give a gstreamer pipeline string, where you can specify the gstreamer pipeline, almost exactly like you wouldd call "gst-launch-1.0" in a terminal manually.
There are a few links, like:

https://stackoverflow.com/questions/46219454/how-to-open-a-gstreamer-pipeline-from-opencv-with-videowriter
https://answers.opencv.org/question/119583/how-does-the-cv2videocapture-class

[2020-07-17 08:58] Odianosen25 commented on #2221
Many thanks for this @brmarkus, I will give it a short and get back to you. Though I have noticed that when I use cv2.VideoCapture I get

[code]

When I use the string I pasted I get

[code]

[2020-07-17 11:50] pgribov commented on #2223
Hi, @xinyudox
It's expected behavior for this patch. It drops PSNR, but improves bd-rate. We are planning to upload one or more related patches that provide further improvement. And it’s hard for me to say about the planned dates, but we expect them in the near future.

[2020-07-18 04:12] cheersalam commented on #2211
Hi @mgonchar I started following `simple_decode` example with HARDWARE and DXD11 rendering. I am getting AVC stream from network. When I call `DecodeFrameAsync` it returns `MFX_ERR_UNDEFINED_BEHAVIOR`. Allocator is same as in sample application. It is able to decode header correctly but Decoding is not working. Can you please give me some hints, for what reasons it will return `MFX_ERR_UNDEFINED_B

[2020-07-18 08:29] Odianosen25 commented on #944
@yiyunluo07,

I am trying to run the following

[code]

But getting
[code]
Please any assistance on how to solve this?

Regards

[2020-07-18 19:54] Odianosen25 commented on #2217
@dvrogozh,

Good day and hope you having a good weekend. I have been making some progress as been studying, but came to  another bottle neck and hoping you could help me. I will like to compile the gstreamer plugins into  the mediasdk as here https://github.com/Intel-Media-SDK/gstreamer-plugins.

Please how can I add this to the docker file?

Regards

[2020-07-19 04:38] cheersalam commented on #2211
Also how can I enable tracer in sample application `sample_decode`. I am on windows platform and using VS2017 for test application. When I run sample_decode it is decoding and rendering fine, but SDK Tracer is not tracing anything.

[2020-07-20 01:52] xinyudox commented on #2223
ok, thanks!

[2020-07-20 06:10] brmarkus commented on #944
The MediaSDK "backend" is not a media-player, but expects local files with a file extension of e.g. "*.h264" or "*.h265", i.e. a local file as an elementary stream, which is read-in and provided "as-is" to MediaSDK and libva. You could use e.g. a gstreamer pipeline with MediaSDK-plugins.

[2020-07-20 06:32] Odianosen25 commented on #944
@brmarkus,

Ah now that makes so much more sense, thanks for the clarification. Now I have decided to make use of the gstreamer plugin, but I am failing to figure out how to compile the gstreamer mediasdk plugins into my mediasdk build (not like I did the build myself anyway), but still can't figure it out. As simply installing the bad plugins doesn't seem to cut it

Regards

[2020-07-20 07:09] joojler commented on #2164
Hi Furong, this is the par file i used.

-i::h264 /home/work/video/3.h264 -join -hw -dec_postproc -async 4 -o::sink -vpp_comp_dst_x 200 -vpp_comp_dst_y 100 -vpp_comp_dst_w 560 -vpp_comp_dst_h 340 -ext_allocator -vpp_comp_tile_id 0
-i::h264 /home/work/video/3.h264 -join -hw -dec_postproc -async 4 -o::sink -vpp_comp_dst_x 1160 -vpp_comp_dst_y 100 -vpp_comp_dst_w 560 -vpp_comp_dst_h 340 -ext_allocato

[2020-07-20 09:34] fulinjie commented on #1654
Hi @AntonGrishin ,

1. X2R10G10B10 could be taken as A2RGB10. This is required by FFmpeg community to avoid the false impression that we has alpha plane data supported in HW for now. The reason for adding this mapping is to address the concern from community,

2. Yes, please. And I'd prefer to use mfxA2RGB10 structure.

[2020-07-21 13:52] alexelizarov commented on #2077
Hi @guoyejun,

Could you share driver version with which you have this issue?

[2020-07-21 14:34] guoyejun commented on #2077
i built the driver from source code, see detail below. thanks.
https://github.com/intel/gmmlib.git  c01f0041811a3f1ff7913e620ba93e6c3ec10820
https://github.com/intel/media-driver.git  4ee83e66325430411a13c72ad1ee7af317ec5406
https://github.com/intel/libva ef8cbc9f03f7a9a043a29438a9b74e75a0c49bb8

[2020-07-21 20:37] DarkSwan86 opened #2230 "[Sandybridge] Intel MediaSDK is crashing Handbrake"
Hi!

I'm reporting a possible bug on the MediaSDK, on a Sandybridge platform.

OS: Manjaro KDE x64
Kernel: 5.4.52-1-MANJARO x86_64
Processor: Intel Core Sandybridge i3-2350M
Mesa: 20.1.3
Intel Media Driver: 20.1.1-1
Intel Media SDK: 20.2.0-1
Libva: 2.8.0-1
libva-intel-driver: 2.4.1-1

Handbrake: 1.3.3 compiled with QSV support

The program seems to crash with an error on the libmfxhw64.so. Her is

[2020-07-22 07:13] onabiull opened #2231 "AV1d doesn't fill required surface fields"
timestamp, aspect ratio, FrameRateExt, FrameOrder, DataFlag, mfxExtDecodedFrameInfo, etc handling are missed in #2218 _studio/mfx_lib/decode/av1/src/mfx_av1_dec_decode.cpp

[2020-07-22 07:17] wangyan-intel commented on #2231
@onabiull We will fix it as soon as possible. Thanks.

[2020-07-23 11:01] daleksan commented on #193
feel free to re-open the issue if it is still actual

[2020-07-23 11:01] #193 closed

[2020-07-24 03:15] zhonghongcheng opened #2236 "[regression] hevc encoding issue on TGL"
On TGL, the regression started with commit d31b1550.

Check https://media-ci.ostc.intel.com/build/456332/junit_report/by_test for the error cases.

Here are more details:
1. Do encode, decode and psnr with previous good commit (00253024):
[code]
1. Do encode, decode and psnr with FBC commit (d31b1550):
[code]

[2020-07-24 09:28] lakulako commented on #2236
There is addition to this commit https://github.com/Intel-Media-SDK/MediaSDK/pull/2229 for LowPower case.
Minimal content dependent quality shift is still possible because of increasing number of reference for LDB frames.
@zhonghongcheng, please check.

[2020-07-24 10:17] lakulako commented on #2236
@zhonghongcheng please hold on. We need some time for additional exploration.

[2020-07-24 12:30] alexelizarov commented on #2077
Hi @guoyejun,

I created reproducer using sample_encode. (https://github.com/Intel-Media-SDK/MediaSDK/pull/2238)
In this reproducer ROI buffer attached the same way as in your code.

You can use it in following way:
./sample_encode h265 -i foreman_352x288_300.yuv -o result.hevc -w 352 -h 288 -cqp -qpi 25

In resulting bitstream we can see that all qp=25.

So, you behavior not reproduced.
ROI buffe

[2020-07-25 22:39] lakulako commented on #2236
@zhonghongcheng, #2229 with #2239 should have fixed the issue. Please try.

[2020-07-26 19:20] ngeorgis opened #2241 "HEVC Y210 sample decoder green frames with system memory"
Decoding HEVC Y210 sample decoder shows green frames with system memory.
Works fine when I use D3D11.  Will try to provide a sample...

[code]

[2020-07-27 03:22] zhonghongcheng commented on #2236
I have tested your commit #2239, the issue is fixed! But It seems that #2239 is in state "Merging is blocked".

[2020-07-27 07:35] #2236 closed

[2020-07-28 07:55] xhaihao opened #2244 "Got MFX_ERR_UNDEFINED_BEHAVIOR when decoding AV1 clips"
MediaSDK commit: 568cb784c971d228c3162dfd9013db236dc4b9fa

$> sample_decode  av1 -hw -vaapi -i av1.ivf
...
[ERROR], sts=MFX_ERR_UNDEFINED_BEHAVIOR(-16), RunDecoding, Unexpected error!! at /home/xhh/graphics/ex/gstreamer/MediaSDK/samples/sample_decode/src/pipeline_decode.cpp:2034

[ERROR], sts=MFX_ERR_UNDEFINED_BEHAVIOR(-16), main, Pipeline.RunDecoding failed at /home/xhh/graphics/ex/gstreamer/Medi

[2020-07-28 07:56] wangyan-intel commented on #2244
Sure. We will check it.

[2020-07-28 16:38] asmirno1 commented on #2241
Hi,

Could you please provide dxdiag report? We need to know platform and gfx driver version.
Have you tried to change "-r" to "-o output_file.yuv"? If so, do you see green frames in output file?
Also, is that issue specific to this bitstream or decoding of any bitstream shows green frames?
Could you also share this bitstream to us?

Thanks,
Alexander

[2020-07-28 17:21] ngeorgis commented on #2241
sure let me work on this please...

[2020-07-30 05:36] taste1981 opened #2248 "mfxplugin++.h coding style issue"
When mfxplugin++.h is included in a clang-based proj, this file throws warnings during compilation.  One example of that is:

    virtual ~MFXBaseUSER() {};

Where you put an extra ";" at after the dector implementation. and clang will warn with -Wextra-semi enabled.

There are also quite a lot coding style issue in this file. Can you please check?

[2020-07-30 07:27] CaseyGuanSun opened #2249 "mfx init crash"
I encount a Intel MFX init Decoder crash:
STACK_TEXT:
WARNING: Stack unwind information not available. Following frames may be wrong.
3334e44c 77bd8610 377addb0 78929610 3fcd59a0 ntdll+0xc6b18
3334e46c 789239bc 377addb0 3334e494 78c5b090 ntdll+0x58610
3334e478 78c5b090 377addb0 2f98622a 3334e550 igd9dxva32+0x339bc
3334e494 78bfce68 3fcd59a0 78bfcaf0 3fb53498 igd9dxva32+0x36b090
3334e4d8 7895a0ae 3

[2020-07-30 14:33] dvrogozh opened #2250 "use prefix variable thru pkg-config files"
https://github.com/Intel-Media-SDK/MediaSDK/blob/12ed7aea41f5ff583b86cbdca1e61947888da07d/_studio/mfx_lib/pkg-config.pc.cmake#L5

prefix variables is declared, but we don't use it to simplify the .pc file.

[2020-07-30 16:00] cheersalam commented on #2211
Closing this issue. I had to write new helper functions and defs to integrate it.

[2020-08-03 04:53] guoyejun commented on #2077
hi,

I do see the file size changed.

without your change:
./sample_encode h265 -i out352x288.yuv -o result_nochange_cqp.hevc -w 352 -h 288  -cqp -qpi 25
./sample_encode h265 -i out352x288.yuv -o result_nochange_default.hevc -w 352 -h 288

after apply your change:
./sample_encode h265 -i out352x288.yuv -o result_change_cqp.hevc -w 352 -h 288  -cqp -qpi 25
./sample_encode h265 -i out352x288.yuv -o

[2020-08-04 07:47] #2231 closed

[2020-08-04 10:20] #2248 closed

[2020-08-04 13:09] gdemonhunter opened #2263 "Compression ratio about hevc encoder on screen content video"

[2020-08-04 13:16] gdemonhunter commented on #2263
I tested the compression ratio of hevc hw encoder on screen content video with cqp mode, however it’s compression ratio even worse than the avc hw encoder. Is that normal?

[2020-08-05 01:45] FurongZhang commented on #2198
Hi, @aobolensk, I double checked the issue you reported. When App call query or QueryIOSurf, the current MSDK implementation returns unsupported. So I think the behavior is correct from my side.

If you think it is an issue, is it possible for you to let me know how to reproduce the issue you reported?

[2020-08-05 01:46] FurongZhang commented on #2198
BTW, is it on Windows or Linux you reported? This PR https://github.com/Intel-Media-SDK/MediaSDK/commit/2989b1cbf475c029215bd6a2b67d65fda5416c43 is only on Windows. I submitted a patch for Linux and currently it is in code review.

[2020-08-05 02:36] xhaihao opened #2264 "[regression] AV1 decoding is broken since commit 12ed7ae"
I get  MFX_ERR_UNSUPPORTED since commit 12ed7ae

$> sample_decode av1 -i av1.ivf

[ERROR], sts=MFX_ERR_UNSUPPORTED(-3), AllocFrames, m_pmfxDEC->Query failed at /home/xhh/graphics/ex/gstreamer/MediaSDK/samples/sample_decode/src/pipeline_decode.cpp:1138

[ERROR], sts=MFX_ERR_UNSUPPORTED(-3), Init, AllocFrames failed at /home/xhh/graphics/ex/gstreamer/MediaSDK/samples/sample_decode/src/pipeline_decod

[2020-08-05 02:48] wangyan-intel commented on #2264
I will check it. Sorry for this.

[2020-08-05 05:33] wangyan42164 commented on #2264
This is because MFX_VPX_Utility::Query() doesn't copy CodecLevel. For VP8/9, no codec level. For AV1, we need change the logic. I will submit PR for fixing it.

[2020-08-05 06:56] aobolensk commented on #2198
Hi @FurongZhang, I reported this issue for Linux

[2020-08-05 07:22] dmitryermilov commented on #2198
@FurongZhang , do you see that issue on Linux?

[2020-08-05 07:26] FurongZhang commented on #2198
https://github.com/Intel-Media-SDK/MediaSDK/commit/2989b1cbf475c029215bd6a2b67d65fda5416c43 is only for Windows. I implemented Linux and submitted code review. Also added behavior test for code review.

[2020-08-05 07:29] dmitryermilov commented on #2198
This is the point of current issue. For any feature being enabled on specific OS, specific HW type we have to make sure that on other OSes, HW types the feature returns UNSUPPORTED (not pretending to work and do nothing).

[2020-08-05 07:36] dmitryermilov commented on #2264
@aobolensk , can you please help to draft a simple AV1 test in Ted?

[2020-08-05 07:43] aobolensk commented on #2264
@dmitryermilov yes, I can do it

[2020-08-05 08:30] #2264 closed

[2020-08-06 07:25] AntonGrishin commented on #1654
Hi @fulinjie,

Sorry, I was on vacation for the last two weeks. Can you please try #2268?
I checked with PR & cmd, and it`s worked for me.

[2020-08-06 10:39] daleksan commented on #207
@changliwu is it still actual?

[2020-08-06 10:43] #425 closed

[2020-08-06 10:43] #438 closed

[2020-08-06 10:46] daleksan commented on #475
Algorithm was corrected some time ago please feel free to re-open if issue still persist

[2020-08-06 10:46] #475 closed

[2020-08-06 10:47] daleksan commented on #487
feel free to re-open if issue still actual

[2020-08-06 10:47] #487 closed

[2020-08-06 10:49] daleksan commented on #492
we consider that this fixed, please feel free to file the new one if rate control doesn't match expectations

[2020-08-06 10:49] #492 closed

[2020-08-06 10:52] daleksan commented on #515
Samples also supported on Windows. Release notes reference applicable driver version. Currently no plan to upstream Windows version of code.

[2020-08-06 10:52] #515 closed

[2020-08-06 10:53] #658 closed

[2020-08-06 10:54] #715 closed

[2020-08-06 10:54] #716 closed

[2020-08-06 10:56] #727 closed

[2020-08-06 14:08] fulinjie commented on #1654
Hi @AntonGrishin, commented in the pr, thx.

[2020-08-07 04:10] YaboWei opened #2270 "GPU hang, no way to recover only if reboot host"
CentOS Linux release 7.4.1708 (Core)
kernel 4.18
msdk 19.4
E3-1585L v5

![image](https://user-images.githubusercontent.com/26398513/89607992-6e9a5400-d8a6-11ea-87bf-415029275931.png)

Sorry for I can not reproduce this problem.

How can I detect the GPU hang?

[2020-08-07 16:48] lakulako commented on #2077
Hi @guoyejun ,
Let me explain again. In your code when ROI buffer is attached to Query,  it (ROI buffer) also goes to Init.
Init with ROI enables pps.cu_qp_delta_enabled_flag. It increases number of syntax elements even if delta_qp is always zero, hence file size is changed.

In case of AVC the ROI buffer doesn't affect encoding.
Neither case contradicts API. Different behavior that you observed i

[2020-08-10 13:03] FurongZhang commented on #2164
Assigned this issue to Jason.

[2020-08-10 13:07] FurongZhang commented on #1493
I have assigned this issue to Jason.

[2020-08-11 22:14] dmitryermilov commented on #2244
@wangyan-intel , @xhaihao , was it fixed?

[2020-08-11 22:58] wangyan-intel commented on #2244
@dmitryermilov it seems R2R issue. We are working on it.

[2020-08-11 22:59] dmitryermilov commented on #2244
Thanks!

[2020-08-12 11:04] mgonchar opened #2281 "FilmGrain structs don't have static asserts"
Structures ```mfxAV1FilmGrainPoint``` and ```mfxExtAV1FilmGrainParam``` are missing in _studio/shared/src/mfx_static_assert_structs.cpp

[2020-08-13 08:25] #2281 closed

[2020-08-14 08:34] FurongZhang commented on #1289
I have a sample code in the tutorial.

[2020-08-14 08:51] FurongZhang commented on #2065
As of today, MSDK does not support frame interpolation for FRC. Hence, close this issue.

[2020-08-14 08:51] #2065 closed

[2020-08-17 06:54] #1981 closed

[2020-08-17 06:55] #2223 closed

[2020-08-18 05:39] Jister commented on #111
Yes, Xi->Xp and Xi->2Xp only available for BOB and ADI. Xi->Xp mode just drop one of the field. Both of these two modes are done by HW, so i think there should be no performance issue. For Field Weave, the input is provided field by field, and two separate fields will be weaved into one interleaved frame.

[2020-08-18 10:36] eero-t commented on #2270
Ok, that's a Skylake: https://ark.intel.com/content/www/us/en/ark/products/93741/intel-xeon-processor-e3-1585l-v5-8m-cache-3-00-ghz.html

GPU hangs could be due to issue in kernel, media driver, or what MSDK does on top of media-driver, but this is really old kernel.

As you don't tell what's your use-case / how to reproduce this, *you* would need to find out which component is responsible for the

[2020-08-18 10:38] eero-t commented on #2263
Please provide command lines you used for this.  Preferably also a link to the content you used, so that one can try to reproduce.

[2020-08-18 10:41] eero-t commented on #2249
Those are rather huge offsets to the function starts, so I doubt the function names are correct.  You need to get backtrace with proper symbol information.

Does MFX / media-driver output any warnings?

[2020-08-18 11:21] eero-t opened #2295 "Large PSNR quality regression in AVC transcoding results"
Between following commits...

good:
* 2020-08-03 03-01-27 d4f52ee695e62ac2c2aa7747780a2bc8c81c7fba:  clarify the huc enabling in readme (media-driver)
* 2020-08-03 16-23-24 0b6996f73f525713284b48669a972f1d6fb1b3e0: [ted] Add README and use only installed binaries (media-sdk)

bad:
* 2020-08-04 05-39-58 e5c783546000ad0c50d0892d773cadffe60832bb: correct the reference capibility for gen11 and gen12 (

[2020-08-19 03:40] FurongZhang commented on #2087
@HermanMolinder, I saw you submitted this issue several years ago https://software.intel.com/en-us/forums/media/topic/734639 and https://software.intel.com/en-us/forums/media/topic/562583 . Now, I am investigating this issue. I am trying to understand if this is a MSDK issue or driver issue. As I know, we once fixed some issues on APL in media driver. Is it possible for you to check the latest iHD

[2020-08-19 06:06] HermanMolinder commented on #2087
@FurongZhang,
We're currently using Intel Media Driver release 20.1.1. Do you want me to try with latest Media Driver release?

1. We don't have a KBL. We have an embedded system with APL, so it's not possible to change.
2. Unfortunatly I can't share an app. Our application runs only in our embedded system.

[2020-08-19 06:10] FurongZhang commented on #2087
@HermanMolinder , then, could you please put the above into an sample app and try that if it is reproduced on APL or not? If there is no app, I don't have a good way to reproduce your issues.

Or you can capture some driver logs so that I can have some clues for this issue?

[2020-08-19 06:20] HermanMolinder commented on #2087
@FurongZhang, Maybe we can start with capturing driver logs. What do I need to do to enable the logging?

[2020-08-19 06:45] FurongZhang commented on #2087
https://github.com/intel/media-driver/wiki/Video-Processing-Debug-Tool
To dump VP HLT log: will dump driver log. Please contact my email if more questions, thanks a lot in advance!

[2020-08-19 13:10] aobolensk commented on #2295
Hi @eero-t,
I tried to reproduce this issue on different MediaSDK commits but on the same media-driver commit. I took 3 commits: (8378db0e67cd47893b9dd46ba716835a1530b055, 00185631f74eb9b9817bad88b68e66b70053a56e and 0b6996f73f525713284b48669a972f1d6fb1b3e0) and several streams with different resolution.
I used parameters that you used in command line: `-b 2000 -u 4 -n 2400 -async 4 -hw` and `-b 6

[2020-08-19 16:37] eero-t commented on #2295
After some testing, the regression turns out to be some change in the MediaSDK "sample_multi_transcode" program, not in the libraries it uses.

Note: the differences I reported are for the PSNR "average" value (when comparing the other values for the "HD17i7" case, especially PSNR 'y' & 'min' values have dropped hugely, while 'max' is still about same and 'u' & 'v' are fairly close).

[2020-08-19 16:52] dmitryermilov commented on #2295
Hi @eero-t ,
Seems we can't reproduce the issue locally. But you're saying the regression is obvious. Can you please attach resulted encoded files for a good and buggy case?

[2020-08-19 17:20] eero-t commented on #2295
I've sent link to the files privately, but I think the change in FFmpeg output actually tells what's the bug with "sample_multi_transcode":
[code]
=> New "sample_multi_transcode" changes the output to 30 FPS, so that it doesn't any more match input.  This explains why the smallest (30FPS) video didn't show any regression.

From my earlier quality testing using FFmpeg, it doesn't seem to do a simpl

[2020-08-19 17:24] aobolensk commented on #2295
This is known issue, patch for it is on review: #2296
Can you please apply this patch and check PSNR/SSIM one more time?

[2020-08-19 19:40] dmitryermilov commented on #2295
It's indeed might be ffmpeg specific behavior of metrics calculation. But generally encoded files are really different  (i'm looking at HD17i7-bad.h264 and HD17i7-good.h264). Difference starts at frame #222.  Slightly different MVs, slightly different MB types. QPs, GOP's, ref lists are the same. Interesting...

[2020-08-20 08:19] HermanMolinder commented on #2087
@FurongZhang,

Here're two different times where I observed the error and saved the debug log from media driver. Right after I observed the "glitch" I stopped the logging, so it should appear somewhere at the end of each log file.

[igd_1030.log](https://github.com/Intel-Media-SDK/MediaSDK/files/5101690/igd_1030.log)

[igd_1404.log](https://github.com/Intel-Media-SDK/MediaSDK/files/5101691/igd_140

[2020-08-20 10:37] #1014 closed

[2020-08-20 10:38] #1243 closed

[2020-08-20 10:42] #1511 closed

[2020-08-20 10:43] onabiull commented on #1343
Sorry but muxers and demuxers out of current project scope. We was unable to justify ROI of maintaining our own version. So current approach is to use ffmpeg or gstreamer with QSV acceleration.

[2020-08-20 10:43] #1343 closed

[2020-08-20 10:49] daleksan commented on #1677
feel free to re-open if still actual

[2020-08-20 10:49] #1677 closed

[2020-08-20 10:54] AntonGrishin commented on #1768
Hi @paulli2017,

Can you please try with an updated guide?
[code]
**Note:** here we are using "fps" option to FRC.

[2020-08-20 11:00] #1874 closed

[2020-08-20 11:01] #1916 closed

[2020-08-20 11:25] daleksan commented on #2155
@acergamebook try to use latest stable version

[2020-08-20 11:27] daleksan commented on #2196
@HermanMolinder can we close this issue?

[2020-08-20 12:50] HermanMolinder commented on #2196
@daleksan
For me it's ok to close issue. My workaround works. However I still claim this is a bug in msdk, as MFXVideoDECODE_Query sets crop values to 0 for HEVC (but not for MPEG2/H264). It's up to you how you want to proceed with this issue.

[2020-08-20 13:02] dmitryermilov commented on #2196
Hi @HermanMolinder , seems this one https://github.com/Intel-Media-SDK/MediaSDK/pull/2187 fixes the issue. Can you please confirm?

[2020-08-20 13:26] HermanMolinder commented on #2196
Hi @dmitryermilov,
Yes, that looks correct! You can close this issue.

[2020-08-20 13:30] dmitryermilov commented on #2196
Great :) !

[2020-08-20 13:30] #2196 closed

[2020-08-24 05:05] SiewHoon opened #2307 "TGL: sample_decode on av1 not working with system memory"
Failed to do AV1 decoding using system memory. Not issue with video memory.

Here is the media components stack:
Libva: 836d8e2a411ece2539d1e8046fa845912af8729a
Libva-utils: b4048ae967079414d385a88d5ef8d4bc676b6311
MSDK library: dbbb196d21a55c8666e1e5f153d5c5f251742f93 + https://github.com/Intel-Media-SDK/MediaSDK/pull/2276,
Media Driver: 643873380fd71c7c072616a0a33a283972e385c6
Gmmlib: intel-gmml

[2020-08-25 02:36] guoyejun commented on #2077
i was not convinced it is a feature.  It is a common behavior above the encoder.

[2020-08-25 08:38] DayDaySee opened #2311 "sample_decode jpeg fail with gpu hang"
Platform: Centos 7.4  Kernel 5.2.4 with E3-1515M
decode gpu-hang.jpg using sample_decode, the program will get stuck for a while and then return normally, but the decoded image is invalid,  while dmesg show "i915 0000:00:02.0: Resetting vcs0 for hang on vcs0"

The attachment is gpu-hang.jpg，gpu hang  can be reproduced with decoding this image.

#dmesg -T
[Tue Aug 25 16:17:48 2020] i915 0000:00:02.

[2020-08-25 08:42] HermanMolinder opened #2312 "VPP resize generates jumpy frames (for 2:3 pulldown coded video)"
I have a stream which contains mixed PicStructs (combinations of Progressive, TFF, BFF, Field_Repeat). When decoding and resizing through VPP the frames jumps up and down in vertical direction. It also looks like Top and Bottom field gets mixed up.

Reproducable with:
`sample_multi_transcode -i::mpeg2 video_es.mpeg2 -o::raw out.raw -w 720 -h 480`

Input stream:
https://a2b-my.sharepoint.com/:u:/g/

[2020-08-25 09:01] LukeZheZhu opened #2313 "How to build 32bit msdk lib on 64 Ubuntu 20.4"
I export CFLAGS=-m32 and export CXXFLAGS=-m32, then cmake and cmake log building architecture changes to 32-bit
When 'make', I get bunches of not been declared error.
I wonder is there any way to build a 32bit MSDK lib？

Thanks

[2020-08-26 01:18] IsoaSFlus commented on #1768
@AntonGrishin  I found that vpp_qsv=framerate seems not work when changing fps to a number less than original fps (eg 60 fps to 30fps). Is it a bug or just a limitation? What's the correct way to reduce fps with qsv acceleration? Thanks!

[2020-08-26 02:36] dvrogozh commented on #1768
That's a bug in ffmpeg-qsv framerate conversion. However, ffmpeg maintainers decision is to avoid fixing it and stick with ffmpeg usual fps filter. So, correct way is to go with fps filter as in example which was posted by @AntonGrishin. See details here: https://patchwork.ffmpeg.org/project/ffmpeg/patch/1582903831-20063-1-git-send-email-linjie.fu@intel.com/

[2020-08-26 08:21] lius-xjtu opened #2316 "hevc temporal"
does the hevc encoder support temporal layer? and how to use it?

[2020-08-26 12:08] amnonbb commented on #1552
yes

[2020-08-26 19:54] dmitryermilov commented on #2316
Hi @lius-xjtu ,

Yes it's supported. Please see [mfxExtAvcTemporalLayers](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#mfxextavctemporallayers). 'Attach' this extBuffer to encoder initialization mfxVideoParams.

[2020-08-27 01:26] lius-xjtu commented on #2316
the mfxExtAvcTemporalLayer structure configures the h265.  also support h265? I use sample_encode and the command is h265 -i test. yuv -w 1920 -h 1080 -f 30 -AvcTemporalLayers "0 1 2 4 0 0 0 0" -o out. h265 but I get the error sts=MFX_ERR_NULL_PTR(-2) , AllocFrames, Query (for encoder) failed at SRC/pipline_encode.cpp:947

[2020-08-27 01:37] zhaoye1 opened #2321 "sample_vpp.exe -rotate do not work on Media SDK 2020 R1 windows version"
test command:
sample_vpp.exe -sw 1920 -sh 1080 -scc nv12 -dw 1080 -dh 1920 -dcc nv12  -i 1nv12.data -o 1nv12Out.data -rotate 90
input data:
![image](https://user-images.githubusercontent.com/22929741/91373362-c9d9b980-e848-11ea-82ec-2f0d042943aa.png)
out put data:
![image](https://user-images.githubusercontent.com/22929741/91373405-e4ac2e00-e848-11ea-9e4e-95f90645f46f.png)