[2021-11-11 13:05] SofyaBalandina commented on #1575
Hi, output format ayuv is supported in sample_decode

[2021-11-11 18:28] eero-t opened #2822 "[TGL] segfaults in "sample_multi_transcode" when they run in parallel"
## System information
- 11th Gen Intel(R) Core(TM) i7-11800H @ 2.30GHz
- Intel Corporation TigerLake GT2 [Iris Xe Graphics] [8086:9a60] (rev 01)
- Whole GPU stack built from git, starting from drm-tip kernel
- VT-d enabled from BIOS (i.e. GFX IOMMU is active) [1]

## Issue behavior

Run 50 parallel instances of this:
`sample_multi_transcode -i::h264 1280x720p_29.97_10mb_h264_cabac.264 -o::h264 003

[2021-11-12 01:08] chuanli1 commented on #1575
Hi, it is using VPP to convert NV12 to AYUV, but sample app can't output 444P format for YUV444 jpeg file directly.

[2021-11-16 09:05] #2786 closed

[2021-11-17 08:42] 1515guo commented on #2800
I use the node plug-in to call the decoding interface of mediasdk, which is used by electron. It occasionally appears. Writing only C++ examples will not

[2021-11-17 09:39] KalaipriyaRajesh commented on #2813
Hi @dmitryermilov

Could you please help out on this issue. If any update can you please write it.

Thanks

[2021-11-17 20:51] softworkz commented on #2597
@dmitryermilov  @pengxin99 - Is there any progress in sight on this issue?

[2021-11-19 02:38] wangyan-intel commented on #2597
@softworkz Sorry for slow response. As you know, we are transferring from MSDK legacy to oneVPL (https://github.com/oneapi-src/oneVPL-intel-gpu). For legacy branch, it has been implemented by @pengxin99 with extension buffer. But this flow cannot be used in VPL architecture. We are evaluating the path and will update it ASAP.

[2021-11-19 14:48] softworkz commented on #2597
Only the "legacy" path is of interest at this time. Will the implementation from @pengxin99 be merged?

[2021-11-19 14:51] softworkz commented on #2597
For Linux we could easily merge this patch ourselves, but not for Windows - that's the big problem.
Or is	 there a way how we could build our own libmfxhw64.dll for Windows?

[2021-11-22 02:26] wangyan-intel commented on #2597
@softworkz
In general, we will not add new feature into legacy path and just bug fix. Of course, you could use @pengxin99's legacy PR. Windows code isn't included in current repo (https://github.com/Intel-Media-SDK). @dmitryermilov @onabiull Could we provide binary build beyond the normal release build?

[2021-11-22 06:47] wangyan-intel commented on #2493
@lzfgnu Sorry for slow response. It this issue still existed?

[2021-11-22 06:59] 1515guo opened #2825 "I found that using MediaSDK-intel-mediasdk-21.3.5 version failed to decode on the machine (sample_decode.exe h264 -i 1.h264 -o 1.yuv), but using ffmpeg to use avcodec_find_decoder_by_name("h264_qsv"); the decoder can successfully decode normally"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
- Display server if rendering to display(X or wayland):

## Issue behavior
### Describe the current behavior

### Describe the expected behavior

## Debug information
- What's libva/libva-utils/gmmlib/media-driver/Media SDK version?
- Could you confirm whet

[2021-11-22 07:02] 1515guo commented on #2825
![Snipaste_2021-11-22_15-00-54](https://user-images.githubusercontent.com/42996533/142817861-91a224f1-1fd2-4b5b-b1da-ae161956b7ef.png)

[2021-11-22 07:04] 1515guo commented on #2825
![Snipaste_2021-11-22_15-04-36](https://user-images.githubusercontent.com/42996533/142818089-ebf45bcd-7f9e-4607-bd82-6d99519b4597.png)
![Uploading Snipaste_2021-11-22_15-03-38.png…]()

[2021-11-22 07:05] 1515guo commented on #2825
![Snipaste_2021-11-22_15-03-38](https://user-images.githubusercontent.com/42996533/142818148-4b503483-8668-49e6-8b2b-b355af7d0394.png)
![Snipaste_2021-11-22_15-04-36](https://user-images.githubusercontent.com/42996533/142818152-713bfac1-bc6e-49b0-8882-92eedc103960.png)

[2021-11-22 07:08] 1515guo commented on #2825
No matter what h264 file is on this machine, sample_decode.exe always fails, but my machine uses sample_decode.exe to decode normally, and ffmpeg uses "h264_qsv" both machines are normal.

[2021-11-22 07:32] 1515guo commented on #2825
I  use Intel(R) Media SDK 2019 R1 to decode, can decode sucess，but the decoded data is often green screen

[2021-11-22 07:33] 1515guo commented on #2825
![Snipaste_2021-11-22_15-30-20](https://user-images.githubusercontent.com/42996533/142821043-2107d27c-0aad-4d0c-884a-8af8ceae9bc0.png)

[2021-11-22 09:18] 1515guo commented on #2825
@dmitryermilov

[2021-11-22 09:27] dmitryermilov commented on #2825
Please try to add -hw:
sample_decode.exe h264 -i 1.h264 -o 1.yuv -hw

[2021-11-22 18:26] softworkz commented on #2597
Or even better - could we get the Windows code (maybe under NDA) to build our own binaries?
Thanks,
sw

[2021-11-22 21:24] ValZapod commented on #2020
Use ffmpeg.exe -i sample_48fps_iframes.mp4 -an -c:v copy -bsf:v trace_headers -f null - 2>&1|   grep slice_type

Recovery point is slice_type number 7.

[2021-11-23 06:28] 1515guo commented on #2825
![Snipaste_2021-11-23_14-25-17](https://user-images.githubusercontent.com/42996533/142979530-335c0bd6-7a3e-4e62-9ff7-da2084181eee.png)
hello，i add -hw has fails

[2021-11-23 06:29] 1515guo commented on #2825
@dmitryermilov 我发现添加了也没是失败

[2021-11-23 22:13] dmitryermilov commented on #2818
@MathieuGirard , thanks for clear explanation ! Your proposal looks good.

[2021-11-23 22:21] dmitryermilov commented on #2825
It's Ivybridge. Pretty old driver and HW. It's very hard to say what's wrong.
I'd suggest you to experiment. Try -d3d9 vs d3d11. Try to collect msdk api traces (tracer is a part of MSDK Windows Dev kit) in case of ffmpeg and sample and compare.
Try to remove MFXQueryAdapters call from the sample and hardcode some adapter value instead

[2021-11-24 21:30] #2818 closed

[2021-11-24 22:12] dmitryermilov commented on #2597
Binary for NDA user - I assume it's possible. Code for NDA user - there should be a very strong request, unlikely to be approved but I can double check. Please send me a formal email including company name.

[2021-11-24 22:19] softworkz commented on #2597
Hi Dmitry, thanks I'll follow up offline!

[2021-11-25 05:58] tong1wu opened #2830 "How to dump msdk log messages on Windows"
According to this issue, https://github.com/Intel-Media-SDK/MediaSDK/issues/948#issuecomment-442511043
I could dump MSDK log messages on Linux. But I don't have an idea where to create the /.mfx_trace on Windows. When I build the msdk source code with release mode there is nothing and for debug mode I could only see MSDK_HEVCE_HW_DDI_LOG.txt which is not what I want.
It seems useless when I put th

[2021-11-25 08:40] dmitryermilov commented on #2830
It's much easier on Windows. MediaSDK dev packages have GUI tracer app. Please downloaded the latest dev package from official Intel website.

[2021-11-26 01:43] tong1wu commented on #2830
Thanks for the reply. I am using the open source oneVPL dispatcher and the inner-source mdp-msdk-lib to build the runtime. After I downloaded the tracer.log and pressed the start button, no bytes are written into the log file. Does the runtime that I'm using have to be the msdk runtime in the dev package? I put the libmfx64-gen.dll which I built myself under C:\Windows\System32 and seems that trac

[2021-11-26 07:38] dmitryermilov commented on #2830
Hi @tong1wu ,

Please ask the question of tracer availability in https://github.com/oneapi-src/oneVPL

[2021-11-26 07:53] tong1wu commented on #2830
ok, thanks.

[2021-11-26 07:53] #2830 closed

[2021-11-29 13:20] APrashant opened #2833 "whether one decoder output to one display pipeline and one encoder pipeline is possible with sample_multi_transcode or any other samples in msdk"
Hi,

**To do:**
Aim is to achieve 1 - N pipeline like
input - one decoder to  1 - vpp - display pipeline
                                       2 - encoder - filedump pipeline
then same pipeline for 16 channel

Tried below par files:

1. below is 1-N - encoder pipeline and it is working

-i::h264 h264.h264 -o::sink
-hw -i::source -w 320 -h 240 -o::h264 output1.h264 -async 1
-hw -i::source -o::h264

[2021-11-30 07:58] 1515guo commented on #2825
hello ，I commented out GetImpl and found that the decoding on some machines is normal, and the decoding on some machines is green screen.@dmitryermilov
![Snipaste_2021-11-30_15-56-42](https://user-images.githubusercontent.com/42996533/144007933-6db39d22-7016-48f3-a19f-65a39a21d83f.png)
 ，

[2021-11-30 08:01] 1515guo commented on #2825
normal machines is i3 3210，the machines GetImpl is failed，MFX_ERR_NOT_FOUND(-9), MFXQueryAdapters failed

[2021-11-30 08:43] dmitryermilov commented on #2825
What is the difference between normal and non-normal machine?

[2021-11-30 08:49] 1515guo commented on #2825
Sorry, what I mean is that on the i3 3210 machine, GetImpl failed and it can’t be decoded. I commented out GetImpl and used initPar.Implementation = MFX_IMPL_HARDWARE_ANY; and the decoding was successful, and the decoded data was normal.

[2021-11-30 08:50] 1515guo commented on #2825
Sorry, what I mean is that on the i3 3210 machine, GetImpl failed and it can’t be decoded. I commented out GetImpl and used initPar.Implementation = MFX_IMPL_HARDWARE_ANY; and the decoding was successful, and the decoded data was normal.

[2021-11-30 08:53] 1515guo commented on #2825
![Snipaste_2021-11-30_16-51-32](https://user-images.githubusercontent.com/42996533/144015422-c63d16d2-a641-4d47-8150-630781de4f10.png)
![Snipaste_2021-11-30_16-51-52](https://user-images.githubusercontent.com/42996533/144015430-27c59862-5bf7-4aad-8ecc-e84fb0c52e2e.png)
I mean is that on the i3 3210 machine, GetImpl failed and it can’t be decoded. I commented out GetImpl and used initPar.Implementa

[2021-11-30 09:07] dmitryermilov commented on #2825
Ahh. Okay.
Most likely old mediasdk run-time library doesn't support something which is needed by https://github.com/Intel-Media-SDK/MediaSDK/blob/510d19dcace1d8c57567fdd40b557155ab11ab8e/api/mfx_dispatch/windows/src/mfx_dispatcher.cpp#L542

[2021-11-30 09:15] 1515guo commented on #2825
But it is strange to use ffmpeg to call "h264_qsv" on the machine i3 3240, which can be decoded normally, and use mediasdk to decode the green screen.

[2021-11-30 09:21] dmitryermilov commented on #2825
I guess ffmpeg  simply doesn't use MFXQueryAdapters

[2021-11-30 10:15] fut33v opened #2834 "deinterlace double frame rate"
## System information
Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz

## Issue behavior
### Describe the current behavior
can't set options for VPP double frame rate deinterlacing:

[code]
m_MFXVideoVPP_Query returns MFX_ERR_UNSUPPORTED

## Debug information
libva info: VA-API version 1.11.0
[vainfo.log](https://github.com/Intel-Media-SDK/MediaSDK/files/7624628/vainfo.log)

[2021-11-30 10:20] dmitryermilov commented on #2834
Such mode isn't supported. Please use MFX_DEINTERLACING_ADVANCED or  MFX_DEINTERLACING_ADVANCED_SCD instead.

[2021-11-30 10:33] fut33v commented on #2834
Thank you, it is not obvious why this mode is still in enum.

[2021-11-30 10:34] dmitryermilov commented on #2834
Even something is not supported anymore by current version of run-time library, it remains in API. Overwise re-compilation of legacy applications will be broken.

[2021-12-01 07:48] fut33v commented on #2834
strange, with MFX_DEINTERLACING_ADVANCED
m_MFXVideoVPP_RunFrameVPPAsync returns MFX_ERR_UNDEFINED_BEHAVIOR

[2021-12-01 14:31] kovakimy commented on #1610
If you still have any questions, please, let me know. Feel free to reopen if customer impact with right justification and priority.

Thanks & Regards,
Kristina

[2021-12-01 14:31] #1610 closed

[2021-12-01 14:36] kovakimy commented on #2076
The customer declared in internal correspondence that the issue is not actual.

If you still have any questions, please, let me know. Feel free to reopen if customer impact with right justification and priority.

Thanks & Regards,
Kristina

[2021-12-01 14:36] #2076 closed

[2021-12-01 18:22] philn commented on #1803
In which version was this released?

[2021-12-02 10:09] APrashant opened #2837 "Intel msdk with QT GUI"
Hi,

How can we use Intel Media SDK with Qt GUI application to decode and display multiple video streams on HDMI display?
We have Intel apollo lake with Intel Media SDK for the purpose of hardware accelerated decoding functionality.
We are trying to build GUI application that decodes and display the video stream using Intel Media SDK.

Please suggest any reference and also about the possibility if

[2021-12-02 10:40] dmitryermilov commented on #2837
Hi @APrashant ,

Which OS?

[2021-12-02 10:53] APrashant commented on #2837
yocto-2.7 or linux with 5.0 kernal

[2021-12-02 11:36] dmitryermilov commented on #2837
Thanks, @APrashant .

@VUNNYSODHI , @UngTengEn , @SiewHoon , can you please help? Do you know a way how to pass vaSurfaceId or Wayland handle or perhaps framebuffer handle to QT?

[2021-12-02 16:57] onabiull commented on #2790
@mvmaximov, could you please take a look at this issue?

[2021-12-02 17:00] mvmaximov commented on #2790
Should be fixed by https://github.com/Intel-Media-SDK/MediaSDK/pull/2801/

[2021-12-03 06:10] APrashant commented on #2833
Hi,

with the above display pipeline we used vpp_comp option along with vpp_comp_only option to have filedump.

**par file used:**
-i::h264 test.h264 -join -hw  -async 1 -o::sink -vpp_comp_dst_x 0 -vpp_comp_dst_y 0 -vpp_comp_dst_w 320 -vpp_comp_dst_h 240 -ext_allocator
-vpp_comp 1 -async 1 -join -hw -i::source -o::raw vpp_dump_file.yuv
-vpp_comp 1 -join -hw -i::source -o::h264 encode_dump_file.h26

[2021-12-06 13:13] onabiull commented on #1241
Reference numbers may be found on Media Delivery solutions https://github.com/intel-innersource/containers.docker.gpu.media.intel-media-delivery/blob/master/doc/performance.rst

[2021-12-06 13:13] #1241 closed

[2021-12-06 13:15] onabiull commented on #1663
Is this issue still actual given https://github.com/intel/media-driver/issues/930?

[2021-12-06 13:16] SofyaBalandina commented on #2833
Hi,
Sorry, I can’t give advice about about it, the vpp_comp options are target for n->1 scenarios, it is not expected that it will work with 1->N and here it is looks like surfaces handling work incorrectly
Now in sample_multi_transcode is not presented some way to combine rendering and dumping.
For rendering it is could be used sample_decode with -r options.
Look like rendering to smt could be ad

[2021-12-06 14:18] #2790 closed

[2021-12-07 11:53] eero-t commented on #1663
Looking at some of my historical data, QSV transcoding started to return results for H.264 encoding about 1.5 years ago, and results for encodes both to 10-bit H.265 & 8-bit H.264 about 1 year ago on GLK.  (VA-API never had an issue[1])

If the original bug reporter (from 2019) doesn't reply in week or two, I think you can close this.

---

[1] Earlier there were quite a lot of kernel stability is

[2021-12-08 04:58] APrashant commented on #2837
Hi @VUNNYSODHI  @UngTengEn  @SiewHoon
Is it possible to integrate intel media sdk with Qt GUI?

[2021-12-08 07:14] wangyan-intel commented on #1575
@SofyaBalandina Could you please confirm with @chuanli1's comments? If yes, could you please add it? Thanks.

[2021-12-08 07:38] shawnli2 commented on #2696
@Bin-CI
It is a known linux kernel issue, will cause GPU hang when mutiply docoding with enabled scalability. Currently there is no plan to fix this issue.

To pass the case, please run with scalability disabled. You can run with this regkey:

[KEY]
        0x00000001
        UFKEY_INTERNAL\LibVa
        [VALUE]
                     Enable HCP Scalability Decode
                     4

[2021-12-08 08:38] SiewHoon commented on #2837
@APrashant , @dmitryermilov
I didn't use Qt GUI.

Here is the sample QT GUI with Gstreamer. Maybe you can try and look on it how is work and implement on your code.
https://github.com/FYPYTHON/qt-gstreamer-player

[2021-12-08 09:52] APrashant commented on #2837
Thanks @SiewHoon  , yes  we are able to integrate Qt GUI app with gstreamer & display multiple streams in Qt Grid.
but we want achieve this with Hardware Acceleration, (I'm not sure but)some of the plugins we use in our gstreamer pipeline are CPU driven and consuming CPU clock. so when the channel count increases like 16/25/36 the CPU load is high.
Instead of Gstreamer we are trying to use Intel M

[2021-12-09 16:51] APrashant opened #2842 "N-N pipeline support"
Hi,

We are planning to achieve N-N pipeline like

**pipeline 1:**
input - one decoder
i) above decoder output - vpp - raw dump
ii) above decoder output - vpp - encoder - filedump pipeline
**pipeline 2:**
.
.
till  **pipeline N:**

**working par file :**
-i::h264 test.h264 -hw  -async 1 -o::sink
-hw -i::source -w 320 -h 240 -o::raw output1.yuv -async 1
-hw -i::source -o::h264 output2.h264 -async 1

[2021-12-09 16:53] SofyaBalandina commented on #1960
Hi
To get output stream in not NV12 fourcc, please, specify the output fourcc with options like -ayuv/-y416/etc.
For example:
`./sample_decode jpeg -i smpte_444P.jpeg -o output.yuv -hw -ayuv `

It could be used fourcc and options -ayuv/-y416 to convert stream to chroma format YUV444
It could be used fourcc and option -yuy2 to convert stream to chroma format YUV422
Unfortunately I have no informati

[2021-12-09 17:01] SofyaBalandina commented on #2793
Hi, looks like it is declare with unique_ptr and that fact allows to not free it

[2021-12-09 17:05] SofyaBalandina commented on #2367
Hi, approach is aligned in smt and sample_encode: https://github.com/Intel-Media-SDK/MediaSDK/pull/2815/files

[2021-12-09 17:31] SofyaBalandina commented on #2833
Hi,
Is that possible to sync both display and encoding in 1-N pipeline by implementing in this way? - I suppose that, yes, but to answer for sure need to do experiments
And whether we have any code reference for this type ? - no, now we have no such code
Looks like code for vpp_comp/vpp_comp_only close to solving the problem https://github.com/Intel-Media-SDK/MediaSDK/blob/master/samples/sample_mu

[2021-12-09 22:14] dmitryermilov commented on #2837
I searched across the Internet and couldn't find any mentioning of QT could make a "zero copy" rendering of vaSurfaceId's. In Intel (and I guess not only Intel) media stack on Linux, behind vaSurfaceId's there're underlying KMD-level **drm** handles (which often used as unified interface for interoperability across different media/compute/etc frameworks on Linux). But also no mentions of drm and Q

[2021-12-09 22:23] dmitryermilov commented on #2822
I've been working on "another" crash reproduced  in a high density usage case on TGL . In my issue, crash most likely was introduced by https://github.com/intel/media-driver/commit/976b1035d34a34da7bd2e6b7b8ff45634dd93373#diff-e7c132d1e16b5abc85b439f6bed0e226e72a2fc183b91670ab4d2934d327cb48 . Time of check-in fits your description. @eero-t , do you  have a call stack of the crash so that I can com

[2021-12-10 06:55] SiewHoon commented on #2837
In QT got mention support OpenGL, maybe the rendering and go thru 3D mesa driver.

Not able to confirm QT OpenGL at here got support dmabuf sharing ("zero copy) or not.

Here is link maybe you can go explore and check with QT forum as mention by Dmitry:
https://doc.qt.io/qt-5/qtgui-index.html
https://doc.qt.io/qt-5/qopenglframebufferobject.html

But I know 3D mesa driver side, did support dmabuf s

[2021-12-10 10:05] 3xLOGICKevinHan opened #2844 "Too much cocurrent decoding channels on HEVC frames leads to win10 system hangup"
## System information
The OS is win10. And we reproduce this hangup issue at 2 CPU model.
1) J3455
2) i5-10400

## Issue behavior
Based on sample code "MediaSDK\tutorials\simple_2_decode_hevc10", I wrapped it to be a "hevcd.dll". It provides interface for creating a "MsdkDecoder" decoder object. And I can use it to decode input HEVC frames (main profile). This wrapped code works properly. I can cr

[2021-12-10 10:10] 3xLOGICKevinHan commented on #2844
@dmitryermilov ,Could you help me on this? You used to help me solve the "software decoding" issue before:)

[2021-12-10 10:13] eero-t commented on #2822
Unfortunately not.  I only see the crashes from dmesg hours later (these tests are run as part of much larger test-set, and I do not have time to debug them myself).  They happen always at the same offset in libc i.e. in same function.  This is from last evening build:
[code]
I do not see any exported functions near that crash offset:
[code]
So I assume media crash is happening in some static (or

[2021-12-10 10:50] dmitryermilov commented on #2844
It's always hard to investigate such system hang issues.

- Could you collect MSDK tracer API logs (public msdk windows dev package has the tracer)?

- Can you please try to reproduce the issue with sample_multi_transcode app with par file like:

[code]
just to check it's not a problem of your app.

- What d3dX type d  you use? Try with both d3d11 and d3d9.
- What memory type you have after decode

[2021-12-10 15:32] APrashant commented on #2833
Hi @SofyaBalandina,

Thank you so much for the prompt reply.

we tried as you mentioned above,
-i::h264 1min.h264  -hw -async 1 -vpp_comp_dst_x 0 -vpp_comp_dst_y 0 -vpp_comp_dst_w 1280 -vpp_comp_dst_h 720 -o::sink -ext_allocator
-vpp_comp 1 -join -hw -i::source -o::h264 encode_dump_file.h264 -async 1
-vpp_comp_only 1 -w 1280 -h 720 -async 1 -hw -i::source -ec::rgb4 -rx11 -fps 30

But no improvemen

[2021-12-10 16:28] SofyaBalandina commented on #2833
Does the sample_multi_transcode terminate with an error(The test FAILED) or with The test PASSED without session with output to yuv?
I'll check what could be wrong with display.

[2021-12-10 16:54] philn commented on #1803
@FurongZhang ?

[2021-12-10 23:57] 3xLOGICKevinHan commented on #2844
[16chan.log](https://github.com/Intel-Media-SDK/MediaSDK/files/7696017/16chan.log)

Hi @dmitryermilov , thanks for your quick reply. I believe this attached "16chan.log" is the tracer log. This is log for "J3455".

I will try the "smaple_multi_transcode" app later. But want to clarify some details here.

a) My working routine is x64 (NOT x86).
b) My working routine is nearly the same as my previou

[2021-12-11 09:56] softworkz opened #2845 "Support for H.264 High10 Profile?"
Hi,

I'm wondering whether MFX_PROFILE_AVC_HIGH10 is meant to be supported.

At this place in CheckVideoParam() it is included in the switch for supported profiles:

https://github.com/Intel-Media-SDK/MediaSDK/blob/bdc576c121e19018c20dab30d5b3c821695d93f4/_studio/shared/umc/codec/h264_dec/src/umc_h264_mfx_supplier.cpp#L1535-L1550

But further up in Query(), it is missing:

[MFX_PROFILE_AVC_HIGH10

[2021-12-12 13:08] dmitryermilov commented on #2845
Hi @softworkz ,

Is the request for decoder or encode?

[2021-12-12 18:59] softworkz commented on #2845
decode only

[2021-12-13 05:26] wangyan-intel commented on #1960
@sunxinpeng Could you please check @SofyaBalandina's comments? Could you please check @SofyaBalandina's comments? If OK, could we close this issue? Thanks. If OK, could we close this issue? Thanks.

[2021-12-13 05:29] wangyan-intel commented on #1575
@xhaihao This issue is similar with https://github.com/Intel-Media-SDK/MediaSDK/issues/1960 and @SofyaBalandina has replied in it. Could you please check it? If OK, could we close this issue? Thanks.

[2021-12-13 05:50] sunxinpeng commented on #1960
@wangyan-intel I have not worked on it for a long time and I have no local environment to validate it. You can check this issue with @xhaihao or just close this issue.

[2021-12-13 05:51] wangyan-intel commented on #1960
@sunxinpeng Yes. I have pinged @xhaihao in #1575. Thanks.

[2021-12-13 05:58] wangyan-intel commented on #2845
@chuanli1 will check it. Thanks.

[2021-12-13 06:05] sunxinpeng commented on #1960
@wangyan-intel OK. Close this issue.

[2021-12-13 06:05] #1960 closed

[2021-12-13 10:21] dmitryermilov commented on #2845
Unfortunately HW AVC doesn't support 10 bit. This code above is leftover from SW AVC decoder. @chuanli1, it would be great to remove this code to avoid confusion. The same is for VPL.

[2021-12-13 15:18] softworkz commented on #2845
OK thanks.
What about the MFX_PROFILE_AVC_HIGH_422 profile? I suppose it's not supported in HW either?

[2021-12-14 01:56] chuanli1 commented on #2845
Hi @dmitryermilov,
According to this open driver code:https://github.com/intel/media-driver/blob/master/media_driver/linux/common/ddi/media_libva_caps.cpp#L3130-L3137, the hw seems to only support VAProfileH264ConstrainedBaseline, VAProfileH264Main and VAProfileH264High.

[2021-12-14 02:10] softworkz commented on #2845
@chuanli1 - Thanks a lot for looking it up.

The above is for Linux/VAAPI - can you find out how the situation is for Windows?

[2021-12-14 04:50] xhaihao commented on #1575
@SofyaBalandina  Did you mean JPEG decoder in the SDK supports NV12, RGB32, and YUY2 only, right ?  JPEG in the media driver may support other formats, see https://github.com/intel/media-driver/blob/master/docs/media_features.md#jpeg-decoding-format-support, e.g. 444P for 4:4:4 8-bit jpeg file and 400P for 4:0:0 8-bit jpeg file. Is it possible to support these formats in the SDK too ?

[2021-12-14 05:41] chuanli1 commented on #2845
Hi @softworkz ,
HW AVC doesn't support MFX_PROFILE_AVC_HIGH10 and MFX_PROFILE_AVC_HIGH_422, I will remove them, thanks for your reminder.

[2021-12-14 12:25] APrashant opened #2847 "H264 Encoded frames are jumbled(not ordered properly) in the dump file"
## System information
**CPU information**
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              12
On-line CPU(s) list: 0-11
Thread(s) per core:  2
Core(s) per socket:  6
Socket(s):           1
NUMA node(s):        1
Vendor ID:           GenuineIntel
CPU family:          6
Model:               158
Model name:          Intel(R) Core(

[2021-12-14 12:55] fut33v commented on #2834
Strange, MFXVideoVPP_RunFrameVPPAsync returns MFX_ERR_NONE each 2 time and MFX_ERR_MORE_SURFACE another instead of returning MFX_ERR_MORE_SURFACE every time.

[2021-12-14 14:18] fut33v commented on #2834
Unfortunately my program fails to start with tracer with seg fault
91038 segmentation fault (core dumped)  LD_PRELOAD=libmfx-tracer.so.1.35

91038 2021-12-14 17:15:32     mfx_tracer: dll_init() +
91038 2021-12-14 17:15:32     mfx_tracer: lib=libmfxhw64.so.1
91038 2021-12-14 17:15:32     mfx_tracer: dll_init() -

91038 2021-12-14 17:15:32 function: MFXInitEx(mfxInitParam par={.Implementation=MFX_IM

[2021-12-14 22:04] dmitryermilov commented on #2834
Weird. I can't double check how you call MFXVideoVPP_RunFrameVPPAsync but I assume you do it correctly. Deinterlace takes one input interlaced surface and produced two progressive surfaces. So the statuses, you get, are correct.
[code]

[2021-12-14 22:04] #2834 closed

[2021-12-16 04:02] cloudjiang2 opened #2852 "ffmpeg/qsv hevc decoder loops infinitely under linux ubuntu 20.x"
## System information

NUC11PAHi5, Ubuntu 20.x
[mfxlib.log](https://github.com/Intel-Media-SDK/MediaSDK/files/7724459/mfxlib.log)
[mfxtrace_10535.log](https://github.com/Intel-Media-SDK/MediaSDK/files/7724460/mfxtrace_10535.log)

## Issue behavior
### Describe the current behavior
ffmpeg/qsv hevc decoder loops infinitely under linux ubuntu 20.x,but no problem under windows.
1. the input source is

[2021-12-16 06:22] wonchulee commented on #2805
Hi @dmitryermilov,
I haven't had enough time to benchmark these days, but one thing worth mentioning is the last created decoder instance shows significantly higher throughput than the others. There is no problem when using less than 10 decoder instances, and it always occurs when more than 11 decoder instances are used concurrently.

[2021-12-16 09:28] dmitryermilov commented on #2805
Hard to say. One explanation for this observation is most of Intel GPU have 2 VDBOX units (which are responsible for decoder and encoder). There might be an issue in VDBOX balancing so majority of decoder workloads go to VDBOX0 (so it's overloaded) while VDBOX1 is underloaded. Traces from metrics_monitor or intel_gpu_top or from Linux [perf tool](https://github.com/Intel-Media-SDK/MediaSDK/wiki/Pe

[2021-12-16 16:19] APrashant opened #2853 "About Limitation of composition filter"
Hi

We have noticed the following limitation in the https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/samples/readme-multi-transcode_linux.md document as:

**Sample may crash if composition filter is used with more than 10 sources (because of limitations in MSDK library).**

As we are using 16 inputs and each input has 1 to N pipeline, also N to 1 display is needed for all the 16 inputs.

[2021-12-16 16:25] APrashant opened #2854 "N (1-N) pipeline with display - is that possible with multi_transcode sample code"
Hi,

We are trying to achieve below pipeline.
Image:
![Untitled Diagram (6)](https://user-images.githubusercontent.com/23393783/146409366-4406b687-3049-4fff-839e-5a6a4f0efdd3.jpg)

whether it is possible with Intel msdk. Could be please share us if any limitation we have to consider for creating this pipeline.

Thanks in advance

[2021-12-17 06:51] brmarkus commented on #2853
No problems with huge video-walls (like with 8, 16, 32 or 64) on my side seen so far with respect to composition-filters.

[2021-12-20 01:29] cloudjiang2 commented on #2852
I deep into the source code, decode one of frame cause the va blocked infinitely:
_studio/shared/umc/codec/h265_dec/src/umc_h265_segment_decoder_dxva.cpp
sts = dxva_sd->GetPacker()->SyncTask(index, &surfErr);
I replaced the SyncTask with va SyncTask2,after timeout, I tried to close the midsession,blocked at  vaDestroyContext in _studio/shared/umc/io/umc_va/src/umc_va_linux.cpp

[2021-12-20 06:09] dmitryermilov commented on #2852
Hi @cloudjiang2 ,

Please :
-  attach input stream
- attach dmesg log
- try to reproduce the issue with sample_decode

[2021-12-20 11:29] cloudjiang2 commented on #2852
@dmitryermilov ,

I reproduce the issue with sample_decode:
1. save the rtsp video stream to test.h265 (see attached testh265.zip, unzip it)
2. run: sample_decode h265 -I test.h265 -o out.yuv
3. the mfxtrace is also attached.
[mfxtrace_41041.log](https://github.com/Intel-Media-SDK/MediaSDK/files/7744905/mfxtrace_41041.log)
[testh265.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/7744912/te

[2021-12-20 13:25] #2845 closed

[2021-12-20 13:35] softworkz commented on #2845
Great, thanks!

[2021-12-21 01:51] cloudjiang2 commented on #2852
BTW,
UMC::AutomaticUMCMutex guard(m_mGuard); in function TaskBroker_H265::GetNextTask is not necessary  at file _studio/shared/umc/codec/h265_dec/src/umc_h265_task_broker.cpp, because GetNextTaskInternal will do this.

[2021-12-22 02:44] #2696 closed

[2021-12-22 02:51] wangyan-intel commented on #1575
@onabiull Could you please check @xhaihao's comments? Is it possible to add support in sample_decode?

[2021-12-22 03:22] cloudjiang2 commented on #2852
@wangyan-intel ,
Is this bug confirmed? May I need to submit it to media-driver group?

[2021-12-22 03:36] wangyan-intel commented on #2852
@cloudjiang2 We will check and update with you ASAP.

[2021-12-22 07:57] wangyan-intel commented on #2852
@stellawuintel will check and update the status

[2021-12-22 08:57] onabiull commented on #1575
@wangyan-intel, adding more formats to  sample_decode should be possible. But biggest part is in MSDK https://github.com/Intel-Media-SDK/MediaSDK/issues/1960#issuecomment-724479705.

[2021-12-22 10:36] cloudjiang2 commented on #2852
@wangyan-intel
thanks.

[2021-12-22 13:38] APrashant commented on #2847
Hi,

With only h264 dump we are facing this frame reordering and frame dropping issue.
Could you please give any inputs for debugging this issue.

Thanks in advance.

[2021-12-22 16:00] dmitryermilov commented on #2847
Please say near which frames you observe wrong ordering?  I looked at both wo_comp1.h264/wo_comp2.h264 and don't see reordering issues in comparison to 1min.h264 source.

[2021-12-22 16:45] APrashant commented on #2847
Hi @dmitryermilov

we have checked with the VLC media player using following command.
**vlc --demux h264 wo_comp1_latest.h264**

We have observed the time is not decremented sequentially. Instead we got following timings.
00:29:00, 25, 24, 23, 22, 21, 27, 26, 25, 14
00:25:00
00:24:00
00:23:00
00:22:00
00:21:00
**Instead of getting 00:20:00 got following timings**
00:27:00
00:26:00
00:25:00
00:14:0

[2021-12-22 17:28] dmitryermilov commented on #2847
vlc handles the same way input 1min.h264 stream as well. So it seems to be a vlc issue. Try ffplay.

[2021-12-22 18:09] CFahrniBY opened #2864 "Encode h.265: Multiple sessions in a serie"
In a .cpp project I wrote a class based on `simple_encode_hevc10.cpp` to encode images to a video stream.
In the first movie all frames are written as expected to the video stream.
Once the HW is initialized the system should write other videos in a sequence.
For doing that I use `mfxENC` again. But this fails with errors from the Hardware.
For me it is important to initialize the GPU (Kaby Lake)

[2021-12-22 22:08] dmitryermilov commented on #2864
It would be great to see source code or at least have API traces (https://github.com/Intel-Media-SDK/MediaSDK/tree/master/tools/tracer).
But generally I guess the issue is when you create the other mfxENC you need the other mfxSession at first. One session can have one decoder, one VPP and one encoder.

[2021-12-23 03:48] stellawuintel commented on #2852
@cloudjiang2,  I used Tiger Lake Linux/lastest opensource MSDK cannot reproduce the issue. Could you please share about the reproduced driver/MSDK version/platform or env variable if have. And it is stable reproduced or Run2run?
[Sample_decode_log.txt](https://github.com/Intel-Media-SDK/MediaSDK/files/7766489/Sample_decode_log.txt)

Thanks & Regards,
Stella

[2021-12-23 05:44] APrashant commented on #2847
Hi @dmitryermilov,

Thanks for the prompt reply.
Tried with ffplay - h264 dumped file was proper - no reordering and also no frame drops
It seems issue observed while playing through VLC player only.

Sorry for the inconvenience.

[2021-12-23 05:44] #2847 closed

[2021-12-23 08:16] CFahrniBY commented on #2864
Thank you. Please find attached the trace log and class I wrote. In the `stop()` routine the cleanup is inactive because the handler will be used for the next file initialized with `start()`.
[traceAndSrc.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/7767718/traceAndSrc.zip)
## Issue behavior
 - At the 2nd call of `sts = m_mfxENC->Init(&m_mfxEncParams);` the method returns `MFX_ERR_UNDEFI

[2021-12-23 10:10] cloudjiang2 commented on #2852
@stellawuintel

It can be  reproduced stably in my new buy NUC11PAHi5(Xe). There is no problem found in NUC11PAHi3 and 10th gen. The msdk/va/media-driver is compiled by myself, All the code is the latest and  downloaded from GitHub. It can be decoded  successfully sometimes only I restart the machine and run the first time.

[2021-12-23 16:18] APrashant opened #2865 "Need support for video wall concept with display outputs from multiple threads"
Hi,

We are planning to composite multiple decoder output in single display window. Where, each and every decoding happening in separate thread.
we found that it cannot handle it with above approach since, the SafetySurfaceBuffer and drm display handle is different for each threads.

Since we need N-N pipeline for our project as described in https://github.com/Intel-Media-SDK/MediaSDK/issues/2854.

[2021-12-24 04:31] perrinpagess opened #2866 "Specialized HDR Encoding Options"
## System information
- GPU platform enabling for new feature: IceLake and newer
- Host machine if it's discrete card: n/a
- libva/libva-utils/gmmlib/media-driver/Media SDK version you are using? Media SDK API 1.35 (oneVPL once OEM updates driver)
- Are you willing to contribute it?(Yes/No) Yes, but my programming knowledge is limited

## Feature Information
### Describe the feature and expected b

[2021-12-24 07:49] stellawuintel commented on #2852
Hi @cloudjiang2, I still cannot reproduce error on Tiger lake w/ the last code of libva/driver/msdk and manual build. Could you please provide your kernel version, error log, sample_decode log and dmesg log?

[2021-12-24 09:05] dmitryermilov commented on #2822
Fixed by https://github.com/intel/media-driver/commit/6b8bf2f2a88a05aa16f48077688104176da2c204

[2021-12-24 09:05] #2822 closed

[2021-12-26 21:37] dmitryermilov commented on #2854
Hi @APrashant ,

It's possible but not trivial to code. Unfortunately we don't have building blocks which would allow to set-up such pipeline in a simple way on app side. So you'll need to code this pipeline manually. What you need inside each Nth pipeline:
1) Thee MSDK sessions: one for decoder and some of VPP and the other two sessions for the other two VPP correspondingly. It's MSDK limitation

[2021-12-26 21:55] dmitryermilov commented on #2865
As said in #2843, sample_multi_transcode is not a good basis. Better to write own app. You just need N instances of kind of "decoder" class which produce surfaces at output and puts them into compositor component shared between them. You either you need 1) a master component which starts all decoders, takes (in fact waits) one surfaces from each and then call compositor class or 2) tells the decod

[2021-12-26 21:57] dmitryermilov commented on #2853
It's old (most likely) out-of-date limitation of sample_multi_transcode app. It's not related to MediaSDK.

[2021-12-26 21:57] #2853 closed

[2021-12-26 22:06] dmitryermilov commented on #2864
I looked at the code and logs.

1. It seems logs don't match to the cpp file. It's because I code I don't see Encode::Close but it's present in logs.
2. In logs Close returned MFX_ERR_DEVICE_FAILED but you're writing about MFX_ERR_UNDEFINED_BEHAVIOR
3. Leaving aside above, no clue of the issue looking at logs. You're doing 2nd Init with exactly same params at in 1st run.

Could you add `#define MF

[2021-12-26 22:09] dmitryermilov commented on #2865
BTW, you may look at https://github.com/dmitryermilov/sandbox/tree/jpeg_hevc/transcode. It's an example of N transcode jpeg->hevc pipeline. It's of course simpler than what you need but at least you'll get one more reference.

[2021-12-27 01:12] cloudjiang2 commented on #2852
@stellawuintel
I compiled the va/media-driver/msdk under ubuntu 16.04, and running in ubuntu 20.04.
[dmesg.log](https://github.com/Intel-Media-SDK/MediaSDK/files/7777825/dmesg.log)
[sample_decode.log](https://github.com/Intel-Media-SDK/MediaSDK/files/7777827/sample_decode.log)

1. uname -a:
Linux k-NUC11PAHi5 5.11.0-41-generic #45~20.04.1-Ubuntu SMP Wed Nov 10 10:20:10 UTC 2021 x86_64 x86_64 x86_6

[2021-12-27 11:20] eero-t commented on #2822
From builds before that commit there are crashes in dmesg, with builds after it, they're gone => VERIFIED

PS. It was odd that this showed in dmesg only with "sample_multi_transcode", considering that I'm running same parallel tests also with FFmpeg, using the same Python script (with same Popen() options etc). Maybe FFmpeg catches the crashes so kernel does not report them?

Or maybe   "sample_mu

[2021-12-27 14:45] APrashant commented on #2854
Hi @dmitryermilov

Thanks for the inputs.

Regarding performance expectations,

We will be having
Input stream -  4MP 10fps
h264 dump   -  1280x720
Raw dump    -   320x240
Display          -   640x360 and it differs based on the display matrix (goes upto 1920x1080)

Will this can be achieved for 16 pipelines in real time processing?

Thanks in advance.

[2021-12-29 00:51] ski0090 commented on #2805
Hi @dmitryermilov,

I conducted benchmarking behalf of @wonchulee .

## specifications

Here are the benchmarked specifications:
| Status | Detail         |
| ------ | -------------- |
| CPU    | i7-10700K      |
| GPU    | UHD630         |
| OS     | Ubuntu 20.04 (5.11.0-40) |
| Tool   | Metric monitor |

## Result

I did test using h.264 video, and the number of channels is 5, 10, and 12, respec

[2021-12-31 05:14] 3xLOGICKevinHan commented on #2844
Hi @dmitryermilov , how have you been recently? Do you have any update on this ticket?

[2021-12-31 13:23] APrashant commented on #2865
Hi @dmitryermilov,

In N-1 Display pipeline - we are getting display only when we use -join option (which joins all session) in par file.

In N-1 Display pipeline - when we try to render the display without join - sync operation getting failed after calling VppOneFrame() in Encode() function.

VPP SyncOperation returns **MFX_ERROR_UNSUPPORTED**
`m_pmfxSession->SyncOperation(VppExtSurface.Syncp,MSD

[2022-01-05 02:37] cloudjiang2 commented on #2852
@stellawuintel
Happy new year. Any progress?

[2022-01-05 02:48] cloudjiang2 opened #2870 "Is it possible to make hardware acceleration effective without display attached"
There are two graphics cards in a windows 10 host, one is UHD, another is Geforce 1030, I found that MSDK hardware acceleration (HEVC decode/encode) works only when there is display attached to UHD graphics. My requirements:
1. two 4K displays attached to Geforce
2. UHD do video encode/decode acceleration without display attached

[2022-01-05 03:00] wangyan-intel commented on #2870
If your UHD is enabled, it should be media driver related. Media driver can use drm directly instead of X display. You could confirm    it in https://github.com/intel/media-driver/issues. Thanks.

[2022-01-05 03:09] cloudjiang2 commented on #2870
@wangyan-intel ,
Thanks for you quick response. I test it in windows 10, I will check with media-driver.

[2022-01-05 03:32] weizhu-intel commented on #2852
@cloudjiang2
From log,  I did not see any error.  From bitstream,   I see the 22th - 50th frames are corrupt, is it expected?
Have you checked whether the stream is still correct  when convert from RTP packet?

Thanks
wayne zhu

[2022-01-05 13:22] APrashant commented on #2865
Hi @dmitryermilov,

We suspect that, for composition+rendering - joining the sessions are mandatory. If so, can you suggest us any possible way of achieving composition+rendering without joining the sessions and its possibility.

We have mentioned our understandings in the above comment.

Thanks in advance

[2022-01-06 07:01] cloudjiang2 commented on #2852
@weizhu-intel,
The original stream is a rtsp h265 video stream of Hikivision. The problem is that MFXVideoCORE_SyncOperation always return MFX_WRN_IN_EXECUTION when timeout reached. I understand that MFX_WRN_IN_EXECUTION is worth being tried(as FFmpeg do), then loop occurs.

[2022-01-06 09:19] CFahrniBY commented on #2864
I went trough your points:

1. The Method `MFXClose` is called in the destructor of the class `MFXVideoSession`.
2. The 2nd call of `m_mfxENC->Init()` returns `MFX_ERR_UNDEFINED_BEHAVIOR`.
3. Yes, you are right, I use the same parameters. I assume that `Init()` is required to initialize a new video file. I run a test that calls `Init()` only once. See _Behavior with single Init()_

## New trace wi

[2022-01-06 12:15] weizhu-intel commented on #2852
@cloudjiang2
 MFXVideoCORE_SyncOperation  timeout is only the symptom. Need debug to know what have happened.

A couple of question:
1) Have you checked whether the stream is correct? Just to make sure no error stream
2) Is this issue  only seen on your machine,  is it seen on TGL?
3) Pls use intel_gpu_top  to check  engine status.
4) Pls enable kernel debug log,  and capture a new log.  command:

[2022-01-10 15:36] dmitryermilov commented on #2864
I meant MFXVideoENCODE::Close(). I don't see you call it (at least looking at videoEncoderHvec10.cpp you shared before). **It confuses me and makes me think you shared not exactly the same cpp/h file on which you experiment.**

Yes, now in log file mfxtracer_32274.log it's present. But in this log file there's no MFXVideoENCODE::Close call :) . Now it matches the code but seems the app has an issu

[2022-01-11 10:42] dmitryermilov commented on #2870
There's a Windows limitation (not MSDK or Intel driver) on DirectX9 that HW accelerated processing works only if a target GPU has attached display. To mitigate this please switch to DirectX11.

[2022-01-12 22:22] dmitryermilov commented on #2864
Discussed offline. Fixed on app side.

[2022-01-12 22:22] #2864 closed

[2022-01-12 22:40] CarlG12 commented on #2790
The issue is not fixed properly in method GetDriverStorePath

If you look this code:
[code]

there is not guaranteed that path with be zero terminated after the call of RegGetValueW because the stored value might not be a null terminated string like REG_DWORD or REG_BINARY. The parameter RRF_RT_ANY indicates to accept any type.

[2022-01-12 22:41] CarlG12 opened #2872 "Windows: mfx_dispatch - buffer overrun possible in DriverStoreLoader::GetDriverStorePath"
The issue #2872 has not been fixed by #2801
There is still a possibility of buffer overrun method DriverStoreLoader::GetDriverStorePath.

If you look this code:
[code]

there is not guaranteed that path with be zero terminated after the call of RegGetValueW because the stored value might not be a null terminated string like REG_DWORD or REG_BINARY. The parameter RRF_RT_ANY indicates to accept any

[2022-01-12 22:57] CarlG12 commented on #2793
The problem is that m_pUserModule is associated m_mfxSession and m_mfxSession is closed in method CEncodingPipeline::Close(). Because m_pUserModule is not deleted, m_pUserModule is linked with an invalid session.

[2022-01-12 23:02] CarlG12 commented on #2783
@onabiull and @aukhina , depending of the objective of the method CopyBitstream2, I think that this code need a fix. Please, ask me clarification if it's not clear.
Thanks

[2022-01-14 14:20] CarlG12 commented on #2872
Thanks for the clarification. I agree that fix #2806 resolve the issue.

[2022-01-14 14:20] #2872 closed

[2022-01-20 11:55] #2020 closed

[2022-01-21 14:02] TournelHenry opened #2873 "Rules to enable/allow uninstall"
## System information
- GPU platform enabling for new feature: Intel UHD Graphics 620/Nvidia GeForce MX150
- Host machine if it's discrete card: Acer A517-51G (Hybrid)
- libva/libva-utils/gmmlib/media-driver/Media SDK version you are using? 21.3.5
- Are you willing to contribute it? (No)

## Feature Information
Rules for Uninstall (make uninstall)
### Describe the feature and expected behavior
All

[2022-01-29 06:58] chuanli1 commented on #2452
local test commit ID: c35c2a0eb68abbe6d33fa1274614076c86d7bdb2
Hi @lzfgnu, the latest version have fixed this issue, could you check it?

[2022-01-31 14:12] dmitryermilov commented on #2597
Fixed by https://github.com/Intel-Media-SDK/MediaSDK/pull/2726. Manual update: https://github.com/Intel-Media-SDK/MediaSDK/pull/2876/files.

Windows changes will be merged today. Please expect a few (2-8) weeks delay to get updated msdk/vpl run-time library in public graphics driver packages.

[2022-02-07 12:49] #2627 closed

[2022-02-10 16:08] eero-t commented on #2799
Summarizing here....

According to https://github.com/oneapi-src/oneVPL/issues/27 this was just a misunderstanding (that license applies only to Windows builds which are not distributed under GPL) which is / will be cleared in the documentation.

Additionally, "oneVPL-intel-gpu" (Intel GPU backend for oneVPL frontend) project build issue with GCC v11.2 (used in Ubuntu 21.10 and 22.04) is now fixed

[2022-02-10 16:16] dvrogozh commented on #2799
Yes, fixed in https://github.com/oneapi-src/oneVPL-intel-gpu/commit/a8702a9eb94a306ec8f592b5fcac41c84564f7c4. Will go into one of the next release or release updates.

[2022-02-15 01:34] wangyan-intel commented on #2452
@lzfgnu We find this issue has been fixed in the latest version. If you still has this issue, you could reopen it. Thanks.

[2022-02-15 01:34] #2452 closed

[2022-02-16 11:35] #809 closed

[2022-02-21 15:54] santomet opened #2894 "Hung up in MFXVideoVPP_GetVPPStat after random number of seeks with FFMPEG"
## System information
- CPU information (link to ark.intel.com): [1035G4](https://ark.intel.com/content/www/us/en/ark/products/196591/intel-core-i51035g4-processor-6m-cache-up-to-3-70-ghz.html) (Surface Pro 7)
- GPU information (link to ark.intel.com): -||-
- Driver version: described in text

## Issue behavior

### Describe the current behavior

The h264_qsv in FFMPEG decoder freezes after random

[2022-02-21 16:52] dmitryermilov commented on #2894
Most likely this call stack shows wrong  symbols so MFXVideoVPP_GetVPPStat () is a misleading function.
Is there any way to share a reproducer with us?

[2022-02-21 17:55] santomet commented on #2894
Two possibilities: I can either share compiled application privately with you (incl. instructions and video file) if the source code is not needed, or I can create shareable reproducer but it will take me a little. Would the first one be of some use for you?

[2022-02-21 20:23] dmitryermilov commented on #2894
Hi @santomet ,
Private version is fine.

[2022-02-22 07:05] santomet commented on #2894
Nice, can I use your work email?

[2022-02-22 08:05] dmitryermilov commented on #2894
Sure! dmitry.ermilov@intel.com

[2022-02-27 13:12] HorsonLiu opened #2900 "How to install MediaSDK on centos 7.1 ?"
How to install MediaSDK on centos 7.1 ?

[2022-02-27 19:48] dmitryermilov commented on #2900
Does https://github.com/Intel-Media-SDK/MediaSDK/issues/1966 help?

[2022-02-28 18:40] pacuro78 commented on #2784
Hi folks. What is ww33 ? Is it some kind of gpu bios version?
Here comes the spring 2022 and I still can't have RKL ff encoding enabled while eu encoding works fine.
Which part of my below bios should be updated?

EFI GOP Driver Unknown     - Unknown
EFI GOP Driver SKL-CML      - 9.0.1111
RAW GOP VBT TIGERLAKE    - 240
RAW GOP VBT SKYLAKE       - 231
OROM VBIOS IceLake          - 1003

[2022-03-01 01:11] aidan2020sh commented on #2784
@pacuro78 hi, ww33 means "work week 33". There was an IFWI update in work week 33, 2021(about in Mid August, 2021). You just need update the IFWI(including BIOS) to the latest version with a tool named "Dediprog". Other customers reported similar issue and now those issue were gone after IFWI update. I am not sure from who you get those RKL boards and whether they can provide any platform support

[2022-03-01 07:46] dmitryermilov commented on #2784
@pacuro78 , I'm trying to find some Intel contacts who can (at first internally) clarify RKL-S IFWI release process to me. I'll come back to this email thread if get some news.

[2022-03-01 14:37] dmitryermilov commented on #2894
BTW, I'd suggest in parallel to consider another debug activity. As you know, ffmpeg QSV plug-in operates with MediaSDL. MediaSDK dev package has the API tracer (**with per-frame logging**). Can you please try to reproduce the issue under the tracer and share log file with me ? Please feel free to decide to use public or private channel.
![image](https://user-images.githubusercontent.com/19732160/

[2022-03-01 14:48] #2870 closed

[2022-03-01 21:14] dmitryermilov commented on #2894
I guess you didn't click Per-frame logging because I don't see any DecodeFrameAsync calls (there's only DecodeHeader/Init/Close calls). Can you please double-check?

But even without it (but still full logs are strongly needed to see full picture) I see lots of DecodeHeader calls which return MFX_ERR_MORE_DATA. It means that decoder can't find SPS/PPS in provided bitstream. My guess (and full logs

[2022-03-02 13:10] dmitryermilov commented on #2894
Thank you.
It's more or less clear now.
Last "good" frame :

[code]

then huge number of logs like
[code]
SyncOperation() API function took 1 second! MFX_WRN_IN_EXECUTION means frame still in execution somewhere in underneath stack.
Such behavior is observed until:
[code]

Timestamps indicate that the hang was during 1 minute.

[2022-03-02 14:11] dmitryermilov commented on #2894
@santomet , I thought about this case more. The fact that the pipeline "wakes up" after 1 second of the hang can be explained by a missing event from media driver or some broken logic at MSDK side to handle the event. More technical details: MSDK has an internal scheduler whose threads are waiting for driver events which indicates that some GPU task has been done. If the event comes, internal thre

[2022-03-02 15:31] dmitryermilov commented on #2894
@santomet , I think we fixed a similar issue at the end of December. Driver 101.1191 was build beginning of December so this driver doesn't have the fix I'm talking about. But very latest 101.1340 is from beginning of February, 101.1340 has the fix. Can you please try with latest driver? There's a high chance the issue is already solved. If so, let's come back to the idea with reproducer.

[2022-03-03 06:03] Codelong18 opened #2902 "mfx crashed when setting system time to year 2038"
## System information
android P.

## Issue behavior
### Describe the current behavior
As long as the time exceeds 11:14:07 noon on January 19, 2038 Beijing time (03:14:07 am on January 19, 2038 UTC), issue can be reproduced.
### Describe the expected behavior
The video can be played in 2038.

## Debug information
The key output of the tombstone is as follows:

*** *** *** *** *** *** *** *** *** *

[2022-03-03 06:58] dmitryermilov commented on #2902
@TianmiChen, @TangZhiZhen, can you please take a look from Android side?

[2022-03-04 10:49] dmitryermilov commented on #2894
@santomet , any news?

[2022-03-04 10:53] santomet commented on #2894
Hi @dmitryermilov,
Sorry for this, I have been too sick since yesterday, I'll try to do it today.

[2022-03-04 21:05] dmitryermilov commented on #2894
Sorry to hear it. Please get well!

[2022-03-06 03:36] xhaihao commented on #2894
Usually user should call avcodec_flush_buffers() when seeking a stream, then qsv decoder clear buffers and re-initialize the context for decoding.  FFmpeg calls MFXVideoDECODE_DecodeHeader() to get the stream parameters from the SDK.

[2022-03-06 10:05] nyanmisaka opened #2904 "MSDK dispatcher can't load libmfx64-gen.dll on Windows"
## System information
- CPU information (link to ark.intel.com): i7-1165G7 Tiger Lake
- GPU information (link to ark.intel.com): Xe 96EU
- Driver version: 30.0.101.1340

## Issue behavior
### Describe the current behavior
- MSDK dispatcher can't load `libmfx64-gen.dll` on Windows

### Describe the expected behavior
- The Windows version of MSDK dispatcher should have forward compatibility with new

[2022-03-06 10:09] nyanmisaka commented on #2799
MSDK dispatcher can't load `libmfx64-gen.dll` on Windows. https://github.com/Intel-Media-SDK/MediaSDK/issues/2904
No forward compatibility like the behavior on Linux.

[2022-03-06 13:32] HorsonLiu commented on #1822
On centos7.9, with ffmpeg 4.4, the same problem still exists.

[2022-03-07 22:17] pacuro78 commented on #2784
Asrock support team answered in 24h after submitting the issue. Nice leadtime. +1 for folks in Asrock. They send me alpha bios with "some" fix. It did not fix ff encoding. I decided to replace microcode in this alpha bios for the last version "50" and flashed such an image. It helps! Now ff encoding works like a charm. 320 fps in fhd instead of poor 80 fps in eu mode.

[2022-03-07 22:47] mikk9 commented on #2784
You only changed the microcode?

[2022-03-08 01:36] TangZhiZhen commented on #2902
@Lu-Anxiao, can you please take a look on Android?

[2022-03-08 18:58] dmitryermilov commented on #2904
Hi @nyanmisaka ,

Do you have a real reproducer for the issue?

On Windows part of loading logic is hidden inside C:\Windows\System32\libmfxhw64.dll. It's s kind of dynamic dispatcher.

[2022-03-08 19:19] nyanmisaka commented on #2904
Thanks! that make sense to me. My driver was downgraded by Windows to an old version that doesn't support VPL. I revert these changes then it works. Feel free to close this issue!

BTW Is there any environment variable to switch between MSDK and VPL like on Linux?
[code]

[2022-03-08 19:22] dmitryermilov commented on #2904
NP!

You wanted to say "on Windows"?

[2022-03-08 19:27] nyanmisaka commented on #2904
yes on Windows. it’s a typo

[2022-03-08 19:44] dmitryermilov commented on #2904
There's no such option. We provided INTEL_MEDIA_RUNTIME to **workaround** the issue with dual GPUs. On Windows a regular way to select GPU(and underlying run-time: MSDK or VPL) is to use MFX_IMPL_HARDWARE/MFX_IMPL_HARDWARE2/MFX_IMPL_HARDWARE3. But we never enabled this on Linux and always demanded app to set GPU handle via SetHandle() call. But SetHandle() doesn't help to load "right" library inst

[2022-03-08 19:55] nyanmisaka commented on #2904
I see, thanks for letting me know. :p

[2022-03-08 19:55] #2904 closed

[2022-03-09 08:09] NeusoftZhangShuang commented on #2902
看看

[2022-03-09 20:24] caioavidal opened #2906 "Error opening the internal VPP session when running on non igpu attached display"
## System information
- CPU information (link to ark.intel.com): https://ark.intel.com/content/www/us/en/ark/products/126687/intel-core-i58400-processor-9m-cache-up-to-4-00-ghz.html
- GPU information (link to ark.intel.com):  https://ark.intel.com/content/www/br/pt/ark/products/graphics/126790/intel-uhd-graphics-630.html
- Driver version: 26.20.100.7642

## QSV encoder doesn't open when main displ

[2022-03-09 20:35] dmitryermilov commented on #2906
@xhaihao , can you please take a look?

[2022-03-10 01:04] caioavidal commented on #2906
h264: process but got a corrupted output file
h265: works well

@dmitryermilov The interested part is that it works well when I don't initialize the device on ffmpeg command:
`./ffmpeg -f gdigrab -offset_x 0 -offset_y 0 -video_size 1920x1080 -framerate 60 -i desktop -an -c:v h264_qsv -preset veryfast record.mp4 -y -v verbose`
Unfortunately I notice performance impact using the above command. Is th

[2022-03-10 01:25] xhaihao commented on #2906
Could you please use '-init_hw_device qsv=intel,child_device=1, filter_hw_device intel' to initialize your hw device ? You may use  `child_device` to specify your HW adapter in your machine.

[2022-03-10 02:47] NeusoftZhangShuang commented on #2902
it is std::condition_variable::wait_for that crashes. this function add std::chrono::system_clock::now and std::condition_variable::wait_for's second parameter up to invoke std::condition_variable::wait_until. but, on our platform, for a 32bit process, std::chrono::system_clock::now returns a big negative number if date is beyoned 2038. so it is obvious that std::condition_variable::wait_until wil

[2022-03-10 04:01] dvrogozh commented on #2902
This needs to be reported to Android C++ std library implementation I think.

[2022-03-10 10:28] NeusoftZhangShuang commented on #2902
i dont think there's anything they can do. something like this happens when you call clock_gettime() as timespec.tv_sec is 32-bit too.
unless someone knows how to get timestamp without overflow on 32-bit android system, this one is not fixable.

[2022-03-10 13:21] santomet commented on #2894
I'm almost OK now, thanks for the patience. I tried with 1340 and it also happens - but i couldn't catch it with tracer so far. I will be trying with 1404 from now on

[2022-03-10 18:27] caioavidal commented on #2906
@xhaihao That works fine. Thank you very much

[2022-03-10 20:15] #2906 closed

[2022-03-11 01:12] NeusoftZhangShuang commented on #2902
i dont think there's anything they can do. something like this happens when you call clock_gettime() as timespec.tv_sec is 32-bit too.
unless someone knows how to get timestamp without overflow on 32-bit android system, this one is not fixable.

[2022-03-11 10:44] dmitryermilov commented on #2894
Got it, @santomet . Looking forward to the simplified reproducer.

[2022-03-14 08:32] santomet commented on #2894
Thanks, @dmitryermilov, so far, with 1404 I haven't been able to catch it. Just for curiosity, was there any related change from 1340 to 1404?

[2022-03-14 19:43] softworkz commented on #2597
Hey Dmitry,

thanks that's great news!

Now we will just need to let it land in ffmpeg ;-)

I'll check with @xhaihao whether he wants to do it. Otherwise I'll try to find some time.

Thanks again,
softworkz

[2022-03-14 20:52] dmitryermilov commented on #2894
Unfortunately no, I can't find commits in MSDK and media-driver landed in the range [newer than 1340 and older than 1404] which potentially could fix the issue. Most likely it's just a low reproduction rate. However it's possible the change was on KMD level but I'm not an expert there.
If even a very small probability of the issue is important for you, I'd still treat the issue as not fixed.

[2022-03-15 00:14] xhaihao commented on #2597
@softworkz Yes, we will check the latest driver.
@dmitryermilov it is available in the latest oneVPL GPU runtime on both Linux & Windows, right ? Does MediaSDK support it ?

[2022-03-15 01:17] wangyan-intel commented on #2597
@xhaihao Yes, It is common code for both Windows and Linux. MediaSDK also supports it.

[2022-03-15 07:50] dmitryermilov commented on #2597
Right

[2022-03-15 09:52] santomet commented on #2894
If the reproduction rate is this low with 1404 driver (I have been trying to catch it for many hours now without any success) it might not be such an issue. I will start updating the drivers on deployed devices today.

I will keep the issue open for now. If we won't be able to encounter it again for several weeks, I'll close it.
Thanks @dmitryermilov for the help and patience

[2022-03-15 15:41] dmitryermilov commented on #2894
Always welcome, @santomet !

[2022-03-15 16:10] xhaihao commented on #2597
@dmitryermilov @wangyan-intel If user provides MFX_EXTBUFF_MASTERING_DISPLAY_COLOUR_VOLUME & MFX_EXTBUFF_CONTENT_LIGHT_LEVEL_INFO extended buffers, is there a flag indicating valid HDR data is returned from the SDK?

[2022-03-15 21:09] dmitryermilov commented on #2597
Good question, @xhaihao . I have to admit it looks as a gap.
I can propose only to rely on checking non zero MaxDisplayMasteringLuminance/MaxContentLightLevel ..

[2022-03-15 23:34] xhaihao commented on #2597
however 0 is a valid value for max_content_light_level and max_pic_average_light_level

[2022-03-16 01:17] xhaihao commented on #2597
BTW is this added for av1 decoding ?

[2022-03-16 01:18] wangyan-intel commented on #2597
Not yet

[2022-03-16 01:20] wangyan-intel commented on #2597
@pengxin99 Could you please clarify it? Thanks

[2022-03-16 01:56] xhaihao commented on #2597
Are RGB x coordinates stored in DisplayPrimariesX[3] in R=>G=>B order, or G=>B=>R order ?

[2022-03-16 02:35] pengxin99 commented on #2597
hi, @xhaihao , At first, we wanted to use` InsertPayloadToggle` in the struct `mfxExtMasteringDisplayColourVolume` to indicate whether the decoded clips have HDR SEI, but the ` InsertPayloadToggle` was designed for encoding originally, so we did not use this plan.
The current way is that if the value of all members ​​in the struct `mfxExtMasteringDisplayColourVolume` are 0, it means that there is

[2022-03-16 02:47] xhaihao commented on #2597
is it possible to use a reserved byte in `mfxExtMasteringDisplayColourVolume` and `mfxExtContentLightLevelInfo` to indicate whether the driver writes valid data back ?

[2022-03-16 02:51] pengxin99 commented on #2597
For the `DisplayPrimariesX[3]`, We just parse the SEI of clips storage information in order, and according to the spec, it should be G=>B=>R order.

[2022-03-16 02:54] pengxin99 commented on #2597
I think this way can be considered, I will discuss it with @wangyan-intel @dmitryermilov for this. If it is fine, I will continue to add this flag.

[2022-03-16 02:55] xhaihao commented on #2597
Thanks, so for encoding, user should pass RGB coordinates to the SDK in G=>B=>R order too, right ?

[2022-03-16 12:12] dmitryermilov commented on #2597
Yes, we can extend the API but then the solution would apply only for VPL API and only for VPL-run-times (>=TGL). In other words it won't work on BDW, APL, SKL, ICL systems.
What option I can suggest:
1) New API as discussed above
2) Rely on existing InsertPayloadToggle api field but in this case we break semantic of this API field.

[2022-03-16 14:43] xhaihao commented on #2597
If so, I think option 2 would be a better way because user may use this API on legacy devices.

[2022-03-16 14:52] xhaihao commented on #2597
@softworkz  https://github.com/intel-media-ci/ffmpeg/pull/518 may fetch HDR data when decoding and keep HDR data when encoding in FFmpeg-QSV, you may have a try if you're interested.

Note the SDK failed to fetch HDR data for some special clips.

[2022-03-16 15:19] softworkz commented on #2597
Oh, that was quick! Thanks a lot for taking care of this.
I'll surely try in the next few days, I got some ffmpeg tasks anyway!

[2022-03-16 16:10] xhaihao commented on #2597
@pengxin99  The SDK failed to parse SEI when SEI nal unit is located before a valid SPS, hence m_Headers.m_SEIParams.GetHeader(SEI_MASTERING_DISPLAY_COLOUR_VOLUME) return NULL.

[2022-03-16 20:55] #2866 closed

[2022-03-17 01:50] pengxin99 commented on #2597
thanks for clarifying this, does this mean the special clip is an error clip?

[2022-03-17 05:38] softworkz commented on #2597
Hi,

long time after I had asked here for providing the HDR data, I had discovered the existence of the MFXVideoDECODE_GetPayload API.
In December I had sent an ffmpeg patch to make use of this for retrieving various kinds of SEI data.
The weird thing is that I can get _some_ SEI data this way, but I couldn’t get it working consistently for the HDR information (CLL and MDCV). Here's an excerpt;

[

[2022-03-17 08:48] dmitryermilov commented on #2597
@softworkz ,
Code looks good except I don't see how you init data. App is responsible for memory allocation for mfxPayload.
@wangyan-intel , can you please ask someone to take a look at GetPayload when bitstream has HDR SEI?

[2022-03-17 09:58] pengxin99 commented on #2597
Hi @softworkz ,

do you mean the HDR sei get from `MFXVideoDECODE_GetPayload` is not aligned with the HDR sei from clips? if so, does all the HDR sei from `MFXVideoDECODE_GetPayload` are error values?

[2022-03-17 10:08] wangyan-intel commented on #2597
@pengxin99 will help this. Thanks

[2022-03-17 11:21] xhaihao commented on #2597
@dmitryermilov @pengxin99 @wangyan-intel  `MFXVideoDECODE_DecodeFrameAsync` output frame in display order, is the payload returned from `MFXVideoDECODE_GetPayload` in display order too ?

[2022-03-17 11:26] dmitryermilov commented on #2597
GetPayload returns payloads in FIFO order. Since bitstream is encodedOrder, payloads will be in encodedOrder as well. App is expected to associate payloads with frames by output timestamps "mfxU64 *ts".

[2022-03-17 11:34] xhaihao commented on #2597
APP will have to maintain a payload list If user want to find out the right payload for the output frame returned from `MFXVideoDECODE_DecodeFrameAsync`,  right ?

[2022-03-17 12:18] dmitryermilov commented on #2597
Right

[2022-03-17 18:44] softworkz commented on #2597
The full code is here (scroll down to "Patch"): https://patchwork.ffmpeg.org/project/ffmpeg/patch/DM8P223MB03655F44A7BF01132BB2959DBA669@DM8P223MB0365.NAMP223.PROD.OUTLOOK.COM/
 (complete patch series: https://patchwork.ffmpeg.org/project/ffmpeg/list/?series=5353)

[2022-03-17 18:50] softworkz commented on #2597
I don't remember exactly, but I think It was something regarding alignment. I'm not doing the side data decoding myself. Instead I'm just plumbing it together with ffmpeg's SEI decoding and this works fine for several SEI data types, but not for HDR data.

[2022-03-17 19:05] softworkz commented on #2597
My primary use case so far has been to decode closed captions side data (EIA-608/708) for

- subtitle filtering (a new ffmpeg feature for which I have submitted a huge patch series)
- re-injecting CC data when encoding

This has been working fine in all private and public tests with MPEG2, H.264 and H.265 without needing to re-order or re-associate side data to frames, so I'm wondering whether any

[2022-03-17 21:31] dmitryermilov commented on #2597
Hi @softworkz ,

I think it's not fully right. Firstly, there're might be several payloads per frame. Plus, let's keep in mind frames reordering. MFXVideoDECODE_GetPayload returns payload internally detected by decoder **during bitstream parsing**( which is always in decoded order). Let's consider IB1P1B2P2 pattern in display order. In decoded order it will be IP1B1P2B2. So e.g. when app gets B1 f

[2022-03-17 22:07] softworkz commented on #2597
Note the "Loop".

In another conversation with HaiHao, we determined that the reason why I haven't seen any issues with CC so far is probably because B-frames usually don't occur in TV broadcast signals.

Thanks for the explanation, I will update my patch accordingly.

What remains is the issue about HDR side data. I will shortly look at in again, then I might be able to provide more information.

[2022-03-18 08:01] dmitryermilov commented on #2597
Thank you

[2022-03-18 21:05] softworkz commented on #2597
Earlier than expected I was able to do some more research on this subject. I compiled a collection of 14 HEVC HDR videos from different sources (Sony, Samsung, Doby, etc) and  I added some logging to document the loop of SEI reading and parsing, based on the code of the referenced patchset.
For starting I removed the Numbit corrections that I had. Starting with an arbitrary test file I got this ou

[2022-03-18 21:15] softworkz commented on #2597
But there's a similar issue with closed captions data (4) but it manifests in a different way.
I had seen this in users' log files before, but now I could reproduce with one of the test files:

When start to run, there are at first dozens of errors about the NumBits value, which seems to be by 24 bits too large (552).

At some point, it suddenly changes to 528 and from then on, all goes well until

[2022-03-18 21:23] softworkz commented on #2597
### Conclusion

There's no misaligment of the payload data. The data is always offset correctly and can be parsed successfully.

**It's the NumBits value that doesn't seem to be set correctly in all cases.**

I don't think that there's anything wrong in ffmpeg, because the code is used by multiple decoders and other consumers of the decode API consider errors from the SEI parsing API as hard error

[2022-03-19 13:38] HorsonLiu commented on #2900
The document [MediaSDK in Centos 7](https://github.com/Intel-Media-SDK/MediaSDK/wiki/Build-Media-SDK-on-CentOS) is out of date.

[2022-03-19 19:17] dmitryermilov commented on #2597
@softworkz , thank you for these details. Is the content, which you tried, public?

[2022-03-19 23:45] softworkz commented on #2597
Partly. I'll contact you privately.

[2022-03-24 04:55] wangyan-intel commented on #2493
@lzfgnu Because no response, I will close this issue at first. If it is still existed, please free to reopen it. Thanks.

[2022-03-24 04:55] #2493 closed

[2022-03-31 00:43] xhaihao opened #2915 "The SDK doesn't set mfxExtVideoSignalInfo::VideoFullRange for jpeg decoding."
call `MFXVideoDECODE_DecodeHeader` with an attached `MFX_EXTBUFF_VIDEO_SIGNAL_INFO` buffer for jpeg decoding, however mfxExtVideoSignalInfo::VideoFullRange is not set for a full-range jpeg file.

[2022-03-31 01:52] wangyan-intel commented on #2915
@chuanli1 Could you please take a look? If confirm it, we can assign one guy to fix it. Thanks

[2022-03-31 01:53] chuanli1 commented on #2915
Sure, I will check it.

[2022-04-02 02:39] chuanli1 commented on #2915
Hi @xhaihao, could you provide related clip and an app patch of attached MFX_EXTBUFF_VIDEO_SIGNAL_INFO buffer? Thanks.

[2022-04-02 02:54] xhaihao commented on #2915
@chuanli1 you may use a yuvj420p jpeg file
[code]

[2022-04-06 07:04] Gvence commented on #2380
Hi, have a quick check of this clip. It should be a error clip, there are some missing frames in stream. In Media SDK, it will output 00 if the data buffer has no info. In YUV view, it should be green. So, it's should related to no value in bitstream.
For your comment, we won't add new feature in Media SDK legacy side. We will set this problem as a expected behavior due to your input stream is an

[2022-04-06 07:49] wangyan-intel commented on #2380
@Mortvola I will close this issue at first. Please free to reopen it if necessary. Thanks.

[2022-04-06 07:49] #2380 closed

[2022-04-07 02:22] wangyan-intel commented on #2618
Close this issue because https://github.com/Intel-Media-SDK/MediaSDK/pull/2832 has been merged.

[2022-04-07 02:22] #2618 closed

[2022-04-18 01:48] pullingtab commented on #2902
i hope this article helps:
[32位系统下，C++标准库的条件变量在2038年以后会失效](https://zhuanlan.zhihu.com/p/488078992)

it mainly says, C++'s condition variable will fail after year 2038 as a result of its careless design. C++'s condition variable design mix monotonic clock and system clock together when you specify time. thus standard library's implementer can't implement wait_for<stead_clock> with monotonic clock w

[2022-04-18 14:52] dvrogozh commented on #2902
I can't read this article, it's in Chinese. Sorry.

However, this is still an issue which needs to be reported elsewhere, starting from the kernel you are using and continuing to standard library implementation for C and C++. Basically, start from reading this: https://lwn.net/Articles/776435/. Linux kernel clearly has ongoing effort to prepare infrastructure to address year 2038 issue, the effort

[2022-04-20 03:55] UngTengEn opened #2916 "MediaSDK sample_encode fail to encode with H265 UYVY format"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): 11th Gen Intel(R) Core(TM) i5-1145G7E @ 2.60GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`): 00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:9a49] (rev 01)
- Display server if rendering to display(X or wayland): X11

## Issue behavior
Try to encode UYVY format with sample_enco

[2022-04-27 06:04] wonchulee commented on #2805
I have an update on this issue. I discovered that the performance of the hardware decoder changes based on the power mode of the Linux system.

In a Linux environment, we ran the same test on the Intel i5-12600k model, and the results were the same as previously.
When the power mode was set to Performance, it showed excellent results (I checked this with oneVPL, not msdk)

However, I'm still puzzl

[2022-04-28 11:08] lyy-zz opened #2922 "Rendering failed by X or drm"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): Intel(R) Celeron(R) N5105 @ 2.00GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`): 00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:4e61] (rev 01)
- Display server if rendering to display(X or wayland): wayland  (echo $XDG_SESSION_TYPE)
- OS: debian11

## Issue behavior
### Descr

[2022-05-06 02:34] wonchulee commented on #2805
Consider it a power configuration-related performance issue and close the issue.

[2022-05-06 02:34] #2805 closed

[2022-05-09 06:06] cloudvc opened #2924 "how to verify that both two encoder engines of UHD 770 have been used?"
I am evaluating the 12th generation's hevc encoding capabilities. I created two 4K encoder sessions with windows mediasdk 1.3.5 to test the video encoding performance of UHD 770. I wonder how to verify that the two encoding engines of UHD 770 have been used.

[2022-05-12 13:34] visuall opened #2927 "MFX_RATECONTROL_AVBR mode not working with latest drivers"
Did something change in the last few drivers regarding MFX_RATECONTROL_AVBR on Windows in H264 encode mode? The last driver that works in this mode is  30.0.101.1191. All after this one fail and produce jerky video with very low bit rate even though all is set correctly and the same settings produce perfect output on  30.0.101.1191 ?

CBR and QVBR does not seem to be affected. It is just AVBR that

[2022-05-15 07:30] 21pages opened #2929 "hevc-scc sample-encode failed"
`sample_encode.exe h265 -i test.yuv -w 1920 -h 1080 -CodecProfile 9 -o mfx.265` failed.

[code]
but `sample_encode.exe h265 -i test.yuv -w 1920 -h 1080 -CodecProfile 1 -o mfx.265` success.

[2022-05-26 08:51] softworkz opened #2934 "Clarification regarding order of data returned from MFXVideoDECODE_GetPayload()"
In a recent conversation, @dmitryermilov had stated this:

_Originally posted by @dmitryermilov in https://github.com/Intel-Media-SDK/MediaSDK/issues/2597#issuecomment-1070812574_

But deeper research has brought me to the conclusion that this is not the case and that when calling GetPayload after each successful decode call, you will always get exactly those payloads which are matching the output

[2022-05-26 15:28] TKNgu opened #2935 "Full CMake project for Window"
Can add CMakeLists.txt for mfx_dispatch/windows ? Now ms visual studio support CMake project.

[2022-05-29 11:59] caioavidal opened #2936 "Any sample code on encoding D3D11 texture on QSV encoder using FFMPEG"
Hi.
I've been looking for a way to start encoding d3d11 texture on QSV encoder using ffmpeg lib. So far I have derived qsv device from d3d11va device and also mapped the frames from d3d11va to qsv. However when I try to encode the frames I'm getting device failed.

OBS: Same texture is working well on nvenc.

Do we happen to have any sample code for it?

[2022-05-30 03:18] rahulmohang opened #2937 "No explicit license grant or no license agreement corresponding to references in files"
Hello,

The header of the following file has the statement:

"No part of the Material may be used,
// copied, reproduced, modified, published, uploaded, posted, transmitted,
// distributed or disclosed in any way without Intel's prior express written
// permission. No license under any patent, copyright or other intellectual
// property rights in the Material is granted to or conferred upon you,
/

[2022-05-30 16:21] softworkz opened #2938 "Questions about mfxExtDecVideoProcessing"
[mfxExtDecVideoProcessing](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#mfxextdecvideoprocessing)

The documentation states:

I have the following questions about this feature:

- On which hw platforms is this supported?
- How can we detect whether it is supported at runtime?
  Does it work in the normal way via `MFXVideoDECODE_Query`?
  If yes, what's the indication

[2022-06-03 13:18] rahulmohang commented on #2937
Thank you @tjyrinki.

[2022-06-03 16:13] dvrogozh commented on #2937
These proprietary headers on some files, including tracer, got missed to be cleaned up on initial open source attempt of respective files. The license was supposed to be MIT. However, historically some sources (like samples) were rereleased under BSD-3 while library got released (later on) under MIT. Unfortunately that got little mixed up, I see some files under BSD-3 outside of samples. We are cl

[2022-06-05 16:28] dbermond opened #2940 "Build error with gcc 12"
## System information
Arch Linux x86_64 (cpu/gpu is not relevant here, since it's a build error).

## Issue behavior
### Describe the current behavior

I'm getting the following build error when using gcc 12.1.0:

[code]

The same error also occurs in other source files. Complete [build log](https://paste.ee/p/nZdAL) (expires in one year).

It builds fine with gcc 11.3.0.

Build options:

[code]

[2022-06-06 19:35] Biswa96 commented on #2935
I have compiled only the dispatcher with cmake in mingw toolchain. Do you have any project to test the library?

[2022-06-07 02:21] #2937 closed

[2022-06-07 04:13] #2940 closed

[2022-06-09 05:20] UngTengEn opened #2944 "Media SDK VP9 encoded video fps is not correct"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
      model name      : 11th Gen Intel(R) Core(TM) i5-1145G7E @ 2.60GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
      00:02.0 VGA compatible controller [0300]: Intel Corporation UHD Graphics [8086:9a49] (rev 01)
- Display server if rendering to display(X or wayland):
      X

## Issue behavior
##

[2022-06-10 03:00] netphils opened #2945 "Intel QSV decodes AV1 grain synthed video differently compared to libaom and dav1d"
## System information
- CPU information (link to ark.intel.com):https://ark.intel.com/content/www/us/en/ark/products/132221/intel-core-i51240p-processor-12m-cache-up-to-4-40-ghz.html
- GPU information (link to ark.intel.com):https://ark.intel.com/content/www/us/en/ark/products/graphics/205778/intel-iris-xe-graphics.html
- Driver version:
30.0.101.1298
## Issue behavior
### Describe the current beh

[2022-06-11 08:09] 21pages opened #2947 "Dynamic change bitrate failed"
The [doc](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#dynamic-bitrate-change) says that it supports dynamic change of bitrate,

I added the following code to ffmpeg `qsvenc`, and call it at the top of [ff_qsv_encode](https://github.com/FFmpeg/FFmpeg/blob/09c53a04c5892baee88872fbce3df17a00472faa/libavcodec/qsvenc.c#L1645), but `check_enc_param` failed, and bitrate ch

[2022-06-20 01:39] UngTengEn commented on #2944
Filed a PR for this https://github.com/Intel-Media-SDK/MediaSDK/pull/2948.

[2022-06-21 03:33] UngTengEn commented on #2944
Customer are asking for windows support.

[2022-06-21 03:33] #2944 closed

[2022-06-21 19:50] TKNgu commented on #2935
I create new CMakeLists.txt and add to root CMake project: add_subdirectory(lib/extention/intel/)

[code]

[CMakeLists.txt](https://github.com/Intel-Media-SDK/MediaSDK/files/8952357/CMakeLists.txt)
![Uploading Screenshot from 2022-06-22 02-48-32.png…]()

[2022-06-21 20:05] TKNgu opened #2950 "MFXVideoSession Init init error when mix init Nvidia CUDA."
## System information
- CPU information (link to ark.intel.com): i5-9300H
- GPU information (link to ark.intel.com): UHD 630
- GPU information (link to ark.intel.com): GTX 1650.
- Driver version:

## Issue behavior
### Describe the current behavior
Unsupported feature/library after add link CUDA.
[code]

How can create parallel decoding with both Intel Quick Sync Video and NVidia NVDEC.
Sorry for

[2022-07-01 11:28] marxin opened #2954 "FTBFS with GCC 13"
Fails with:

[code]

due to:
https://gcc.gnu.org/gcc-13/porting_to.html#header-dep-changes

[2022-07-05 07:30] Nicki-fu opened #2955 "Special layouts of tiled composition cause GPU Hung on i3-1115G4"
[gpuhung.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/9044186/gpuhung.zip)
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):11th Gen Intel(R) Core(TM) i3-1115G4E @ 3.00GHz
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:9a78] (rev 01)
- Display server if rendering to displ

[2022-07-12 08:01] 1515guo opened #2957 "Hello, I have a question about D3D11_MEMORY、 D3D9_MEMORY 、SYSTEM_MEMORY"
system CPU:Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz   3.19 GHz
SYStem GPU：   Intel(R) UHD Graphics 630
I read https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/tutorials/mediasdk-tutorials-readme.md
say By moving from system to video memory implicit copies are eliminated, thus improving GPU load and overall performance. CPU utilization should also decrease slightly.
![Snipaste_2022-07-12_

[2022-07-12 08:05] 1515guo commented on #2957
sample_encode.exe h264 -i 1080.yuv -hw -async 1 -vbr -b 2000 -w 1920 -h 1080 -o out.h264 -d3d11
![Snipaste_2022-07-12_16-04-38](https://user-images.githubusercontent.com/42996533/178441128-fe1b8ce5-d070-4810-91f9-d3d58a567806.png)
![Snipaste_2022-07-12_16-05-24](https://user-images.githubusercontent.com/42996533/178441245-8fbba91e-07bf-4316-b0a9-b5659d605c21.png)

[2022-07-12 08:34] 1515guo commented on #2957
why set default D3D11_MEMORY

[2022-07-12 10:06] cvidkal opened #2958 "Color is not right after jpeg decoding to rgb4"
## System information
- CPU information(model name	: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz):
- GPU information(`00:02.0 VGA compatible controller [0300]: Intel Corporation UHD Graphics 620 [8086:5917] (rev 07)`):
- Display server if rendering to display(X or wayland):

## Issue behavior

### Describe the current behavior

I use media sdk sample_decode to decode jpg to rgb4, when I dump the rga4

[2022-07-12 10:18] 1515guo commented on #2957
look forward to your reply @nagos @uartie @diablodale @ph0b

[2022-07-13 06:06] brmarkus commented on #2958
Can you maybe share the original file `2.jpeg` and the dumped file `test.rgb`, please?
Can you confirm the decoded (and converted to RGB4) input is what you expect (e.g. by rendering on the screen)?

[2022-07-13 06:53] cvidkal commented on #2958
[test.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/9099650/test.zip)
2.jpg and test.rgb are in test.zip above.

The decoded file (test.rgb) I think is 4 channel image (RGBA or BGRA) , I loaded it and use opencv to show, didn't get the same image as the original encoded one (2.jpeg). I don't know what's the problem is. Could you please some advice ?

[2022-07-13 07:22] brmarkus commented on #2958
When using the "test.rgb" and display in one of my "raw content viewer" tools then I can see the correct picture when selecting the color-format like "AYUV 4:4:4:4".
Are you sure your OpenCV code interprets the raw data in "test.rgb" correctly?

[2022-07-14 03:17] cvidkal commented on #2958
Thanks for you reply. I got right result after  I removed -jpeg_rgb in command line parameters

[2022-07-14 03:17] #2958 closed

[2022-07-14 05:55] shgitcode opened #2959 "when call MFXVideoENCODE_Reset function lead to blurred frame"
## System information
- CPU information: Intel(R) Core(TM) i5-7500 CPU @3.40GHz
- GPU information: Intel(R) HD Graphics 630

## Issue behavior
### Describe the current behavior
   Encode information: H264 BP 1920*1080@NV12

  Detect "dynamic change of bitrate" feature:
   when mfxVideoParam.mfx.TargetKbps changed, I can call this function:
      MFXVideoENCODE_Reset(m_session, mfxVideoParam);
   a

[2022-07-14 14:00] p4rancesc0 opened #2960 "Look Ahead not working with Intel MediaSDK 2022Q2 Release - 22.4.4"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
- model name      : Intel(R) Xeon(R) CPU E3-1585L v5 @ 3.00GHz

- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
- 00:02.0 VGA compatible controller [0300]: Intel Corporation Iris Pro Graphics P580 [8086:193a] (rev 09)
01:00.1 VGA compatible controller [0300]: Matrox Electronics Systems Ltd. MGA G200EH [1

[2022-07-14 14:08] p4rancesc0 commented on #2960
It's this option:
 **-look_ahead        <int>        E..V...... Use VBR algorithm with look ahead**

[2022-07-14 14:12] p4rancesc0 commented on #2960
[root@c08n1 ~]# ffmpeg -v verbose -y -init_hw_device qsv=hw -filter_hw_device hw -hwaccel qsv -vcodec mpeg2_qsv -i /mnt/preprodStorage/jobs/181fc961ac0d7b-2022-07-14/181fc961ac0d7b-01/181fc961ac0d7b-01.mpg -vf setfield=prog,vpp_qsv=w=512:h=288,setdar=dar=16/9 -async_depth 40 -acodec libfdk_aac -ab 64000 -profile:a aac_he -cutoff 18000 -map 0:0 -map 0:1 -metadata:s:a:0 language=ita -vcodec h264_qsv

[2022-07-19 08:42] changliwu opened #2963 "Whether yuv444 is supported for hevc sample_encode ?"
hi,
    I run  ./sample_encode  h265 -i 1.rgba -o 12.h265 -w 1920 -h 1080 -rgb4, but the 12.h265 is yuv420p, why it is not yuv444?

cpu : 11th Gen Intel(R) Core(TM) i5-11320H @ 3.20GHz

GPU: 00:02.0 VGA compatible controller [0300]: Intel Corporation Device [8086:9a49] (rev 03)

libva/libva-utils/gmmlib/media-driver/Media SDK version:  22.3.0

[2022-07-19 15:06] uartie commented on #2915
@chuanli1 @dmitryermilov any update on this issue?

[2022-07-20 00:36] chuanli1 commented on #2915
I check jpeg spec(itu-t81) and don’t find this color range syntax, so RT don't parser this flag from Jpeg header, and HW don’t need this flag for decoder, and this issue is not a bug, but a new feature.

[2022-07-21 07:56] linxierr opened #2966 "ffmpeg decoded qsv avframe transfered to opengl texture"
Hi there， I am currently using ffmpeg qsv_h264 and opengl redering  on windows ， is there any api that can transfer the decode frame to opengl texture to make the 0-copy rendering, thank you.

[2022-07-21 10:18] wangyan-intel commented on #2966
@xhaihao Could you please give some comments?

[2022-07-22 01:10] xhaihao commented on #2966
av_hwframe_map() may map a qsv frame to a d3d11 frame, then you may use the d3d11 frame in your app. See https://github.com/FFmpeg/FFmpeg/blob/master/libavutil/hwcontext.h#L543-L583

[2022-07-22 03:17] linxierr commented on #2966
very appreciate it, thank you, and I'll try to research how to share the memory for d3d11 and opengl.

By the way, Do mediaSDK has the similar function like the link refers for cuda https://www.qtav.org/blog/cuda_0_copy.html.

[2022-07-25 02:16] xhaihao commented on #2915
@chuanli1  If so , may you set mfxExtVideoSignalInfo::VideoFullRange to 1 by default for jpeg decoding ?

[2022-07-28 04:14] liwenlin1 commented on #2922
Have you solved this problem?I'm having the same problem as you.Can you help me with this problem？

[2022-07-28 11:51] YounesGhanem opened #2968 "Error : Build Package From Source In Debian"
## System information
- CPU information : model name : Intel(R) Core(TM) i7-8665U CPU @ 1.90GHz
- Addition Infos :
     - Target in a linux PC running debian 11 (bullseye)
     - Developing on Docker (visual studio code with docker installed)
     -
## Issue behavior
### Describe the current behavior
**Failed** creating DEB package from source
**Result of Build**
[ 70%] Built target decode_hw
make

[2022-08-01 09:23] cvidkal opened #2969 "Filed to Run transcode sample"
I run the folllowing sample:

release ./sample_multi_transcode -i::h264 /home/yogo/thirdparty/msdk/tests/content/test_stream.264 -o::h264 test.h264

I get the following error:

Multi Transcoding Sample Version 8.4.27.0

libva info: VA-API version 1.16.0
libva info: Trying to open /usr/local/lib/dri/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_15
libva info: va_openDriver() ret

[2022-08-01 09:33] brmarkus commented on #2969
Can you provide as much information as possible about your environment?

Would it be possible, for reproduction and deeper analysis, if you could share your used file `test_stream.264`?
Is decoding of your file possible with `sample_decode`, like `./sample_decode h264 -hw -vaapi -i test_stream.264`?

You can align with the bug-issue-template below:

[2022-08-01 10:31] cvidkal commented on #2969
System information

CPU information(cat /proc/cpuinfo | grep "model name" | uniq): model name      : Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz
GPU information(lspci -nn | grep -E 'VGA|isplay):
00:02.0 VGA compatible controller [0300]: Intel Corporation UHD Graphics 620 [8086:5917] (rev 07)
02:00.0 Display controller [0380]: Advanced Micro Devices, Inc. [AMD/ATI] Topaz XT [Radeon R7 M260/M265 / M340

[2022-08-01 10:31] cvidkal commented on #2969
libva info: Open new log file /tmp/libva_trace.log.103139.thd-0x00005bca for the thread 0x00005bca
libva info: LIBVA_TRACE is on, save log into /tmp/libva_trace.log.103139.thd-0x00005bca
libva info: VA-API version 1.16.0
libva info: Trying to open /usr/local/lib/dri/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_15
libva info: va_openDriver() returns 0

[ERROR], sts=MFX_ERR_MORE

[2022-08-01 11:03] brmarkus commented on #2969
Can you double-check the video-file, please?
Your attached ZIP-file has a size of 291Bytes, the video-file in it has a size of 131bytes.
It's a text-file with the following content:

Do you locally have a correct-file or also such a small file?

Is GIT-LFS installed and working in your environment?

[2022-08-01 11:34] cvidkal commented on #2969
Thanks, It run successfully after using the right file.

[2022-08-01 11:34] #2969 closed

[2022-08-04 12:30] zspace-wangyong opened #2970 ""Selected ratecontrol mode is unsupported""
(1) Question:
I could not transcode (decode + encode) a h264 mp4 file at encode stage by using "-c:v h264_qsv".
my transcode command:
"./ffmpeg -v debug -vcodec h264_qsv -i chimei_1280x720_168sec.mp4  -c:v h264_qsv -low_power 1 out.mp4"
it will report "Selected ratecontrol mode is unsupported"

(2) Preconditions:
    (2.1) os:
    ubuntu 20.04 64bits linux;

    (2.2) cpuinfo:
    cat /proc/cpuinf

[2022-08-04 17:31] dvrogozh commented on #2970
https://ark.intel.com/content/www/us/en/ark/products/212328/intel-celeron-processor-n5105-4m-cache-up-to-2-90-ghz.html - that's Jasperlake GPU.

You are trying to run in low power mode (-low_power 1) which requires HUC FW to be loaded and authenticated which I believe won't be the default case for the vanilla kernel for Jasperlake platform. HUC is loaded by default only starting from DG1 (even TGL

[2022-08-04 23:45] dyang23 opened #2971 "GPU Hang when try to playback a video generated by media recorder on Android platform"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
- TGL
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
- Gen12
- Display server if rendering to display(X or wayland):
not display related.

## Issue behavior
### Describe the current behavior
We are working on TGL 8K encoding and decoding, for accelerate the encoding speed we enabled the tile feature:
61

[2022-08-04 23:49] dyang23 commented on #2971
GPU hang log:
08-03 20:15:57.345     0     0 I i915 0000: 00:02.0: [drm] Resetting vcs0 for preemption time out
08-03 20:15:57.353     0     0 I i915 0000: 00:02.0: [drm] HwBinder:611_6[6329] context reset due to GPU hang
08-03 20:15:57.363     0     0 I i915 0000: 00:02.0: [drm] Resetting vcs1 for preemption time out
08-03 20:15:57.371     0     0 I i915 0000: 00:02.0: [drm] omx@1.0-service[6355]

[2022-08-05 01:52] wangyan-intel commented on #2971
@dyang23 Could you please share your encoded clip for checking?

[2022-08-05 02:03] dyang23 commented on #2971
链接: https://caiyun.139.com/m/i?005CiIFbzes43  提取码:absO  复制内容打开中国移动云盘手机APP，操作更方便哦

Can you get the file from caiyun disk,  if not please let me know.

[2022-08-05 02:18] wangyan-intel commented on #2971
@dyang23 Could you please share your command line too?

[2022-08-05 02:23] dyang23 commented on #2971
@wangyan-intel  we are using ffmpeg to reproduce this issue on ubuntu:
ffplay -vcodec hevc_qsv xxxx.mp4

Thanks,

[2022-08-05 12:39] github-wangyong commented on #2970
@ dvrogozh,
Thank you very much!
Solve it by using ubuntu 22.04.
Thank you very much!

[2022-08-08 01:42] qq93420999 opened #2972 "MFX_ERR_UNSUPPORTED"

[2022-08-08 02:11] wangyan-intel commented on #2972
Close invalid issue.

[2022-08-08 02:11] #2972 closed

[2022-08-09 07:06] chuanli1 commented on #2915
Yes,  this is feasible, we will put this task in the to-do list.

[2022-08-15 23:25] BlueWaterCrystal opened #2977 "sample_fei usage with mbctrl / ForceToSkip"
Hi,

How do you use sample_fei with a mbctrl file? What would the file contain, Is there any file structure examples?

It says in the documentary that mfxExtFeiEncMBCtrl is Deprecated, Is there a new way to use ForceToSkip?

Also what arguments are needed to use Targetkbps? I get an `Invalid BRC parameters`  Error.

Current cli:
`./sample_fei -i 420p.yuv -o test_fei.h264 -g 2000 -w 1280 -h 720 -en

[2022-08-16 05:30] #504 closed

[2022-08-16 05:40] #1977 closed

[2022-08-16 05:43] #2766 closed

[2022-08-22 04:55] thx4ever commented on #2620
After one year, this feature are not implemented? Please review and implement this feature
I'm still using sample_encode with Media Server studio plugins HEVC

Regards

[2022-08-25 02:59] monstercy opened #2983 "invalid fd close cause issues when application already open the fd 0, in VA-surface transfer."
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): all cpu
- GPU  information(`lspci -nn | grep -E 'VGA|isplay`): all gpu
- Display server if rendering to display(X or wayland):X11

## Issue behavior
### Describe the current behavior
in file https://github.com/Intel-Media-SDK/MediaSDK/blob/51ffdf59f281a8604f6f10cf3775cf276ff1d30d/samples/sample_common/src/vaap

[2022-08-27 12:44] hassan379 commented on #2936
Hi
did u find any way to achieve what u want ?
I want to encode also ID3D11Texture2d using qsv and ffmpeg but no luck
I was able to copy bytes of texture from gpu to cpu memory and then encoding them using ffmpeg and qsv but I want to skip transferring bytes from GPU to CPU and send them back to GPU
thx in advance

[2022-08-27 17:54] caioavidal commented on #2936
Nothing yet. I managed to do the same as you did but seems that copying directly from GPU to encode simply does not work.
What error are facing when you try to encode the frame?

[2022-08-27 18:20] hassan379 commented on #2205
@paniksystem  I would like to know how to encode existed ID3D11Texture2D using qsv
but ur link is not working anymore. can u please reactivate it again?
thx in advance

[2022-09-05 05:57] #2983 closed

[2022-09-07 07:41] SaltFish001 commented on #2970
I got same  error, but i can not pass by this issue. Can you give me some help?

[2022-09-07 14:36] dvrogozh commented on #2970
@SaltFish001 : I listed available options in https://github.com/Intel-Media-SDK/MediaSDK/issues/2970#issuecomment-1205561199. Please, clarify which one you are trying to follow, on which CPU/GPU and what does not work?

[2022-09-07 15:42] SaltFish001 commented on #2970
I've tried all the options。I still get thih
s error。use N5105, build with ubuntu 22.04.1&ffmpeg5.0

[2022-09-17 06:44] Alice-Thirty opened #2986 "download or install intel Media SDK fail"
https://www.intel.com/content/www/us/en/developer/tools/media-sdk/choose-download-client.html

I register it and receive the vaild message.
But I dont receive any email for download about 30 days.

Where can I download it ?

2.
If I use Media SDK 2020 R1 or Media SDK 2021 R1 to install the windows11
the installer not work. I just click installer. But nothing happen.

[2022-09-24 02:21] Wanghangjie8 opened #2987 "[DG1/ICL/RKL/SG1/TGL] media-driver build with option 'DENABLE_PRODUCTION_KMD' cause msdk-dispatcher couldn't load mskd-runtime"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`):
- GPU information(`lspci -nn | grep -E 'VGA|isplay`):
- Display server if rendering to display(X or wayland):

## Issue behavior
### Describe the current behavior

media-driver build with option 'DENABLE_PRODUCTION_KMD' cause msdk-dispatcher couldn't
test with ffmpeg-qsv/gst-msdk with mediaSDK combine, check w

[2022-09-27 09:29] #2987 closed

[2022-10-18 12:52] ollbx commented on #2986
I had the same issue, I think. In Windows 11, the Media SDK installer crashes, regardless of the version I download. Note: it seems to be possible to run and finish installation, by going to the properties of the exe file and selecting Windows 8 compatibility mode.

[2022-10-18 18:21] brmarkus commented on #2986
Would you have a chance to try again under a MS-Win10 environment? Not sure MS-Win11 is already well-covered...

[2022-10-18 20:03] ollbx commented on #2986
I would test it if I could, but unfortunately I don't have a Windows 10 system at hand. I mostly wanted to share, that the compatibility mode seems to be a workaround in case someone else searches for this.

[2022-10-27 05:31] dyang23 opened #2990 "How to share the OpenGL texture from MSDK output buffer?"
## System information
- GPU platform enabling for new feature: ADL/TGL
- Host machine if it's discrete card: No
- libva/libva-utils/gmmlib/media-driver/Media SDK version you are using? OneVPL/MSDK
- Are you willing to contribute it?(Yes/No) Yes

## Feature Information
### Describe the feature and expected behavior
I am working on a windows project, which will use OpenGL as renderer, I will call MS

[2022-11-05 11:35] arkaragian opened #2992 "Windows build fails under bash with clang"
## System information
- CPU information(`cat /proc/cpuinfo | grep "model name" | uniq`): Intel(R) Core(TM) i3-7020U CPU @ 2.30GHz
- GPU information(`lspci -nn | grep -E 'VGA|display`): Intel HD Graphics 620
- Display server if rendering to display(X or wayland): N/A

## Issue behavior
Windows build fails under bash with clang

### Describe the current behavior
Windows build fails under bash with c

[2022-11-18 12:58] dmitryermilov commented on #2990
Hi Dong,
Long time no see:)
I can advise a direction how to implement this on application side. Please look at https://github.com/Microsoft/angle/wiki/Interop-with-other-DirectX-code . Generally the idea is we need to create d3d11 texture with "shared" attributes, extract a native handle from it, create OGL surfaces from the native handle. In MSDK surfaces creattion is done on app side, so it's in

[2022-11-24 13:09] vcheah opened #2995 "Sample decode unable to play on weston10"
## System information
model name   : 11th Gen Intel(R) Core(TM) i5-1145G7E @ 2.60GHz
00:02.0 VGA compatible controller [0300]: Intel Corporation UHD Graphics [8086:9a49] (rev 01)
Display server : Wayland (Weston10).
Kernel: 5.10.145

Image: [core-image-sato-sdk-intel-corei7-64-20221117063744.wic.bz2](https://ubit-artifactory-ba.intel.com/artifactory/pse-tgl-local/yocto/builds/2022/development/Main