[2020-08-27 02:07] yuqinw commented on #2164
Hi joojler,

I am focused on this issue mainly, so could you give me 3.h264 and 4.h264 files?

[2020-08-27 06:39] filippenkos commented on #2063
Hi, @YaboWei
In your line for sample_encode -r should be replaced with -f, as -r is for GOP distance and -f for frame rate.
I investigated your issue. In all cases where bitrate is higher with lookahead option it is no more than 10%. According to developer encoding algorithms checks that bitrate is no more than 10% higher than requested.

[2020-08-30 08:26] CaseyGuanSun commented on #2249
how to get the MFX / media-drier output warnings?

[2020-08-31 02:29] lius-xjtu commented on #2316
@dmitryermilov I test it on windows,is this interface not support on wondows?

[2020-08-31 07:19] #2077 closed

[2020-08-31 07:20] guoyejun commented on #2077
don't think it is resolved.

[2020-08-31 07:27] dmitryermilov commented on #2316
It's OS agnostic. Can you please debug inside encoder and say which line of code returns the error?

[2020-08-31 08:23] eero-t commented on #2249
I'm not sure about Windows, but on Linux you would just run it on console.

[2020-09-01 07:34] yefengxx opened #2325 "[ffmpeg-qsv][gst-msdk][regression]the MediaSDK commit:e126273431b470a738e4c26896b829a6801cb455 will cause regression."
Our CI shows that the MediaSDK commit :  e126273431b470a738e4c26896b829a6801cb455 will cause  **ffmpeg-qsv/gst-msdk avc decode** regression.
For gst-msdk:
MediaSDK-**e126273431b47**
gst-msdk.decode.avc         total:310      pass:305     **fail:5**
MediaSDK-**995f036b7ab00e**
gst-msdk.decode.avc         total:310      pass:307     **fail:3**
We hope to get your help.
thanks~

[2020-09-01 07:45] lius-xjtu commented on #2316
@dmitryermilov I try -AvcTemporalLayers "1 2 0 0 0 0 0 0"and is ok. but i try AvcTemporalLayers "1 2 4 0 0 0 0 0" and failed. is there any restriction on this paramenter for hevc_hw?

[2020-09-01 07:48] dmitryermilov commented on #2316
@eistarov , could you answer?

[2020-09-01 07:49] dmitryermilov commented on #2325
@guowillyy , please prioritize .

[2020-09-01 07:51] guowillyy commented on #2325
sure, will look into it.

[2020-09-01 07:53] guowillyy commented on #2325
@yefengxx, may I know where can I get the failed test case and how to repro the issue?

[2020-09-01 17:07] dmitryermilov commented on #2313
Communicated via email.  @LukeZheZhu , please close the issue if the email answer was fine for you.

[2020-09-01 17:07] #2155 closed

[2020-09-01 19:54] uartie commented on #2325
@guowillyy here is the mediainfo details for one failing case:

[code]

Notice that it has 4 refs @ L5.2 (same as other failing case).  This causes an infinite loop at
https://github.com/Intel-Media-SDK/MediaSDK/blob/1334f76f9256eab85c3e18b1878ad00082fb8028/_studio/shared/umc/codec/h264_dec/include/umc_h264_task_supplier.h#L683
because it will never satisfy the loop terminator condition at
https:/

[2020-09-01 20:21] uartie commented on #2325
@yefengxx can you try #2327 patch?

[2020-09-02 02:06] #2313 closed

[2020-09-02 02:52] yefengxx commented on #2325
@uartie  I tested with[ #2327](https://github.com/Intel-Media-SDK/MediaSDK/pull/2327) patch and the results is as follows:
gst-msdk.decode.avc total:310 pass:307 fail:3
**This is the expected result**, indicating that the issue has been fixed by this patch.

[2020-09-02 10:11] HermanMolinder commented on #1857
@dmitryermilov ,

I've tested chroma siting (top|left) now with fix: https://github.com/Intel-Media-SDK/MediaSDK/pull/1837/files

I still get the same behavior as before. However this is not a problem for me, so no need to prioritize this issue for my sake. I just wanted to give you the feedback.

[2020-09-02 18:58] #2325 closed

[2020-09-03 06:47] lius-xjtu commented on #2316
@dmitryermilov by the way,why sample_encode. exe not support sao in hevc_hw? the encode chroma is not good and have a lot blocking artifact

[2020-09-03 08:00] Odianosen25 opened #2328 "Cannot compile SDK with Intel Runtime"
Hello,

I am trying to compile the SDK with Intel runtime and I am not able to do it. The compile works great, but once I add the intel runtime, it doesn't compile. Below is my environment

**OS:** Alpine 3:12
**Environment:** DOCKER

**DOCKER File:**

[code]

**Errors**
[code]

@dvrogozh will be nice if you could assist again please :)

Thanks and kind regards

[2020-09-03 08:20] dmitryermilov commented on #2316
Hi @lius-xjtu ,
We tried to pass "0 1 2 4 0 0 0 0" values to mfxExtAvcTemporalLayers and it works fine in HEVC. Can you please check that you're passing the same?

[2020-09-03 08:21] dmitryermilov commented on #2316
sample_encode is just a sample app. It hardly can support all the parameters from API.

[2020-09-03 09:27] dmitryermilov commented on #2328
Hi @Odianosen25 ,
an obvious answer is it can' find VAProfileHEVCSccMain444_10 which was checked in a few month ago by https://github.com/intel/libva/pull/390 . Could you double check that during compilation the right va.h (which you dowdloaded from https://github.com/intel/libva.git) is included ?

[2020-09-03 09:43] Odianosen25 commented on #2328
@dmitryermilov,

Thanks for the quick response. Well I can confirm it sees it, as without adding intel runtime, the build works great and no issues. But once I decide to install the runtime, it then breaks.

So it seems for some reasons,  the installation breaks it and I have no clue why. If I go based on your statement, it seems the installation of the runtime affects libva, as I had noticed that

[2020-09-03 10:15] onabiull commented on #2328
It looks libva headers are taken either from pre-installed libva-dev package or from some dependency brought by compute runtime packages. Media SDK rely on a standard pkg-config to locate libva headers and binaries, I'd suggest to try figure out what `pkg-config --cflags --libs libva` would report before and after compute runtime installation.

[2020-09-03 10:41] daleksan commented on #2270
@YaboWei Please take a look on the section in release notes: [GPU Hang Reporting and Recovery](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk_release_notes.md#GPU_Hang_Reporting_And_Recovery)

[2020-09-03 10:49] daleksan commented on #2230
Hi @DarkSwan86
Open Source Media Stack doesn't support Sandybridge, Ivybridge and Haswell platforms. Please take a look on the [system requirements](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk_release_notes.md#system-requirements) section in the release notes.

[2020-09-03 10:54] daleksan commented on #2206
Hi @george-norton
Is it still actual for you? Can we close the issue?

[2020-09-03 10:56] daleksan commented on #2166
@lialin86 please feel free to reopen the issue if it is still actual

[2020-09-03 10:56] #2166 closed

[2020-09-03 11:06] Odianosen25 commented on #2328
@onabiull,

Thanks for the response, I tried to run `pkg-config --cflags --libs libva` within console but give me just `-lva`. Is that right? As seems I am missing something.

Regards

[2020-09-03 11:07] george-norton commented on #2206
No, the issue is resolved. Thanks.

[2020-09-03 11:07] #2206 closed

[2020-09-03 11:16] eero-t commented on #2270
Hang recovery is kernel responsibility.  If this bug is about recovery, you've filed it to wrong place => close?

[2020-09-03 17:39] onabiull commented on #2328
At least this means that we don't get any rogue -I pointing to the wrong headers. This essentially limits us to the /usr/include/va for LibVA headers. Could you please check from which package /usr/include/va/va.h came?

[2020-09-03 17:51] Odianosen25 commented on #2328
Hello @onabiull,

I believe its `libva-dev` as can  be seen from here https://pkgs.alpinelinux.org/contents?branch=v3.12&name=libva-dev&arch=x86_64&repo=main

Regards

[2020-09-03 18:31] dvrogozh commented on #2328
Here is what's going on. You've installed intel-compute-runtime-dev package before building mediasdk. And this package brought in libva-dev package as a dependency (see https://pkgs.alpinelinux.org/package/edge/testing/x86_64/intel-compute-runtime-dev) which effectively overrode libva version you just built. Hence you got compilation error from mediasdk.

Actually, some mediasdk samples depend on

[2020-09-03 18:33] dvrogozh commented on #2230
@daleksan : yes, open source msdk does not support SNB, IVB and HSW, but this should lead to error out rather than an application crash.

[2020-09-03 18:35] dvrogozh commented on #2230
@dmitryermilov Strange place to crash... How did we manage to crash in SetHandle?!

[2020-09-03 20:41] dmitryermilov commented on #2230
@dvrogozh , very easy :) :
https://github.com/Intel-Media-SDK/MediaSDK/blob/85f9cec9df7a9162c6419ad50d9a5901376290d6/_studio/shared/src/libmfx_core_vaapi.cpp#L557

SNB is not in the list of supported device ID's:
https://github.com/Intel-Media-SDK/MediaSDK/blob/85f9cec9df7a9162c6419ad50d9a5901376290d6/_studio/shared/src/libmfx_core_vaapi.cpp#L68

[2020-09-03 20:50] dvrogozh commented on #2230
They report a crash, not an assertion failure. @DarkSwan86 : can you, please, clarify: did you see a crash or assert?

@dmitryermilov : I don't think assert is properly used here. Distros enable asserts by default which would lead to apps asserting on that on the bad platform. I don't think that's a right behavior - it should be an error.

[2020-09-03 20:52] Odianosen25 commented on #2328
@dvrogozh,

Thanks for the update. The issue I have realised earlier was that without installing the runtime first, it leads to MSDK not compiling OpenCL. Installing just the header which I had tried before and now, still doesn't compile it with MSDK.

Regards

[2020-09-03 21:04] dvrogozh commented on #2328
Ah, ok. Seems my mistake since I was describing my expectations how mediasdk build should work. Likely this happens because of this line:
https://github.com/Intel-Media-SDK/MediaSDK/blob/f46e3f8f87838b88ff89862335c1f5287a9966fd/builder/FindOpenCL.cmake#L28
where we seems to require intel opencl runtime. Which (as I noted in prev. comment) does not make sense - build does not depend on it.

[2020-09-03 21:06] dmitryermilov commented on #2230
I agree with you.

[2020-09-03 21:10] Odianosen25 commented on #2328
Yes build doesn't depend on it, but it helps with some extra opencl based plugin build. if the runtime doesn't forcefully install libva, i think it will be fine. I get into the same trouble, when trying to compile opencv with opencv as it keeps asking for `CL/va_ext.h`.

Will keep trying anyway.

Regards

[2020-09-07 01:20] lius-xjtu commented on #2316
@dmitryermilov yes i check the value "0 1 2 4 0 0 0 0" will failed, and my cpu is intel i7-8700k. why set the first num of mfxExtAvcTemporalLayers to 0?

[2020-09-07 02:34] xhaihao opened #2336 "[regression]UYVY can't be used as VPP output since commit 9d67819f"
Since commit 9d67819f,  msdkvpp failed to convert NV12 to UYVY on Linux.

[code]

[2020-09-08 15:13] #2336 closed

[2020-09-08 15:24] Melearn867 opened #2340 "M"

[2020-09-08 15:45] onabiull commented on #2340
Please provide some description.

[2020-09-08 15:45] #2340 closed

[2020-09-08 17:55] Melearn867 opened #2343 "I messed up in the publishing of our npm package, so have to bump to a new release to publish once again. Say hello to v4.2.1!"
I messed up in the publishing of our npm package, so have to bump to a new release to publish once again. Say hello to v4.2.1!

__Originally posted by @mdo in https://github.com/twbs/bootstrap/pull/27892__

[2020-09-08 17:59] onabiull commented on #2343
Looks some automation gone rogue. I'm going to ban this account for a while.

[2020-09-08 17:59] #2343 closed

[2020-09-08 18:19] #1316 closed

[2020-09-08 18:44] onabiull opened #2344 "Drop vm lib in favor of C++ 11 primitives"
Need to replace low level primitives like _studio/shared/umc/core/vm/src/vm_event_linux32.c
and _studio/shared/umc/core/vm/src/vm_semaphore_linux32.c with standard library ones.

[2020-09-09 23:31] pdelbarba commented on #29
Having issues with a system that is being updated from the old closed source version of the sdk which supports 4th gen/haswell.  What is the difference between the two that prevents this one from working on haswell?

[2020-09-10 00:20] egorovdanil commented on #207
I compared the three API versions 1.25, 1.26 and the current version of the master and found no decrease in the transcoding speed.

**MediaSDK 1.25**
[code]

**MediaSDK 1.26**
[code]

**Current master**
[code]

[2020-09-10 00:24] egorovdanil commented on #381
I compared the three API versions 1.25, 1.26 and the current version of the master in #207 and found no decrease in the transcoding speed. So I think it's the same for 1.27

[2020-09-10 05:11] Odianosen25 commented on #2328
Thanks everyone, as my issue been fixed. There was a recent re-compile of the runtime and I moved the installation of the runtime to the beginning of the build.

SO these two things must have fixed and all good now.

Kind regards

[2020-09-10 05:11] #2328 closed

[2020-09-11 12:23] #1139 closed

[2020-09-11 13:05] dmitryermilov commented on #2316
Hi @lius-xjtu ,
I misprinted. I meant to pass 0 1 2 4 0 0 0 0 0 where first 0 is BaseLayerPID. Sorry for confusion.
Please use  AvcTemporalLayers "1 2 4 0 0 0 0 0". How did it fail on your side? Error or ? Please send full command line, log and encoded stream(if it was generated).

[2020-09-11 13:08] dmitryermilov commented on #2316
BTW, @eistarov , I noticed that seems we don't write correct layer info in SEI. Please see how analyzer complains:
![image](https://user-images.githubusercontent.com/19732160/92929165-ca796f00-f448-11ea-8a4e-8dcab465515a.png).

Cmd line was very simple:
./sample_encode h265 -i <stream> -w - h -b 2000 -AvcTemporalLayers "1 2 4 0 0 0 0 0"

[2020-09-11 15:28] dmitryermilov commented on #1857
Thank you @HermanMolinder for the update. @FurongZhang , did you have a chance to look into the issue?
BTW, Herman, I'll be unavailable next two weeks. Just in case.

[2020-09-14 14:42] egorovdanil commented on #729
I tried to build msdk on clang-9 by adding these flags to the `LINK_FLAGS` and did not get any warnings.

[2020-09-14 15:54] dvrogozh commented on #2148
Originally we wanted to avoid mixing sample programs with system level production quality binaries. This made the reason to step out of /usr/bin at the first place. You might be right and /usr/lib/mfx/examples might be better location, but what was done is done and it works as of now in multiple Linux distros. So far we did not receive any note from Linux distros to change that. I would better wai

[2020-09-14 15:59] dvrogozh commented on #729
If this issue persists, please, reopen specifying the full cmake configuration command line with all custom compile/linker flags being passed during the build.

[2020-09-14 15:59] #729 closed

[2020-09-14 16:43] eero-t commented on #2148
Debian packaging tools fail a package that installs things that are against the policy (it's easy for packaging lint scripts to detect arch-dependent ELF binaries in place meant for arch-*independent* files).

It's worked around with Lintian override in Ubuntu packaging: https://salsa.debian.org/debian/intel-mediasdk/-/blob/master/debian/libmfx-tools.lintian-overrides

Are packages for MediaSDK so

[2020-09-14 17:08] dvrogozh commented on #2148
Yes. https://repology.org/project/intel-media-sdk/versions

[2020-09-15 07:05] eero-t commented on #2148
In Fedora packages, building of samples is disabled: https://src.fedoraproject.org/rpms/intel-mediasdk/blob/master/f/intel-mediasdk.spec#_68

In OpenSuSE, package moves samples to a correct directory, and removes the one under /usr/share: https://build.opensuse.org/package/view_file/openSUSE:Factory/libmfx/libmfx.spec?expand=1

(What I was suggesting originally to be done with samples, 2 years ago

[2020-09-15 14:49] dvrogozh commented on #2148
The fact that open suse is moving samples around makes the point. We will need to discuss specifics on the fix internally however.

[2020-09-16 16:11] dvrogozh opened #2360 "Enable AV1 decoder implementation"
https://github.com/Intel-Media-SDK/MediaSDK/blob/f360ccb4e8e1283637ea70eca634db9f44ffa2ff/builder/ConfTargets.cmake#L70

With #2276 merged which brings AV1 in we need to enable AV1 decoder implementation in the library. Above line would be the first step. We also need to fix this place:

https://github.com/Intel-Media-SDK/MediaSDK/blob/f360ccb4e8e1283637ea70eca634db9f44ffa2ff/_studio/mfx_lib/share

[2020-09-16 19:11] #2360 closed

[2020-09-17 00:35] xhaihao commented on #2244
Any update on this issue? Thanks!

[2020-09-18 07:35] dylanintel opened #2367 "The limitation about a frame size of vp9 streams is 1M when sample_multi_transcode is used to decode."
When using the sample_multi_transcode to decode the vp9 streams. The MaxLength (max frame size) is 1M. The code is as follow.

m_Bitstream.Extend(1024 * 1024);  in SetReader of the file pipeline_transcode.cpp.

When using the sample_decode, the MaxLength is 8M.

[2020-09-18 07:44] paniksystem opened #2368 "MFX_ERR_UNSUPPORTED when validating video encode parameters"
Hi,

I compiled the simple_encode_vmem_lowlat tutorial (6) on Ubuntu 20.04 with a G4400 and i get MFX_ERR_UNSUPPORTED on

`mfxENC.Query(&mfxEncParams, &mfxEncParams);`

Result:

[code]

vainfo:

[code]

cpuinfo:

[code]

[2020-09-18 07:48] tjaalton opened #2369 "build fail with gcc10"
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=957365

tutorials/common/common_vaapi.cpp: In function 'int open_intel_adapter()':
tutorials/common/common_vaapi.cpp:100:10: error: 'string' is not a member of 'std'
  100 |     std::string adapterPath = DRI_PATH;
      |          ^~~~~~
tutorials/common/common_vaapi.cpp:27:1: note: 'std::string' is defined in header '<string>'; did you forget to '

[2020-09-18 15:10] dvrogozh commented on #2369
@tjaalton : original issue on debian side is reported against 19.4.0 version. Can you, please, clarify:
1. Do you see the issue on the latest master/release?
2. Are you looking for the fix for 19.4.x release series or you need a fix in latest master/release?
[code]

[2020-09-18 17:18] tjaalton commented on #2369
20.2 still fails, and the file hasn't changed in master

getting a fix in master is good enough, I'll just patch the package until there's a new release

[2020-09-18 18:24] dvrogozh commented on #2369
@eponomar : I don't get it why this issue was not caught by CI? we have gcc-10 compiler configuration... Do we need to update to latest gcc-10.2 (from current gcc-10.0) to see it?

[2020-09-18 18:35] dvrogozh commented on #2369
Actually this issue means that `#include <string>` is missed, but it was already added in this commit:
https://github.com/Intel-Media-SDK/MediaSDK/commit/c7d40371eb0c2042261fe1f91a364f69a1457235

which should be available in this releases:
[code]

@tjaalton : I believe that master branch and releases >=20.1.0 has this issue fixed. Can you, please, double check that you updated a code base and real

[2020-09-18 20:41] tjaalton commented on #2369
hum, ok.. yes, looks like my testing local testing was outdated, it does built with 20.2.0, but the tests segfault but that's something else then

[2020-09-18 20:41] #2369 closed

[2020-09-18 21:04] dvrogozh commented on #2369
You gave us heads up on that some time ago, but we failed to reproduce:(. If these failures will persist, please, open another issue and attach detailed logs. Rough logs and output from strace might be needed. gdb results appreciated.

[2020-09-18 21:08] tjaalton commented on #2369
so I did.. I'll test a CI build on salsa.debian.org first, to verify it's not something on the chroot/sbuild on my own system

[2020-09-21 06:27] FurongZhang commented on #111
Since we have clarified this issue and no further questions/opens, close it.

[2020-09-21 06:27] #111 closed

[2020-09-21 06:27] FurongZhang commented on #111
Please feel free to open it if any more further questions.

[2020-09-21 07:13] MicroYY commented on #1493
I will try to debug it.

[2020-09-21 10:40] AntonGrishin commented on #2367
This is value that allocates by default.
If it`s not enough, additional space will be allocated during the processing.

[2020-09-21 10:54] AntonGrishin commented on #2368
[code]

Based on this your configuration doesn`t support VME.  I guess that you installed media stack with apt.
On ubuntu by default "free" versions of driver are installed which have a limited number of available features.

You can try to install the full feature driver:
[code]
Both drivers are available under the same license. The difference between them is that the "non-free" one contains close

[2020-09-21 11:05] paniksystem commented on #2368
Thank you.

[2020-09-21 11:05] #2368 closed

[2020-09-22 01:11] dylanintel commented on #2367
But in actually, when I run a case, additional space isn't allocated during the processing. Here will occur MFX_ERR_NOT_ENOUGH_BUFFER and may be a bug.

[2020-09-23 06:56] tongshi203 commented on #2177
The roi result by StreamEye is may be StreamEye error,I think

[2020-09-23 06:56] #2177 closed

[2020-09-23 07:35] AntonGrishin commented on #2367
Can you please provide the correct reproducer? logs, cmd, environment, etc

[2020-09-24 02:33] dylanintel commented on #2367
test : ./sample_multi_transcode -i::vp9 in.vp9 -o::raw out_vp9.yuv
if the size of one frame is bigger than 1M in a vp9 stream, there occur the error.
log:
[ERROR], sts=MFX_ERR_NOT_ENOUGH_BUFFER(-5), Transcode, Decode<One|Last>Frame failed.
I checked it and found the question in before comments.

[2020-09-24 14:58] Mortvola opened #2380 "HEVC green video when bit stream contains a missing frame"
We are seeing a large amount of distortion with green chroma when the bit stream has a missing frame. This is very problematic when using the HEVC decoder for video conferencing.

In the attached zip file, please find the test bit stream that has the second frame missing. In addition, I have included the yuv file that was produced by sample_decode.

The sample_decode command line I used:
./sample_

[2020-09-25 04:39] FurongZhang commented on #2321
@zhaoye1 , as we talked about, I am following up with it.

[2020-09-25 05:41] dvrogozh opened #2382 "av1d: improve decode DPB management"
If exhausted of DPB we need simply return MFX_WRN_DEVICE_BUSY but not release the frame which is in use.

[2020-09-25 07:41] wangyan-intel commented on #2311
@chuanli1 Could you please take a look? Thanks.

[2020-09-25 08:35] chuanli1 commented on #2311
sure,I could.

[2020-09-25 11:16] daleksan commented on #207
@changliwu please feel free to re-open if it is still actual

[2020-09-25 11:16] #207 closed

[2020-09-25 11:16] daleksan commented on #381
@changliwu please feel free to re-open if it is still actual

[2020-09-25 11:16] #381 closed

[2020-09-27 03:32] guowillyy commented on #2307
Issue was root caused as DoFastCopy is not added thread safety protection, code review WIP.

[2020-09-27 10:17] maximd33 opened #2385 "Wrong adapter check in multiGPUs/connections HW setup"
In reference to implementation details:
https://github.com/Intel-Media-SDK/MediaSDK/blob/90993883519abd3d2955dc097e4f749602d30fe2/api/mfx_dispatch/windows/src/mfx_dispatcher.cpp#L480
especially `adapter_n - 1`

it can be wrong under conditions:

- IA GPU is not connected to monitor
- other IHV GPU has two monitors connected

 Adapters list for such HW setup:

MFXQueryAdaptersNumber:651 VendorID:43

[2020-09-28 01:31] chuanli1 commented on #2311
The case can reproduce,use JPEGsnoop to check that the Jpeg is normal format,the next step is to use MDA and sample_decode to decode separately and compare command buffer.

[2020-09-28 01:42] chuanli1 commented on #2311
The case can reproduce,use JPEGsnoop to check that the Jpeg is normal format,the next step is to use sample_decode to decode and examine command buffer.

[2020-09-30 04:58] mpalmer commented on #1903
For anyone who comes up against this: I hit this problem, using the `libva` from Debian Buster, which reported "Found libva, version 1.4.0" in the build log.  Building with the `libva` currently in Debian Bullseye (2.9.0-1) worked OK.

[2020-09-30 07:26] YaboWei commented on #2054
I upgraded MSS 19.4 at 2020Q2, but coredump is not resolved

[2020-09-30 07:40] YaboWei commented on #2063
Hi, @filippenkos
I tried command:
/opt/intel/mediasdk/share/mfx/samples/_bin/sample_encode h264 -i chiji_Ad24DdIRwHI_60s.yuv -o a.264 -w 1920 -h 1080 -f 30 -g 90 -b 5000 -la -lad 30 -u veryslow
and the bitrate is 39584622*8 / (1801/30.0) / 1000 = 5275

[2020-09-30 21:55] dmitryermilov commented on #2307
@guowillyy , I'm skeptical this is correct.
Could you provide investigation results?
Why does DoFastCopy work fine for other decoders?

[2020-10-01 18:29] aobolensk opened #2392 "h265 to vp9e transcoding failure on 8K resolution stream when vaSyncBuffer is used instead of vaSyncSurface"
Transcoding using sample_multi_transcode:
Input stream: h265
Output stream: vp9
Resolution: 7680x4320 (for input and output)
Tested on: #2351 (vaSyncSurface is replaced with vaSyncBuffer)
There is no such problem in master branch.
[code]
Result:
[code]

[2020-10-05 06:33] ymaskina opened #2394 "vainfo needs sudo on Ubuntu20.04"
I faced an issue using libva functions on Ubuntu20.04 (OpenVINO package). Without sudo the output of vainfo will be follow:
libva info: VA-API version 1.8.0
libva info: User environment variable requested driver 'iHD'
libva info: Trying to open /opt/intel/mediasdk/lib64/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_8
libva error: /opt/intel/mediasdk/lib64/iHD_drv_video.so init

[2020-10-05 08:49] onabiull commented on #2394
Looks https://github.com/intel/libva/issues/444 would be better place to discuss.

[2020-10-05 11:20] filippenkos commented on #2063
Hi @YaboWei
As I mentioned encoding algorithms checks that bitrate is no more than 10% higher than requested.  In your case bitrate is higher than requested by 5,5%. So this result is not an issue.

[2020-10-05 16:52] pdelbarba opened #2396 "5th gen Broadwell continued support?"
Do we know for how long the 5th gen Broadwell chip will be supported?

[2020-10-07 11:06] maximd33 commented on #2385
according to MSFT:

from https://docs.microsoft.com/en-us/windows/win32/api/dxgi/nf-dxgi-createdxgifactory

MFX_Dispatcher and samples implementations advised to follow recommendation

[2020-10-13 02:31] Classsic opened #2404 "Can´t set look_ahead on 9th intel gen"
Hi, I follow the steps for compile and install ffmpeg on ubuntu 20.04.
[https://github.com/Intel-Media-SDK/MediaSDK/wiki/Build-FFmpeg-QSV](url)
When try to use look_ahead, whit this command:
`ffmpeg -loglevel info -init_hw_device qsv=hw  -filter_hw_device hw -rtsp_transport tcp -i rtsp://localhost/lasheras   -c:v h264_qsv  -vf  hwupload=extra_hw_frames=120  -look_ahead 1    -g 90 -bf 3  -rtsp_tran

[2020-10-13 10:15] Mr-Clam opened #2405 "Linux kernel 4.19 EOL date on Wiki page looks wrong"
This page say Linux kernel 4.19 will EOL Dec 2020:
https://github.com/Intel-Media-SDK/MediaSDK/wiki/Intel-Graphics-Support-in-Linux-Kernels

The upstream page says Dec 2024:
https://www.kernel.org/category/releases.html

I suppose this is an error and should be fixed in both places on the Wiki page.

[2020-10-13 12:47] FurongZhang commented on #1493
Using the latest open source driver (commit 95e3186) and media SDK, no garbage is seen. Suppose it is fixed by some patches.

[2020-10-13 12:53] FurongZhang commented on #1493
Please feel free to reopen it if any concern.

[2020-10-13 12:53] #1493 closed

[2020-10-13 12:57] FurongZhang commented on #1289
https://github.com/Intel-Media-SDK/MediaSDK/pull/2308

[2020-10-13 12:57] FurongZhang commented on #1289
https://github.com/Intel-Media-SDK/MediaSDK/pull/2308 is the sample code. Will merge it ASAP. Please refer to the sample code firstly.

[2020-10-13 12:57] #1289 closed

[2020-10-13 13:04] FurongZhang commented on #123
We have a detailed format table and are working on a way to share this table in GitHub.

[2020-10-13 13:55] FurongZhang commented on #1418
MCTF does not have 10bit support unless there is a major customer requirement.

[2020-10-13 13:57] FurongZhang commented on #1418
@thx4ever , @spossos  is MCTF expert. Please let us know if there is a major business impact for 10bit MCTF enabling. Thanks a lot in advance!

[2020-10-13 15:47] dvrogozh commented on #2405
Thank you for pointing this out. Actually this is not a mistake, but not updated wiki page. Initially 4.19 was announced with the shorter support period (and you saw it on the wiki page), later on (in about ~half a year) support period was extended. I aligned dates with the official kernel documentation and added a note that dates needs to be checked against it.

[2020-10-13 21:28] dvrogozh commented on #2404
Look ahead path requires cmrt library which is built during media driver build. On Ubuntu it will be /usr/lib/x86_64-linux-gnu/libigfxcmrt.so.7. Can you, please, check whether it is available? If you use Ubuntu 20.04 packages make sure to install:
[code]

[2020-10-13 23:14] Classsic commented on #2404
Now works great!
Maybe this have to go in the tutorial, is very important.
Thanks.
Close this issue.-

[2020-10-13 23:14] #2404 closed

[2020-10-15 04:52] FurongZhang commented on #1493
@fulinjie , need you attention. Using the latest open source driver (commit 95e3186) and media SDK, no garbage is seen.

[2020-10-15 06:14] FurongZhang commented on #2321
We have reproduced it and rooted cause it. Will provide the patch once code is ready..

[2020-10-15 07:53] FurongZhang commented on #2321
Please use sample_vpp.exe -sw 1920 -sh 1080 -scc nv12 -dw 1080 -dh 1920 -dcc nv12 -i 1nv12.data -o 1nv12Out.data -rotate 90 -d3d11. We checked DX11 command, it is working.

[2020-10-15 08:06] FurongZhang commented on #2321
https://docs.microsoft.com/en-us/windows/win32/api/dxva2api/ns-dxva2api-dxva2_videoprocessbltparams does not have rotation parameters. Hence, to perform rotation, recommend to use DX11.

[2020-10-15 08:08] FurongZhang commented on #2321
It’s worked on Media SDK 2020.R1 with DX11 FLAG @zhaoye1 . Please consider to close this issue.

[2020-10-15 08:14] FurongZhang commented on #2321
Talked to @zhaoye1 , we can close this issue. @zhaoye1  will communicate with the customers if the customers would like to upgrade to MSDK 2020 R1.

[2020-10-15 08:14] #2321 closed

[2020-10-15 10:30] #2316 closed

[2020-10-15 10:35] daleksan commented on #1654
@xhaihao could you cover this thread on behalf of @fulinjie ?

[2020-10-15 10:38] daleksan commented on #1768
Wiki was updated, closing the issue

[2020-10-15 10:38] #1768 closed

[2020-10-15 10:40] daleksan commented on #1947
@DenWolf any updates?

[2020-10-15 10:41] daleksan commented on #1857
@FurongZhang can you please reply?

[2020-10-15 10:43] daleksan commented on #1977
@vilichev can you please triage and forward the issue to the right owner?

[2020-10-15 10:44] daleksan commented on #1985
@vilichev can you please follow up?

[2020-10-15 10:48] daleksan commented on #2013
@vilichev please follow up

[2020-10-15 10:51] daleksan commented on #2020
@DenWolf please take a look

[2020-10-15 10:51] daleksan commented on #2031
@FurongZhang any ETA?

[2020-10-15 10:53] daleksan commented on #2032
@dryjq did you have a chance to try the Denis's suggestion?

[2020-10-15 10:55] daleksan commented on #2054
@YaboWei
1) Can you share the reproducer?
2) Please attach call stack with debug symbols

[2020-10-15 10:55] #2063 closed

[2020-10-15 10:57] daleksan commented on #2066
@ViGill did you have the chance to check Dmitry's suggestion?

[2020-10-15 14:07] FurongZhang commented on #1857
Yeah, I can reply. I looked at this issue. The bit difference is 1(very small).

For our fixed function(HW unit), we don't expect this difference. On our latest platform ICL/TGL, we once confirmed that this CSC is same as the mathematics calculation.

If CSC is running on EU, it is possible because of some rounding precision issue.

[2020-10-15 14:09] FurongZhang commented on #1857
@HermanMolinder, what is your expectation of this issue?

For APL, we have limited support. I can double confirm ICL and TGL. Is this OK for you?

Or you expect us to fix this issue on APL?

Thanks,
Furong

[2020-10-15 14:12] FurongZhang commented on #2031
@Yanfeng-mi, please provide ETA. Thanks a lot in advance!

[2020-10-15 14:21] #1418 closed

[2020-10-15 14:25] FurongZhang commented on #2198
I have fixed the issue in the latest MSDK open source code. Please feel free to let us know if any further questions or issues, thanks a lot in advance!

[2020-10-15 14:28] HermanMolinder commented on #1857
@FurongZhang ,
This issue is not affecting me. As you say the difference is very small, so I'm not expecting a fix for APL.
The other two opened issues I've created is of higher priority though. They are actual bugs in our product.

BR
Herman

[2020-10-15 14:32] FurongZhang commented on #1857
OK. I am checking the issue you reported.

[2020-10-15 14:32] FurongZhang commented on #1857
Can you please pasted the bug again?

[2020-10-15 14:35] dmitryermilov commented on #2198
@FurongZhang , could you point to the pool request?

[2020-10-15 14:38] FurongZhang commented on #1857
Recently, I am cleaning MSDK issues. If this is not affecting you, I will close the issue. Please feel free to let me know if any concern.

[2020-10-15 14:38] #1857 closed

[2020-10-19 02:07] yuqinw commented on #2164
hi all,
the root  cause is output_background_color unset, and I submit the patch at: https://git-ccr-1.devtools.intel.com/gerrit/#/c/182217/
After syncing with James, the issue is fixed, but maybe need more test cases to verify. thanks.

[2020-10-19 05:14] FurongZhang commented on #2164
Rooted caused by @yuqinw .

[2020-10-19 05:37] FurongZhang commented on #2312
We have already worked on that. Will update it soon.

[2020-10-19 11:44] FurongZhang commented on #2164
https://github.com/Intel-Media-SDK/MediaSDK/commit/18781d3be243748b9b80f5055401c1fa402353f6 fixed this issue and merged.

[2020-10-19 11:44] FurongZhang commented on #2164
Hence close this issue. Please feel free to let us know if any further questions.

[2020-10-19 11:44] #2164 closed

[2020-10-20 01:02] MicroYY commented on #2087
Hi， I am looking into this issue. You mentioned that no app could be provided, but could you pls some key code which calls the MSDK or the input so that the problem can be reproduced? My email is jay.yang@intel.com. Anything confusing just contact me.

[2020-10-20 03:04] MicroYY commented on #2031
Hi， I‘m investigating this issue. Would you pls share the test assets to me so that I can reproduce this issue?

[2020-10-20 05:37] nyanmisaka commented on #2031
@MicroYY Thanks for your response.
The PGSSUB graphical subtitle is from a movie. It may take some time to download.
https://imisaka.xyz:8089/s/8ddBFBm5Q8WgQX2

[0:v] means video track and [0:s] means subtitle track.
Works on Linux but throw bgra error on Windows.
`
ffmpeg -init_hw_device qsv -c:v hevc_qsv -i "Tamako love story (2014).mkv" -c:v h264_qsv -b:v 5000000 -profile:v high -level 41 -an -

[2020-10-20 06:00] HermanMolinder commented on #2087
Hi @MicroYY,
I can't share any code. It's protected.
When and if I get some time over I will try to make a reproducible application from which I can share the source code.

[2020-10-21 03:34] chuanli1 commented on #2311
The clip number of DC huffman codes of length is 1~13,the length supported by hw is 1~12,I will update the code to make msdk return Huffman table DC entries number is out of HW limitation，avoid gpu hang issue.

[2020-10-21 03:35] chuanli1 commented on #2311
The clip number of DC huffman codes of length is 1 to13,the length supported by hw is 1to12,I will update the code to make msdk return Huffman table DC entries number is out of HW limitation，avoid gpu hang issue.

[2020-10-21 06:58] chuanli1 commented on #2311
will have modified and returned hw can't support, gpu hang issue don't appear.

[2020-10-21 08:33] vilichev commented on #2013
@yskuridi Please investigate

[2020-10-21 09:57] HermanMolinder commented on #2312
@FurongZhang ,
I'm really glad to hear that! When do you estimate this fix will be released?

[2020-10-22 05:29] VickyZengg commented on #2312
@HermanMolinder
Hi, I checked this issue. You can add deinterlace force VPP to deinterlace input stream.
sample_multi_transcode -i::mpeg2 video_es.mpeg2 -o::raw out.raw -w 720 -h 480 -deinterlace::BOB
It may help you fix this problem. Thx.

[2020-10-22 06:00] HermanMolinder commented on #2312
@VickyZengg ,
Thank you, but we need to output it as interlaced. It's also a performance concern. So deinterlacing isn't a good solution for our application.

[2020-10-22 06:07] FurongZhang commented on #2312
You mean, for the interlaced frame, you need to output the interlaced and scaled frames. Right? If yes, for the interlaced frames, we can do some interlaced scaling.

[2020-10-22 06:13] HermanMolinder commented on #2312
@FurongZhang
Yes, that's right. The output is fed to a PAL/NTSC modulator, which expects an interlaced video that is 720x576/720x480.

[2020-10-22 06:16] HermanMolinder commented on #2312
And for this particular  stream we check the Field_Repeat flag to decide if some fields are to be repeated to the modulator.

[2020-10-22 14:55] dvrogozh opened #2412 "HEVC extbrc:implicit is broken w/ DEVICE_FAILED on SMT"
See https://github.com/intel/media-delivery/issues/43

This command lines fails:
[code]

For input stream see https://github.com/intel/media-delivery/issues/43

Notes:
* This is regression on 20.3.0, I did not check master
* AVC is not affected
* ffmpeg (AVC/HEVC) is not affected

[2020-10-22 15:14] MicroYY commented on #2031
@nyanmisaka
The driver log and trace of MSDK  has been dumped, but there is no unexpected behavior from them.
Since the driver does support BGRA, it's supposed that FFMPEG has no support for this format.
I am trying to figure out whether FFMPEG attributes to this issue.

[2020-10-22 16:01] dvrogozh commented on #2412
Reproduced on latest master: 2a7cfaa4, and this commit from master is currently the last known which worked good: 0e585ddc (that's a `git merge-base origin/master intel-mediasdk-20.2.1`)

[2020-10-22 16:25] dvrogozh commented on #2412
Bisect point to d978f4ece (@spossos : fyi):
[code]

Bisect log:
[code]

[2020-10-23 00:55] spossos commented on #2412
This pull request addresses the segmentation fault seen with Elephant's dream sequence.

[2020-10-23 14:23] dvrogozh opened #2417 "encoder/jpeg: unify vaapi attributes parsing"
https://github.com/Intel-Media-SDK/MediaSDK/blob/f3a4318d0a912bcdc9b387b2fbbee5c113adf44a/_studio/mfx_lib/encode_hw/mjpeg/src/mfx_mjpeg_encode_vaapi.cpp#L123

These  multiple calls to the driver can be avoided and collapsed into single call as we do in other encoders.

[2020-10-23 15:36] dvrogozh opened #2418 "clang-11 build is broken (from 2a7cfaa?)"
We've did a mistake switching from clang-10 to clang-11 in CI and accidentally disabled clang build at all (which by fact was done thru gcc while marked as clang-11). As a result build regression squeezed in. See https://github.com/Intel-Media-SDK/product-configs/pull/364 for build result (this PR enables clang-11 for real). Presumably regression started from 2a7cfaa.

[code]

[2020-10-26 05:50] wangyan-intel commented on #2311
@DayDaySee Could you please confirm it? Current media-driver/MSDK will return error information. It is HW limitation. Could we close this issue?

[2020-10-26 06:16] wangyan-intel commented on #2202
This issue has been fixed on application side.

[2020-10-26 06:16] #2202 closed

[2020-10-26 13:28] FurongZhang commented on #2031
@microYY, could we check if sample vpp or vpp sample code in toturial support this BGRA? If our sample code support it, then we can share our sample code on the GitHub. Thanks.

[2020-10-26 17:51] dvrogozh commented on #2412
We fail with -54 error (CM_GPUCOPY_INVALID_SURFACES) from CM. It encounters in couple of places:
[code]

So, setting gdb breakpoints we encounter this:
[code]

I.e. we fail on this condition: https://github.com/intel/media-driver/blob/2c12eac7bdd5bb5ab97c740c9ad66cfaa9ba23be/media_driver/agnostic/common/cm/cm_queue_rt.cpp#L2008"
[code]

So, the root cause is simple: MCTF does not account for surfa

[2020-10-27 05:51] syjml opened #2421 "vp9 encode failed!"
OS:win10 2004
GPU：Intel UHD 630

After compiling the sample_encode project, execute the following command:

sample_encode.exe vp9 -hw -i yuv420p.yuv -o yuv420p.vp9 -w 1920 -h 1080

return error message:
ERROR: No suitable adapters found for this workload

![image](https://user-images.githubusercontent.com/8069021/97262216-6590a180-185b-11eb-8d30-741eb2d79dfe.png)

I want to know if the cause of th

[2020-10-27 09:00] MicroYY commented on #2031
Ok, I'll have a try.

[2020-10-27 11:22] #2418 closed

[2020-10-27 12:11] onabiull commented on #2421
UHD 630 translates to Coffee Lake and Gen9 Intel Graphics. VP9 encode introduced since Icelake (Gen 11).

[2020-10-27 12:30] eponomar opened #2425 "Warning in clang 11 MSDK build"
New warning threated as error found in clang 11 msdk build. It seems, issue was introduced by [fcd72b007](https://github.com/Intel-Media-SDK/MediaSDK/commit/fcd72b00785ec2df2d51888adf3484382c11fcc3).
CI check for this review passed because of wrong configuration of infrastructure and currently CI check with clang don't work as expected. So we need to fix all issues in product code before enabling

[2020-10-27 13:57] #2425 closed

[2020-10-28 13:36] dmitryermilov opened #2432 "Decoders are broken since PR #2363"
#2363 introduced not backward compatibility. If system doesn't have very latest UMD, then decoders since #2363 return MFX_ERR_UNSUPPORTED from DecodeFrameAsync . It's a regression because GPU priority support is an optional feature. MSDK should query driver caps and not try to enable if a particular UMD instance doesn't have corresponding support.

[2020-10-28 14:23] dvrogozh commented on #2432
@dylanintel : fyi

And I was warning about this behavior, but thought we took care about that. Looks like I overlooked something in review. @dmitryermilov : did we revert the feature already?

[2020-10-28 14:25] dmitryermilov commented on #2432
Let's allow 24h (per policies) for a fix?

[2020-10-28 14:28] dvrogozh commented on #2432
ok

[2020-10-28 14:31] dmitryermilov commented on #2432
I observe the same issue with AVC encoder.

[2020-10-28 20:09] #1741 closed

[2020-10-29 11:02] dmitryermilov commented on #2432
Dylan and I chatted and did some debug in parallel. PR from Dylan indeed introduced Query support so sorry for pressure, Dylan! It’s not a MSDK problem, it’s driver issue. There is a short range of drivers where driver being compiled against libva <1.10 reports GPU priority is supported but the real support is not included in the build. I was lucky to have such driver.

[2020-10-29 11:02] #2432 closed

[2020-10-29 11:18] FurongZhang commented on #2031
@nyanmisaka, are you familiar with FFMPEG? According to our understanding, bgra in FFmpeg, argb in driver and rgb4 in MediaSDK are the same format.

Now, we are suspecting FFMPEG supported format missed bgra format. https://github.com/FFmpeg/FFmpeg/blob/ae9a1a96982669926a4ecb92b066814f5f27dc38/libavutil/hwcontext_dxva2.c#L82
supported_formats[] = {
    { MKTAG('N', 'V', '1', '2'), AV_PIX_FMT_NV12

[2020-10-29 11:22] FurongZhang commented on #2031
Trending to be a FFMPEG issue, not MSDK issue.

[2020-10-29 12:12] nyanmisaka commented on #2031
After adding `{ MKTAG('B', 'G', 'R', 'A'), AV_PIX_FMT_BGRA },` into `supported_formats`, the `IDirectXVideoAccelerationService_CreateSurface` failed to create bgra surfaces.
https://github.com/FFmpeg/FFmpeg/blob/ae9a1a96982669926a4ecb92b066814f5f27dc38/libavutil/hwcontext_dxva2.c#L194

But bgra is possible in VAAPI. https://github.com/FFmpeg/FFmpeg/blob/ae9a1a96982669926a4ecb92b066814f5f27dc38/lib

[2020-10-29 14:03] #2055 closed

[2020-10-29 16:18] nyanmisaka commented on #2031
@FurongZhang
There is one more question.

As I see that `tonemap_vaapi` filter have been implemented in ffmpeg 4.3.
Then I tried it to do H2S for my HDR videos on a KabyLake chip(HD 630), ffmpeg works with no error but the output color doesn’t seem to have been changed at all.

Note that the software tonemap filter and tonemap_opencl filter are all works for this video.
I am using libva 2.8 and me

[2020-10-30 08:09] HermanMolinder commented on #2087
Hi,
Just wanted to inform you that this issue is still present in latest Media SDK release 20.3.0.
BR
Herman

[2020-10-30 08:20] HermanMolinder commented on #2312
Hi @FurongZhang ,
This issue is still present in Media SDK release 20.3.0.
You mentioned that you had worked on this issue? Can you please elaborate?
BR
Herman

[2020-10-30 08:22] FurongZhang commented on #2312
Yes, we almost rooted cause this issue. Next Monday, we can give you an update about this issue.

[2020-10-30 08:34] HermanMolinder commented on #2312
Thank you. I'm happy to hear that!

[2020-10-31 07:26] nyanmisaka commented on #2031
That worked basically. But the burned-in subtitles is not sync with the video.
I tried to change the framesync options in `overlay_qsv` filter but the subtitles still flicker frequently.
This never happened on Linux with same commands.

ffmpeg win64 binary with d3d bgra patch: [ffmpeg1031.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/5468645/ffmpeg1031.zip)

[code]

[2020-10-31 12:49] MicroYY commented on #2031
There are two new issues now:
1. The substream is not sync with the mainstream (The subtitle flickers frequently,).
2. The program will stop suddenly at runtime (Seems cannot predict when will stop).
Did you encounter the second issue?

[2020-11-01 12:24] nyanmisaka commented on #2031
Only the first issue for me.
[code]

[2020-11-02 06:49] FurongZhang commented on #123
We are preparing the document.

[2020-11-02 13:32] FurongZhang commented on #2031
Since we have rooted cause this issue in FFMpeg and @nyanmisaka provided FFMPEG patch for fix. Let's close this issue as fixed in FFMPEG.

As for other issues, recommend to file issues on GitHub.

[2020-11-02 13:32] #2031 closed

[2020-11-02 13:36] FurongZhang commented on #2031
@nyanmisaka, FFMPEG should support VAAPI HDR tone mapping on KBL. And we are planning to add HDR tone mapping in MSDK level.

[2020-11-02 13:38] FurongZhang commented on #1949
We are working on that now!

[2020-11-02 16:05] softworkz commented on #1949
That's awesome news! Let us know when you got something..

[2020-11-03 02:42] hmazlan opened #2445 "TGL-H: sample_decode on H264 is not working"
Failed to decode the following format in TGL-H. Here are the media stacks used

Libva: 8c6126e67c446f4c7808cb51b609077e4b9bd8fe
MSDK: 948f7b71fec2703a9345105d0308d95b92577daf
Media Driver: 1c8e076cad591702a0faa1fae1f429e517d33811
gmmlib: intel-gmmlib-20.2.4

Sample Output:

root@intel-corei7-64: /mount# cd H264_Videos/
root@intel-corei7-64:/mount/H264_Videos# /usr/lib64/mfx/samples/sample_decode h

[2020-11-03 02:46] hmazlan opened #2446 "TGL-H: sample_decode on H265 is not working"
Failed to decode the following format in TGL-H. Here are the media stacks used

Libva: 8c6126e67c446f4c7808cb51b609077e4b9bd8fe
MSDK: 948f7b71fec2703a9345105d0308d95b92577daf
Media Driver: 1c8e076cad591702a0faa1fae1f429e517d33811
gmmlib: intel-gmmlib-20.2.4

Sample Output:

root@intel-corei7-64:/mount# cd H265_Videos/
root@intel-corei7-64:/mount/H265_Videos# /usr/lib64/mfx/samples/sample_decode h2

[2020-11-03 02:47] hmazlan opened #2447 "TGL-H: sample_decode on VC1 is not working"
Failed to decode the following format in TGL-H. Here are the media stacks used

Libva: 8c6126e67c446f4c7808cb51b609077e4b9bd8fe
MSDK: 948f7b71fec2703a9345105d0308d95b92577daf
Media Driver: 1c8e076cad591702a0faa1fae1f429e517d33811
gmmlib: intel-gmmlib-20.2.4

Sample Output:

root@intel-corei7-64:/mount# cd WMV_Videos/
root@intel-corei7-64:/mount/WMV_Videos# /usr/lib64/mfx/samples/sample_decode vc1

[2020-11-03 03:05] hmazlan commented on #2445
Wrongly used the file type. Should close this issue as sample_decode expects only bitstream file

[2020-11-03 03:05] #2445 closed

[2020-11-03 03:17] hmazlan commented on #2447
close the issue due to wrong video file used since sample decode accepted bitstream file

[2020-11-03 03:17] #2447 closed

[2020-11-03 03:18] hmazlan commented on #2446
close the issue due to wrong video file used since sample decode accepted bitstream file

[2020-11-03 03:18] #2446 closed

[2020-11-03 13:16] aobolensk commented on #2392
This issue seems to be not reproducible on the latest media driver.

[2020-11-04 01:39] VickyZengg commented on #2312
Hi @HermanMolinder
We rooted cause this issue. In interlaced scale, we take different ways to deal with top field and bottom field. So it looks like jumpy in mixed PicStructs. Top and Bottom field didn't get mixed up. The purpose of this different ways is to make the interlaced scale quality better. Do you have any quality concerns else?

[2020-11-04 02:17] Gvence commented on #1470
I already merged in. Can be closed.

[2020-11-04 02:37] wangyan-intel commented on #1470
@zhoub Could you please provide your clip for double check and your change to PR for reviewing. If it has no the other concern, we can merge it. Thanks.

[2020-11-04 06:56] HermanMolinder commented on #2312
Hi @VickyZengg ,
I see, that explains a lot! Do you have a solution for this?
I don't have any other quality concerns for now.

[2020-11-04 07:03] VickyZengg commented on #2312
Hi @HermanMolinder
This behavior is expected, it improves interlaced scale quality. If you don't have other quality concerns, it's no need to change it.
If you have, please feel free to let us know.

Thanks,
Vicky

[2020-11-04 09:05] HermanMolinder commented on #2312
@VickyZengg ,
I think we misunderstood each other.
The input stream (with mixed PicStruct) is a valid MPEG stream and the resulting output has inferior quality which is not expected. I want to claim that this is a bug that needs to be fixed.
BR
Herman

[2020-11-04 23:32] egorovdanil commented on #1735
Not reproduced with latest media-driver master.
[code]

[2020-11-05 02:58] wangyan-intel commented on #1470
@zhoub I tried some AVC clips (baseline/main/high profile) in my hand based on the latest MSDK sample_decode. I cannot reproduce your issue. It may have been fixed. So I close this issue now. If you have this issue without your change, please free to reopen this issue and provide your clip. Thanks.

[2020-11-05 02:58] #1470 closed

[2020-11-05 04:06] lzfgnu opened #2452 "output yuv green screen when decode h264 file using sample decode"
here is input h264 file
[h264.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/5491918/h264.zip)

platform: windows10 1909
cpu: Intel Core i7-8700
gpu: intel uhd graphics 630
ram: 16gb

[2020-11-05 05:02] wangyan-intel commented on #2452
What platform?

[2020-11-05 06:47] lzfgnu commented on #2452
platform: windows10 1909
cpu: Intel Core i7-8700
gpu: intel uhd graphics 630
ram: 16gb

Here is my computer config. I also tested in my laptop thinkpad t480, the same problem appeared

[2020-11-05 06:57] wangyan-intel commented on #2311
This is HW limitation. Close it.

[2020-11-05 06:57] #2311 closed

[2020-11-05 06:58] wangyan-intel commented on #2452
@chuanli1 could you please check it? Thanks.

[2020-11-05 06:59] chuanli1 commented on #2452
sure

[2020-11-05 08:17] dmitryermilov commented on #2452
@lzfgnu , please post:
1) Driver version
2) command line you used?
3) info if the issue is seen or not with YUV file dumping

Thanks.

[2020-11-05 08:23] VickyZengg commented on #2312
Hi @HermanMolinder
Interlaced content can't be played directly. In interlaced content, we think this jumpy is expected.
Is it still jumpy after deinterlaced?
Thanks,
Vicky

[2020-11-05 08:33] lzfgnu commented on #2452
Thanks for your reply.  Here is my computer information
1. Driver version: Intel UHD Graphics 630 **(26.20.100.7642)**
2. Command line: **sample_decode h264 -i input.h264 -o output.yuv**
3. The issue is seen with yuv file. some frames are normal while some frames are green.
![image](https://user-images.githubusercontent.com/25069103/98216879-a340a900-1f84-11eb-8548-34aa3e3eb6b2.png)

[2020-11-05 09:05] dmitryermilov commented on #2452
Thanks. Could you try to add "-hw -d3d" or  "-hw -d3d11" cmd option? Will you see the same green frames?

[2020-11-05 09:18] HermanMolinder commented on #2312
Hi @VickyZengg ,
Our application decodes, processes and modulates a PAL/NTSC signal. PAL/NTSC is interlaced and can be viewed on a CRT TV without any deinterlacing involved.
This video stream is decoded correctly, without jumpy picture and without deinterlacing, in other professional decoder chipsets. So this is something we really need help solving in Intel Media SDK.
Please tell me if you want m

[2020-11-05 09:39] lzfgnu commented on #2452
I tried and the issuse is still existed

[2020-11-05 11:46] egorovdanil commented on #192
PSNR is currently not supported in MediaSDK and media-driver.
Could you please clarify at what level you want this feature, samples or library?
You can also use our tool metrics_calc_lite to calculate PSNR: https://github.com/Intel-Media-SDK/tools

[2020-11-05 15:38] chuanli1 commented on #2452
- windows

sample_decode.exe h264 -i data.h264 -o output_d3d.yuv -hw -d3d
**the result**:
[ERROR], sts=MFX_ERR_NULL_PTR(-2), CDecodingPipeline::CreateHWDevice, m_hwdev->Init failed at d:\bb\nnt-bldsrv-03_2\build_windows_sw_lib\build_dir\repos\mdp_msdk-lib\samples\sample_decode\src\pipeline_decode.cpp:1060

[ERROR], sts=MFX_ERR_NULL_PTR(-2), CDecodingPipeline::Init, CreateHWDevice failed at d:\bb\n

[2020-11-06 06:50] VickyZengg commented on #2312
Hi @HermanMolinder
I update one patch : https://github.com/VickyZengg/media-driver
Can you use this driver to see if it fix the problem?
Waiting for your reply. Thank you.
Thanks,
Vicky

[2020-11-09 07:47] kevinchen1223 opened #2463 "[ERROR], sts=MFX_ERR_UNSUPPORTED(-3),MediaSDK2018 Q4@@ CentOS Linux release 7.5.1804"
cpu:i5-7200U
[root@localhost samples]# ./sample_decode h264 -i cars_1920x1080.h264 -o out.yuv
libva info: VA-API version 1.4.0
libva info: va_getDriverName() returns 0
libva info: User requested driver 'i965'
libva info: Trying to open /opt/intel/mediasdk/lib64/i965_drv_video.so
libva info: Found init function __vaDriverInit_1_4
libva info: va_openDriver() returns 0
[ERROR], sts=MFX_ERR_UNSUPPORTE

[2020-11-09 07:54] kevinchen1223 commented on #2463
[root@localhost mediasdk]# cd lib64/
[root@localhost lib64]# ll
总用量 53816
-rwxr-xr-x. 1 root root      989 11月  9 15:44 i965_drv_video.la
-rwxr-xr-x. 1 root root  8694744 11月  9 15:44 i965_drv_video.so
lrwxrwxrwx. 1 root root       15 11月  9 15:52 libmfxhw64.so -> libmfxhw64.so.1
lrwxrwxrwx. 1 root root       18 11月  9 15:52 libmfxhw64.so.1 -> libmfxhw64.so.1.28
-rwxr-xr-x. 1 root root 45979088 11

[2020-11-09 08:24] yskuridi commented on #2013
proposed a solution.
waiting for confirmation from architects

[2020-11-10 02:56] chuanli1 commented on #1960
the link is invalid，could you update the link? @sunxinpeng

[2020-11-10 04:02] chuanli1 commented on #1575
this case can decode successfully on local machine.

[2020-11-10 05:22] xhaihao commented on #1575
chuanli1 could you provide your command?

[2020-11-10 05:49] chuanli1 commented on #1575
Is this output format the default？I use the default.
command line：
./sample_decode jpeg -i smpte_444P.jpeg -o output_ayuv.yuv -hw

[2020-11-10 05:57] xhaihao commented on #1575
It is using VPP to convert NV12 to AYUV.
[code]

[2020-11-10 06:05] wangyan-intel commented on #1575
@chuanli1 Your result is converted by MSDK VPP.  @xhaihao hopes sample_decode output AYUV directly because this JPEG is AYUV format.  Could you please add this support in MSDK. Thanks.

[2020-11-10 06:09] chuanli1 commented on #1575
Thanks @xhaihao and @wangyan-intel ,I try to enable this output format in our msdk.

[2020-11-10 15:50] dmitryermilov commented on #2013
Dear @guoyejun ,

Sorry for delay. We're discussed internally. The plan is the following:
Per the msdk manual, Query shall return max number of supported ROI if app passes 256 to input params:
`NumROI - Number of ROI descriptions in array. The Query function mode 2 returns maximum supported value (set it to 256 and Query will update it to maximum supported value).`

But currently AVC and HEVC enco

[2020-11-11 08:29] HermanMolinder commented on #2312
Hi @VickyZengg ,
I tested your patch and still get jumpy picture.
BR
Herman

[2020-11-11 08:32] VickyZengg commented on #2312
Hi @HermanMolinder  The jumpy is the same as before?

[2020-11-11 09:09] syjml commented on #1005
Does Ice Lake support the hardware acceleration of vp9 encoder?

[2020-11-11 09:16] dmitryermilov commented on #1005
Hi @syjml ,
yes

[2020-11-11 09:45] syjml commented on #1005
Does the processor code-named Comet Lake support VP9 encoder hardware acceleration?

[2020-11-11 10:02] dmitryermilov commented on #1005
No. It's Gen9. VP9 VDEnc (aka LowPower) is not supported there.

[2020-11-11 10:05] syjml commented on #1005
Are you saying that the processor code-named Comet Lake does not support VP9 encoder hardware acceleration?

[2020-11-11 14:53] HermanMolinder commented on #2312
@VickyZengg
It looked the same, but I need to double check to be sure if it was exactly the same behavior. Need to check that in our office, which I will be back to next week.

[2020-11-11 15:28] VickyZengg commented on #2312
Hi @HermanMolinder , it can't be the same. We did test, they are not bitmatch. If you have any problems in compiling driver, please contact me. Thank you.

[2020-11-11 17:17] aobolensk opened #2473 "Does anyone care about plugins removal?"
We have decided to remove the following plugins:
[code]
The reason of removal: implementation of these plugins is already moved to runtime library.
To preserve backward compatibility we are going to fake plugin loading by returning `MFX_ERR_NONE` on load for plugins that are listed above.
Pull request that performs disabling and plugins implementation removal: #2468

Plugins that are **not** going

[2020-11-12 08:44] zhangyuankun-star opened #2475 "[HEVCe_LP][Regression] one commit breaks HEVCe LP on ffmpeg-qsv and gst-msdk at target usage 7 on Gen12"
https://github.com/Intel-Media-SDK/MediaSDK/pull/2440 .this commit breaks HEVCe LP on ffmpeg-qsv and gst-msdk at target usage 7 on Gen12.
**for example**:
gst-launch-1.0 -vf filesrc location=<input> num-buffers=240 ! rawvideoparse format=i420 width=1280 height=720 framerate=30 ! videoconvert dither=0 ! video/x-raw,format=NV12 ! msdkh265enc rate-control=vbr hardware=true gop-size=256 target-usage=7

[2020-11-12 17:15] uartie commented on #2475
Reverted in #2476

[2020-11-12 17:25] dvrogozh commented on #2473
One thing to note: #2468 implements the subj. in 2 steps:
1. Modification to msdk dispatcher to stop loading named plugins, plugin .so are not deleted
2. Dropping plugins .so

So, 1) should not have any negative impact even on apps which has their own dispatcher. But 2) would impact apps which has their own dispatcher. As of now apps with own dispatcher seems to be the only possible issue with thi

[2020-11-12 22:48] #2475 closed

[2020-11-13 02:38] xhaihao commented on #2473
Will you still define MFX_PLUGINID_HEVCD_SW /  MFX_PLUGINID_HEVCD_HW / MFX_PLUGINID_HEVCE_SW / MFX_PLUGINID_HEVCE_HW / MFX_PLUGINID_VP8D_HW / MFX_PLUGINID_VP9E_HW / MFX_PLUGINID_VP9D_HW in the new version of MSDK ? The above variables are used in gst-plugins-bad.

[2020-11-13 02:56] niuwenju opened #2477 "error after running '/opt/intel/mediasdk/bin/vainfo'"
environments:

1. OS:ubuntu18.04
2. kernel:Linux version 5.4.0-52-generic (buildd@lcy01-amd64-022) (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)) #57~18.04.1-Ubuntu SMP Thu Oct 15 14:04:49 UTC 2020
3. CPU:Intel® Core™ i7-4790 CPU @ 3.60GHz
4. openvino:2020.1

i have successfully installed openvino2020.1, but after running `/opt/intel/mediasdk/bin/vainfo` got errors as follows

[code]

[2020-11-13 04:07] dvrogozh commented on #2473
Yes. Nothing changes in header files. If application uses legacy msdk dispatcher (libmfx.so.1) it will still think that it loads a plugin, but dispatcher actually won't load anything and just return OK as if something was loaded. All codec features implemented by plugin still should work since they are implemented in msdk runtime library.

@xhaihao : does msdk gstreamer plugins (from gst-plugins-b

[2020-11-13 05:08] xhaihao commented on #2473
gst-msdk links against the legacy msdk dispatcher.

[2020-11-13 08:35] dmitryermilov commented on #2473
Hi @xhaihao ,

Okay. Is it a gst internal copy of current MediaSDK dispatcher? Or you rely on mfx pkg-config? I'm asking because AFAIR, gst-msdk had an internal copy of MSDK headers. So we want to check what about dispatcher.

[2020-11-13 16:48] DarkSwan86 commented on #2230
Sorry for the late answer!

@dvrogozh i think it's a crash, i can't start the program even from the commandline, it always says "Aborted (core dump created)".
I've updated Manjaro to the latest version of everything and here is a new coredump and backtrace:

leonardo@leonardo-pc ~]$ coredumpctl gdb 5095
           PID: 5095 (ghb)
           UID: 1000 (leonardo)
           GID: 1000 (leonardo)

[2020-11-13 17:01] dvrogozh commented on #2230
Can you, please, provide msdk and media-driver versions you have on Manjaro? From what I see this should be either 20.2.1 if you use Manjaro stable or 20.3.1 in case of unstable and testing.

[2020-11-14 02:38] YaboWei commented on #2054
stack on mss19.4
#0  0x00007efd7a1629b4 in Mos_Specific_ReturnCommandBuffer (pOsInterface=<optimized out>, pCmdBuffer=0x7efd8ad07ec0, dwFlags=0)
    at /home/web_server/media-driver-intel-media-19.4.0r/media_driver/linux/common/os/mos_os_specific.c:3681
#1  0x00007efd79dd080d in CodechalDecodeAvc::DecodePrimitiveLevel (this=0x7efd7c18f680)
    at /home/web_server/media-driver-intel-media-19.4.0r/m

[2020-11-14 18:51] vladi14 opened #2481 "ERROR], sts=MFX_ERR_UNSUPPORTED(-3),MediaSDK2018 - sample_camera.exe WINDOWS 10"
hi , i try to prefrom simple actions on jpeg file ( i have managed successfully make rotation with multi_transcode.exe ) and i getting that error after i put the following command line :

command line :         sample_camera.exe -3DLUT_gamma -i sample.jpeg -o test.jpeg
error :

[ERROR], sts=MFX_ERR_UNSUPPORTED(-3), CCameraPipeline::Init, m_mfxSession.Init failed at C:\Users\vpikovsk\Desktop\MediaS

[2020-11-15 16:14] xhaihao commented on #2473
We rely on mfx pkg-config.  gst-msdk in gst-plugins-bad didn't have an internal copy of msdk headers.

[2020-11-16 06:58] xhaihao commented on #2307
@wangyan-intel @dmitryermilov Any update for this issue?

[2020-11-16 06:59] xhaihao commented on #2244
@dmitryermilov @wangyan-intel Any update for this issue?

[2020-11-16 07:00] wangyan-intel commented on #2307
@weizhu-intel Could you please double check if your patch has been merged into upstream? Thanks.

[2020-11-16 07:03] wangyan-intel commented on #2244
@weizhu-intel  will submit patch for this soon.

[2020-11-16 07:05] weizhu-intel commented on #2244
Haihao,  we have internal  fix for it now, will cherry-pick to opensource ASAP.

[2020-11-16 07:12] xhaihao commented on #2244
@wangyan-intel @weizhu-intel Thanks for the update.

[2020-11-16 08:13] weizhu-intel commented on #2244
@xhaihao  You can cherry pick this PR(https://github.com/Intel-Media-SDK/MediaSDK/pull/2486) to have a try on local.

[2020-11-16 08:14] weizhu-intel commented on #2307
@xhaihao You can cherry pick this PR(#2486) to have a try on local.

[2020-11-16 08:42] dmitryermilov commented on #2013
Commit above fixes HEVC. We need to fix AVC as well. So re-opening

[2020-11-16 17:22] uartie opened #2489 "[regression] DecodeFrameAsync failed for AVCd and HEVCd"
gst-msdk is unable to decode AVC and HEVC since commit 2f54a3458c5b:
[code]

[code]

[2020-11-16 20:30] #2489 closed

[2020-11-17 02:45] hongbolv commented on #2054
@YaboWei Do you have the reproducer for the issue? What's the platform kernel version?

[2020-11-17 06:17] xhaihao commented on #2307
@weizhu-intel it works well after applying #2486

[2020-11-17 06:17] xhaihao commented on #2244
@weizhu-intel it works well after applying #2486

[2020-11-17 07:07] lzfgnu opened #2493 "DecodeFrameAsync access violation"
Does media sdk have limits on the number of decode sessions in a single process?
In my project, I use media sdk to decode h264 file. I find  when I create more than 12 decoders, the access violation occures in function DecodeFrameAsync.
However, if I create two processes, one of each creates 6 decoders. the access violation won't happen.
I also tried to use ffmpeg h264_qsv, the same problem occure

[2020-11-17 11:45] dmitryermilov commented on #2493
@wangyan-intel , @asmirno1 , could you investigate it?

[2020-11-18 08:47] wangyan-intel commented on #2493
Sure. We will take a look.

[2020-11-18 09:57] Gvence commented on #1260
I tried  VP9 / h264 DRC cases (included Dulayev's case)  I found it has same behavior. All return ERROR: MFX_ERR_NONE != MFX_ERR_INCOMPATIBLE_VIDEO_PARAM.  I think there is no this issue in recently MSDK

[2020-11-18 10:00] wangyan-intel commented on #1260
@dulayev Based on @Gvence's comments, this issue is gone. I will close it. If you still have this issue, feel free to reopen it. Thanks.

[2020-11-18 10:00] #1260 closed

[2020-11-18 14:21] dmitryermilov commented on #2392
We saw it again on latest driver.

[2020-11-18 22:23] #2421 closed

[2020-11-18 22:28] dmitryermilov commented on #2481
@mvmaximov , is it expected ?

[2020-11-18 22:39] #2230 closed

[2020-11-19 07:45] JeremyShang commented on #2475
Hi @zhangyuankun-star , if you are still meeting the same issue. I suggests you update the intel media driver to the latest version.
Thanks!

[2020-11-19 11:07] mvmaximov commented on #2481
@vladi14 , could you please provide additional information:

- which platform it is (CPU/GPU)
- version of graphics driver installed on the system

[2020-11-19 12:41] asmirno1 commented on #2385
Prepared repro scenario based on sample_decode to check behavior for QueryAdapterInfo function.
Figured out that inside QueryAdapterInfo, values for VendorID and DeviceID are always received from dxvaDevice.InitD3D9(adapter_n) call (not InitDXGI1).

One the most appropriate solutions for this is to make MFXQueryAdapter* functions DX11 only:
* Remove DX9 related code from these functions
* Add a sp

[2020-11-19 12:41] #2385 closed

[2020-11-20 02:39] makefriend8 opened #2497 "ffmpg Error creating a QSV device"
[code]

my command:
`ffmpeg -hwaccel qsv -c:v hevc_qsv -i 265.mp4  -c:v h264_qsv h264.mp4`
result:
[code]

[code]

[2020-11-20 16:14] dvrogozh commented on #2497
Hi, can you, please, provide output for:
[code]

[2020-11-21 16:37] vladi14 commented on #2481
hi , i managed to use decode , sampe_vpp ,
now i am trying to use sample encode , with the following command line :

sample_encode.exe jpeg -i out_modified.yuv -o my_file.jpg -w 352 -h 192 -angle 180 -q 100
and facing the following erros:
C:\Users\vladi\Desktop\decoder\bin> sample_encode.exe jpeg -i out_modified.yuv -o my_file.jpg -w 352 -h 192 -angle 180 -q 100

[ERROR], sts=MFX_ERR_NULL_PTR(-2),

[2020-11-23 07:31] HermanMolinder commented on #2312
Hi @VickyZengg ,
Sorry for the delay. Haven't been able to test this until now, due to ongoing pandemic..

You're right, with your patch applied the picture looks different. It doesn't look good though. The picture is still jumpy, and for "normal" interlaced content the quality has been reduced. There're combing artefacts. So this actually made it worse.

BR
Herman

[2020-11-23 08:29] wangyan-intel commented on #2307
#2486 hase been merged. Close this issue based on @xhaihao's comments.

[2020-11-23 08:29] #2307 closed

[2020-11-23 08:29] wangyan-intel commented on #2244
#2486 hase been merged. Close this issue based on @xhaihao's comments.

[2020-11-23 08:29] #2244 closed

[2020-11-23 09:37] vilichev commented on #1977
Fixed function relates to Low Power (VDENC), Hi, @thomasli21801 could you please triage or assign correct owner

[2020-11-23 21:57] dvrogozh commented on #2473
We just merged #2468 which just disables some plugins loading in msdk dispatcher w/o removing .so themselves.

Next step would be to delete some plugin .so libraries. This is #2490, not yet merged. We install plugins into `/usr/lib/mfx` folder (assuming /usr/lib as a libdir) which is not a folder visible by default by ldconfig. And we name plugin as bare .so libraries w/o specific versioning. All

[2020-11-26 10:51] daleksan commented on #1513
closed by #1987

[2020-11-26 11:06] daleksan commented on #1610
@DenWolf Denis, current documentation says that 444p input format is not supported. Do you aware about plans to add it?

[2020-11-26 13:29] asmirno1 commented on #2481
@vladi14 , could you please also provide samples version that you are using?

[2020-11-27 18:13] onabiull commented on #2463
Take a look at wiki page: https://github.com/Intel-Media-SDK/MediaSDK/wiki/Intel-media-stack-on-Ubuntu
Your environment looks erroneously pick up i965 instead of iHD driver.

[2020-11-27 18:18] onabiull commented on #2463
And according to https://github.com/Intel-Media-SDK/MediaSDK/wiki/Intel-Graphics-Support-in-Linux-Kernels Kabylake (i7-7200U) support introduced in kernel version 4.9. While some distributions do backport HW support changes, so from i915 KMD driver perspective your kernel almost certainly newer than 3.10, I'd recommend to give 4.9 a try.

[2020-11-28 18:18] mikk9 commented on #1977
Same issue on my Tigerlake based i7-1165G7, different ICQ quality factor settings have no effect. With current API 1.34 drivers it is completely unavailable. H264 ICQ FF yes but no H265 ICQ FF.

[2020-11-30 07:29] thomasli21801 commented on #1977
Hi
Low power HEVC encoder now doesn't support ICQ now.
I'm in discussion now with key stakeholders to collect feedback and will get back.

[2020-11-30 20:53] vyacheslavs opened #2511 "mfx occasionaly creates corrupted I-Frame"
Hi. I'm using latest media-sdk + latest libva-intel. Kernel 4.19. Using sample_encode tool. Once in 2-3 hours corrupted frame produced.
[code]
[code]
[code]
[code]

[2020-11-30 20:56] vyacheslavs commented on #2511
[bad.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/5618687/bad.zip)

[2020-11-30 20:57] vyacheslavs commented on #2511
Could you please tell me what's wrong? Can provide more information if needed. Thank you !!!

[2020-12-02 06:16] chuanli1 commented on #2452
Some frames have no valid reference frame to decode,so some green screens appear. I need to check why the app don‘t send this reference frame to lib.

[2020-12-02 08:10] mikk9 commented on #1977
So is this a driver limitation at the moment or the hardware does not support it? If it's driver related I hope it will come later. Let us know if there is an update, thanks.

[2020-12-02 16:13] daleksan commented on #1535
@JackXu2 feel free to re-open if it is still actual

[2020-12-02 16:13] #1535 closed

[2020-12-02 16:14] onabiull commented on #996
After some consideration, this won't worth bringing additional dependency.

[2020-12-02 16:14] #996 closed

[2020-12-03 01:41] chuanli1 commented on #2452
1.The m_index value change of the first frame is 1,no reference frame, because this is a IDR frame; (successfully)
the m_index of current frame: 1
2.The m_index value change of the second frame is 1,-1,0 (successfully)
the m_index of current frame: 0     the m_index of marked reference frame : 1
3.The m_index value change of the third frame is 1,-1,0,-1,3 (successfully)
the m_index of current fram

[2020-12-03 16:17] #1985 closed

[2020-12-07 00:51] chuanli1 commented on #2452
[root cause]: From the fourth frame to the fifth frame, the value of frame_num changes directly from 3 to 5, for frame_num is a discontinuous value, lib code fills the frame_num gap with non-existing frames. When processing the non-existent frames, the fourth frame that has been previously marked as a reference frame is removed again, and the non-existent frame is marked as a reference frame.

[2020-12-07 06:48] samuel100u opened #2515 "EncodeFrameAsync needs at least 3rd frame feeded"
If I only have one frame video, I still need to retrieve the buffered encoded frames, why?

someone has the same question below.

https://community.intel.com/t5/Media-Intel-oneAPI-Video/EncodeFrameAsync-return-MFX-ERR-MORE-DATA-until-3rd-frame-feeded/m-p/1111020

[2020-12-07 11:09] dmitryermilov commented on #2515
Per **general** MediaSDK programming sequence, yes, client code needs to retrieve the buffered encoded frames.
However if application configures the encoder to work without re-ordered frames and with AsyncDepth=1, then the MediaSDK run-time library doesn't need to cache frames, so application doesn't need to retrieve the buffered encoded frames.
@samuel100u , did I answer your question?

[2020-12-07 23:02] dmitryermilov commented on #2452
@chuanli1 , thanks for root cause description.
Need some conclusion. Could you say if it's a bug or the stream is corrupted or something else?

- If it's a bug, please provide reference to AVC spec wording which confirms it.  Please also provide some ETA.
- If it's a corrupted stream, please tell if decoder can potentially handle it. Decoder should be error tolerant.
- If it's a corrupted stream,

[2020-12-08 05:51] chuanli1 commented on #2452
thanks @dmitryermilov .

1. bug: When processing discontinuous frame_num, ProcessFrameNumGap function modify the marked reference frame in DBP.
2. solution: When processing discontinuous frame_num, first step judge whether there have the mark reference frames according to count NumShortTermRefs and NumLongTermRefs. If not, the lib continue to fill the frame_num gap with non-existing frames to ensu

[2020-12-08 07:48] samuel100u commented on #2515
Even I set AsyncDepth=1.

When I encode the first frame to mpeg2,  **EncodeFrameAsync** return **MFX_ERR_MORE_DATA**  and **EncSyncP = NULL**.

And then I need to retrieve the buffered encoded frames.

[2020-12-08 08:11] dmitryermilov commented on #2515
It seems you're saying that MPEG2e doesn't work in the low latency mode.

[2020-12-08 08:20] samuel100u commented on #2515
Yes, I check h264 encode can work in the low latency mode.

[2020-12-08 08:32] #2066 closed

[2020-12-08 08:32] #916 closed

[2020-12-08 09:01] chuanli1 commented on #2452
@dmitryermilov  this CI build is the environment issue, and there is no relationship with my patch.

[2020-12-11 17:37] #1832 closed

[2020-12-12 12:16] vyacheslavs commented on #2511
Looks like it's a kernel issue. I've tried 4.16 and everything is ok. 23 hours without any corrupted frames. Now I'm going to investigate what's wrong with my 4.19.

[2020-12-15 12:24] vyacheslavs commented on #2511
Hi @dmitryermilov
Turning on CONFIG_INTEL_IDLE somehow makes the mfx to create corrupted frames on 4.19 (taken from linux-stable: git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git). Can anyone confirm this? Or is it well known issue?

[2020-12-15 22:15] dmitryermilov commented on #2511
Hi @vyacheslavs ,

Are there any suspicious logs in dmesg output when the issue occurs?
Generally, it's hard to comment. At least I'm not aware of known problems triggered by CONFIG_INTEL_IDLE. MediaSDK doesn't have dependencies from kernel/i915 kernel mode driver.  The user mode media driver has dependencies from KMD but again I have never heard of issues related to CONFIG_INTEL_IDLE. I'd propose

[2020-12-15 22:21] vyacheslavs commented on #2511
No suspicious logs in dmegs output found.

[2020-12-18 13:37] adegtyar commented on #1427
CQP HRD mode encoding is not supported for HEVC encoder.
MFXVideoENCODE_Query() will return MFX_WRN_INCOMPATIBLE_VIDEO_PARAM when input parameters contain both RateControlMethod=MFX_RATECONTROL_CQP and VuiNalHrdParameters=MFX_CODINGOPTION_ON followed by reset of VuiNalHrdParameters to 0 in the out parameters.
So sample_multi_transcode will return 'Configuration changed' on passing parameters '-cqp

[2020-12-19 16:37] mikk9 opened #2541 "[windows] Quicksync Iris Xe encoding/decoding clock speed"
I have to ask here because I couldn't find any infos in the datasheet. I'm using a Dell 7506 with an i7-1165G7 and Iris Xe.

3D workloads and encoding/decoding video clock speed differs. In 3d apps Iris Xe clocks with 1300 Mhz and for all Quicksync encoding/decoding workloads Iris Xe runs with only 1100 Mhz. Is it expected that encoding/decoding clock speed differs from 3d clock speed? I've tried

[2020-12-23 08:01] thomasli21801 commented on #1427
May I know why there is such request for CQP HRD?
I think BRC HRD is more common request.
But as last comment, CQP HRD mode is not supported for HEVC encoder.

[2020-12-25 02:21] wenbinc-Bin opened #2551 "sample_decode may has a bug when running in multi-process."
I run simple_2_decode_vmem to decode 1080p video on the DG1 platform with 8GB video memory. when I run it in 120 processes it will be blocked at somewhere, but when I run it in 100 processes it works well and will be finished in 5 minutes. If I force it to allocate 32 surfaces (set Request.NumFrameSuggested to 32 before it call alloc() ) and run simple_2_decode_vmem in 50 processes, some processes

[2020-12-25 09:18] makefriend8 opened #2552 "where is the example of "transcoding with picture-in-picture""
https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdkusr-man.md  said  Figure 1 shows three usage example.
where is the code ?

[2020-12-30 04:23] daijh opened #2554 "[TGL][VP9 Encoder][Multiple Sessions][Crash][Linux] Kernel crash with sample_multi_transcode"
I try to enable multiple threading VP9 encoding on TGL, but it caused kernel crash [i915 kernel driver].
I also reproduced the same issue with *sample_multi_transcode*.

## Environment

**MediaSDK Release**
https://github.com/Intel-Media-SDK/MediaSDK/releases/tag/intel-mediasdk-20.3.0

[code]

[code]

[code]

[code]

[2020-12-30 04:39] daijh commented on #2554
## Test
The input is 6min vp9 ivf, transcoding by 9 joined vp9 encoding. Below is the test script

### multiple_encoder_test.sh
[code]

### par-vp9-enc.file
[code]

### log

libva info: VA-API version 1.9.0
libva info: User environment variable requested driver 'iHD'
libva info: Trying to open /opt/intel/mediasdk/lib64/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_9
libva info:

[2020-12-30 04:47] daijh commented on #2554
Similar kernel crash for h264 multiple threading encoding

### par-avc-enc.file
[code]

### dmesg

[  216.069967] i915 0000:00:02.0: [drm] GPU HANG: ecode 12:10:28fffffd, in sample_multi_tr [2365]
[  216.069969] GPU hangs can indicate a bug anywhere in the entire gfx stack, including userspace.
[  216.069969] Please file a _new_ bug report at https://gitlab.freedesktop.org/drm/intel/issues/new.
[

[2021-01-04 01:43] FurongZhang commented on #1654
I am following up this issue and double confirming with validation. After confirmation, I will close this issue if test results are good.

[2021-01-04 01:48] FurongZhang commented on #2198
2989b1cbf475c029215bd6a2b67d65fda5416c43

[2021-01-04 01:48] #2198 closed

[2021-01-04 09:21] SiewHoon opened #2556 "Sample_encode output for h265 is corrupted if using system memory with p016 input raw video."
![image](https://user-images.githubusercontent.com/7076622/103519580-bbfc0b00-4eb0-11eb-9c6c-6d347874a41e.png)

Without -vaapi & -hw the encode output, playback the output is color corrupted. We can see corrupted issue by  using VQ Analyzer to check encode output stream.
 ./sample_encode h265 -i /home/root/output_1920x1080_p016.yuv -p016 -w 1920 -h 1080 -o /home/root/video.265

With -vaapi & -hw t

[2021-01-04 20:25] softworkz commented on #1949
@FurongZhang - Any news on that subject?

[2021-01-05 00:26] FurongZhang commented on #1949
Still WIP on that. Target to release in Q1 in the best case, Q2 in the worst case.

[2021-01-05 00:35] softworkz commented on #1949
Thanks for the update!

One question: Will it be a common VPP component or will it be limited to the most recent CPU/GPU models only?

[2021-01-05 00:39] FurongZhang commented on #1949
May I know what platform you are requesting?

[2021-01-05 00:40] softworkz commented on #1949
Both, Windows and Linux, but most importantly Windows (where there's no VAAPI)..

[2021-01-05 00:43] FurongZhang commented on #1949
I mean GPU. Which generation of GPU you are targeting? And BTW, I have defined HDR10 VAAPI, it is in the master branch. Please check the latest VAAPI vpp.h if needed.

[2021-01-05 01:06] softworkz commented on #1949
It would be so cool and easy if we had a certain generation to target...

But in fact, our software is made to be installed on many platforms with all different kinds of hardware. We are using ffmpeg and on top of that, we're having a custom detection layer that precisely tells us what capabilities are available on each platform.

I had recently posted a few details for some of your Intel fellows

[2021-01-05 02:04] uartie commented on #1949
https://github.com/intel/media-driver#video-processing-features shows supported platforms for tone mapping on linux driver.  Oddly, it's not listed as a feature on KBL... but, I enabled tone map in gstreamer's vaapipostproc element and it works on that platform for me.

[2021-01-05 02:37] softworkz commented on #1949
@uartie - thanks for the reference, I know that feature matrix, though.

In the past, Intel Media SDK has usually been providing a superset of hardware video acceleration features compared to plain VAAPI. The process of tone-mapping requires a lot of calculations to be performed, but those calculations are not really special in a way that it would take a specific kind of hardware to process.

And

[2021-01-06 13:59] #2541 closed

[2021-01-11 17:27] dvrogozh commented on #2554
I've posted a https://github.com/intel/media-driver/issues/1118#issuecomment-753024815 to derivative issue submitted to driver by @dmitryermilov. Repeating it here below.

Concerning Ubuntu, you can try to use `apt-get install linux-oem` kernel running Ubuntu 20.04.1. One of the delta with default ubuntu kernel is new devices support. Read more here: https://wiki.ubuntu.com/Kernel/OEMKernel. In pa

[2021-01-11 17:29] dvrogozh commented on #2554
@daijh : if you don't mind, can you, please try running `apt-get install linux-oem` on top of Ubuntu 20.04.1? can you post your observations here?

[2021-01-11 17:36] dvrogozh commented on #2551
DG1 is a new platform. Not all the patches has landed to Linux kernel (even to drm-tip). Thus, you need to be extremely careful with system setup. @wenbinc-Bin : can you, please, clarify which kernel you have used? In particular, currently supported system configuration is described here: https://dgpu-docs.intel.com/devices/iris-xe-max-graphics/index.html. Can you, please, check/confirm whether yo

[2021-01-12 02:43] daijh commented on #2554
@dvrogozh Thanks for this.

Upgrading oem kernel does not fix the kernel driver crash.

[code]

Run the same test scripts, the kernel driver crash.

[  130.792877] i915 0000:00:02.0: GPU HANG: ecode 12:10:28ffff7d, in sample_multi_tr [2426]
[  130.793961] i915 0000:00:02.0: Resetting vcs1 for preemption time out
[  130.795612] i915 0000:00:02.0: GPU HANG: ecode 12:10:28ffff7d, in sample_multi_tr [

[2021-01-12 05:40] wenbinc-Bin commented on #2551
@dvrogozh I see the link  (https://dgpu-docs.intel.com/devices/iris-xe-max-graphics/index.html) is about dGPU Virtualization. My machine is desktop and iGPU is disabled. Here is my environment:

kernel:       Linux 5.4.48+dg1140
drm:          10dd3eb6d5ab6c1867e1ca
libva:         e0f6e56fde81e2aa8724d
libva-util:   83728b910dc72cad5750
xf86:          a511f22cdec5650491
gmmlib:       6f15b795e1511f

[2021-01-12 10:22] AntonGrishin commented on #2556
Hi @SiewHoon,
Can you please add "-msb10" to your command line and try again?

[2021-01-12 15:29] aobolensk commented on #2392
We are experiencing similar problem in HEVC

[2021-01-12 17:55] dvrogozh commented on #2554
@daijh : thank you for trying. That's interesting. And I am especially concerned about a failure to reset a chip (at least GUC). By the way, did the graphics actually recover? For example, were you able to use HW decoding/encoding after the issue w/o system reboot?

One more question: what was the input clip? Is that possible to find out public clip to reproduced? Maybe some clip from ffmpeg fate

[2021-01-12 19:14] forart opened #2566 "[SUGGESTION] AI denoise/upscaling"
It would be extremely useful take advantage of Intel's CPUs powerfulness to "clean up" and upscale old/small images and videos for contemporary usage.

Here are some - maybe - interesting open source resources:

**DENOISE**
- [OpenImageDenoise](https://github.com/OpenImageDenoise/oidn), of course...
- [BasicSR](https://github.com/xinntao/BasicSR): an open source image and video restoration toolbox

[2021-01-13 03:31] daijh commented on #2554
There is no hard requirement on the  vp9 ivf input clip, just make enough duration (6min in my test) for reproducing the gpu issue.

I managed to find a public Big_Buck_Bunny 720p WebM and remux into ivf for testing.

[code]

[2021-01-13 05:35] daijh commented on #2554
- /sys/class/drm/card0/error - i915 error state
[sys-class-drm-card0-error.log](https://github.com/Intel-Media-SDK/MediaSDK/files/5806589/sys-class-drm-card0-error.log)

- full dmesg log
[dmesg.log](https://github.com/Intel-Media-SDK/MediaSDK/files/5806590/dmesg.log)

[2021-01-13 06:17] dvrogozh commented on #2554
@daijh : cool, thank you.
@tjaalton : fyi - gpu hangs on tgl on linux-oem kernel

Someone needs to try this on drm-tip kernel and submit issue on FDO if reproduced or figure out which patch in drm-tip fixed the issue.

[2021-01-13 13:00] #1215 closed

[2021-01-14 08:05] SiewHoon commented on #2556
Hi @AntonGrishin,

By add "-msb10", I can't the corruption anymore.

[2021-01-14 08:08] #2556 closed

[2021-01-14 08:40] VUNNYSODHI opened #2568 "[TGL] H264 decode with rendering is using EU instead of Vebox"
**Environment:**
OS: 18.04.5 LTS
libva: 2.8.0
Media-driver: 20.4.4 (104bf9ab)
MSDK: Last master 77f673853c23a9124174b1e4981b0785b03922db

**Command Used:**
“sample_decode h264 -hw -vaapi -i h264-test_1920x1080.nv12 -r  -rgb4"

**Behavior:**
When checked with intel-gpu-top tool, we can see for composition its using rendering engine, however from gen11 onwards VEBOX can support CSC NV12 to RGB, it s

[2021-01-14 18:39] dvrogozh commented on #2554
So, I've reproduce this issue on Dell Inspiron 7506 2 in 1 which has 2 gpus: TGL+DG1. As of now:
1. I definitely see the issue on TGL w/ linux-oem kernel. And I have different symptoms. Sometimes system goes completely unresponsive, sometimes graphics stuck, but ssh works. But I was not able to collect dmesg and error state on my own - system not that stable after issue is triggerred. But I most d

[2021-01-14 22:14] dmitryermilov commented on #2568
I don’t think we have libva flags responsible for forcing EUs or VEBOX based processing for CSC. From MSDK point of view it’s black box which engine UMD chooses. Yes, there are VA_FILTER_SCALING_HQ, VA_FILTER_SCALING_FAST, etc but these about scaling. So I would forward the request to UMD side. In an absence of  corresponding API, UMD should choose “the best” (but that is the best? Fastest or with

[2021-01-15 01:34] daijh commented on #2554
@dvrogozh The issue is also reproduced for H264 encoding, see par file in https://github.com/Intel-Media-SDK/MediaSDK/issues/2554#issuecomment-752326423

[2021-01-15 02:14] dvrogozh opened #2569 "So, I've reproduce this issue on Dell Inspiron 7506 2 in 1 which has 2 gpus: TGL+DG1. As of now:"
Investigate the following observation. Looks like VP9 encoder within smt  is doing something strange. With the above parfile which sets the encode in absolutely trivial way (`-o::vp9  /tmp/test0.ivf  -w 1280 -h 720`) and BBB clip obtained via ffmpeg (see https://github.com/Intel-Media-SDK/MediaSDK/issues/2554#issuecomment-759181509), I see this in a **middle** of transcoding:
[code]
So, I am not s

[2021-01-15 02:19] dvrogozh commented on #2554
@daijh : thanks for paying my attention. I missed that. Well, this just confirms suspicious that big vp9 encoded file size is just something else. Likely bad defaults which trigger cqp or mistake in bitrate calculation. I filed #2569 to track this separately.

Now, I have tried VP9 encoding on drm-tip kernel taken with the tag `intel/CI_DRM_9612` (latest for today) and **I was not able to reproduc

[2021-01-15 02:56] dvrogozh commented on #2554
I posted request to https://gitlab.freedesktop.org/drm/intel/-/issues/2937 to help identify patches.

[2021-01-15 03:58] tjaalton commented on #2554
oem-5.6 is about to be obsolete, hwe-5.8 is what is replacing it, and then there's oem-5.10..

[2021-01-15 07:08] daijh commented on #2554
## Linux version 5.10.0-1008-oem
- huc failed, so vp9 encoder does not work
- AVC has the same gpu hang issue

[code]

## Linux version 5.11.0-051100rc3-generic
The same as 5.10.0-1008-oem
- huc failed, so vp9 encoder does not work
- AVC has the same gpu hang issue

https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.11-rc3/

[code]

[2021-01-15 07:08] daijh commented on #2554
drm-tip head is the next try.

[2021-01-15 19:31] dvrogozh commented on #2554
I tried vp9 on few kernels from https://kernel.ubuntu.com/~kernel-ppa/mainline/. Results were:
* 5.11.0-051100rc3 - GOOD
* 5.10.7-051007 - GOOD
* 5.9.16-050916 - BAD

I did not try AVC.

When you say "huc failed", what does that mean? Did you install new HUC/GUC FW which new kernels might require.

[2021-01-17 07:54] daijh commented on #2554
After install new kernel, and reboot. vainfo does not show VP9 encoder.
- Linux version 5.10.0-1008-oem
- Linux version 5.11.0-051100rc3-generic

In my humble opinion, it is general issue existing in all codecs, instead of vp9 specific.
As the same GPU hang issue can be reproduced by H264 on these new kernel, so i don't bother to google how to update firmware.

Can you point me the BKM on firmware

[2021-01-18 06:34] daijh commented on #2554
Managed to build drm-tip kernel, the gpu hang still existed for H264 parallel encoding. Did not try VP9 encoding.

[2021-01-18 20:27] spossos commented on #2412
Can this issue be closed? I think it has been verified already.

[2021-01-19 02:45] wenbinc-Bin opened #2571 "sample_encode encode h265 with intra refresh failed"
I try to use sample_encode to encode h265 with intra refresh, and it failed.

[code]

command line:
`sample_encode h265 -i 1920x1080.yuv -o sample_output.265 -ir_type 1 -ir_cycle_size 4 -ir_qp_delta -20 -ir_cycle_dist 20 -w 1920 -h 1080`
error:
[code]
if i change ir_qp_delta to 0:
`sample_encode h265 -i 1920x1080.yuv -o sample_output.265 -ir_type 1 -ir_cycle_size 4 -ir_qp_delta 0 -ir_cycle_dist 20

[2021-01-19 03:05] wenbinc-Bin commented on #2551
@dvrogozh I update the kernel to dg1148, and the problem is partially resolved. Now I can run sample_decode in multi-process and use device memory over 4GB, but if I try to use memory over 8GB, which will be out of memory, it still reports GPU HANG error.
dmesg output:
[code]

[2021-01-19 04:18] dvrogozh commented on #2554
@daijh : we initially focused on VP9 encoding, not on H264 encoding. Let's avoid mixing experiments since these might very well be different issues! or they might be the same issue... But if we will do different experiments each time, it will be very difficult to root cause the problem. Please, try out drm-tip on your side for VP9 decoder since I clearly see different behavior and can't reproduce

[2021-01-19 04:21] dvrogozh commented on #2554
As for the H264 vs VP9 GPU hangs... We need to evaluate whether that's the same issue or not. If possible, please, provide dmesg logs (better w/ drm.debug=0x1e cmdline option) and GPU hang error states collected on the same kernel for both H264 and VP9 to compare.

[2021-01-19 05:45] daijh commented on #2554
@dvrogozh Thanks the advice. Sure, let's focus on VP9 encoding. Will try it on my drm-tip.

[2021-01-19 07:01] daijh commented on #2554
VP9 gpu issue
- drm-tip kernel

- firmware

[vp9-dmesg.log](https://github.com/Intel-Media-SDK/MediaSDK/files/5834162/vp9-dmesg.log)
[vp9-sys-class-drm-card0-error.txt](https://github.com/Intel-Media-SDK/MediaSDK/files/5834164/vp9-sys-class-drm-card0-error.txt)

[2021-01-19 15:54] dvrogozh commented on #2554
@daijh : so, you still see the VP9 hang on drm-tip kernel? Is that right? Which input stream did you use? Was that stream from https://github.com/Intel-Media-SDK/MediaSDK/issues/2554#issuecomment-759181509?

[2021-01-20 02:18] daijh commented on #2554
Yes, I observed vp9 gpu hang on drm-tip kernel, with exactly the same steps and input clip in previous threads.
But it takes longer time to reproduce. Just let the loop runs 10 times.

[2021-01-20 06:22] wenbinc-Bin commented on #2551
Sorry I made the mistake. Updating the kernel cannot fix problem. The issue is still there.

[2021-01-20 14:29] FurongZhang commented on #2568
I am trying to find a developer to look into this issue. Yes, currently, no flag to indicate CSC is on VEBOX or SFC, or Render Engine. Driver usually use SFC as the first option.

[2021-01-21 14:07] ukmark62 opened #2574 "Ice Lake HEVC 10-bit fixed-function encoding (vs Tiger Lake)"
I am using "fixed-function" HEVC 10-bit encoding on Ice Lake CPU i7-1065G7 and I am unable to make use of b-frames and b-pyramid functionality - they are disabled by the driver during encoding. I have heard that Tiger Lake does allow b-frames and b-pyramid to be used with HEVC 10-bit "fixed-function" encoding.

Can somebody please confirm, that Ice Lake does or does not support fixed-function HEVC

[2021-01-25 00:54] daijh commented on #2554
@dvrogozh Are you able to reproduce the vp9 gpu hang issue on **drm-tip** or ubuntu **Linux version 5.10.0-1008-oem**?

[2021-01-25 04:46] dvrogozh commented on #2554
@daijh : no. I see pretty stable behavior on drm-tip. I was able to execute your test w/o any issues to the very end. But I saw problem on ubuntu oem kernel as noted before, but I did not try 5.10.0-1008-oem yet (how did you install it by the way?)

I am trying to bisect to the commit on my side which changes behavior. This goes a little slowly.

One question I have to you is: what's the TGL stepp

[2021-01-25 06:01] daijh commented on #2554
@dvrogozh I use below to install Linux version 5.10.0-1008-oem.
[code]

And lscpu tells **Stepping: 1**
[code]

[2021-01-27 05:50] joojler opened #2580 "H265 decode with SFC from NV12->RGB4 failed"
Checked the code, one restriction added to avoid CSC in SFC.  in _studio/mfx_lib/decode/h265/src/mfx_h265_dec_decode.cpp

![image](https://user-images.githubusercontent.com/3134283/105948802-9b396680-60a6-11eb-8c2e-3b76bccd4ede.png)

Can this restriction be removed right now?

[2021-01-27 05:52] wangyan-intel commented on #2580
@shawnli2 Could you please take a look?

[2021-01-27 06:29] softworkz commented on #1949
In case, it wasn't clear enough: how will the device support for this feature`be **on Windows**?

[2021-01-27 12:20] shawnli2 commented on #2580
I will update a patch soon to remove this check

[2021-02-01 06:47] colin130 commented on #92
Hi, How did you solve this problem?

[2021-02-02 02:18] VUNNYSODHI commented on #2568
Hi @FurongZhang any update on this issue?

[2021-02-02 12:57] h6197627 opened #2587 "Intel MediaSDK from OpenVINO distribution installation artifacts"
Intel MediaSDK installed as a part of Intel OpenVINO toolkit 2021.2 (and all previous releases) provided as offline installer on Ubuntu 18.04 produces couple buggy artifacts:
1. It installs **.scripts** folder with packages from Intel Media SDK into root directory:
[code]
I guess the right place should be /opt/intel/.scripts

2. It installs /etc/ld.so.conf.d/intel-mdf.conf file for making librarie

[2021-02-08 14:48] egorovdanil commented on #1076
I-frames are difficult to encode, so when using a low bitrate in combination with a small gop size, the dynamic stream will look like this. I tried to increase the gop size to 150 and the stream became much better without increasing the output stream size much.

[2021-02-10 03:51] foxcm2000 opened #2594 "Tiger Lake HEVC QSV transcode failing but H.264 works fine"
I just got a Tiger Lake NUC with the 1165G7 and it's been great overall, but I have run into some issues with QSV HEVC transcoding [HEVC source --> HEVC transcoded destination] while H.264 [HECV --> H.264] has been working fine.  This is using quicksync in the context of transcoding 4K@60Hz HEVC 8-bit encoded videos that are generated at 100Mbit fixed-rate to a more compressed size for archival pu

[2021-02-10 04:23] uartie commented on #2594
There are several patches that have not landed in upstream ffmpeg, yet.  You can find them here: https://github.com/intel-media-ci/cartwheel-ffmpeg.  Not sure if this will solve your problem... but maybe worth a try?

[2021-02-10 21:01] dmitryermilov commented on #2594
@vilichev , can you please take a look?

[2021-02-11 02:29] mikhail-nikolskiy opened #2595 "ffmpeg-qsv crash on Ubuntu 20.10 (driver intel-media-va-driver, not intel-media-va-driver-non-free)"
Steps to reproduce:
[code]

Output
[code]

Note that same command-line for decoding into .yuv file works ok if `apt install intel-media-va-driver-non-free`

MediaSDK crashes inside MFXVideoVPP_Init. VPP operation not available in intel-media-va-driver, only in intel-media-va-driver-non-free. If VPP not available, MFXVideoVPP_Init should gracefully return error code, not crash.
![Screenshot from 20

[2021-02-11 08:01] OlivierLDff opened #2596 "CMake samples/metrics_monitor fail when no libdrm windows"
Hi, i tried to build sample on my windows machine.

Here are my system information:
* Windows 10.0.19042
* MSVC 19.27.29112.0
* `MFX_GIT_COMMIT` d058a653
* `MFX_API_VERSION` 1.34
*
Here is my log output:

[code]

Here is the incriminated code
https://github.com/Intel-Media-SDK/MediaSDK/blob/d058a653bc218f048139e3d41514d50923ae364a/samples/metrics_monitor/CMakeLists.txt#L3-L5

The error make sense,

[2021-02-11 15:09] vilichev commented on #2594
Hi @foxcm2000 ,
We were not able to reproduce the issue. Could you please share your source video?

[2021-02-11 15:36] foxcm2000 commented on #2594
I will do what I can, but the source videos are big and obviously uploading
them to Youtube isn't an option since they would be reprocessed
multiple times. I will try to get you a sample in the next few days.

Thanks to all of you for the prompt response!

On Thu, Feb 11, 2021 at 10:10 AM Vitaliy Ilichev <notifications@github.com>
wrote:

--
Chuck Fox

[2021-02-11 16:09] foxcm2000 commented on #2594
Hi All:
Fortunately I found a free upload service quickly, so here is a link to an original, unedited source video file: https://easyupload.io/dbxtbg

And here is a separate link to two encoded files that I made from the source video file. These are smaller 13 second clips from the beginning of the source file:
https://easyupload.io/m/oahb6a

Please note: According to the upload site these file wi

[2021-02-11 22:36] softworkz opened #2597 "Fill HDR Side Data for HEVC Decoding"
Structures for HDR side data have recently been added for HEVC encoding: https://github.com/Intel-Media-SDK/MediaSDK/commit/a9685bf658d1ec97ff44b614dcf75818ecc62819 :

- mfxExtContentLightLevelInfo
- mfxExtMasteringDisplayColourVolume

What missing is to fill those structures when decoding HEVC video.

Could this be added?

[2021-02-11 22:50] foxcm2000 commented on #2594
@uartie  Thank you for the cartwheel recommendation. I used it to build from today's (Feb. 11, 2021) git and the good news is that cartwheel gets better encoding performance vs. the officially released ffmpeg... great job!

The bad news is that unfortunately I get the exact same output results: h.264 is fine, but hevc is not.

[2021-02-11 22:55] dmitryermilov commented on #2597
@softworkz , just to be on the same page: would you like to have this reporting from DecodeHeader and together with each output frame (if there're per frame SEI), right?

[2021-02-11 23:05] dmitryermilov commented on #2595
Yes, we need to clean up code from MFX_CHECK_WITH_ASSERT . Or enable underlying assert inside MFX_CHECK_WITH_ASSERT only for debug build .
@aobolensk , can you please fix at first the issue Mikhail reported (just replace MFX_CHECK_WITH_ASSERT with MFX_CHECK) for VPP Query/QueryIOSurf/Init calls? Then, we'll think what to do with with the rest MFX_CHECK_WITH_ASSERT. I personally think it's better t

[2021-02-11 23:15] softworkz commented on #2597
Correct. From all videos that I've seen so far, even with static HDR (like HDR10), the data is in every frame (SEI type 137 and 144 IIRC).

Purposes:
- Re-Encoding while keeping HDR data
  e.g. just scaling down while retaining color format and HDR (you've already done the encoding side)
- The data is required for tone mapping
  - It's a prerequisite for this: https://github.com/Intel-Media-SDK/Me

[2021-02-11 23:24] softworkz opened #2598 "Loading a Custom Shader/Kernel from a User Plugin"
Quick Question - would it be possible to create a custom kernel with https://github.com/intel/cm-compiler and load it from an MSDK VPP plugin?

[2021-02-12 14:07] vilichev commented on #2594
Hi @foxcm2000 ,
Thank you for video uploading and checking cartwheel-ffmpeg.
We are working on the issue and we will provide investigation results soon

[2021-02-12 20:42] #2595 closed

[2021-02-12 20:57] dmitryermilov commented on #2597
Thanks for details. Yes, we can do it but please expect some delay, ~2 weeks.

[2021-02-12 21:17] softworkz commented on #2597
2 weeks? That's not a delay - that would be awesome 😆

[2021-02-14 19:09] foxcm2000 commented on #2594
Hi Everybody:

  Quick update for you that might help you to decide to either close the bug report or, at a minimum, narrow the scope of the bug. It may also explain why you can't repeat the bug on your own systems. TL:DR version: Hardware accelerated playback on my desktop AMD GPU is broken, but software-only playback is fine and hardware accelerated playback on the same TGL NUC that generated th

[2021-02-15 11:38] vilichev commented on #2594
Hi @foxcm2000 ,

Thank you for update. We also did not see corruptions after HEVC-HEVC encoding.
Could you please confirm if the issue is not reproduced for Intel VAAPI and for SW playbacks?
If so, I propose to close the issue.

[2021-02-15 11:59] daleksan commented on #2463
Hi @kevinchen1223
Is it still actual?

[2021-02-15 12:03] #2394 closed

[2021-02-15 12:56] daleksan commented on #2270
@YaboWei feel free to re-open if it still actual

[2021-02-15 12:56] #2270 closed

[2021-02-15 13:00] foxcm2000 commented on #2594
Here's what I can confirm about HEVC playback of transcoded video, and all of this is applicable to HEVC --> HEVC transcode with QSV used in Gen12 on Linux.
1. It plays back fine using a software pipeline (e.g. ffplay in the latest releases of ffmpeg).
2. It plays back fine using Intel VAAPI hardware acceleration (tested with Gen12 hardware at least).
3. The errors happen when doing hardware accel

[2021-02-15 22:56] dmitryermilov commented on #2594
Hi @foxcm2000 ,

Thank you for posting all details.
I assume, most likely some HEVC feature, enabled by default, in Intel media stack (in qsv ffmpeg plug-in or in MediaSDK or UMD) triggers the issue on AMD decoder side. Do you have time to experiment with it? If so, there are simple things to check:
* B frames off ("-bf 0" option)
* B frame with disabled B pyramid ("-bf 1" option - it will encode

[2021-02-16 03:01] foxcm2000 commented on #2594
Thank you @dmitryermilov!  Turning off B frames entirely appears to fix the problem [unfortunately -bf 1 still shows the bug].  From what I can tell it hurts the compression ratio of the output, but I'll put that responsibility on the decoder. As long as there's a parameter that I can set to get a working output then it's not a bug on your part.

Please close this bug with my thanks and I'm extrem

[2021-02-16 20:56] #2594 closed

[2021-02-16 20:57] foxcm2000 commented on #2594
As noted in above thread, qsv encoding is producing HEVC-compliant outputs and the bug manifests due to limitations in some hardware accelerated playback implementations. As such, not a bug in QSV.

[2021-02-18 01:45] JeremyShang commented on #2574
Hi @ukmark62 , yes, Ice Lake does not support fixed-function encoding with use of b-frames and b-pyramid (8bit or 10bit). Fixed function supports that starting from Tiger Lake.

[2021-02-18 11:12] ukmark62 commented on #2574
Thanks for the clarification.

[2021-02-18 11:12] #2574 closed

[2021-02-24 06:09] #2580 closed

[2021-02-26 08:38] FurongZhang commented on #2568
https://github.com/Intel-Media-SDK/MediaSDK/pull/2606

[2021-02-28 02:55] joojler opened #2607 "Maximum resolution supported for AVC decoding"
From this commit, seems AVC level 6-6.2 decoding is supported through IgnoreLevelConstrain option with possible visual artifacts. Can we say from HW spec perspective, only level 5.2 AVC decoding is supported.
https://github.com/Intel-Media-SDK/MediaSDK/commit/e126273431b470a738e4c26896b829a6801cb455

Would like to confirm If customers want to enable AVC level 6.0-6.2 decoding support, they must ta

[2021-03-01 00:36] FurongZhang commented on #2568
@VUNNYSODHI

[2021-03-01 00:43] #2607 closed

[2021-03-01 07:29] VUNNYSODHI commented on #2568
Thanks @FurongZhang for the update.

[2021-03-01 22:41] dmitryermilov commented on #2568
Furong, in our email thread it seems we agreed it's better driver use fixed functions as a default path. However a PR proposes explicit API hand and explicit sample command line. Why is it better?

[2021-03-05 19:36] dvrogozh opened #2614 "avc/vdenc: not available BRC modes causes msdk abort with assertion"
https://github.com/Intel-Media-SDK/MediaSDK/blob/8c1d3dfe48529df141d0e014d9c8c4227664e371/_studio/mfx_lib/shared/src/mfx_h264_encode_vaapi.cpp#L73

This assert will be triggered if BRC mode is not available. I use "not available" since this very well might be the case on SKL/KBL/TGL if kernel was not loaded with not enabled huc (which is actually a default). As a result VDENC AVC encoder will step

[2021-03-08 12:08] daijh commented on #2554
Issue is only preproduced on B0 Stepping with special GPU subsilces_mask.
Not reproduced on official GPU.

[2021-03-08 12:08] #2554 closed

[2021-03-09 06:36] wenbinc-Bin opened #2616 "Running MSDK in heavy load makes whole system hang on TGL platform with GUC/HUC running."
If I run sample_multi_transcode to transcode 4k video from AVC to AVC in 15 processes at same time, the whole system will hang without any response. I found it may relate to linux-firmware. I tried different firmware configurations and the result is listed below

version    guc/huc status    result
--------------------------------------------------
1.187       disabled             works fine
1.187

[2021-03-09 13:03] FurongZhang commented on #2568
No, @Sodhi, Vunny. Driver’s default mode is SFC. MSDK maps the MSDK default mode to driver EU path, maps the MSDK low power mode to driver Default path(SFC).

If we change driver or MSDK, it needs to update a lot of validation reference. I don’t prefer to do that. Hence, we’d better to change that in sample code.

[2021-03-11 02:55] wenbinc-Bin opened #2618 "Sending frame into two packet to decode may cause GPU HANG on TGL and ICL, but works fine on SKL."
When I use MSDK api to decode video, one video return GPU HANG error. I traced the error and found there is a frame that have a special NAL order causes this problem. I copy the frame information from VQAnalyzer and listed below.

[code]
There is SPS between slice rather than in the head of unit.
If I use ffmpeg to parse the bitstream, ffmpeg will split this frame into two packets, the first two N

[2021-03-11 03:09] wenbinc-Bin commented on #2618
post LIBVA_TRACE log for two parse way.

ffmpeg's way to parse bitstream and send packets to MSDK:
[code]

sample_decode's way to split packet and send to MSDK:
[code]

[2021-03-11 05:41] #1427 closed

[2021-03-12 07:16] VUNNYSODHI commented on #2568
Hi @FurongZhang,

As per @dmitryermilov suggestion is better to fix at MSDK level, as we encounter same issue with sample_vpp and sample_multi_transcode, so keeping same changes for each application to force MSDK to use SFC will be tedious effort.

[2021-03-13 13:23] thx4ever opened #2620 "Add pipe input support to sample_encode"
Hi, its possible to add support to read yuv file from pipe to sample_encode?

ffmpeg -hide_banner -v error -i "C:\Users\thx4ever\Desktop\Encoding CFG.avs" -f rawvideo - | sample_encode h265 -p010 -i - -msb10 -ec::p010 -bref -idr_interval 24 -f 23.976 -u balanced -r 8 -g 240 -x 6 -p hevce_gacc -cqp -qpi 0 -qpp 0 -qpb 0 -gpb:off -TransformSkip:on -ppyr:on -AdaptiveI:on -AdaptiveB:on -amfs:on -Weight

[2021-03-15 08:49] dmitryermilov commented on #2618
Hi @wenbinc-Bin ,

So you're saying that in fmpeg-qsv case, msdk decoder sends to UMD the sequence of NALU's, which you posted, as two frames? And it causes a GPU hang?
And in cases of sample_decode, it sends these 3 slices as one frames?

You know, I recall that that at least for AVC, the spec say that SPS can't occur between slices of one frame. Most likely there's the same in HEVC (need to chec

[2021-03-15 09:52] wenbinc-Bin commented on #2618
Hi @dmitryermilov

Ah! I disabled the MFX_BITSTREAM_COMPLETE_FRAME flag, and it works. Thanks.
Because it can work on SKL but fail on TGL/ICL, I thought it is driver's problem.

FFmpeg-vaapi doesn't have this problem. FFmpeg-vaapi use ffmpeg's native parser to parse bitstream, and it drops all the illegal data, so ffmpeg-vaapi will lose the frames which can be decoded by sample_decode and VQAnalyz

[2021-03-15 10:13] dmitryermilov commented on #2618
@wenbinc-Bin ,

Yes...

Msdk decoders usually do the same. If there're an opportunity to improve this, we need to do it :)

[2021-03-15 19:23] uartie opened #2622 "[regression] MPEGe CQP quality drop/artifacts since #2621"
Since #2621, MPEG CQP encoding quality has dropped with visual artifacts.

[code]

Before #2621:
[code]

After #2621:
[code]

This regression can also be reproduced with ffmpeg.

[2021-03-15 19:26] uartie commented on #2622
cc: @lakulako @dmitryermilov

[2021-03-15 19:49] dmitryermilov commented on #2622
Hi @uartie , thanks for detailed description. Is it a CQP only regression ?
@lakulako , can you please take a look with priority?

[2021-03-15 20:06] uartie commented on #2622
I'm not sure.  We only have tests for CQP at the moment.  But @lakulako should verify other modes, too.

[2021-03-15 20:23] dmitryermilov commented on #2618
@wenbinc-Bin ,

I was wrong. We did this change for HEVC. Here it is https://github.com/intel-innersource/drivers.gpu.media.sdk.lib/commit/d5c8e053427b9ecf1091d22f3a8355a745008529 . Now it looks weird that with sample_decode it doesn't behave this way.
@wenbinc-Bin , if you have bandwidth, could you debug the case and check if "m_Headers.m_SeqParams.GetCurrentHeader()->m_changed" becomes true with

[2021-03-16 02:48] wenbinc-Bin commented on #2618
Hi @dmitryermilov. I debug the case and the m_changed is false when decode the first slice after SPS.

[2021-03-16 07:00] dmitryermilov commented on #2618
Interesting.. Please look at comment in the commit I posted above:
_// Accord. to ITU-T H.265 7.4.2.4 Any SPS/PPS w/ id equal to active one
// shall have the same content, unless it follows the last VCL NAL of the coded picture
// and precedes the first VCL NAL unit of another coded picture_

So I suspect that this SPS (where  GPU hang occurs) is equal to previous one. If so, the ffmpeg bitstream

[2021-03-16 08:02] wenbinc-Bin commented on #2618
Yes, I checked and this SPS is equal to the previous one.

FFmpeg's parser only extract video parameter and won't split bitstream. FFmpeg split bitstream into packets only according to what type of the NAL. It seems that the flag MFX_BITSTREAM_COMPLETE_FRAME should not be set for ffmpeg-qsv.

[2021-03-16 08:15] lakulako commented on #2622
Thanks for finding it. I will investigate it with highest priority.

[2021-03-16 08:34] dmitryermilov commented on #2618
If ffmpeg parser doesn't really attempt to construct a frame (btw, @xhaihao , could you confirm?), then yes, MFX_BITSTREAM_COMPLETE_FRAME should not be set.

[2021-03-16 11:56] lakulako commented on #2622
Here is the fix https://github.com/Intel-Media-SDK/MediaSDK/pull/2624
Appeared that the RC buffer affect CQP. Now pass RC buffer only for VBR mode.

[2021-03-16 12:42] #2622 closed

[2021-03-16 16:27] uartie commented on #2622
thanks for the quick fix!

[2021-03-16 21:16] dmitryermilov commented on #2568
@FurongZhang ,
Can you say what libva flag in MSDK VPP code forces EU path ? We can check together if it's really needed.

[2021-03-17 00:38] xhaihao commented on #2618
The flag MFX_BITSTREAM_COMPLETE_FRAME needs a complete frame or complementary field pair of data, so we shouldn't set this flag for this case. On the other hand, MFX_BITSTREAM_COMPLETE_FRAME impacts the decoding latency but Media SDK can work well without this flag for a complete frame or complementary field pair. In the past, we set this flag  in gst-msdk and removed it to workaround some issues.

[2021-03-17 02:04] wenbinc-Bin commented on #2618
@xhaihao Ok, I will submit a patch to remove this flag in ffmpeg-qsv.

[2021-03-17 21:18] mliu2020 opened #2627 "mfxExtPictureTimingSEI and interlaced"
This is a [question from IDZ forum](https://community.intel.com/t5/Media-Intel-oneAPI-Video/mfxExtPictureTimingSEI-and-interlaced/m-p/1252921#M13544) about mfxExtPictureTimingSEI() and I believe this is a good place to ask:

Customer has following scenario:
"I'm using mfxExtPictureTimingSEI on the mfxEncodeCtrl struct that I send to MFXVideoENCODE_EncodeFrameAsync, in order to insert pic_timing in

[2021-03-18 00:08] dmitryermilov commented on #2627
@mliu2020 , it seems it's about old https://community.intel.com/t5/Media-Intel-oneAPI-Video/H264-Timecode-absent-in-QSV/m-p/950913

[2021-03-18 05:49] mliu2020 commented on #2627
Thanks Dmitry,

I read through all the post and scenario is similar. If my understanding is correct, mfxExtPictureTimingSEI is not very relevant to this case. The customer in new post seems more confused by mfxExtPictureTimingSEI.

- What's the point of having the timestamp as an array of three timestamps? Only TimeStamp[0] seems to be used. What should I set in TimeStamp[1] and TimeStamp[2]. The

[2021-03-18 06:58] uartie commented on #2618
@wenbinc-Bin can you provide a link (in this issue) to your ffmpeg-qsv patch so others can trace it easily?

[2021-03-18 07:08] wenbinc-Bin commented on #2618
@uartie ok, later after I submit the patch to the community I will post a link here. I need to submit it to ci to test it.

[2021-03-18 12:28] Fernickk commented on #2627
Hello, I'm the "customer" ^_^. Thank you for taking the time to address my issue.

In my case, the timecode is applied to the hardware-encoded video. It's just a case of a single parameter (time_offset), that I can't generate as I like.

I think I understand now the need for the three timestamps on the struct, reading the H264 standard (ISO 14496-10). The pic_struct allows a single frame to be dis

[2021-03-18 18:56] Joe-Palmer opened #2629 "Support for alpha/transparency per apple interoperability proposal"
In May 2019 Apple released and implemented a proposal for alpha channel support (so called transparent videos/movies) encoded in HEVC. Currently, it seems only Apple tools (avconvert and Compressor) support this format. ffmpeg with the current libx265 fails while encoding as it does not support a pixel format with alpha support (ffmpeg relevant ticket https://trac.ffmpeg.org/ticket/7965 ).

Is it

[2021-03-19 05:28] wenbinc-Bin commented on #2618
@dmitryermilov Hi, after I removed the flag, there are new error on vc1 decoder. It report a segmentation fault. The fault occurs here https://github.com/Intel-Media-SDK/MediaSDK/blob/76ceda51acd1dfa041e472cc0ee409e9a71931d3/_studio/shared/umc/codec/vc1_dec/src/umc_vc1_video_decoder.cpp#L1134

stCodes->count equals to 0.

[2021-03-19 09:17] dmitryermilov commented on #2618
@wangyan-intel , can you please investigate?
@wenbinc-Bin , please share ffmpeg build, stream and command line

[2021-03-19 09:21] wangyan-intel commented on #2618
@dmitryermilov Sure. I will take a look.

[2021-03-19 09:46] wenbinc-Bin commented on #2618
@wangyan-intel Hi I removed the flag MFX_BITSTREAM_COMPLETE_FRAME and VC1 reports segmentation fault. Here is my patch https://github.com/wenbinc-Bin/ffmpeg-ci/commit/46595339712e94fb251102cbc06e7e032a1123b5
cmdline: ffmpeg -c:v vc1_qsv -i input.vc1 -y output.yuv
I will send stream to you by intel-email.

[2021-03-22 05:36] wenbinc-Bin commented on #2618
I may not describe the question well and I add more detail here. The new error only occur on ffmpeg-qsv after remote the COMPLETE_FRAME flag. It seems that if I pass a segment of VC1 bitsteam without COMPLETE_FRAME flag and without startcode, MSDK will report segment fault. According to the error code, I think the problem is about the code's robustness. I tried to fix the issue and post the patch

[2021-03-22 15:10] dvrogozh opened #2632 "Do not use Wno-deprecated-declarations if not needed"
[code]

Practice to use Wno-deprecated-declarations blindly does not seem right. I suggest to cleanup and use it more gradually only if needed.

[2021-03-22 20:00] mliu2020 commented on #2627
Hi @Fernickk,

I understand your request better now, If you see [the old post in IDZ](https://community.intel.com/t5/Media-Intel-oneAPI-Video/H264-Timecode-absent-in-QSV/m-p/950913) from @dmitryermilov , it has following statement:
"For picture timing, if I insert two payload data in the mfxExtBuffer (instead of only one) in an interlaced resolution, it works for SW and QSV H264 encoder. I see the

[2021-03-22 21:59] dmitryermilov commented on #2627
Hi @Fernickk ,

This is an issue of encode implementation. I mean the solution would be to allow application to pass a pair of mfxExtPictureTimingSEI per frame. For some mfxExt buffers it's allowed but not mfxExtPictureTimingSEI. The old post was about a similar problem. I think we can draft a fix this or next week.

[2021-03-26 10:04] h6197627 commented on #2587
Unfortunately problem still there in Intel OpenVINO 2021.3 with bundled Intel MediaSDK 20.5.1

[2021-03-31 06:37] xhaihao commented on #2616
@dmitryermilov any comment for this issue?

[2021-04-01 01:58] wenbinc-Bin opened #2649 "sample_encode has different output with same command line option."
I tried to encode 10bit h265 video on DG1 platform, and I found that the same command line output video in different size. Here is the command line.
 `sample_encode h265 -i 1080P_1920x1080.P010 -o output1.265 -p010 -w 1920 -h 1080 -b 5000 -lowpower:off -vaapi`
I run it three times and I got three videos in different size.
[code]
Option '-p010', '-vaapi' and DG1 platform are nessesary, you need all

[2021-04-01 02:02] wenbinc-Bin commented on #2649
I suspect when using vpp to upload p010 frames on DG1, the border pixels are not correctly initialized.

[2021-04-01 06:56] dmitryermilov commented on #2649
@SofyaBalandina , @egorovdanil , @AntonGrishin , could you take a look? It indeed might be an issue where area outside of crops is not zero'd so it has a garbage.

[2021-04-01 07:15] AntonGrishin commented on #2649
Hi @wenbinc-Bin,
Is the output correct? Or you have broken streams?

AFAIR, we have different shifts for p010 I always used `-msb10` key

[2021-04-01 07:24] wenbinc-Bin commented on #2649
Hi @AntonGrishin
The stream is correct.
I just tried -msb10 option, and it doesn't fix the problem.

[2021-04-02 07:08] dmitryermilov commented on #2616
temporarily moved the discussion to internal email thread

[2021-04-06 05:24] xhaihao commented on #2571
@dmitryermilov @daleksan any update about this issue?

[2021-04-06 07:44] dmitryermilov commented on #2571
@SofyaBalandina , @DenWolf , please share an update.

[2021-04-06 08:44] vilichev commented on #2571
@yskuridi please take a look from HEVCe side

[2021-04-07 08:13] vcheah opened #2657 "sample_decode not able to play on Weston"
Platform-impacted: ADL-S, EHL, TGL
BSP: core-image-sato-sdk-intel-corei7-64-20210312172429.wic.bz2
BIOS: IOTG_TGL_UR01_B0B0-XXXXXLP_RPSF_SEP5_55049A_25Mhz_2021WW10.5.01_SATA.bin
CPU: QVD5
Weston version: weston 9.0.0 (Build: 9.0.0-46-gf5eeaa4) & (Build: 9.0.0-48-gacb16b7)
Kernel: 5.10.21-intel-ese-standard-lts & 5.4.102-intel-ese-standard-lts

Execution command:   ./sample_decode h265 -i Puppies_3

[2021-04-07 08:16] wangyan-intel commented on #2657
IMHO, iHD_drv_video.so hasn't supported Wayland/Weston so far.

[2021-04-07 08:38] vcheah commented on #2657
MR: https://github.com/Intel-Media-SDK/MediaSDK/issues/2657

[2021-04-07 11:44] dmitryermilov commented on #2657
Hi @vcheah ,

Could you confirm that #2658 fixes this issue?

[2021-04-08 05:29] vcheah commented on #2657
recheck on TGL. Issue seems to be fix.

[2021-04-08 08:16] #2657 closed

[2021-04-09 07:23] yskuridi commented on #2571
Hi @xhaihao ,
I found out that the device fail error is a driver issue. Investigation from driver side is required.

Regarding the issue with empty L0, the investigation is in progress.

[2021-04-12 02:32] xhaihao commented on #2571
@yskuridi Thanks for the update.

[2021-04-13 14:38] yskuridi commented on #2571
Hi @xhaihao

There are 2 issues.
The first relates to gpu hang. Investigation from media driver is required.
The second error occurred due to default GopRefDist (=4) and it leads to encoding with B-frames. But IntraRefresh feature doesn't work with B-frames. Check for GopRefDist with Intra Refresh will be added from msdk side. In order to set GopRefDist=1 sample_encode have -r 1 option.

Thanks,
Y

[2021-04-14 00:53] xhaihao commented on #2571
@yskuridi thanks for the update, should we file a driver issue for the GPU hang?

[2021-04-14 05:29] bingguji opened #2664 "does hevc encoder support the extmbqp feature on windows?"
when I use the sample_multi_transcode to test the extmbqp feature，I find that h264 encoder support extmbqp, but h265 return error.

my devices is Intel core i7-8700@3.2GHz, my system is windows 10.

H265:

sample_multi_transcode.exe -i::h265 StandardSequence_cbr.bin -o::h265 test_1080_trans.265 -hw -cqp -extmbqp

Multi Transcoding Sample Version 8.4.27.0

Session 0:
[WARNING] Configuration changed

[2021-04-14 13:51] yskuridi commented on #2571
@xhaihao Indeed, I've created one https://github.com/intel/media-driver/issues/1179.

[2021-04-15 01:19] bingguji opened #2666 "does cuqp or mbqp will be disable when I turn on the extbrc？"
I use the sample_encode to test the extbrc feature, but I find the cuqp or mbqp will be disable, thats mean every cu or mb use the frame qp. Is that normal? Why media sdk can not enable extbrc with mbqp?

sample_encode.exe h265 -w 1920 -h 1080 -i 04_StandardSequence_1920x1080_1097f.yuv -f 15 -b 2000 -cbr -nobref -r 1 -x 1 -g 65535 -CodecProfile 1 -gpb:off -o StandardSequence_cbr.bin -extbrc:on

My

[2021-04-16 07:57] #2571 closed

[2021-04-22 03:25] tongshi203 opened #2670 "Device 8086:4C8A was not found?"
Hi，
   I want to download GPU Drivers for centos8.3, my device PCI ID is 8086:4C8A, but the result is:
"Device 8086:4C8A was not found".
 where can i find this drivers?
    Thanks!

[2021-04-22 07:39] tongshi203 commented on #2670
CPU：Rocket Lake 11th Gen Intel(R) Core(TM) i5-11500 @ 2.70GHz
Base Board:  H510M-ITX/ac

[2021-04-22 10:04] dmitryermilov commented on #2670
Hi @tongshi203 ,

MediaSDK and media-driver support it:
https://github.com/Intel-Media-SDK/MediaSDK/blob/510d19dcace1d8c57567fdd40b557155ab11ab8e/_studio/shared/src/libmfx_core_vaapi.cpp#L385

https://github.com/intel/media-driver/blob/9d78ff3082a7878e11f03be6bc161dcac2482c89/media_driver/linux/gen12/ddi/media_sysinfo_g12.cpp#L298  :
[code]

Please try to update to latest version of code.

[2021-04-27 19:51] h6197627 commented on #2587
Closing due to:

[2021-04-27 19:51] #2587 closed

[2021-04-29 01:37] tongshi203 commented on #2670
Thanks

[2021-04-29 01:37] #2670 closed

[2021-04-29 02:03] tongshi203 opened #2672 "Cannot set ws and wb in sample_encode with la_icq?"
Hi,
         I run the sample_encode by the newest MediaSDK,like this:
./sample_encode h264 -i test_stream_176x96.yuv -o 1.h264 -w 176 -h 96 -la -icq 30 -ws 30 -wb 4500
but the error result is:
[ERROR], sts=MFX_ERR_UNSUPPORTED(-3), AllocFrames, Query (for encoder) failed at MediaSDK/samples/sample_encode/src/pipeline_encode.cpp:965

   why? thanks!!

[2021-04-29 02:20] tongshi203 commented on #2672
OS: Centos8.2
CPU：Rocket Lake 11th Gen Intel(R) Core(TM) i5-11500 @ 2.70GHz
Base Board: H510M-ITX/ac

[2021-04-29 06:30] dmitryermilov commented on #2672
@SofyaBalandina , please take a look

[2021-04-29 16:42] SofyaBalandina commented on #2672
yes, I will take a look on ww18.5

[2021-04-30 08:40] hotkidfamily commented on #2596
Did this issues have been resolved  ?  I have the same issue.
Then I modify this file as tutorials\cmakelist.txt  L:21 , it's OK.

[2021-04-30 12:33] dmitryermilov commented on #2596
Hi @OlivierLDff ,
I prepared a fix: #2674

Hi @hotkidfamily ,
the issue you reported is broader. In fact you ask for workable cmake-style **build** for tutorials (and probably samples), while Olivier reported "just" a broken cmake **generation**.

[2021-04-30 15:42] SofyaBalandina commented on #2672
Hi, @tongshi203, sliding window not supported with ICQ(MFX_RATECONTROL_ICQ, cmd option -icq [val])/LA ICQ(MFX_RATECONTROL_LA_ICQ, cmp options -icq[val] with -la) bitrate control method
please, use without -icq:
./sample_encode h264 -i test_stream_176x96.yuv -o 1.h264 -w 176 -h 96 -la -ws 30 -wb 4500

[2021-05-01 19:12] gsilva2016 opened #2675 "sample_decode zero copy to renderer possible w/ NV12?"
Does sample_decode support zero-copy path from decoding to rendering for each frame where the decoded NV12 frame is passed directly to a DRM (primary) plane?

The issue [1622](https://github.com/Intel-Media-SDK/MediaSDK/issues/1622) shows that sample_decode with -rdrm requires -rgb4 which I'd like to avoid and use NV12 instead.

I haven't tried with -rwld because issue [2657](https://github.com/In

[2021-05-04 08:40] dmitryermilov commented on #2675
Hi @gsilva2016 ,

The rdrm support was added into sample_decode long time ago. That time drm renderer (linux kernel) supported RGB only, NV12 didn't work. Perhaps, latest kernels can render NV12.
@SofyaBalandina , do you have bandwidth to try?

[2021-05-04 12:38] SofyaBalandina commented on #2675
@dmitryermilov , hi, I can try on new platforms on this week

[2021-05-06 00:55] tongshi203 commented on #2672
ok, thanks!

[2021-05-06 20:20] #2596 closed

[2021-05-07 04:05] takeruts opened #2678 "make error on 21.1.3"
Hi,  I tried to compile 21.1.3 but facing the error.  How I can fix this ?

msdk/build$ make

[ 15%] Building CXX object samples/sample_plugins/rotate_opencl/CMakeFiles/sample_plugin_opencl.dir/src/opencl_filter.cpp.o
In file included from /home/intel/MediaSDK-intel-mediasdk-21.1.3/samples/sample_plugins/rotate_opencl/src/opencl_filter.cpp:24:
/home/intel/MediaSDK-intel-mediasdk-21.1.3/samples/sam

[2021-05-07 08:43] dmitryermilov commented on #2678
@takeruts , do you have  OCL installed? Could you say which version?

[2021-05-07 09:15] VUNNYSODHI commented on #2675
Hi @dmitryermilov and @SofyaBalandina,

I have tried on Tigerlake in 4k(3840x2160) drm/console mode with latest media stack + 5.12.0-rc7 drm-tip Kernel.

$sample_decode h265 -hw -vaapi -i Bunny_3840x2160.265 -rdrm -nv12
libva info: VA-API version 1.10.0
libva info: Trying to open /usr/lib/x86_64-linux-gnu/dri/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_10
libva info: va_openD

[2021-05-07 09:45] VUNNYSODHI commented on #2675
Also found above failure is coming from:
https://github.com/Intel-Media-SDK/MediaSDK/blob/master/samples/sample_common/src/vaapi_utils_drm.cpp#L423

**IOCTL is failing with -22 error** --> in dmesg can see [drm:drm_internal_framebuffer_create] bad pitch 3840 for plane 0

 ret = m_drmlib.drmModeAddFB(m_fd,
              vmid->m_image.width, vmid->m_image.height,
              24, 32, vmid->m_image.

[2021-05-07 09:58] dmitryermilov commented on #2675
Thanks, Vunny.
I'll check next week what's going on.

[2021-05-10 07:59] Antr2005 opened #2680 "Use SetThreadErrorMode"
Hi,

https://docs.microsoft.com/en-us/windows/win32/api/errhandlingapi/nf-errhandlingapi-setthreaderrormode

Minimum supported client | Windows 7 [desktop apps \| UWP apps]

https://docs.microsoft.com/ru-ru/cpp/porting/modifying-winver-and-win32-winnt

#define _WIN32_WINNT_WIN7                   0x0601 // Windows 7

mfx_load_dll.cpp, mfx_dxva2_device.cpp

Best regards

[2021-05-11 07:59] dmitryermilov commented on #2649
@SofyaBalandina , can you please work on this?

[2021-05-11 10:58] avstrakhov opened #2681 "Memory leak during full HD HEVC encoding."
Looks like a small memory leak exists in HEVC encoding pipeline. It was found using the application which runs an encoding of long stream of full HD NV12 frames and confirmed using MedisSDK sample_encode application.
No any memory leaks were observed running AVC encoding, so looks like this memory leak is HEVC encoding specific.
The issue was investigated on Centos Linux 7 running on i7-8809G CPU

[2021-05-11 14:52] SofyaBalandina commented on #2649
Hi, @dmitryermilov , yes, I took this to work

[2021-05-12 14:37] vilichev commented on #2681
Reproduced the issue.
According to valgrind log it looks we have memory growth issue but not real memory leak.
More debugging is needed to understand whether memory growth relates to MSDK or to media driver.

[2021-05-13 07:56] tongshi203 opened #2684 "How can i enable -lowpower:on in h265 encoding??"
Hi,
   I run sample_multi_transcode like this:
-i::h265 1.h265 -o::sink  -hw -la_ext -join
-i::source -o::h265 new.h265 -hw -la_ext -join -lowpower:on

but the error is:
[ERROR], sts=MFX_ERR_DEVICE_FAILED(-17), PutBS, Encode: SyncOperation failed at MediaSDK/samples/sample_multi_transcode/src/pipeline_transcode.cpp:1950
[ERROR], sts=MFX_ERR_ABORTED(-12), Encode, PutBS failed at MediaSDK/samples/sa

[2021-05-13 11:17] vilichev commented on #2664
Hi @bingguji,
1. MBQP feature is not supported on CFL Windows. Сorresponding HW capabilities are reported from driver to MSDK lib (MbQpDataSupport=0). The feature is supported on Windows starting from TGL.
2. As regards "[ERROR], sts=MFX_ERR_UNDEFINED_BEHAVIOR» the issue was fixed according to https://github.com/Intel-Media-SDK/MediaSDK/pull/2673. After this fix encoding with “-extmbqp” will be PA

[2021-05-13 13:40] vilichev commented on #2666
Hi @bingguji.
Yes, MB rate control will be disabled with extbrc:on.
Enabling of extbrc will disable HW BRC including HW MB rate control.
But current implantation of extbrc in samples does not support MB rate control.
That is why the same frame QP are seen for MBs.

[2021-05-14 06:30] brmarkus commented on #2684
Can you run `vainfo` and share the output, please?
Only in certain GPU's there are lower-power capable encoders, but not in every GPU.

For h.264/AVC I can see the following on one of my machines (excerpt):
[code]

Do you see those `LP` postfixes for h.265/HEVC on your GPU in the output of `vainfo`?

[2021-05-14 07:20] dmitryermilov commented on #2684
@brmarkus ,

It's RocketLake. HEVC LP is supported there.

@tongshi203 ,
Let's try to narrow down there the issue is. Please run:

- `./sample_multi_transcode  -i::h265 1.h265  -hw  -o::h265 new.h265 -hw -la_ext  -lowpower:on`
-  `./sample_multi_transcode  -i::h265 1.h265 -hw  -o::h265 new.h265 -hw -cqp -qpi 26 -qpp 26 -qpb 26 -lowpower:on`
-  `./sample_multi_transcode  -i::h265 1.h265 -hw  -o::h2

[2021-05-14 07:38] changliwu commented on #2684
**1. [root@localhost release]# ./sample_multi_transcode -i::h265 1.h265 -hw -o::h265 new.h265 -hw -la_ext -lowpower:on**
Multi Transcoding Sample Version 8.4.27.0

libva info: VA-API version 1.12.0
libva info: Trying to open /usr/lib64/dri/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_12
libva info: va_openDriver() returns 0
Session 0:
plugin_loader.h :185 [INFO] Plugin was loa

[2021-05-14 11:19] dmitryermilov commented on #2684
Okay, even CQP doesn't work.
@thomasli21801, please assign.

[2021-05-14 14:35] SofyaBalandina commented on #2649
Hi @wenbinc-Bin , I could not reproduce the problem on my environment.
Could you provide information about which pr number/commit/tag of the driver, lib, samples you are using, please?

[2021-05-17 02:06] wenbinc-Bin commented on #2649
platform DG1
libva: f24a939bae32edff120c73a581f0cc1e6b55e916
media-driver: e0a734870f8b33cec90cf19f5abbcc8d9fc80f84
MediaSDK: c1ee53cf158b147d48c90308b9b2f291e269faff

[2021-05-17 02:28] wenbinc-Bin commented on #2649
BTW, option '-p010', '-vaapi' and DG1 platform are nessesary, you need all of them to reproduce this issue.

[2021-05-17 12:40] SofyaBalandina commented on #2649
Hi @wenbinc-Bin , thanks, yes, I run on DG1 with all options from example

[2021-05-18 01:31] wenbinc-Bin commented on #2649
Hi @SofyaBalandina. That is wired. I can easily reproduce this problem. Can you provide your environment info. Thank you.

[2021-05-18 02:46] thomasli21801 commented on #2684
Hi Dmitry,
I asked Jason to help find someone to take a look since this is a RKL issue.

Thanks,
Thomas

[2021-05-18 08:46] tongshi203 opened #2694 "The QP value for I P B frame is inverted for HEVC encode by MFX_RATECONTROL_LA_EXT"
Hi,
For normal encoding, the QPI<QPP<QPB, but the QP value for I P B frame is inverted for HEVC encode by MFX_RATECONTROL_LA_EXT.

I add the print qp in _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_ext_brc.cpp,like this:

static mfxStatus GetFrameCtrl(mfxHDL pthis, mfxBRCFrameParam* par, mfxBRCFrameCtrl* ctrl)
{
MFX_CHECK_NULL_PTR3(pthis, par, ctrl);

ctrl->QpY = ((TBRC*)pthis)->GetQP

[2021-05-18 10:03] DragonDanceGo opened #2695 "MFXVideoENCODE_Reset failed when encoder is inited with mfxExtAvcTemporalLayers"
Hi, I use MediaSDK to build h264 encoder and call MFXVideoENCODE_Reset to do dynamic format change of mfxVideoENCODE, but I have following problems
If I init mfxVideoENCODE without setting mfxExtAvcTemporalLayers, I can successfully call MFXVideoENCODE_Reset to dynamic change bitrate, profile, frame size etc during encoding
If I init mfxVideoENCODE with setting mfxExtAvcTemporalLayers like "{0,1,0

[2021-05-18 10:05] ogolikov commented on #2694
Hi! This LA mode is targeted for long LA. Could you check this test case with -lad 40?

[2021-05-18 15:10] SofyaBalandina commented on #2649
Hi, I tried to reproduce on last driver with last build of MediaSDK and with you env. And now I was able to reproduce behavior, it seems my stream was inappropriate, thanks ! I will investigate it.
And I have a question - is the stream after encoding correct? I get that without the -vaapi encoded stream is ok, but with the -vaapi option the output stream is green, do you have the same result ?

[2021-05-19 02:14] wenbinc-Bin commented on #2649
Hi @SofyaBalandina. No, I can get correct video on both command with and without "-vaapi" option.

[2021-05-19 02:17] changliwu commented on #2694
yes ,it works well with -lad 40, thanks!

[2021-05-19 03:09] Bin-CI opened #2696 "DG1: GPU Hang on multiple sample_decode for vp9 12bit 444 8K"
command line:
[code]
if we run this command for multiple process(>=2) will catch the GPU HANG
[code]
environment:
OS: ubuntu18.04.5
libva: f24a939bae32
gmmlib: 915cfec5b3da
media-driver: e0a734870f8b
msdk: c1ee53cf158b

[2021-05-19 07:42] JasonL2011 commented on #2684
Jiao Xu will firstly check if this is tool issue or GPU RT/driver issue.

[2021-05-20 03:41] changliwu opened #2697 "How can i set mfxExtEncoderROI in hevc encoding by la_ext?"
Hi,
    I add  mfxExtEncoderROI in pipeline_encode.h and pipeline_encode.cpp,like this:

    pipeline_encode.h:
   +mfxExtEncoderROI *        m_mfxROI;

    pipeline_encode.cpp:
CEncodingPipeline::CEncodingPipeline()
    +m_mfxROI = (mfxExtEncoderROI*)malloc(sizeof(*m_mfxROI));
    +m_mfxROI->Header.BufferId = MFX_EXTBUFF_ENCODER_ROI;
    +m_mfxROI->ROIMode = MFX_ROI_MODE_QP_DELTA;

mfxStatus CEnc

[2021-05-20 08:22] dmitryermilov commented on #2697
@vilichev , @yskuridi , can you please comment?

[2021-05-21 12:41] #2681 closed

[2021-05-22 03:19] #2694 closed

[2021-05-24 06:29] UngTengEn opened #2702 "Running sample_multi_transcode to composite 8x8 tiled 64ch streams results fail in TGL"
Running the par file with sample_muti_transcode will result fail
[n64_d1_1080p.zip](https://github.com/Intel-Media-SDK/MediaSDK/files/6530237/n64_d1_1080p.zip)
There are 2 par file in the attachment, one for DP display and anther for HDMI display.

Here is the fail case :
root@tgl-rvp12:/mnt/persistent/home/root/hsd# LD_LIBRARY_PATH=/usr/local/share/mfx/samples:$LD_LIBRARY_PATH /usr/local/share/mf

[2021-05-25 03:14] UngTengEn commented on #2702
The issue can be seen on Yocto and Ubuntu 18.04.

On ubuntu side build the [MediaSDK 21.1.3 stack](https://github.com/Intel-Media-SDK/MediaSDK/releases/tag/intel-mediasdk-21.1.3), and then boot into [console mode](https://askubuntu.com/questions/859630/how-to-start-ubuntu-in-console-mode#:~:text=Start%20Ubuntu%20from%20a%20virtual%20console%20Open%20a,prompt%20type%20your%20user%20password%20and%2

[2021-05-25 03:42] tongshi203 commented on #2697
Hi,
    I found that the  roi.NumROI is always 0 in void Linux::Base::ROI::InitAlloc(const FeatureBlocks& /*blocks*/, TPushIA Push)
 of _studio/mfx_lib/encode_hw/hevc/linux/base/hevcehw_base_roi_lin.cpp.

[2021-05-25 06:54] dmitryermilov commented on #2697
@vilichev , @yskuridi , do you have news?

[2021-05-26 01:18] wenbinc-Bin commented on #2649
Hi @SofyaBalandina, any update on this issue?

[2021-05-26 03:19] tongshi203 commented on #2697
Hi @yskuridi
     Thank you for your answer！！
     With the same roi, I run ./sample_encode h265 -i 2min.yuv -o cqp_roi.h265 -w 1920 -h 1080 -cqp -qpi 48 -qpp 49 -qpb 51 -nv12,   the encoded video doesn't look right.
     Is the cqp supported?

[2021-05-26 14:25] yskuridi commented on #2697
Hi @tongshi203 ,

CQP is a supported RC for ROI with deltaQP. In your case too high QPs are used so ROI effects are hardly visible. Moreover there is an issue in MSDK related to passing ROI buffer on runtime without initializing ROIs on Init.
So I suggest to initialize ROI buffer on Init first as a workaround there:
CEncodingPipeline::InitMfxEncParams(sInputParams *pInParams)

[2021-05-26 18:42] SofyaBalandina commented on #2649
Hi, @wenbinc-Bin , no, it is under investigation yet

[2021-05-27 01:40] tongshi203 commented on #2697
Hi @yskuridi
    I modify the file of _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_legacy_defaults.cpp:

    static mfxStatus PPS(
        Defaults::TGetPPS::TExt
        , const Defaults::Param& defPar
        , const Base::SPS& sps
        , Base::PPS& pps)

-        pps.cu_qp_delta_enabled_flag = !(IsOff(CO3.EnableMBQP) && bCQP) && !bSWBRC;
+        pps.cu_qp_delta_enabled_flag = !

[2021-05-27 02:29] tongshi203 commented on #2684
Hi,@JasonL2011 @Jiao Xu
      Do you know which CPU/Base Board can support lowpower:on in linux?
thanks!

[2021-05-27 03:09] HankWong-guangdong opened #2703 "The kernel version for Comet Lake in intel-mediasdk-19.4.0"
I want to ask if the intel-mediasdk-19.4.0 require the kernel version to be 5.3 or later for Comet Lake?

[2021-05-27 04:09] JasonL2011 commented on #2684
@tongshi203, HEVC encode lowpower support starts from ICL.

[2021-05-27 06:49] smc667 commented on #2684
Error can be reproduced both using Sample_Multi_transcode and mfx_transcoder, but we have Xcode case passed in CI, need to double confirm.

[2021-05-27 07:49] yskuridi commented on #2697
Hi @tongshi203
This is exactly what I meant as issue in MSDK and it will be fixed.

[2021-05-28 05:25] VUNNYSODHI commented on #2675
Hi @dmitryermilov  and @SofyaBalandina

Please help to review.

[2021-06-02 20:07] jamesstringerparsec commented on #1827
Hi guys, sorry to bump into a relatively old issue, but we take the same path here at Parsec and we're running into an issue where our 11th Gen encoders are failing to init in H265, but previous gen encoders seem to work just fine with MFX_FOURCC_RGB4/MFX_CHROMAFORMAT_YUV444.   H264 is fine.

Not sure if there is a driver bug or simply something we didn't do correctly but was working regardless on

[2021-06-02 21:29] dmitryermilov commented on #1827
Hi @jamesstringerparsec ,

Do you init encoder with LowPower= ON/OFF?

@thomasli21801 , can you please comment if HEVC can accept RGB input?

[2021-06-03 03:37] thomasli21801 commented on #1827
HEVC can take RGB while BGR is working in progress while Lowpower is ON.
Lowpower off can support RGB on ICL but drop on TGL.

[2021-06-03 07:39] dmitryermilov commented on #1827
Thomas, thank you. What is the trend for RGB support in LowPower encoder on new HWs? I mean will RGB most likely be supported or high chance it will be dropped? I'm asking to give @jamesstringerparsec  recommendation either to rely on corresponding encoder support or better to introduce VPP on app level to make color conversion.

[2021-06-03 08:10] thomasli21801 commented on #1827
RGB now will be consistently supported on new HW for VDEnc. If you have plan to support pre ICL platforms or ICL with RAB frames, I would say the choice is VME and introduce VPP for color space conversion. (No RAB for VDEnc on ICL)

[2021-06-03 14:35] jamesstringerparsec commented on #1827
We're going to try our hand at implementing the VPP, as it hopefully will add some robustness to our Intel encoding pipeline as well as give us better control.  @dmitryermilov I sent you an email to the email address listed on your Github profile, if you can take a look at it and point me in the right direction that would be helpful.

[2021-06-03 21:04] dmitryermilov commented on #1827
Hi @jamesstringerparsec ,

I didn't receive it (double checked junk email folder). Please duplicate it - dmitry.ermilov@intel.com

[2021-06-04 01:31] HankWong-guangdong commented on #2703
Thank you very much!

[2021-06-04 06:41] dmitryermilov commented on #2703
Welcome!

[2021-06-04 06:41] #2703 closed

[2021-06-07 01:47] tongshi203 commented on #2684
Hi，
      Is there an update on enabling -lowpower:on in h265 encoding?
      Thanks!

[2021-06-07 09:53] smc667 commented on #2684
hi @tongshi203 , using our CI environment, cannot reproduce the error, case can pass. the details listed below.
Btw, may I know the kernel version you used?
![image](https://user-images.githubusercontent.com/73509257/120996295-c6e8fd80-c7b8-11eb-8bfa-a17c1185c43e.png)
**Env info:**
OS: Ubuntu 20.04.1 LTS
kernel: 5.12.0-rc4-CI-CI_DRM_9886+
CPU Description : 11th Gen Intel(R) Core(TM) i5-11400 @ 2.6

[2021-06-07 10:27] brmarkus commented on #2684
Would it be possible to share the content of your PAR file, @smc667 please?

Are the command lines mentioned by @dmitryermilov working for you?

[code]

[2021-06-08 01:24] tongshi203 commented on #2684
Hi,@smc667
My development environment are:
OS: Centos8.2
kernel: 5.12.0-rc8+
CPU：Rocket Lake 11th Gen Intel(R) Core(TM) i5-11500 @ 2.70GHz
Base Board: H510M-ITX/ac

[2021-06-08 13:51] dmitryermilov commented on #2684
@smc667

Is 5.12.0-rc4-CI-CI_DRM_9886+ publicly available?  If so, please point the link to the kernel. If not, please try to reproduce the issue on 5.12.0-rc8.

[2021-06-08 22:49] gsilva2016 commented on #2675
Introduced patch resolves direct NV12 rendering.

[2021-06-08 22:49] #2675 closed

[2021-06-09 02:13] samuel100u commented on #1857
Hi @dmitryermilov

I noticed that RGB4 ([0,255])  to NV12 will produce YUV [16,235].

Is there way to specify full color range when convert to NV12?

Thank you.

[2021-06-09 05:33] brmarkus commented on #1857
Full-Color-Range - please have a look into e.g. sample_decode, which supports a command-line-parameter "-rgb4_fcr", which finally is applying:
[code]

[2021-06-09 07:51] UngTengEn commented on #2702
Running on Yocto ca see GPU Hung and reset back, and VAAPI trace seems mention

Command :
LIBVA_TRACE=va LD_LIBRARY_PATH=/usr/share/mfx/samples /usr/share/mfx/samples/sample_multi_transcode -par n64_d1_1080p_hdmi.par

Kernel log :
[  740.461283] i915 0000:00:02.0: [drm] GPU HANG: ecode 12:1:85dcfffb, in sample_multi_tr [3939]
[  740.470883] i915 0000:00:02.0: [drm] Resetting rcs0 for stopped heart

[2021-06-09 08:51] dmitryermilov commented on #2702
@FurongZhang m any news?

[2021-06-09 21:19] daleksan commented on #2696
Hi @guowillyy  can you take a look on the issue?

[2021-06-09 21:24] daleksan commented on #2695
Hi @DenWolf can you take a look?

[2021-06-09 21:26] daleksan commented on #2697
Hi @yskuridi  can you provide PR and ETA for this?

[2021-06-09 21:28] daleksan commented on #2680
Hi @mvmaximov can you take a look?

[2021-06-09 21:36] daleksan commented on #2620
Hi @SofyaBalandina can you take a look?

[2021-06-09 21:39] daleksan commented on #2598
Hi @FurongZhang can you take a look on the issue?

[2021-06-09 21:42] dmitryermilov commented on #2696
+@wangyan-intel

[2021-06-09 21:50] daleksan commented on #2493
Hi @wangyan-intel  do you have any updates?

[2021-06-09 21:52] daleksan commented on #2477
Hi @niuwenju what media driver version you used?

[2021-06-09 21:54] daleksan commented on #2473
Hi @dvrogozh do you have any updates for this?

[2021-06-09 21:56] daleksan commented on #2463
Hi @kevinchen1223 i'm going to close the issue, but feel free to re-open if it still actual for you!

[2021-06-09 21:56] #2463 closed

[2021-06-09 21:58] daleksan commented on #2412
Hi @dvrogozh can we close this issue?

[2021-06-09 22:00] daleksan commented on #2405
wiki page was updated. i'm going to close the issue

[2021-06-09 22:00] #2405 closed

[2021-06-09 22:03] dvrogozh commented on #2477
`i7-4790` is HSW. It is not supported neither by mediasdk nor by iHD driver.

You might get HW acceleration support thru i965 driver by installing (mediasdk won't work however):
[code]

If you will continue to use vainfo and libva from openvino installation (but I would advice not doing that and rely on system version), you might need to expose:
[code]

[2021-06-09 22:09] daleksan commented on #2382
@ChunjuanLiu can you take a look?

[2021-06-09 22:10] daleksan commented on #2380
Hi @wangyan-intel can you take a look?

[2021-06-09 22:11] daleksan commented on #2367
Hi @vvbuzove can you take a look?

[2021-06-09 22:17] daleksan commented on #2249
Hi @CaseyGuanSun may i ask you to share more information about this crash?
version of media stack, HW you used and traces

[2021-06-09 22:18] daleksan commented on #2221
Hi @Odianosen25  is it still actual for you?

[2021-06-09 22:19] daleksan commented on #2213
Hi @DenWolf  can you help to clarify the question?

[2021-06-09 22:23] daleksan commented on #2108
Hi @nagos is it still actual for you?

[2021-06-09 22:24] daleksan commented on #2087
Hi @FurongZhang @MicroYY can you take a look on this issue, looks like it is still actual

[2021-06-09 22:25] daleksan commented on #2081
Hi @DenWolf can you take a look on this issue?

[2021-06-09 22:26] daleksan commented on #2076
Hi @DenWolf can you take a look on this issue?

[2021-06-09 22:30] daleksan commented on #2032
Hi @dryjq is it still actual for you?

[2021-06-09 22:32] daleksan commented on #1977
Hi @thomasli21801  do you have any updates?

[2021-06-09 22:36] Odianosen25 commented on #2221
@daleksan,

Apologies I really don’t understand what you saying

[2021-06-09 22:40] daleksan commented on #2221
@Odianosen25 i mean is this issue still relevant for you?

[2021-06-09 22:41] daleksan commented on #1959
Hi @galinart i'm going to close the issue, feel free to re-open if it still relevant for you

[2021-06-09 22:41] #1959 closed

[2021-06-09 22:46] daleksan commented on #1904
@SofyaBalandina can you continue the investigation?

[2021-06-09 22:47] daleksan commented on #1833
Hi @onabiull do you have any updates?

[2021-06-09 22:48] Odianosen25 commented on #2221
Ah @daleksan,

Thanks for checking. Well it’s still relevant really, but I have gotten to understand it’s not what the framework was intended for I guess.

So you can close it. But I have purchased the Movidius Stick 2 and wanting to use that instead for accelerating videocapture if I can. If you got any info on that, will be great.

But in all, you can close this, and I could reopen if I need to.

[2021-06-09 22:49] daleksan commented on #1739
Hi @egorovdanil do you have any updates?

[2021-06-09 22:49] daleksan commented on #1735
Hi @dvrogozh can we close this issue?

[2021-06-09 22:52] daleksan commented on #2221
ok thanks a lot! Yes, feel free to re-open the issue if it will be relevant for you

[2021-06-09 22:52] #2221 closed

[2021-06-09 22:55] daleksan commented on #1654
Hi @FurongZhang  do you have any updates?

[2021-06-09 23:10] daleksan commented on #1513
Hi @Sepsu feel free to re-open if issue still relevant to you

[2021-06-09 23:10] #1513 closed

[2021-06-09 23:18] daleksan commented on #1146
Hi @sunxinpeng this issue is still relevant to you?

[2021-06-09 23:24] daleksan commented on #1076
Hi @wangzj0601 approach suggested by @egorovdanil is suitable for you?

[2021-06-09 23:25] daleksan commented on #824
Hi @bezalified i'm going to close the issue, because currently we don't have plan to enable this

[2021-06-09 23:25] #824 closed

[2021-06-09 23:37] daleksan commented on #126
Hi @onabiull do you have any updates?

[2021-06-09 23:37] daleksan commented on #123
Hi @FurongZhang do you have any updates?

[2021-06-10 01:41] thomasli21801 commented on #1977
@daleksan , HEVC VDEnc ICQ functionality is enabled recently. But the Windows driver is not released to public yet. It usually takes about several weeks for internal cycle before publish.

[2021-06-10 06:48] nagos commented on #2108
Not anymore, we moved to new CPU after comments by dmitryermilov.

[2021-06-10 06:50] daleksan commented on #2108
@nagos ok thanks a lot for update. i'm going to close the issue. Feel free to open the new one if help is necessary

[2021-06-10 06:50] #2108 closed

[2021-06-10 07:56] snahulan opened #2716 "NV12/RGB4 rendering on Weston compositor"
[Ubuntu] Seen on multiple platforms
Error seen: "Can't wrap flink to wl_buffer"

/opt/intel/mediasdk/share/mfx/samples/sample_decode h265 -hw -vaapi -i /home/tgl-deb/8k-Videos/Bunny_3840x2160_15mbps_60fps_Main_at_L5.1.265  -rwld -rgb4
libva info: VA-API version 1.12.0
libva info: Trying to open /usr/lib/x86_64-linux-gnu/dri/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_10
libva

[2021-06-10 07:58] dmitryermilov commented on #2716
Hi @SiewHoon ,
Can you please help? Does the issue look familiar?

[2021-06-10 08:18] SiewHoon commented on #2716
I can't replicate the issue on my system. Yes, I can help look on it.

Maybe need to know about version or commit id for  libva, MSDK library, media-driver, wayland, weston using by reporter side.

[2021-06-10 08:48] snahulan commented on #2716
VA-API version: 1.12 (libva 2.10.0) --> libva and vaapi version
Driver version: Intel iHD driver for Intel(R) Gen Graphics - 21.2.2 (0133e252)
weston 9.0.0
intel-mediasdk-21.2.1

Please let me know if you need any more info. Thanks

[2021-06-10 12:23] vilichev commented on #504
There are no plans to support LA_ICQ for HEVCe. @thomasli21801 could you please confirm this?

[2021-06-10 12:39] egorovdanil commented on #1739
Hi @daleksan I postponed this task due to the higher priority tasks on me.

[2021-06-10 14:09] yskuridi commented on #2697
Hi @daleksan . Final solution for ROI in runtime is still under discussion. Attaching ROI on Init() followed by attaching ROI to ctrl on runtime can be used as a W/A (this allows to set pps.cu_qp_delta_enabled_flag = 1)

[2021-06-10 17:12] SiewHoon commented on #2716
@snahulan

Is this sample_decode rendering in XWayland? Or Wayland Weston with backend=drm-backend.so?

I can't reproduce this issue on my side with latest tag and same tag intel-mediasdk-21.2.1 or intel-mediasdk-21.2.2 version.
Do you got build the your MSDK library with -DENABLE_WAYLAND=ON?
Do you able to find see this libmfx_wayland.so?

I'm build mediasdk install directly to system path.

cmak

[2021-06-11 00:40] egorovdanil commented on #2649
I found a regression commit in the media-driver that started this issue: [12b720d](https://github.com/intel/media-driver/commit/12b720df5367e4b1ebdc6f42e38f63c739964237)
Submitted issue on media-driver: https://github.com/intel/media-driver/issues/1206

[2021-06-11 00:49] wangyan-intel commented on #2382
@weizhu-intel Could you please consider this issue? Thanks.

[2021-06-11 00:50] wangyan-intel commented on #2380
@chuanli1 Could please take a look? Thanks.

[2021-06-11 00:54] chuanli1 commented on #2380
ok, I'll take a look.

[2021-06-11 00:59] wangyan-intel commented on #2696
@shawnli2 Could you please take a look? Thanks.

[2021-06-11 07:21] snahulan commented on #2716
Hi Siew Hoon,

We followed your steps of configuring and building with -DENABLE_WAYLAND=ON.
We are able to see libmfx_wayland.so, and we exported LD_LIBRARY_PATH as well.
********************** Media SDK Configuration Summary **********************
Enable:
  ENABLE_OPENCL                           : ON
  ENABLE_X11                                  : ON
  ENABLE_X11_DRI3                         : O

[2021-06-11 07:56] dmitryermilov commented on #2649
@egorovdanil , can you please duplicate this issue in media-driver repo?

[2021-06-11 07:57] dmitryermilov commented on #2649
Thank you Danil!

[2021-06-11 08:59] SiewHoon commented on #2716
Hi @snahulan .

Do you able to give a try on using gst-msdk to check see can rendering or not?

gst-launch-1.0 filesrc location=/home/tgl-deb/8k-Videos/Bunny_3840x2160_15mbps_60fps_Main_at_L5.1.265 ! h265parse ! msdkh265dec ! glimagesink

or

gst-launch-1.0 filesrc location=/home/tgl-deb/8k-Videos/Bunny_3840x2160_15mbps_60fps_Main_at_L5.1.265 ! h265parse ! msdkh265dec ! waylandsink

Is that possib

[2021-06-14 01:23] FurongZhang commented on #2568
We have closed this issue.

[2021-06-14 01:42] FurongZhang commented on #1803
@CapOM  we have implemented MFX_FOURCC_BGR4 in Library.

[2021-06-14 03:28] snahulan commented on #2716
Hi Siew Hoon,

In wayland mode:
Tried with the first cmd, observed some corruption. Tried the 2nd cmd, it could render normally with some lag. So gstreamer is able to work, but msdk is still giving that error. This could mean that it's related to msdk (app layer)?

libdrm version:
(tag: libdrm-2.4.106) Bump version to 2.4.106

Kernel version:
Linux tgldeb-Tiger-Lake-Client-Platform 5.13.0-rc3-cidr

[2021-06-14 04:34] SiewHoon commented on #2716
From weston_log.txt, I can see the issue at here. Your weston backend didnt success loading using drm-backend.so.
It is fall back to gl-renderer.so.  This drm-backend.so is fail to loading is due to drm-backend is didn't get destroy. It is using by your gnome X.

I didnt run sample application with weston backend=gl-renderer.so at here. We always run using drm-backend.so in native wayland weston o

[2021-06-14 07:47] CapOM commented on #1803
Nice, thx

[2021-06-14 08:32] FurongZhang commented on #2598
@daleksan , I can take a look at this.

[2021-06-14 08:33] FurongZhang commented on #2598
@softworkz , theoretically, it is feasible. But May I know why you need to do this? What is your feature request? Why need to through VPP plugin?

[2021-06-14 08:37] FurongZhang commented on #2702
@UngTengEn , from the below log, it is rcs0. Right? In decoding or encoding? I will take a look at this issue.

[ 740.461283] i915 0000:00:02.0: [drm] GPU HANG: ecode 12:1:85dcfffb, in sample_multi_tr [3939]
[ 740.470883] i915 0000:00:02.0: [drm] Resetting rcs0 for stopped heartbeat on rcs0
[ 740.478402] i915 0000:00:02.0: [drm] sample_multi_tr[3939] context reset due to GPU hang

[2021-06-14 09:05] UngTengEn commented on #2702
It decode 64 videos and composite into single image.

[2021-06-14 19:31] softworkz commented on #2598
I have done vectorized tone mapping implementations for CPU and Intel GPUs via OpenCL, but I wasn't satisfied with the OpenCL performance (my OpenCL implementation performance is similar to your 3d LUT implementation of VAAPI tone mapping).
A recent article from some Intel fellows (https://arxiv.org/abs/2101.11049) indicated that it would be possible to achieve up to 2.7x better performance using

[2021-06-15 05:07] thomasli21801 commented on #504
Yes, you are right. There is no plan to support LA_ICQ for HEVC VDEnc.

[2021-06-15 06:27] UngTengEn commented on #2702
Hi @FurongZhang,

    Have try to modify the par script to use lowpower mode, but still seeing the issue.

-i::h264 test.h264 -join -hw  -async 1 -o::sink -vpp_comp_dst_x 720 -vpp_comp_dst_y 405 -vpp_comp_dst_w 240 -vpp_comp_dst_h 135 -ext_allocator _-scaling_mode lowpower_
-i::h264 test.h264 -join -hw  -async 1 -o::sink -vpp_comp_dst_x 960 -vpp_comp_dst_y 405 -vpp_comp_dst_w 240 -vpp_comp_dst_h 1

[2021-06-16 00:51] FurongZhang commented on #1803
We have enabled BGRA input/output in https://github.com/oneapi-src/oneVPL-intel-gpu. Please use the latest version and let us know if any issues.

Thanks a lot in advance!

[2021-06-16 00:51] #1803 closed

[2021-06-16 02:52] wangyan-intel commented on #2618
@pengxin99 Could you please take a look?

[2021-06-16 02:58] wangyan-intel commented on #2597
@pengxin99 Could you please take a look? Thanks.

[2021-06-16 14:42] DenWolf commented on #2032
Current issue has been resolved for a long time ago on a **Media Driver** side - https://github.com/intel/media-driver - close it as not actual.
@dryjq - if the issue is still reproducible on your side, please let me know and reopen this ticket.

Thank you,
Denis

[2021-06-16 14:42] #2032 closed

[2021-06-17 03:27] snahulan opened #2718 "NV12 rendering: [ERROR] wl_drm@5: error 2: invalid name"
**Sample cmd:**
sample_decode h265 -hw -vaapi -i clip_800x600_30fps.h265 -rwld -nv12

**Output:**
libva info: VA-API version 1.11.0
libva info: User environment variable requested driver 'iHD'
libva info: Trying to open /usr/lib64/dri/iHD_drv_video.so
libva info: Found init function __vaDriverInit_1_11
libva info: va_openDriver() returns 0
Decoding Sample Version 8.4.27.0

Input video     HEVC
Out

[2021-06-17 04:33] snahulan commented on #2716
Hi Siew Hoon,

I'm still attempting to rebuild Intel Weston-wayland compositor. But we tried on another OS (yocto) and we compared the Weston boot log.

This is the difference when it is loading the drm-backend.so:
[weston_log_yocto.txt](https://github.com/Intel-Media-SDK/MediaSDK/files/6667171/weston_log_yocto.txt)

Does this still look like drm-backend is failing to load?

[2021-06-17 07:03] shawnli2 commented on #2696
@Bin-CI Could you share the clip?

[2021-06-18 10:49] SofyaBalandina commented on #2620
Hi, @daleksan, yes.
I will discuss this issue with the team first and write a conclusion

[2021-06-18 10:52] SofyaBalandina commented on #1904
Hi @daleksan, @egorovdanil will continue investigation this issue.

[2021-06-18 11:01] SofyaBalandina commented on #1904
Hi, @lion117 , we have a sample that is support of roi - sample_multi_transcode. Maybe try to encode with it ? Will there be an error in the output?

[2021-06-22 01:13] UngTengEn commented on #2702
Try adding below options on the par script for the 64 session seems solve the problem.

-i::h264 test.h264 **-dec_postproc -w 240 -h 135** -join -hw  -async 1 -o::sink -vpp_comp_dst_x 0 -vpp_comp_dst_y 0 -vpp_comp_dst_w 240 -vpp_comp_ds t_h 135 -ext_allocator
-i::h264 test.h264 **-dec_postproc -w 240 -h 135** -join -hw  -async 1 -o::sink -vpp_comp_dst_x 240 -vpp_comp_dst_y 0 -vpp_comp_dst_w 240 -v

[2021-06-22 06:51] #2702 closed

[2021-06-23 04:15] snahulan commented on #2716
Hi all,

After rebuilding the media stack as per Siew Hoon's steps (as user), I'm able to run the rgb4 rendering on wayland and I dont see the error anymore. Also needed to export LD_LIBRARY_PATH to :~/mediasdk/lib:~/mediasdk/plugins:~/mediasdk/samples:~/mediasdk/share/mfx/samples

This ticket can be closed. Thank you

[2021-06-23 04:15] #2716 closed

[2021-06-23 05:09] shawnli2 commented on #2696
Got the clip from @Bin-CI , thanks! Will try to reproduce.  @Bin-CI  Could you share how to run this command for multiple process(>=2)?

[2021-06-23 05:11] Bin-CI commented on #2696
like this:
[code]
you can input the command line from different terminal

[2021-06-23 06:07] dmitryermilov commented on #2716
Good to know. Special thanks to Siew Hoon!

[2021-06-23 10:40] #1076 closed

[2021-06-28 06:24] shawnli2 commented on #2696
------------------------------------ ERROR SECTION -----------------------------------

ERROR: MFX_ERR_NONE != MFX_ERR_GPU_HANG = sts at /home/lixiang2/msdk2/mdp_msdk-lib/_testsuite/mfx_player/src/mfx_pipeline_dec.cpp :3724
ERROR: MFX_ERR_NONE != MFX_ERR_GPU_HANG = sts at /home/lixiang2/msdk2/mdp_msdk-lib/_testsuite/mfx_player/src/mfx_pipeline_dec.cpp :3508

ERROR: GPU hang occured
ERROR: MFX_ERR_

[2021-06-28 08:39] npletnev commented on #1307
The issue has been fixed in mentioned pr.

[2021-06-28 08:40] #1307 closed

[2021-06-28 08:41] npletnev commented on #2680
The issue has been fixed in mentioned pr.

[2021-06-28 08:41] #2680 closed

[2021-06-28 14:05] daleksan commented on #2718
Hi @wangyan-intel  can you take a look on the issue?

[2021-06-28 22:59] wangyan-intel commented on #2718
@snahulan Have you run this command on Wayland? So far media driver hasn't supported Wayland. So sample_decode cannot run on Wayland or XWayland.

[2021-06-29 06:18] snahulan commented on #2718
@wangyan-intel We're able to render rgb4 with sample_decode on Weston-Wayland setup. But we're unable to render with nv12 format. It's just this particular format
**Sample cmd (which works):**
sample_decode h265 -hw -vaapi -i clip_800x600_30fps.h265 -rwld **-rgb4**

[2021-06-29 06:39] wangyan-intel commented on #2718
@snahulan
After -rgb4, it may fire CSC and buffer copying. I guess the original format of your clip is NV12. Original VAAPI memory surface cannot be used by wayland/weston directly.

[2021-06-29 18:15] DoS007 commented on #504
@vilichev @thomasli21801 Ok, good that this is here cleared up. So i used CQP, ICQ and VBR with i5 1035g4.

VBR: Bad quality at the same Bitrate.

CQP and ICQ are much better. And ICQ is better than CQP, because it has less weird motion artifacts (at least on my tests).

So ICQ is for transcoding to file best imo (using ICQ at quality level 35 which results in good file sizes), BUT I don't underst

[2021-06-30 03:06] tongshi203 commented on #2684
@smc667
  hi, Is there any update?

[2021-06-30 12:28] nickifu opened #2721 "MFX_ERR_INCOMPATIBLE_VIDEO_PARAM error when implement adding source session dynamically by reset mfxvpp in sink session to let it work"
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 15">
<meta name=Originator content="Microsoft Word 15">
<link rel=File-List
href="file:///C:/Users/fu

[2021-06-30 14:54] kovakimy commented on #2695
Hi @DragonDanceGo,
In general, MFXVideoENCODE_Reset should work with Temporal Layers feature.
Returning error status “MFX_ERR_INVALID_VIDEO_PARAM” means that something is wrong with Encoding parameters set at all (maybe not related to Temporal Layers directly).

Below are several tips what should be tried/checked:
First of all, presented programming of “mfxExtAvcTemporalLayers” like "{0,1,0,0,0,0,

[2021-07-01 01:34] smc667 commented on #2684
hi @tongshi203  and @dmitryermilov ,
sorry for late response, we can reproduce both in 5.12.0-rc4 and 5.12.0-rc8 publicly kernel, now @aidan2020sh is working on this issue.

[2021-07-01 02:25] thomasli21801 commented on #504
@DoS007 , can you help to confirm that blur happens when scene change is happening in ICQ quality level 35 with presentation content (Microsoft PPT with titles/sentences/pics)?
May I know if you can try with lower quality level to see how it goes?
Is there a chance for you to help share the cmd line?
I'll ask team to try to reproduce.

Thanks,
Thomas

[2021-07-01 08:39] aidan2020sh commented on #2684
it looks like to be an i915 kernel regression issue.
[DRM_9886](https://gfx-assets.intel.com/artifactory/gfx-osgc-assets-igk/builds/DRM/CI_DRM/9886) passed
[DRM_10295](https://gfx-assets.sh.intel.com/artifactory/gfx-osgc-assets-igk/builds/DRM/CI_DRM/10296) failed

[2021-07-01 12:27] kovakimy commented on #2213
Hi @tongshi203,
If I understand correctly, you tried to get stat from HEVC. There is no such functionality, so the sts is MFX_ERR_UNSUPPORTED.
Thanks & Regards,
Kristina

[2021-07-01 12:44] thomasli21801 commented on #504
BTW, may I know if you are using HEVC VME or VDEnc in this case?

[2021-07-01 12:47] DoS007 commented on #504
@thomasli21801

Yes, exactly (scene change in ICQ 35). This happend after i minimized a window (so OneNote was visible as a "new scene").

![grafik](https://user-images.githubusercontent.com/11618958/124124746-19949d00-da79-11eb-89df-9caa84505c67.png)
And after a second or so:
![grafik](https://user-images.githubusercontent.com/11618958/124124828-3335e480-da79-11eb-8aeb-9b6d266e2ab2.png)

Also dur

[2021-07-02 06:56] aidan2020sh commented on #2684
DRM_10153( pass ): http://gtax-gcmxd-fm.intel.com/#/jobs/43538722
DRM_10154( fail ): http://gtax-gcmxd-fm.intel.com/#/jobs/43540529
currently media weekly CI test version is DRM_9886.

[2021-07-02 16:14] DoS007 commented on #504
How can I see this?

[2021-07-02 16:30] dmitryermilov commented on #504
You can find out it by GPU utilization. VME involves execution units (render engine aka "rcs") and VDBOX (aka "vcs"), VDEnc  involves only VDBOX. Please refer to https://github.com/Intel-Media-SDK/MediaSDK/wiki/Performance-monitoring-and-debug. You can use' metrics_monitor' or 'intel_gpu_top' or 'perf' tools.

[2021-07-02 16:32] dmitryermilov commented on #504
You can take MSDK API tracer (https://github.com/Intel-Media-SDK/MediaSDK/tree/master/tools/tracer), collect logs and check value for 'mfxVideoParams::LowPower' (ON or OFF). ON means VDEnc.

[2021-07-03 17:18] DoS007 commented on #504
@dmitryermilov Where are the releases for Windows? I don't have a compiling suite for c++ here.

[2021-07-03 19:43] dmitryermilov commented on #504
Windows version of the tracer is provided by regular Windows Media SDK dev kit.

[2021-07-08 06:15] wenbinc-Bin commented on #2618
Any progress on this issue?

[2021-07-08 11:41] vilichev commented on #504
I have tried ffmpeg on ICL Windows using the similar command. MSDK is initialized with par->mfx.LowPower = 32 so it is VME.
Hi @nlu5, could you please continue the investigation from VME side?

[2021-07-08 15:32] DoS007 commented on #504
@vilichev Sorry, I haven't answered yet, I' quite busy at the moment. Do you still need confirmation from my side?

[2021-07-08 16:24] SofyaBalandina commented on #2620
Hi @daleksan , it was decided to implement this feature in order of priority, ticket is created

[2021-07-08 16:37] daleksan commented on #2620
Thanks a lot @SofyaBalandina , please share update once it will be implemented.

[2021-07-08 17:09] gitoss commented on #1977
Is there any word on compatibilty with low power UHD, like in Gemini Lake Refresh (Goldmont Plus) or esp. the recently released Jasper Lake (Tremont)? The latter is said to have enhanced video encoding capability, but I didn't find any specs or reviews yet.

[2021-07-09 05:13] vilichev commented on #504
@DoS007 I think no confirmation is required from your side. I have confirmed the encoding is done using HEVCe VME

[2021-07-13 15:52] dvrogozh opened #2733 "clang-13 build gives -Wunused-but-set-variable warnings"
See #2732 which fails on clang-13 build. Below is a snapshot of the clang-13 build w/o `-Werror`.

[code]

See all warnings here: [clang-13-warnings.txt](https://github.com/Intel-Media-SDK/MediaSDK/files/6810217/clang-13-warnings.txt)

[2021-07-14 15:09] CarlG12 opened #2735 "Sample - CEncodingPipeline::InitMfxPreEncParams does not validate pInParams parameter properly"
In the sample sample_encode, the method "CEncodingPipeline::InitMfxPreEncParams" implements parameter validation. However, pInParams->bEnableExtLA is validate before ensuring that pInParams is not null. This behaviors might cause segmentation fault.

Current implementation:
`mfxStatus CEncodingPipeline::InitMfxPreEncParams(sInputParams *pInParams)
{
    MSDK_CHECK_ERROR(pInParams->bEnableExtLA, fa

[2021-07-14 15:18] CarlG12 opened #2736 "Sample - CEncodingPipeline::Run - isV4L2InputEnabled check shall be inverted"
In the sample "sample_encode", when ENABLE_V4L2_SUPPORT is enabled, the method "CEncodingPipeline::Run" might invoke V4L2 method even if it's not enabled for the pipeline.

In the following if, isV4L2InputEnabled is checked too late:

[code]

Instead, I suggest to check IsV4L2InputEnabled first:

[code]

[2021-07-16 06:41] FurongZhang commented on #2721
@nickifu , do you have a PR link?

[2021-07-16 08:11] Nicki-fu commented on #2721
@FurongZhang  No, I did not submit PR.

[2021-07-16 09:29] SofyaBalandina commented on #2736
Hi, PR with fix is made #2737

[2021-07-16 09:33] SofyaBalandina commented on #2735
Hi, PR with fix is made #2738

[2021-07-16 20:28] vvbuzove commented on #2367
This looks like a decoder issue.

[2021-07-16 21:24] daleksan commented on #2367
Hi Yan, can you take a look in the issue?

[2021-07-17 15:46] dmitryermilov commented on #2721
Basically your suggestion makes sense to me . However I looked at git history in internal repo (before Linux opensource happened) and found this code internationally was added there:
[code]

We have to understand why. I'll try to find out. If no success, we can proceed with check-in.

[2021-07-19 15:24] #2733 closed

[2021-07-20 17:47] dmitryermilov commented on #2721
[MSDK spec  ](https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#mfxextvppcomposite)says:

<html>
<body>

NumInputStream | Number of input surfaces to compose one output. May be changed dynamically at runtime through Reset. Number of surfaces can be decreased or increased, but should not exceed number specified during initialization. Query mode 2 should be used to find max

[2021-07-26 14:23] Ben8823 opened #2745 "DecodeTimeStamp not being set for VP9"
I'm using the media-sdk through libav in my code. I'm muxing video (VP9) and audio. I did notice that the dts is not getting set after calling `avcodec_encode_video`. If I use h264 or HEVC, the dts is returned correctly. I checked the mediask-sdk code quickly and did notice that `DecodeTimeStamp` is not getting set for VP9.
Is this intentional or a bug that could be fixed?

[2021-07-26 14:34] dmitryermilov commented on #2745
Yes, no DecodeTimeStamp :
https://github.com/Intel-Media-SDK/MediaSDK/blob/2bbad9fbdc980f3b698d4fc3fb679e5885adeb30/_studio/mfx_lib/encode_hw/vp9/src/mfx_vp9_encode_hw.cpp#L1111

@ansokolo , @vvbuzove can you please take a look?

[2021-07-26 15:50] dmitryermilov opened #2747 "Life cycle of mfxEncodeCtrl for EncodeFrameAsync"
Per SDK manual:
https://github.com/Intel-Media-SDK/MediaSDK/blob/master/doc/mediasdk-man.md#asynchronous-pipeline :
`In addition, for encoders, the application must consider extended and payload buffers in use while the input surface is locked.`

So Application can free extended and payload buffers attached to encoder input surface, when the surface is unlocked.
However AVC encoder with input syst

[2021-07-27 01:44] tongshi203 commented on #2684
@smc667,@aidan2020sh
hi,
   Is there any update?
   or,What should we do now？
   thanks！！

[2021-07-27 09:16] aidan2020sh commented on #2684
DRM_10154 incurred an va_init failure which has been resolved; however, the latest KMD driver shows a new "GPU hang" issue in pipeline execution. I would suggest you continue your work with DRM_10153 or an earlier version that may not block you.

[2021-07-28 02:48] aidan2020sh commented on #2684
@tongshi203 , could you confirm that your case can pass with "lowpower:off" ? the failure may not be related with lowpower option. i tried one media unit test case with "lowpower off", it also failed.

[2021-07-28 08:05] aidan2020sh commented on #2684
@tongshi203 , the media unit test can pass if both i915 kernel driver and firmware binary are updated. if only kernel driver is updated and firmware is too old, GPU hang will be reproduced. for example, in my manual test, "DRM_10399+ firmware_1627348338"(latest)  or "DRM_9886+ firmware_1614809303"(Media CI validation version)  can work well. Please have a try.

[2021-07-29 00:54] tongshi203 commented on #2684
@aidan2020sh
My case with "lowpower:off"  is ok!

[2021-07-29 01:12] tongshi203 commented on #2684
@aidan2020sh
my kernel is: 5.12.0-rc8+, and my case is not GPU hang, it is error like this:

[ERROR], sts=MFX_ERR_DEVICE_FAILED(-17), PutBS, Encode: SyncOperation failed at MediaSDK/samples/sample_multi_transcode/src/pipeline_transcode.cpp:1950
[ERROR], sts=MFX_ERR_ABORTED(-12), Transcode, PutBS failed at MediaSDK/samples/sample_multi_transcode/src/pipeline_transcode.cpp:1912
[ERROR], sts=MFX_ERR_

[2021-07-29 01:43] aidan2020sh commented on #2684
@tongshi203, the error you see is from MSDK software stack, "GPU hang" usually is reported by KMD, you could try cmd "dmesg" to see whether this kind of error occurs.  In My unit test, "lowerpower:on" works, so this should not be a limitation.  Could you try the kernel and firmware I mentioned? Could you ping me(dan.ai@intel.com) or leave an email so that we can talk on windows team.

[2021-08-03 07:14] kovakimy commented on #2213
@tongshi203 - If you still have any questions, please, let me know and reopen this ticket.

[2021-08-03 07:14] #2213 closed

[2021-08-03 07:15] kovakimy commented on #2695
Hi @DragonDanceGo  - If you still have any questions, please, let me know and reopen this ticket.

Thanks & Regards,
Kristina

[2021-08-03 07:15] #2695 closed

[2021-08-03 13:30] ansokolo commented on #2745
Thanks for the finding! VP9 team will take a look

[2021-08-09 02:50] 289801922 opened #2753 "Does the VBR support ROI?"
Hi,
 I want to use the qpmap in VBR, as
   ./sample_multi_transcode -i::h264 input.264 -roi_qpmap  -extmbqp -dist 1 -vbr -o::h264 out_vbr.264

but failed, and it shows:
**INFO: MBQP map require ConstQP mode to operate.**

So, will it be support in future?

[2021-08-09 09:22] pengxin99 commented on #2618
@wenbinc-Bin , sorry for the later response, I have reproduced this and found: when `readBufSize == 1`, it means input mediaData is too small and will hit the below code, but this code is to deal with the last portion of user data,  not consider this small input mediaData situation. Still need to do further investigation.

[2021-08-10 04:53] thx4ever commented on #2620
Any news about this?

[2021-08-10 07:13] aidan2020sh commented on #2684
the GPU hang issue(Tongshi203 reported) is a known issue that has been root caused and fixed internally. The fix will be contained in an IFWI update which is under the release flow and may take some time;

meanwhile, the la_ext mode has some limitations on the input Bitstream. I have tried the stream shared by changliwu and this stream is fine and the case can pass with a GPU hang WR. the other tw

[2021-08-15 08:14] jiangjianping opened #2756 "HEVC hardware encoder worked well in Gen11 i3, not in Gen10 and Gen11 i7"
The same windows 10 app got the difference result in the different kind of computers, why?

The MSDK HEVC hardware encoder worked well:

![WechatIMG31](https://user-images.githubusercontent.com/14144270/129471643-6e2c7aac-4b87-4cc7-b67f-5b8b988b8327.jpeg)

Sometime works, but often return the -17 error:

![WechatIMG33](https://user-images.githubusercontent.com/14144270/129471733-313dcfef-204b-4f80

[2021-08-16 07:32] dmitryermilov commented on #2753
@kovakimy , can you please reply?

[2021-08-16 12:05] dmitryermilov commented on #2756
Hi @jiangjianping ,

What app are you running? Propriety one or sample_encode ? Please try to reproduce via sample_encode and share cmd line and console output.

[2021-08-17 11:15] SofyaBalandina commented on #2620
Hi, this functionality is not implemented yet, we will deal with it as soon as we can

[2021-08-18 01:56] mliu2020 commented on #2627
Hi @dmitryermilov,

From the post, it seems like for Interlaced stream on hardware decodec, there is an issue to mfxEctPictureTimingSEI which doesn't allow a pair of this structure per frame.

Do you have an update to this issue?

Mark

[2021-08-18 05:58] jiangjianping commented on #2756
@dmitryermilov

My own app which is using media sdk.  I will try to reproduce this via sample_encode. Thanks.

[2021-08-18 12:30] kovakimy commented on #2753
Hi @289801922,
VBR + ROI is a valid combination.
 `-extmbqp` is MBQP flag for CQP mode. `-roi_qpmap`  is used for emulation ROI for CQP mode.
If you want to set ROI for BRC(e.g. VBR), you should use ROI file `-roi_file`. Attached an example of ROI file. [roi_file.txt](https://github.com/Intel-Media-SDK/MediaSDK/files/7007177/roi_file.txt)
Also, MBQP for BRC is set as DeltaQP.

If you still have an

[2021-08-19 08:59] MicroYY commented on #2721
Hi @Nicki-fu Submitted PR. Could you pls have a try? Thanks!
https://github.com/Intel-Media-SDK/MediaSDK/pull/2758

[2021-08-19 09:02] dmitryermilov commented on #2721
The fix is not ready yet .   No need to check it because it won't be merged in current version.

[2021-08-20 10:27] dmitryermilov commented on #2721
The fix is ready for verification now.

[2021-08-21 03:29] thx4ever commented on #1552
What happen again this patch already applied to ffmpeg but the problem continues, if i add those commands to ffmpeg -vf scale=1280:720 or -vf scale_qsv=1280:720 final video are coded 1280x736, can someone take a look on this problem?
![framecoded](https://user-images.githubusercontent.com/7145630/130309078-77b3c258-e019-4632-9e96-a439610683a1.png)

[2021-08-23 02:32] Nicki-fu commented on #2721
Hi Dmitry,
    MFX_CHECK(StreamCount <= executeParams.initialStreamNum, MFX_ERR_INCOMPATIBLE_VIDEO_PARAM);
Currently, I have no the environment to verify the fix, but from the code, I think it doesn't work for the case if user **reduce** the Num of the input channels at runtime by reset.

[2021-08-23 07:21] MicroYY commented on #2721
Hi Nicki
It should work because the initial number of layers is recorded and it's compared to current count when reset.

[2021-08-23 08:42] Nicki-fu commented on #2721
Hi MicroYY,
The same case as Dmitry mentioned：
10 -> 5
If the user wants to remove some input channels for composition at runtime, user may reduce the value of extComp->NumInputStream which is streamCount, the streamCount <=executeParams.initialStreamNum is expected, but in the code, it will return MFX_ERR_INCOMPATIBLE_VIDEO_PARAM that the case runs to be Interrupted.
Please correct me if I am wro

[2021-08-23 09:05] MicroYY commented on #2721
Hi Nicki

`MFX_CHECK(EXPR, ERR)` expands to  `{ if (!(EXPR)) MFX_RETURN(ERR); }` so no error will be returned.

[2021-08-23 09:17] Nicki-fu commented on #2721
Oh, Sorry for the mistake, So the adjustment is because of  "but should not exceed number specified during initialization" , could you tell that why it has this limitation? thanks very much!

[2021-08-23 09:23] Nicki-fu commented on #2721
If user wants to increase the input channels than first time, what's the BKM to achieve this? thanks!
10 ->11

[2021-08-24 02:00] MicroYY commented on #2721
Hi Nicki
I guess in such cases (10 -> 11), we may not have so many surfaces allocated. Possibly we try to allocate enough surfaces (maximum count of layers) rather than the initial count.
@dmitryermilov Could you comment on this?

[2021-08-24 07:23] IKEZOET-GVKOBE-DEV opened #2766 "HEVC software encoder cannot output timecode SEI correctly during interlace encoding"
In the case of the software encoder, since it encodes frame, set two timecode SEI payloads in mfxEncodeCtrl.Payload, two timecode SEIs will be output in both fields.
I expect the first timecode SEI to be output to the 1st field and the second timecode SEI to be output to the 2nd field.

In the case of Hardware encoder, since it encodes for each field, only one timecode SEI needs to be set, so the

[2021-08-30 08:21] dmitryermilov commented on #2721
Hi @Nicki-fu  and @MicroYY ,

The right way in this case to initialize with higher num of channels, then immediately make a Reset call with currently desired num of channels. Please comment if it works for you.

[2021-09-01 01:59] Nicki-fu commented on #2721
Hi Dmitry,
Now there is no environment to verify this, but it sounds work, and the fixed looks good if there is the limitation "but should not exceed number specified during initialization".

[2021-09-01 06:19] dmitryermilov commented on #2721
Hi Nicky,

Okay. Let us merge the PR.

[2021-09-01 06:19] #2721 closed

[2021-09-01 12:03] #2417 closed

[2021-09-01 20:22] MathieuGirard opened #2773 "cttmetrics is not reusable: cttmetrics.h is not installed in the target include folders"
cttmetrics is a neat library that could be reusable. Could we at least install de header file too?

https://github.com/Intel-Media-SDK/MediaSDK/blob/914f4789f4764f7af2c05a4443271cf0c1dd25f3/samples/metrics_monitor/CMakeLists.txt#L16-L19

The cttmetrics.so library gets installed but not the header file that defines the types and entry points.

Here is a quick path that would install in (/opt/intel/

[2021-09-01 20:33] dvrogozh commented on #2773
No. Installing just headers is not enough. It will also require to install cttmetrics to LIBDIR and providing .pc file for it. Basically it would mean productization of the library which does not actually makes much sense. I believe that better way is to refer to the source code of cttmetrics library, borrow code examples and directly reuse in the application or write your own library. Basically c

[2021-09-07 03:45] steven8274 opened #2776 "ffmpeg h264_qsv encoder 'forced_idr' option bug?"
I use qsv hardware H.264 encoder from ffmpeg.I need the encoder to output IDR frames when I set AVFrame's 'key_frame' property to 1 and 'pict_type' to AV_PICTURE_TYPE_I, and it to output none-IDR frames when I set AVFrame's 'key_frame' property to 0 and 'pict_type' to AV_PICTURE_TYPE_P.So I set the private data of encoder as:
`av_opt_set(m_ctx->priv_data, "forced_idr", "1", 0);`
 But once I set an

[2021-09-07 06:49] dmitryermilov commented on #2776
@xhaihao , can you please help to comment?

[2021-09-07 14:42] asmirno1 commented on #2481
Closing this due to aging and no answer from reporter.
@vladi14 , please reopen and provide details if still actual.

[2021-09-07 14:42] #2481 closed

[2021-09-07 14:43] asmirno1 commented on #2249
Closing this due to aging and no answer from reporter.
@CaseyGuanSun , please reopen and provide details if still actual.

[2021-09-07 14:43] #2249 closed

[2021-09-07 14:44] asmirno1 commented on #2241
Closing this due to aging and no answer from reporter.
@ngeorgis , please reopen and provide details if still actual.

[2021-09-07 14:44] #2241 closed

[2021-09-07 16:45] #2735 closed

[2021-09-07 16:49] kovakimy commented on #2614
HI @dvrogozh,
Thank you for your note.
I added PR with removing of assert.

[2021-09-07 17:07] CarlG12 opened #2778 "Samples - CBuffering::SyncFrameSurfaces and CBuffering::SyncVppFrameSurfaces() - list iteration bug"
Hi,

I think that I discovered a logic issue in methods:
  1. CBuffering::SyncFrameSurfaces()
  2. CBuffering::SyncVppFrameSurfaces()

Since the both methods follow a similar pattern, I will explain it only for one.

The problem is that local variable "next" is always initialized to value NULL and the loop will terminate on the first unlocked frame. I suggest to initialize "next" variable with "cu

[2021-09-07 19:47] #2614 closed

[2021-09-07 20:21] CarlG12 opened #2779 "Samples: Missing thread synchronization in MFXFrameAllocator::AllocFrames() and MFXFrameAllocator::ReallocFrame"
Hi,

I think that I have detected thread concurrency issue in the following method provided by sample_common:
   1. BaseFrameAllocator::AllocFrames
   2. BaseFrameAllocator::ReallocFrame

These methods do not acquire a lock on mutex "mtx" as done in these methods:
   1. BaseFrameAllocator::Close
   2. BaseFrameAllocator::FreeFrames

If the allocator is used by several threads, it can create concur

[2021-09-08 04:37] xhaihao commented on #2776
@steven8274 could you please have a try with http://ffmpeg.org/pipermail/ffmpeg-devel/2021-January/274342.html ?

[2021-09-08 06:38] steven8274 commented on #2776
Thanks very much, it seems to work.I'll try it.

[2021-09-08 09:01] jiangjianping commented on #2756
this issue can be closed.

[2021-09-08 09:01] #2756 closed

[2021-09-08 09:07] jiangjianping opened #2781 "Why HEVC HW encoder performance varied much in different motherboard?"
I test the i3/i5 hw encoder performance and found that the performance varied very much in different main motherboard. Both testing computers have the same SSD and memory. Why? Thank you.

[2021-09-09 08:26] jiangjianping commented on #2781
The real problem is memory, close now.

[2021-09-09 08:26] #2781 closed

[2021-09-09 08:30] dmitryermilov commented on #2781
@jiangjianping , just wondering, was it about dual channel memory ?

[2021-09-09 08:43] jiangjianping commented on #2781
@dmitryermilov

That's right. memory located some sockets did not provide real dual channel performance.

[2021-09-09 14:24] steven8274 commented on #2776
Yes!http://ffmpeg.org/pipermail/ffmpeg-devel/2021-January/274342.html  works!

[2021-09-09 14:24] #2776 closed

[2021-09-09 17:02] xhaihao commented on #2776
@steven8274 the patch was merged into FFmpeg master, you may use the latest FFmpeg now.

[2021-09-10 01:07] steven8274 commented on #2776
That's great!Thank you very much!

[2021-09-10 02:10] CarlG12 opened #2783 "Samples: Current implementations of CopyBitstream2 might create issue in CH264FrameReader"
The file sample_utils.cpp defines a function CopyBitstream2 that is wrongly implemented. This method is used by the CH264FrameReader class and consumed in decoding pipeline.

First of all, is not clear if the method CopyBitstream2 shall:
- Create an exact copy of bitstream buffer "src" in bitstream buffer "dest".
- Append bitstream buffer "src" in bitstream buffer "dest"

This is the current imple

[2021-09-11 13:24] mikk9 opened #2784 "[windows] RKL-S low power encoding not supported?"

[2021-09-14 08:19] daleksan commented on #2766
Hi @thomasli21801  can you take a look on this request?

[2021-09-14 08:44] daleksan commented on #2627
Hi @kovakimy  can you take a look on this request?

[2021-09-14 20:02] CarlG12 opened #2786 "Windows: mfx_dispatch - list of statuses string used for logging is incomplete"
In the Windows implementation of mfx_dispatch, the file mfx_dispatcher_log.cpp define the list of all statuses code in array "StringsOfStatus". However, the list is incomplete and those statuses are missing:
- MFX_ERR_MORE_BITSTREAM
- MFX_ERR_INVALID_AUDIO_PARAM
- MFX_ERR_GPU_HANG
- MFX_ERR_REALLOC_SURFACE
- MFX_WRN_FILTER_SKIPPED
- MFX_WRN_INCOMPATIBLE_AUDIO_PARAM
- MFX_ERR_NONE_PARTIAL_OUTPUT
-

[2021-09-15 01:09] thomasli21801 commented on #2766
There is no interlace support commitment for HEVC VDEnc currently.
May I know what is the usage that you need to use interlace content for HEVC?

[2021-09-16 02:23] aidan2020sh commented on #2784
hi, can you try the case with RC6 disabled in BIOS? i am afraid it's the same as a known issue which has been resoloved but the fix is still under the release flow.

[2021-09-16 20:35] kovakimy commented on #2515
Hi @samuel100u!
Could you, please, specify which application was used?

[2021-09-17 10:05] mikk9 commented on #2784
I'm afraid there is no RC6 option, we can't disable RC6 in the bios.

[2021-09-17 17:23] CarlG12 opened #2790 "Windows: mfx_dispatch - buffer overrun possible in DriverStoreLoader::GetDriverStorePath"
In the method DriverStoreLoader::GetDriverStorePath of mfx_dispatch for Windows OS, a buffer overrun is possible with the following line:
` wcscat_s(path, MFX_MAX_DLL_PATH, L"\\");`

To fix the issue, MFX_MAX_DLL_PATH shall be replaced by the parameter dwPathSize

-----
Another issue is with the line:
`nError = RegQueryValueExW(hKey_sw, L"DriverStorePathForMediaSDK", 0, NULL, (LPBYTE)path, &pathSi

[2021-09-20 11:57] egorovdanil commented on #192
Please reopen if still actual.

[2021-09-20 11:57] #192 closed

[2021-09-21 15:10] #2477 closed

[2021-09-23 12:24] dmitryermilov commented on #2718
@VUNNYSODHI , @SiewHoon , can you please comment since you contributed a lot into this?

[2021-09-23 19:26] CarlG12 opened #2793 "Sample_encode: CEncodingPipeline::m_pUserModule useless"
In the sample sample_encode, the class CEncodingPipeline declares a member m_pUserModule. However, it is not consumed and the memory is not freed in the Close method.

[2021-09-24 09:22] iqsxw opened #2794 "Does MSDK support AV1 SVC hardware encoding?"

[2021-09-24 09:24] dmitryermilov commented on #2794
No

[2021-09-24 09:24] #2794 closed

[2021-09-27 03:44] VUNNYSODHI commented on #2718
Hi @dmitryermilov someone from our team is looking into this issue.

[2021-09-28 20:11] dmitryermilov opened #2799 "IMPORTANT: migrate to oneVPL for newer Intel GPUs support"
Intel® Media SDK lifetime comes to an end in a form it exists right now. In particular,

* API 1.35 is projected to be the last API of 1.x API series
* Runtime library (libmfxhw64.so.1) is not planned to get support of new Gen platforms (ADL-S, ADL-P, and above)
* Project is going to be supported in maintenance mode, critical fixes only

All future development is planned to happen within [oneVPL](

[2021-09-29 01:10] 1515guo opened #2800 "I use initEx and sometimes it gets blocked, and the computer cpu is getting higher and higher"

[2021-09-29 06:30] 1515guo commented on #2800
The use example is to call pipeline_decode.cpp ,I did not make any changes,But I use a lot of threads to create it and it will appear when it is destroyed

[2021-09-29 06:36] 1515guo commented on #2800
mfxStatus CDecodingPipeline::Init(sInputParams *pParams)
{
    MSDK_CHECK_POINTER(pParams, MFX_ERR_NULL_PTR);

    mfxStatus sts = MFX_ERR_NONE;

    if (pParams->oCustomReader != NULL)
    {
        m_FileReader.reset(pParams->oCustomReader);
    }
    // prepare input stream file reader
    // for VP8 complete and single frame reader is a requirement
    // create reader that supports completefr

[2021-09-29 15:22] dmitryermilov commented on #2800
Hi @1515guo ,
It's pretty weird. Could you describe your environment?  OS, kernel, HW?
Could you reproduce the issue with a simple 5-7 lines of code app which would call mfxInit/mfxClose in a loop?

[2021-10-01 03:20] samuel100u commented on #2515
OS : Centos8
GPU: SG1

[2021-10-02 13:00] dbermond commented on #2799
Thank you for the information. Very appreciated!

oneVPL packages on Arch Linux:

- https://aur.archlinux.org/packages/onevpl/
- https://aur.archlinux.org/packages/onevpl-cpu/
- https://aur.archlinux.org/packages/onevpl-intel-gpu/

I have placed them on the AUR (Arch User Repository) for the time being. Planning to move them to the official repositories later, as there is still low user usage and

[2021-10-05 07:51] UngTengEn commented on #2718
I make some changes and here the [pull request](https://github.com/Intel-Media-SDK/MediaSDK/pull/2803).

[2021-10-05 08:11] SiewHoon commented on #2718
Hi @dmitryermilov , please review code changed send out by @UngTengEn

[2021-10-05 09:15] sebastinas commented on #2799
I don't intend to work on packaging oneVPL for Debian.

[2021-10-07 04:18] wonchulee opened #2805 "Linux decoder performance"
Hi!

I've tested media SDK h264 video decoder performance using gstreamer pipeline on linux and the test results were worse than the results a year ago.

I've tested on the same machine but on a different distro and media SDK version.
Test result from a year ago, It was able to get over 30fps using more than 20 decoder instances at the same time. (distro: Fedora ~~30~~ 32, MediaSDK: 20.2.1)

Howev

[2021-10-07 22:21] dmitryermilov commented on #2805
Hi @wonchulee ,

Can you please stick with the same version of MSDK/driver and check Fedora 30 vs Fedora 34? Specifically I'm interested not just in Fedora version itself but linux kernels used ? Can you please specify their version? Can you also try to the kernel from Fedora 34 on Fedora 30 ?
Could you check CPU/GPU utilizations in the experiments? Linux perf or gputop or metrics_monitor: https:/

[2021-10-08 12:29] southeast2017 opened #2807 "21.1.3 crash in display driver version 23.20.16.5017"

[2021-10-08 12:32] #2807 closed, assigned to nobody

[2021-10-12 08:34] #2511 closed

[2021-10-12 08:36] sndirsch commented on #2799
Thanks a lot! Looks good! Everything addressed from our side! :

Stefan

On Tue, 12 Oct 2021 at 03:59, Dmitry Rogozhkin ***@***.***> wrote:

[2021-10-12 09:35] dmitryermilov commented on #2684
Hi @aidan2020sh , can you please say if it was a public IFWI update or internal one?

[2021-10-12 11:41] KalaipriyaRajesh opened #2808 "Sample_Decode: [ERROR], sts=MFX_ERR_UNKNOWN(-1), AllocFrames, m_pGeneralAllocator->Alloc failed"
Hi,

I have to check for the pipeline decode->VPP->Display.
So tried Sample_decode code in my linux machine.

This is the error that Iam getting : allocation fails for decoder

mamatha@Rental32-LaptopU:~/msdk/build/__bin/release$ **./sample_decode h264 -i ./input_file.h264 -hw -vaapi -calc_latency -async 2 -rdrm**
libva info: VA-API version 1.13.0
libva info: Trying to open /usr/lib/x86_64-linux-g

[2021-10-12 14:36] KalaipriyaRajesh commented on #2808
Thanks. Referring that I have changed output format to rgb4 then it worked

[2021-10-12 14:41] dmitryermilov commented on #2808
Yes, RGB of course shall work. But I thought the point of your issue was to use NV12 specifically because when we having RGB output it means VPP color conversion NV12->RGB (which has some cost).

[2021-10-13 01:13] JasonL2011 commented on #2684
That should be a production release. But how it is released to external users is unknown to us as of now ...

[2021-10-13 02:22] kestrelm opened #2809 "Vp9 Encoder Initialization Error"
Hello,
I am trying to setup the MediaSDK encoder for VP9 encoding. My code fails with the error:

**Unsupported feature/library load error. myPath\media_services\video\intelEncoder.cpp 98**

Here is my initialization:

[code]

What parameters are valid for VP9 Encoding? This is on Windows 10.

**Updates: More information, I ran the analysis tool and got this:**

[code]

How do I enable the VP9 Enc

[2021-10-13 02:42] kestrelm commented on #2809
More information, I ran the analysis tool and got this:

[code]

How do I enable the VP9 Encoder on my platform?

Thanks1

[2021-10-13 07:33] dmitryermilov commented on #2809
Hi @kestrelm ,

It's CometLake https://ark.intel.com/content/www/us/en/ark/products/201837/intel-core-i710750h-processor-12m-cache-up-to-5-00-ghz.html . However VP9 encoder is available in HW since IceLake.

[2021-10-13 12:22] kestrelm commented on #2809
Ok thanks for the information.

[2021-10-13 12:22] #2809 closed

[2021-10-14 12:48] davidlaporte2 opened #2810 "Wrong buffer id in VPP GetVideoParams"
At this line,
https://github.com/Intel-Media-SDK/MediaSDK/blob/b3f65c2b5a147046ff82fcb4c0e721dff59daa1b/_studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp#L1946

the buffer Id MFX_EXTBUFF_VPP_VIDEO_SIGNAL_INFO must be used to identify a mfxExtVPPVideoSignalInfo. (In the code, MFX_EXTBUFF_VIDEO_SIGNAL_INFO is wrongly used.)

[2021-10-19 08:17] APrashant opened #2813 "Want two output from vpp for Sample_decode test"
Hi,

I am able to run Sample_decode code and getting proper output on display. Now i want to modify it to get 2 output from VPP and need to give 1 output to Display and another to Encoder.

Please help me to identify APIs through which i can achieve  my requirement.

Regards,
Prashant

[2021-10-20 10:26] KalaipriyaRajesh commented on #2808
We are trying in linux kernel version : 5.4.0-87-generic

[2021-10-28 12:06] KalaipriyaRajesh opened #2817 "Can we create 3 VPP in sample_decode sample code"
I need to create 3 VPP with same decoder output frame as input for VPP

input file ---- Decoder                        ----- VPP1  ----- Display
                      same decoder output   ----- VPP2  ----- encoder ----- filedump
                      same decoder output   ----- VPP3  ----- analytics

I have tried creating one more VPP in the sample_decode example code. For time being kept VPP par

[2021-11-01 13:09] kovakimy commented on #2627
Hi @Fernickk,
Could you, please, tell me which platform, OS you are running on?
Could you also, please, share me reproducer?

Thanks & Regards,
Kristina

[2021-11-02 09:02] sndirsch commented on #2799
Hello again. Unfortunately I found a similar issue. This time in
oneapi-src/oneVPL sources. It seems the component contains code licensed
under "MS Vistual Studio" licsense. AFAIK this is incompatible
to GPL-3.0 license.i.e. you can't link GPL 3.0 sources against libvpl. This
makes it difficult for a Linux distributor to ship this library. :-( Is
this an oversight, intentional or just can't be cha

[2021-11-02 14:38] mamathakempeli commented on #1622
@dvrogozh ,
As you told,  if X server or Wayland is running -rdrm was not supposed to work.
in my PC server X11 is running, please let me know how to change it to DRM or how to stop X server.

[2021-11-02 18:04] MathieuGirard opened #2818 "H264 YUY2 MFXVideoENCODE_Init return MFX_WRN_INCOMPATIBLE_VIDEO_PARAM from internal defaults"
My code do not pass a mfxExtMultiFrameControl ext buffer, but internal code is generating a default one that emit the error.

before the check on MFEMode and timeout the changed variable is false. The failed check is internally introduced.

Constructed and zeroed here:
https://github.com/Intel-Media-SDK/MediaSDK/blob/e6a917d6171cbdfd4e5eb7477f8bb226749ffa97/_studio/mfx_lib/shared/src/mfx_h264_enc_

[2021-11-02 18:06] MathieuGirard commented on #2818
Suggested fix at line 4923:
[code]

[2021-11-02 19:24] dmitryermilov commented on #1622
@mamathakempeli , there're many resources on the Internet explaining how to stop/kill X server.

[2021-11-08 12:00] KalaipriyaRajesh opened #2820 "Hi,"
## System information
- GPU platform enabling for new feature:
- Host machine if it's discrete card:
- libva/libva-utils/gmmlib/media-driver/Media SDK version you are using?
- Are you willing to contribute it?(Yes/No)

## Feature Information
### Describe the feature and expected behavior

### Customer usage and impact for this feature

**Additional context**
Add any other context or screenshots ab

[2021-11-09 07:24] mamathakempeli commented on #1622
@NaveenKumar-Intel

As you suggested, I have changed the pParams->libvaBackend = MFX_LIBVA_DRM_MODESET param to MFX_LIBVA_DRM, now decoding is working fine, but video is not displaying.

I am getting the logs as below, and terminating without video display,

mamatha@Rental32-LaptopU:~/msdk/build/__bin/release$ ./sample_decode h264 -i h264.h264 -window 0 0 640 1270 -vaapi -calc_latency -async 4  -n